Repository ComplianceAsCode/content, pull requests merged in 2019-07, with the labels that each got.

#4565 readarray fixes
  linux_os/guide/system/entropy/kernel_disable_entropy_contribution_for_solid_state_drives/bash/rhel6.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/rhel6.sh
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_fedora_gpgkey_installed/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/bash/shared.sh
  shared/bash_remediation_functions/fix_audit_syscall_rule.sh
  shared/bash_remediation_functions/fix_audit_watch_rule.sh
  shared/bash_remediation_functions/perform_audit_rules_privileged_commands_remediation.sh
Labels: Bash

#4567 Added a script for checking schema of generated Ansible playbooks.
  cmake/SSGCommon.cmake
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/ansible/shared.yml
  tests/assert_ansible_schema.py
Labels: Python

#4590 Document combined mode in tests/README.md
  tests/README.md
  tests/ssg_test_suite/combined.py
Labels: documentation

#4589 Add devel documentation to rule's 'platform' tag.
  docs/manual/developer_guide.adoc
Labels: Text

#4592 Fix macro expansion in OVAL by using available process_file_with_macros.
  ssg/build_ovals.py
Labels: Python

#4595 Simplify loading of Jinja macros
  ssg/jinja.py
  tests/unit/ssg-module/test_jinja.py
Labels: Infrastructure

#4593 [WIP] Create jinja macro for lineinfile OVAL check.
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/oval/shared.xml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_setting/oval/shared.xml
  linux_os/guide/system/permissions/mounting/grub2_nousb_argument/oval/shared.xml
  shared/macros-oval.jinja
  ssg/build_ovals.py
  ssg/constants.py
  ssg/jinja.py
  ssg/utils.py
  tests/CMakeLists.txt
  tests/data/group_services/group_ssh/group_ssh_server/rule_sshd_disable_compression/comment.pass.sh
  tests/data/group_services/group_ssh/group_ssh_server/rule_sshd_disable_compression/line_not_there.pass.sh
  tests/data/group_system/group_bootloader-grub2/rule_grub2_nousb_argument/correct_value.pass.sh
  tests/data/group_system/group_bootloader-grub2/rule_grub2_nousb_argument/missing_value.fail.sh
  tests/test_parse_affected.py
Labels: OVAL, Python

#4596 Jinja: OVAL platforms
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/oval/shared.xml
  linux_os/guide/system/permissions/mounting/grub2_nousb_argument/oval/shared.xml
  shared/macros-highlevel.jinja
  shared/macros-oval.jinja
  ssg/build_ovals.py
  ssg/jinja.py
  ssg/utils.py
  tests/test_parse_affected.py
Labels: Infrastructure, OVAL, enhancement

#4620 Remove supported_platforms parameter from dnf-automatic_apply_updates rule
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/oval/shared.xml
Labels: OVAL

#4625 Add developer documentation for OVAL jinja macros.
  docs/manual/developer_guide.adoc
Labels: Text

#4597 Introduce Bash lineinfile equivalent
  shared/bash_remediation_functions/lineinfile.sh
Labels: Bash, enhancement

#4627 Use right variable in sshd_set_keepalive OVAL check.
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/oval/shared.xml
Labels: OVAL

#4629 Make the Bash lineinfile functions callable from remediations
  shared/bash_remediation_functions/include_lineinfile.sh
Labels: Bash

#4630 Fixes of Jinja macro `oval_check_config_file`
  shared/macros-oval.jinja
Labels: OVAL

#4626 Add OVAL macro to check INI files
  docs/manual/developer_guide.adoc
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/oval/shared.xml
  shared/macros-oval.jinja
Labels: OVAL

#4624 Start using oval_sshd_config jinja macros for sshd rules
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_allow_only_protocol2/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_user_known_hosts/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_x11_forwarding/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_priv_separation/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/oval/shared.xml
  tests/data/group_services/group_ssh/group_ssh_server/rule_sshd_disable_gssapi_auth/comment.pass.sh
  tests/data/group_services/group_ssh/group_ssh_server/rule_sshd_disable_gssapi_auth/line_not_there.pass.sh
Labels: OVAL

#4642 Remove unused parameter in OVAL macros and fix service enable upstart Bash remediation
  shared/macros-oval.jinja
  shared/templates/template_BASH_service_enabled
Labels: Bash, Text

#4633 Add mask_service parameter to services disabled template.
  debian8/templates/csv/services_disabled.csv
  docs/manual/developer_guide.adoc
  example/templates/csv/services_disabled.csv
  fedora/templates/csv/services_disabled.csv
  linux_os/guide/system/accounts/accounts-physical/service_debug-shell_disabled/rule.yml
  ol7/templates/csv/services_disabled.csv
  ol8/templates/csv/services_disabled.csv
  opensuse/templates/csv/services_disabled.csv
  rhel6/templates/csv/services_disabled.csv
  rhel7/templates/csv/services_disabled.csv
  rhel8/templates/csv/services_disabled.csv
  rhv4/templates/csv/services_disabled.csv
  shared/macros.jinja
  shared/templates/create_services_disabled.py
  shared/templates/template_ANSIBLE_service_disabled
  shared/templates/template_BASH_service_disabled
  shared/templates/template_OVAL_service_disabled
  sle11/templates/csv/services_disabled.csv
  sle12/templates/csv/services_disabled.csv
  ssg/build_templates.py
  tests/data/group_services/group_avahi/group_disable_avahi_group/rule_service_avahi-daemon_disabled/service_disabled.pass.sh
  tests/data/group_services/group_avahi/group_disable_avahi_group/rule_service_avahi-daemon_disabled/socket_enabled.fail.sh
  tests/data/group_system/group_accounts/group_accounts-physical/rule_service_debug-shell_disabled/service_disabled.pass.sh
  tests/data/group_system/group_accounts/group_accounts-physical/rule_service_debug-shell_disabled/service_enabled.fail.sh
  ubuntu1404/templates/csv/services_disabled.csv
  ubuntu1604/templates/csv/services_disabled.csv
  ubuntu1804/templates/csv/services_disabled.csv
  wrlinux1019/templates/csv/services_disabled.csv
  wrlinux8/templates/csv/services_disabled.csv
Labels: Ansible, Bash, OVAL, Text

#4652 Test suite: set bash and ansible remediation to verbose mode.
  tests/ssg_test_suite/oscap.py
Labels: Ansible, Bash, Python, SSGTestSuite

#4659 Testing of set_config_file function with BATS 2
  CMakeLists.txt
  shared/bash_remediation_functions/include_lineinfile.sh
  tests/CMakeLists.txt
  tests/test_set_config_file.bats
Labels: Bash
