Repository ComplianceAsCode/content, pull requests merged in 2021-08, with the labels that each got.

#7313 Add rule for RHEL-08-020090
  linux_os/guide/services/sssd/sssd_enable_certmap/rule.yml
  linux_os/guide/services/sssd/sssd_enable_certmap/tests/default.fail.sh
  linux_os/guide/services/sssd/sssd_enable_certmap/tests/with_section.pass.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment, New Rule

#7317 Fix a python2 issue with STIG overlay generation.
  utils/create-stig-overlay.py
Labels: bugfix

#6926 Introduce support for the distributed SSHd configuration
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/tests/commented.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/tests/conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/tests/correct_value_directory.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/tests/match.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/tests/simple.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/tests/simple.pass.sh
  shared/macros-bash.jinja
  shared/macros-oval.jinja
  shared/references/cce-redhat-avail.txt
  shared/templates/extra_ovals.yml
  shared/templates/lineinfile/oval.template
  shared/templates/sshd_lineinfile/bash.template
  shared/templates/sshd_lineinfile/oval.template
  ssg/jinja.py
Labels: New Rule, RHEL9, Update Rule

#7322 Add service_pcscd_enabled to SLE15 PCI-DSS profile
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/service_pcscd_enabled/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: Update Profile, ok-to-test

#7326 Update RHEL7/8 STIG files to latest version.
  products/rhel7/profiles/stig.profile
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r4-xccdf-manual.xml
  shared/references/disa-stig-rhel8-v1r3-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL7 STIG Alignment, DISA RHEL8 STIG Alignment

#7330 Assign RHEL-08-020240 to account_unique_id and add test scenarios
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/tests/wrong_value.fail.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#7228 Bug 1857179 - Improved ansible fix for banner files. Replace files on…
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_motd/ansible/shared.yml
Labels: needs-ok-to-test

#7340 update version of rhel7 stig_gui profile
  products/rhel7/profiles/stig_gui.profile
Labels: Update Profile

#7299 Update References for RHEL8 STIG V1R3
  linux_os/guide/services/fapolicyd/service_fapolicyd_enabled/rule.yml
  linux_os/guide/services/ssh/package_openssh-server_installed/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/rule.yml
  linux_os/guide/services/usbguard/service_usbguard_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_tmux_installed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_tmp/rule.yml
  linux_os/guide/system/software/system-tools/package_rng-tools_installed/rule.yml
  products/rhel8/profiles/stig.profile
Labels: DISA RHEL8 STIG Alignment, Update Profile

#7346 Suse sle15 fix reference sles 15 030350 assignment
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_umount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_media_export/rule.yml
  products/sle15/profiles/stig.profile
Labels: needs-ok-to-test

#7345 Add to sle15 PCI-DSS profile rules for account uniqueness and grub config ownership
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/gid_passwd_group_same/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  products/sle15/product.yml
  products/sle15/profiles/pci-dss.profile
Labels: ok-to-test, Update Rule, Update Profile

#7351 Rule SLES-12-010890 added bash
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/bash/shared.sh
Labels: needs-ok-to-test

#7350 Rule SLES-12-020130 added ansible, bash and tests
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/ansible/shared.yml
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/bash/shared.sh
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/tests/audit_correct_permissions.pass.sh
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/tests/audit_incorrect_permissions.fail.sh
Labels: SLES, needs-ok-to-test

#7339 Move a SLES-12-010380 requirement from one rule to another
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_automatic_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_automatic_login/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/rule.yml
  products/sle12/profiles/stig.profile
Labels: SLES, ok-to-test

#7354 Select sysctl_net_core_bpf_jit_harden for RHEL-08-040286
  linux_os/guide/system/permissions/restrictions/sysctl_net_core_bpf_jit_harden/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment, Update Profile

#7355 Add RHEL7 specific test kickstart
  tests/kickstarts/test_suite_rhel7.cfg
Labels: Test Suite

#7325 PCI-DSS Rules Added
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test

#7356 Update RHEL 8 CIS references to match benchmark 1.0.1
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
Labels: needs-ok-to-test

#7353 Update CCEs and identifiers on rules that make up RHEL 8 CIS 4.1.15
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_rmmod/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: ok-to-test, Update Rule

#7283 Update existing rule for RHEL-08-030650
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/correct_with_selinux.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/not_config.fail.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Ansible, OVAL, Bash, DISA RHEL8 STIG Alignment

#7372 Remove RHEL-07-030730 from rule as it doesn't exist anymore in the STIG.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudoedit/rule.yml
Labels: DISA RHEL7 STIG Alignment

#7369 Remove RHEL-08-040162 from STIG profile.
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#7371 Remove inexistent and/or duplicated STIG references
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_var_log_audit/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_action/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
Labels: DISA RHEL8 STIG Alignment

#7377 Rule SLES-15-030310 - a typo correction
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
Labels: needs-ok-to-test

#7335 More rhel9 fixes
  controls/anssi.yml
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_after_time/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_command/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_pcsc-lite_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/service_pcscd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/uefi_no_removeable_media/oval/shared.xml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/bash/shared.sh
  linux_os/guide/system/software/system-tools/package_subscription-manager_installed/rule.yml
  products/fedora/product.yml
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  products/rhel9/profiles/cis.profile
  products/rhel9/profiles/cjis.profile
  products/rhel9/profiles/e8.profile
  products/rhel9/profiles/hipaa.profile
  products/rhel9/profiles/ism_o.profile
  products/rhel9/profiles/ospp.profile
  products/rhel9/profiles/pci-dss.profile
  products/rhel9/profiles/rht-ccp.profile
  products/sle12/product.yml
  products/sle15/product.yml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
  shared/references/cce-redhat-avail.txt
  ssg/constants.py
  ssg/products.py
  tests/shared/grub2.sh
Labels: RHEL9

#7364 UBTU-20-010005: Adjust vlock_installed for Ubuntu
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
Labels: Ubuntu, ok-to-test

#7363 UBTU-20-010057: Add missing rules
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforcing/rule.yml
  products/ubuntu2004/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test

#7384 generic updates to rhel7 CIS
  controls/cis_rhel7.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_post_pw_expiration/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_unique_name/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
Labels: Update Rule, Update Profile

#7211 SSGTS: tests for shared/templates
  linux_os/guide/services/ntp/package_chrony_installed/tests/installed.pass.sh
  linux_os/guide/services/ntp/package_chrony_installed/tests/removed.fail.sh
  linux_os/guide/system/auditing/package_audit_installed/tests/installed.pass.sh
  linux_os/guide/system/auditing/package_audit_installed/tests/removed.fail.sh
  linux_os/guide/system/logging/package_rsyslog_installed/tests/installed.pass.sh
  linux_os/guide/system/logging/package_rsyslog_installed/tests/notinstalled.fail.sh
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/tests/installed.pass.sh
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/tests/removed.fail.sh
  linux_os/guide/system/selinux/package_libselinux_installed/tests/installed.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/tests/installed.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/tests/notinstalled.fail.sh
  linux_os/guide/system/software/sudo/package_sudo_installed/tests/installed.pass.sh
  linux_os/guide/system/software/sudo/package_sudo_installed/tests/removed.fail.sh
  shared/templates/package_installed/tests/package-installed-removed.fail.sh
  shared/templates/package_installed/tests/package-installed.pass.sh
  shared/templates/package_installed/tests/package-removed.fail.sh
  ssg/templates.py
  tests/README.md
  tests/ssg_test_suite/combined.py
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
  tests/test_suite.py
Labels: enhancement, Infrastructure, Test Suite

#7374 PCI-DSS Aide Rules
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/install_hids/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_hashes/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_hashes/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: ok-to-test

#7395 Fix combined mode execution in SSGTS
  tests/ssg_test_suite/combined.py
  tests/test_suite.py
Labels: bugfix, Test Suite

#7288 Add new rule for RHEL-08-030720
  docs/manual/developer/06_contributing_with_content.md
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/default_no_pass.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/rsyslog.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/rsyslog_wrong_value.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/rsyslogd.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/rsyslogd_wrong_value.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/setup.sh
  products/rhel8/profiles/stig.profile
  shared/macros-bash.jinja
  shared/references/cce-redhat-avail.txt
  shared/templates/lineinfile/bash.template
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: enhancement, Infrastructure, New Rule, DISA RHEL8 STIG Alignment

#7303 Update existing rule for RHEL-08-020320
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/tests/bad_user.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/tests/default.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment, Update Rule

#7397 SLES-12-010599 - remove rule from the STIG
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_hbss_software/package_MFEhiplsm_installed/rule.yml
  products/sle12/profiles/stig.profile
Labels: SLES, ok-to-test, Update Profile

#7409 Fix RHEL7 documentation links
  linux_os/guide/services/ldap/openldap_client/group.yml
  linux_os/guide/services/ldap/openldap_server/group.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/group.yml
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
  linux_os/guide/services/sssd/group.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/rule.yml
  linux_os/guide/system/auditing/group.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/group.yml
Labels: Documentation

#7366 UBTU-20-010056: Use rule accounts_password_pam_dictcheck
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/rule.yml
  products/ubuntu2004/profiles/stig.profile
Labels: Ubuntu, ok-to-test, Update Rule, Update Profile

#7381 Add ensure_logrotate_activated rule to SLES15 PCI-DSS
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test, Update Profile

#7388 products/sle15/profiles/stig.profile: Update according to U_SLES_15_STIG_V1R3 Manual
  products/sle15/profiles/stig.profile
Labels: SLES, ok-to-test, Update Profile

#7407 Add readthedocs integration badge
  README.md
Labels: Documentation

#7410 Handle sshd directory config basenames better
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/tests/conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/tests/correct_value_directory.pass.sh
  shared/macros-oval.jinja
  shared/templates/sshd_lineinfile/bash.template
Labels: RHEL9

#7344 Add a new rules RHEL-08-010001 and RHEL-07-020019
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/oval/shared.xml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/group.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  products/rhel7/profiles/stig.profile
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL7 STIG Alignment, New Rule, DISA RHEL8 STIG Alignment

#7327 Update STIG mapping table to reflect statistics of coverage.
  shared/transforms/shared_xccdf-apply-overlay-stig.xslt
  shared/transforms/shared_xccdf2table-stig.xslt
Labels: DISA RHEL7 STIG Alignment, DISA RHEL8 STIG Alignment

#7413 Pcidss files
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: ok-to-test

#7373 Add PCI-DSS rules
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_libuserconf/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_libuserconf/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test, Update Profile

#7417 Add PCI-DSS file Rules
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shadow/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test, Update Profile

#7430 Add PCI-DSS file rules
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_var_log_audit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: needs-ok-to-test

#7443 Fix RHEL7 documentation link
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/rule.yml
Labels: Documentation

#7411 Added rule for RHEL-08-010400
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/oval/shared.xml
  linux_os/guide/services/sssd/sssd_certificate_verification/rule.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/correct_with_others_before.pass.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/not_configured.fail.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/partial_config.fail.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/wrong_value.fail.sh
  linux_os/guide/services/sssd/var_sssd_certificate_verification_digest_function.var
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: New Rule, DISA RHEL8 STIG Alignment

#7440 Fix remaining audit rule files permissions.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable/bash/shared.sh
  shared/templates/audit_file_contents/ansible.template
  shared/templates/audit_file_contents/bash.template
Labels: Ansible, Bash

#7441 UBTU-20-010205: Add constant aide_conf_path and small changes for ubuntu
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
  products/ubuntu2004/product.yml
  ssg/constants.py
  ssg/products.py
Labels: ok-to-test

#7422 Add package_strongswan_installed rule to SUSE SLE15 PCI-DSS profile
  linux_os/guide/system/network/network-ipsec/package_strongswan_installed/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test

#7425 SUSE SLE15 service chronyd or ntpd enabled pci dss
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/ansible/shared.yml
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/bash/shared.sh
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test

#7448 UBTU-20-010075: Add bash remediation and tests to accounts_passwords_pam_faildelay_delay
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/tests/missing_line.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/tests/wrong_value.fail.sh
Labels: Ubuntu, ok-to-test

#7452 Do not select "default" crypto policy value in RHEL8 CIS L1
  controls/cis_rhel8.yml
  linux_os/guide/system/software/integrity/crypto/var_system_crypto_policy.var
Labels: bugfix, RHEL8 CIS Alignment

#7420 Add rsyslog log file configuration rules to SUSE SLE15 PCI-DSS profile
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/IncludeConfig_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/IncludeConfig_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/include_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/include_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/include_is_root_IncludeConfig_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/include_is_root_IncludeConfig_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/include_multiline_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/IncludeConfig_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/IncludeConfig_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_is_root_IncludeConfig_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_is_root_IncludeConfig_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_multiline_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/IncludeConfig_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_multiline_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/perms_0601.fail.sh
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test

#7438 Update existing rules for RHEL-07-010492 and RHEL-07-010482
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/rule.yml
  products/rhel7/profiles/stig.profile
Labels: DISA RHEL7 STIG Alignment, Update Profile

#7177 Add rule for SLES-12-030365
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_forwarding/rule.yml
  products/sle12/profiles/stig.profile
Labels: SLES, ok-to-test, Update Profile

#7458 Remove package applicability from s390x_arch generated remediations
  ssg/constants.py
Labels: bugfix

#7426 Add couple of chronyd/ntpd rules to SUSE SLE15 PCI-DSS profile
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/bash/shared.sh
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/rule.yml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/var_multiple_time_servers.var
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test

#7472 SLE15 add sssd_enable_smartcards to PCI-DSS rule
  linux_os/guide/services/sssd/sssd_enable_smartcards/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test, Update Profile

#7469 PCI-DSS add audit time rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_adjtimex/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_adjtimex/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_clock_settime/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_clock_settime/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_settimeofday/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_settimeofday/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_stime/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_stime/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: ok-to-test

#7365 Adjust smartcard_configure_cert_checking OVAL for other distros
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/rule.yml
Labels: Ubuntu, ok-to-test

#7486 Fix up for the fix_rules.py script in add-cce command
  ssg/cce.py
  utils/fix_rules.py
Labels: bugfix

#7484 Enable more RHEL7 STIG rules
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_screen_installed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_overflow_action/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Labels: DISA RHEL7 STIG Alignment

#7471 Bug 1942281 - Postfix rules notapplicable when package is not installed
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_relayhost/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/mail/postfix_harden_os/group.yml
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/applicability/general.yml
  shared/checks/oval/installed_env_has_postfix_package.xml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL7 STIG Alignment, DISA RHEL8 STIG Alignment

#7477 PCI-DSS Add more auditd rules
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_syslog_plugin_activated/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_num_logs/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_num_logs/rule.yml
  products/sle15/profiles/pci-dss.profile
Labels: SLES, ok-to-test, Update Profile
