Repository ComplianceAsCode/content, pull requests merged in 2021-10, with the labels that each got.

#7679 Add new rule "service_ypserv_disabled"
  controls/cis_rhel8.yml
  linux_os/guide/services/obsolete/nis/service_ypserv_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL8 CIS Alignment

#7676 Add rule "Ensure All Groups on the System Have Unique Group Name"
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/tests/wrong_value.fail.sh
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL8 CIS Alignment

#7677 Add rule for RHEL8 CIS 5.2.16
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Rule, Update Profile, RHEL8 CIS Alignment

#7680 Update SSGTS so it can use mount in containers
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/tests/correct_value.pass.sh
  tests/ssg_test_suite/test_env.py
Labels: Test Suite

#7678 Add SSH LoginGraceTime rule
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/tests/lower_bound.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/tests/no_limit.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/tests/too_high.fail.sh
  linux_os/guide/services/ssh/ssh_server/var_sshd_set_login_grace_time.var
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL8 CIS Alignment

#7684 Select account_unique_id for RHEL8 CIS 6.2.15
  controls/cis_rhel8.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
Labels: RHEL, RHEL8 CIS Alignment

#7686 DISA STIG SLE 12/15 release update
  products/sle12/profiles/stig.profile
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle12-v2r4-xccdf-manual.xml
  shared/references/disa-stig-sle15-v1r3-xccdf-manual.xml
Labels: SLES, ok-to-test

#7183 Set existing passwords age minimum/maximum
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/correct_stig.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/correct_stig_noninteractive.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_stig_blank.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/correct_stig.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/correct_stig_noninteractive.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_stig_blank.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/var_accounts_maximum_age_login_defs.var
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/var_accounts_minimum_age_login_defs.var
Labels: ok-to-test

#7685 Add rule accounts_root_gid_zero
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/tests/correct_value.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: RHEL, New Rule, RHEL8 CIS Alignment, RHEL7 CIS Alignment

#7805 Fix directories count in docs/manual/developer/03_creating_content.md
  docs/manual/developer/03_creating_content.md
Labels: Documentation

#7802 Fix kubelet_enable_iptables_util_chains
  applications/openshift/kubelet/kubelet_enable_iptables_util_chains/kubernetes/shared.yml
  applications/openshift/kubelet/kubelet_enable_iptables_util_chains/rule.yml
  applications/openshift/kubelet/kubelet_enable_iptables_util_chains/tests/ocp4/e2e.yml
Labels: ok-to-test
