Repository ComplianceAsCode/content, pull requests merged in 2021-05, with the labels that each got.

#6868 Add Rule for SLES-15-010140 & SLES-12-010100
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/bash/shared.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/rule.yml
  sle12/profiles/stig.profile
  sle15/profiles/stig.profile
Labels: ok-to-test

#6879 SLES-15-010250 add rule, remediation and tests.
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/tests/common-auth.pam_unix_not_required.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/tests/common-auth.pam_unix_not_sha512.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/tests/common-auth.pass.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#6906 Automatically prodtype rules in a profile
  utils/autoprodtyper.py
  utils/mod_prodtype.py
Labels: Infrastructure

#6927 Aligning and updating RHEL 8 STIG w/ V1R2
  rhel8/overlays/stig_overlay.xml
  rhel8/profiles/stig.profile
  rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r2-xccdf-manual.xml
Labels: DISA RHEL8 STIG Alignment

#6907 Check all rules in profile for required reference
  build-scripts/compile_profiles.py
  ssg/build_profile.py
  ssg/products.py
  utils/refchecker.py
Labels: Infrastructure, enhancement, standards

#6865 remove no longer relevant rules from rhel7 stig
  rhel7/profiles/stig.profile
Labels: SSG-DISA RHEL7 STIG Alignment

#6939 Update dpkg package installed command
  ssg/build_remediations.py
Labels: Ubuntu, bugfix

#6941 Make profile-tool product-aware
  build-scripts/profile_tool.py
  ssg/build_profile.py
  ssg/constants.py
Labels: Infrastructure, enhancement

#6946 Show which OVAL fails during parsing
  ssg/oval.py
Labels: Infrastructure, enhancement

#6822 SLES-15-10352 rule
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/all_dirs_ok.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/owner_only_writable_dir.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/world_writable_dir_on_lib.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/world_writable_dir_on_usr_lib.fail.sh
  sle15/profiles/stig.profile
Labels: needs-ok-to-test

#6951 bump rhel7 stig version to v3r3
  rhel7/overlays/stig_overlay.xml
  rhel7/profiles/stig.profile
  rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r3-xccdf-manual.xml
Labels: SSG-DISA RHEL7 STIG Alignment

#6932 Adding new rule for RHEL-08-010294
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/oval/shared.xml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/correct_followed_by_incorrect.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/empty_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/incorrect_followed_by_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/incorrect_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/tests/missing_file.fail.sh
  rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#6964 Merge duplicate disa (CCI) reference in package_audit_installed
  linux_os/guide/system/auditing/package_audit_installed/rule.yml
Labels: DISA RHEL8 STIG Alignment

#6979 Fix groupowner/permissions for ubuntu2004
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
Labels: Ubuntu, bugfix

#6968 SLES-15-010362
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/oval/shared.xml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/tests/correct_group_owner.pass.sh
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/tests/incorrect_group_owner.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#6967 Remove `package_gssproxy_removed` from STIG GUI profile
  rhel8/profiles/stig_gui.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#6978 Check libpam-runtime on Ubuntu
  debian10/product.yml
  debian9/product.yml
  shared/checks/oval/installed_env_has_pam_package.xml
  ubuntu1604/product.yml
  ubuntu1804/product.yml
  ubuntu2004/product.yml
Labels: Ubuntu, bugfix

#6911 Fix bugs in rule_dir_json.py
  utils/rule_dir_json.py
Labels: Infrastructure, bugfix

#6999 Fix dconf_gnome_login_retries bash remediation
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/bash/shared.sh
Labels: bugfix, needs-ok-to-test

#6933 Add Rule,Remediation and Test for SLES-15-030770
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/tests/auditctl_correct_wtmp.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/tests/auditctl_remove_all_rules_wtmp.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/tests/auditctl_wrong_rule_wtmp.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/tests/augenrules_correct_wtmp.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/tests/augenrules_remove_all_rules_wtmp.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/tests/augenrules_wrong_rule_wtmp.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#6931 SLES-15-030400 rule
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/auditclt_modprobe_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/auditclt_modprobe_wrong_rule.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/auditctl_modprobe_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/augenrules_modprobe_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/augenrules_modprobe_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/augenrules_modprobe_wrong_rule.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/modprobe.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/tests/rules_not_there.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#7008 Remove audit_privileged_commands from RHEL7 STIG profile
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
  rhel7/profiles/stig.profile
Labels: SSG-DISA RHEL7 STIG Alignment

#6993 Disable anaconda remediation from package_gssproxy_removed to prevent blocking installation
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/rule.yml
  rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
Labels: DISA RHEL8 STIG Alignment

#6998 OL7 DISA STIG v2r3 update
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  linux_os/guide/system/software/sudo/sudo_restrict_privilege_elevation_to_authorized/rule.yml
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/rule.yml
  ol7/overlays/stig_overlay.xml
  ol7/profiles/stig.profile
  shared/references/disa-stig-ol7-v2r3-xccdf-manual.xml
Labels: ok-to-test

#7010 Fix OVAL 5.10 build.
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/oval/shared.xml
Labels: bugfix

#7013 Fix href of added derivative cpe-item
  build-scripts/enable_derivatives.py
  ssg/build_derivatives.py
Labels: bugfix

#7023 Fix issue 7019
  linux_os/guide/system/software/sudo/sudo_require_authentication/rule.yml
Labels: needs-ok-to-test

#6952 SLES-15-010357 rule
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_system_commands_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_system_commands_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_system_commands_dirs/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_system_commands_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_system_commands_dirs/tests/correct_perm.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_system_commands_dirs/tests/incorrect_perm.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#7026 Add kickstart files for RHEL7 STIG and STIG with GUI.
  rhel7/kickstart/ssg-rhel7-stig-ks.cfg
  rhel7/kickstart/ssg-rhel7-stig_gui-ks.cfg
Labels: bugfix

#7009 RHEL-08-010295 STIG rule
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/oval/shared.xml
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/tests/empty_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/tests/incorrect_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/tests/missing_file.fail.sh
  rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#7032 Add bash package installated macro
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/bash/shared.sh
  shared/macros-bash.jinja
Labels: Bash, Ubuntu

#7031 Use noninteractive front-end to apt
  shared/macros-bash.jinja
Labels: Debian, Ubuntu, bugfix

#7027 RHEL-08-020100 updating existing rule
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/rhel8_argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/rhel8_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/rhel8_wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/wrong_value.fail.sh
Labels: DISA RHEL8 STIG Alignment

#6957 OCP4: Add rule to verify that the Compliance Operator is scanning
  applications/openshift/risk-assessment/compliancesuite_exists/rule.yml
  applications/openshift/risk-assessment/compliancesuite_exists/tests/ocp4/e2e.yml
  applications/openshift/risk-assessment/group.yml
  ocp4/profiles/moderate.profile
  shared/references/cce-redhat-avail.txt
Labels: OpenShift

#6965 Point RHEL-08-030000 to the correct rule that checks for execve
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_value.fail.sh
  rhel7/profiles/stig.profile
  rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment, SSG-DISA RHEL7 STIG Alignment

#6983 Add rule for SLES-15-010354
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/tests/all_dirs_ok.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/tests/nobody_owned_dir_on_lib.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#7030 Fix disable_users_coredumps's limits.d exists
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/oval/shared.xml
Labels: OVAL, bugfix

#6937 Add rule for SLES-15-010340
  linux_os/guide/system/permissions/files/permissions_local_var_log/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_logfile.fail.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/var_logfile_correct_mode.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/world_readable_logfile.fail.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/world_writable_dir.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/world_writable_logfile.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#7049 Fix build of SCAP 1.2 DS
  cmake/SSGCommon.cmake
Labels: bugfix

#7028 SLES-12-010420 and SLES-15-010510 rules
  linux_os/guide/system/software/integrity/fips/is_fips_mode_enabled/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/is_fips_mode_enabled/rule.yml
  sle12/profiles/stig.profile
  sle15/profiles/stig.profile
Labels: needs-ok-to-test

#6947 SLES-15-010355 rule
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/tests/correct_group.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/tests/incorrect_group.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#6870 Add Rules,Remediation and Tests for SLES-15-040430
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/bash/shared.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/oval/shared.xml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/tests/wrong_value_autologin.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/tests/wrong_value_passwordless.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#6929 SLES-15-010360 rule
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/oval/shared.xml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/tests/correct_owner.pass.sh
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/tests/incorrect_owner.fail.sh
  sle15/profiles/stig.profile
Labels: ok-to-test

#7048 configure_gnutls_crypto_policy update
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/oval/shared.xml
Labels: DISA RHEL8 STIG Alignment, enhancement
