Repository ComplianceAsCode/content, pull requests merged in 2022-07, with the labels that each got.

#9064 Add a markdown output target to create_srg_export
  utils/convert_srg_export_to_md.py
  utils/create_srg_export.py
Labels: Infrastructure, STIG

#9001 Create rule to cover OL08-00-030030
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/ansible/shared.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/bash/shared.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/oval/shared.xml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/tests/correct.pass.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/tests/file_missing.fail.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/tests/no_postmaster_alias.fail.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/tests/wrong.fail.sh
  products/ol8/profiles/stig.profile
Labels: needs-ok-to-test

#9072 Add ansible remediation for postfix_prevent_unrestricted_relay
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/ansible/shared.yml
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/absent.fail.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/defective.fail.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok.pass.sh
Labels: Ansible, STIG

#9081 Remove sysctl_fs_protected_* rules from RHEL 9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9

#9083 Remove rule zip_vsyscall_argument
  products/rhel8/profiles/ospp.profile
  products/rhel9/profiles/ospp.profile
  tests/data/profile_stability/rhel8/ospp.profile
Labels: RHEL9, RHEL8, OSPP

#9066 Fix content applicability to correctly use templated content
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/ansible/sle12.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/ansible/sle15.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/sle12.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/sle15.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/missing_ocsp.fail.sh
Labels: STIG

#9092 Cleanup RHEL9 OSPP networking sysctl rules
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9098 Adjust bash to correspond to rule.yml for correct value of TimedLoginEnable
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_guest_login/bash/shared.sh
Labels: bugfix, Bash, needs-ok-to-test

#9095 Disable GRUB recovery mode
  linux_os/guide/system/accounts/accounts-physical/grub2_disable_interactive_boot/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/grub2_disable_interactive_boot/tests/enabled_interactive_boot_empty_boolean.fail.sh
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/ansible/shared.yml
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/bash/shared.sh
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/tests/correct_value.pass.sh
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/tests/wrong_value.fail.sh
  products/rhel9/profiles/ospp.profile
  shared/checks/oval/bootloader_disable_recovery_set_to_true.xml
  shared/references/cce-redhat-avail.txt
Labels: RHEL9

#9110 Fix ubuntu logic in display_login_attempts
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
Labels: bugfix, Bash, Ubuntu, ok-to-test

#9109 Add missing ocil_clause for audit rules
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chfn/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgidmap/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newuidmap/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passmass/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_rmmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix2_chkpwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_usernetctl/rule.yml
Labels: bugfix

#9097 Refactor Ansible macros for PAM
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/ansible/shared.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: enhancement, Ansible, refactoring

#8315 Use correct aide path variable in the rule descriptions and ocil
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/oval/shared.xml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
Labels: bugfix

#9113 remove rule accounts_password_minlen_login_defs from RHEL and Fedora profiles
  controls/anssi.yml
  controls/srg_gpos/SRG-OS-000078-GPOS-00046.yml
  controls/stig_rhel8.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/rule.yml
  products/fedora/profiles/ospp.profile
  products/fedora/profiles/standard.profile
  products/rhel7/profiles/cjis.profile
  products/rhel7/profiles/ncp.profile
  products/rhel7/profiles/ospp.profile
  products/rhel7/profiles/rhelh-stig.profile
  products/rhel7/profiles/rht-ccp.profile
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/ospp.profile
  products/rhel8/profiles/rht-ccp.profile
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/ospp.profile
  products/rhel9/profiles/stig.profile
  tests/data/profile_stability/rhel8/ospp.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Fedora, RHEL9, Update Profile, RHEL7, RHEL8

#9114 Add Ansible remediation
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/shared.yml
Labels: Ansible, SLES, needs-ok-to-test

#9116 remove Rsyslog related rules from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9101 Fix check text rhel9 stig
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/rule.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/rule.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/rule.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_no_uid_except_zero/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/rule.yml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/rule.yml
  linux_os/guide/system/network/network_configure_name_resolution/rule.yml
  linux_os/guide/system/network/network_sniffer_disabled/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/rule.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/rule.yml
  linux_os/guide/system/software/sudo/sudo_restrict_privilege_elevation_to_authorized/rule.yml
  shared/macros/10-ocil.jinja
  utils/srg_audit.py
Labels: RHEL9, STIG

#9087 Round out the STIG
  controls/srg_gpos/SRG-OS-000069-GPOS-00037.yml
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000120-GPOS-00061.yml
  controls/srg_gpos/SRG-OS-000259-GPOS-00100.yml
  controls/srg_gpos/SRG-OS-000355-GPOS-00143.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_d/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_daily/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_hourly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_monthly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_weekly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_crontab/rule.yml
  linux_os/guide/services/ntp/chronyd_server_directive/rule.yml
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permissions_lastlog/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
Labels: RHEL9, STIG

#9100 Add grub2_systemd_debug-shell_argument_absent
  linux_os/guide/system/bootloader-grub2/grub2_systemd_debug-shell_argument_absent/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/ansible/shared.yml
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/bash/shared.sh
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/oval/shared.xml
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/tests/argument_missing.pass.sh
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/tests/configured_in_cmdline.fail.sh
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/tests/configured_in_entry.fail.sh
  linux_os/guide/system/bootloader-zipl/zipl_systemd_debug-shell_argument_absent/tests/multiple_configured_in_cmdline.fail.sh
  products/rhel9/profiles/ospp.profile
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, OSPP

#9078 Assign RHEL-08-030030 to postfix_client_configure_mail_alias_postmaster
  controls/srg_gpos/SRG-OS-000046-GPOS-00022.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL9, RHEL8, STIG

#9128 Create Ansible macro for authselect backup command
  shared/macros/10-ansible.jinja
Labels: Ansible

#9065 OCP4: api_server_api_priority_gate_enabled: Checking this rule only makes sense for OCP 4.6 or older
  applications/openshift/api-server/api_server_api_priority_gate_enabled/rule.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/tests/ocp4/4.10.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/tests/ocp4/4.11.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/tests/ocp4/4.6.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/tests/ocp4/4.7.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/tests/ocp4/4.8.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/tests/ocp4/4.9.yml
Labels: OpenShift

#9127 Align PAM Bash macros to equivalent in Ansible
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
  shared/macros/10-bash.jinja
Labels: Bash

#9134 fix bash remediation of configure_libreswan_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_libreswan_crypto_policy/bash/shared.sh
Labels: bugfix, Bash, RHEL9, RHEL8

#9136 OCP: clean up the secret from the testing file
  applications/openshift/authentication/oauthclient_inactivity_timeout/tests/correct.pass.sh
Labels: OpenShift

#9126 add Ansible conditionals to CPE platforms determining architecture
  shared/applicability/arch.yml
Labels: Ansible

#9123 Set pipefail in Ansible shell commands with pipe
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/ansible/shared.yml
Labels: Ansible

#9143 remove sshd_enable_strictmodes from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9122 controls/cis_alinux2.yml: modify the check value error of some rules
  controls/cis_alinux2.yml
  linux_os/guide/services/ntp/group.yml
  linux_os/guide/services/ntp/var_multiple_time_servers.var
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  linux_os/guide/services/ssh/sshd_approved_macs.var
Labels: needs-ok-to-test, Alibaba Linux

#9139 Update faillock related macros
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/tests/conflicting_settings_authselect.fail.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: enhancement, Ansible, Bash, ok-to-test

#9153 Update docker files
  Dockerfiles/fedora
  Dockerfiles/fedora_linkchecker
  Dockerfiles/fedora_python2
  Dockerfiles/ubuntu
Labels: Infrastructure

#9089 Guidelines: Add the entry about one-off scripts
  .mdl.rb
  .mdlrc
  docs/manual/developer/04_style_guide.md
  utils/migrate_template_csv_to_rule.py
  utils/rule_dir_diff.py
  utils/rule_dir_stats.py
Labels: Documentation

#9151 Add Enable Auth Select to RHEL8/9 STIG
  linux_os/guide/system/accounts/enable_authselect/rule.yml
  products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
  products/rhel8/profiles/stig.profile
  products/rhel9/kickstart/ssg-rhel9-stig-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig_gui-ks.cfg
  products/rhel9/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL9, Update Profile, RHEL8, STIG

#9156 Relax chrony check and remediations
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/bash/shared.sh
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/rule.yml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/correct_multiple_options.pass.sh
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/empty.pass.sh
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/empty_options.pass.sh
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/wrong_line_2.fail.sh
Labels: RHEL, Oracle Linux, Update Rule

#9125 make RHEL-08-020231 automated again
  controls/stig_rhel8.yml
Labels: Update Profile, RHEL8, STIG

#9155 Add per profile filter of missing_cce test
  cmake/SSGCommon.cmake
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount2/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/rule.yml
  ssg/build_renumber.py
  tests/missing_cces.py
Labels: needs-ok-to-test

#9160 Fix typos in man page and profile descriptions
  docs/man_page_template.jinja
  products/debian10/profiles/anssi_np_nt28_high.profile
  products/debian11/profiles/anssi_np_nt28_high.profile
  products/debian9/profiles/anssi_np_nt28_high.profile
  products/ubuntu1604/profiles/anssi_np_nt28_high.profile
  products/ubuntu1804/profiles/anssi_np_nt28_high.profile
Labels: Documentation, needs-ok-to-test

#9150 Add oval,bash and ansible for auditd_audispd_network_failure_action rule
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/tests/audisp_network_failure_action_absent.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/tests/audisp_network_failure_action_set.pass.sh
Labels: ok-to-test

#9129 Unify the RHEL approach for rule file_permissions_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_value_0600.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_value_default_file_0600.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_value_0600.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_value_default_file_0600.fail.sh
Labels: Update Rule

#9157 Store intermediate OVAL check files
  build-scripts/combine_ovals.py
  cmake/SSGCommon.cmake
  ssg/build_ovals.py
Labels: Infrastructure, OVAL

#9120 RHEL9 STIG Changes
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sudoers/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sudoers_d/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_gshadow/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/rule.yml
Labels: RHEL9, STIG

#9164 Amend OSPP references for some package_*_installed rules.
  linux_os/guide/system/software/sudo/package_sudo_installed/rule.yml
  linux_os/guide/system/software/system-tools/package_gnutls-utils_installed/rule.yml
  linux_os/guide/system/software/system-tools/package_openscap-scanner_installed/rule.yml
  linux_os/guide/system/software/system-tools/package_scap-security-guide_installed/rule.yml
Labels: Update Rule, OSPP

#9169 Assign shell_lineinfile template to firewalld-backend rule
  linux_os/guide/system/network/network-firewalld/firewalld-backend/rule.yml
  products/ol8/profiles/stig.profile
Labels: ok-to-test

#9171 Add missing rules to OL8 STIG profile
  linux_os/guide/services/sssd/sssd_has_trust_anchor/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configured_firewalld_default_deny/rule.yml
  linux_os/guide/system/selinux/selinux_user_login_roles/rule.yml
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile

#9167 Minor fix to OVAL check files storing
  cmake/SSGCommon.cmake
Labels: bugfix

#9179 Remove rule dnf-automatic_security_updates_only from RHEL 9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: Update Profile, OSPP

#9182 Remove 3 package rules from RHEL 9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9184 Introduce new sebool description and ocil macros
  linux_os/guide/system/selinux/selinux-booleans/sebool_deny_execmem/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_polyinstantiation_enabled/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/rule.yml
  shared/macros/01-general.jinja
  shared/macros/10-ocil.jinja
Labels: ok-to-test, Update Rule

#9172 Fix various bugs in utils
  tests/ssg_test_suite/rule.py
  tests/unit/ssg-module/test_build_cpe.py
  utils/fix_rules.py
  utils/rule_dir_json.py
Labels: Infrastructure

#9185 Add to SLE ANSSI profile various sysctl rules
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_hardlinks/rule.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_symlinks/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/sysctl_fs_suid_dumpable/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_nx/install_PAE_kernel_on_x86-32/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_modules_disabled/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_cpu_time_max_percent/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_max_sample_rate/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_paranoid/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_pid_max/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_sysrq/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_vm_mmap_min_addr/rule.yml
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
Labels: SLES, needs-ok-to-test, Update Profile, ANSSI

#9186 Add sebool rules for execheap insmod and ssh login to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/selinux/package_setroubleshoot-plugins_removed/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot-server_removed/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot_removed/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_deny_execmem/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_polyinstantiation_enabled/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execheap/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execstack/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_ssh_sysadm_login/rule.yml
Labels: SLES, needs-ok-to-test, Update Profile, ANSSI

#9197 Update CIS RHEL8 2.2.18 requirement to mask nfs-server
  controls/cis_rhel8.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_nfs_disabled/rule.yml
Labels: enhancement, RHEL8, CIS

#9198 Update CIS RHEL8 2.2.18 requirement to mask nfs-server
  controls/cis_rhel8.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_nfs_disabled/rule.yml
Labels: enhancement, backported-into-stabilization, RHEL8, CIS

#9195 Add oval and remediation for auditd_audispd_disk_full_action
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/tests/audisp_disk_full_action_absent.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/tests/audisp_disk_full_action_set.pass.sh
Labels: Ansible, Bash, needs-ok-to-test

#9203 Add more ANSSI Intermediary Rules
  products/sle15/profiles/anssi_bp28_intermediary.profile
Labels: SLES, needs-ok-to-test, ANSSI

#9170 Introduce the rule accounts_passwords_pam_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/expected_faillock_conf.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/missing_dir_in_authfail.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/missing_dir_in_preauth.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/wrong_faillock_conf.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/wrong_pam_files.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/var_accounts_passwords_pam_faillock_dir.var
  products/ol8/profiles/stig.profile
Labels: New Rule, ok-to-test

#9202 Add more sysctl rules to intermediary profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
Labels: SLES, needs-ok-to-test, Update Profile, ANSSI

#9191 add rule package_postfix_installed
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/ansible/shared.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/correct.pass.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/file_missing.fail.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/no_root_alias.fail.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/wrong.fail.sh
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: New Rule, RHEL8, STIG

#9206 The FMT_MOF_EXT.1 only deals with restricting management functions to administrator
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
Labels: Update Rule, OSPP

#9211 Remove CentOS 6 and SL 6 references from the project
  shared/checks/oval/installed_OS_is_centos6.xml
  shared/checks/oval/installed_OS_is_sl6.xml
  ssg/constants.py
Labels: Infrastructure

#9210 Remove duplicate keys for alinux
  ssg/constants.py
Labels: bugfix, Alibaba Linux

#9209 Fix pre tag in ocil_mount_option
  shared/macros/10-ocil.jinja
Labels: bugfix, Infrastructure

#9213 Remove unused build option
  CMakeLists.txt
  build-scripts/oscap_svg_support.py
  docs/manual/developer/07_understanding_build_system.md
Labels: Infrastructure

#9168 Update rule no_empty_passwords to check password-auth
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_nullok_absent.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present_password_auth.fail.sh
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, ok-to-test

#9216 [stabilization] Make iptables firewall "opt in" in RHEL8 CIS
  controls/cis_rhel8.yml
Labels: RHEL8, CIS

#9215 Make iptables firewall "opt in" in RHEL8 CIS
  controls/cis_rhel8.yml
Labels: RHEL8, CIS

#9217 Remove 4 PAM related rules from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9133 switch template of audit_immutable_login_uids back to audit_file_contents
  linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/rule.yml
Labels: bugfix, RHEL9, Update Rule, RHEL8, STIG

#9218 remove accounts_max_concurrent_login_sessions from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9219 [Stabilization] remove accounts_max_concurrent_login_sessions from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9187 Make Audit aarch64 rules specific to RHEL9 only
  linux_os/guide/system/auditing/policy_rules/audit_access_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success_aarch64/rule.yml
  products/rhel8/profiles/ospp.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/ospp.profile
Labels: RHEL9, Update Rule, Update Profile, RHEL8, OSPP

#9223 remove umask-related rules from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9224 [stabilization] Remove umask-related rules from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9228 Remove 3 package rules from RHEL 9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: bugfix, RHEL9, Update Profile, OSPP

#9220 [Stabilization] remove 4 PAM rules from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9214 add new rule package_postfix_installed (stabilization)
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/ansible/shared.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/correct.pass.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/file_missing.fail.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/no_root_alias.fail.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/wrong.fail.sh
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, Ansible, RHEL9, Update Rule, Update Profile, RHEL8, STIG

#9188 Make audit AArch64 specific rules RHEL9 only
  linux_os/guide/system/auditing/policy_rules/audit_access_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success_aarch64/rule.yml
  products/rhel8/profiles/ospp.profile
  tests/data/profile_stability/rhel8/ospp.profile
Labels: RHEL9, Update Rule, Update Profile, RHEL8, OSPP

#9233 Remove rules for package removal from RHEL 9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9212 Fix OCP rule `kubelet_enable_client_cert_rotation`
  applications/openshift/kubelet/kubelet_enable_client_cert_rotation/rule.yml
Labels: OpenShift

#9234 remove securetty_root_login_console_only from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9232 Polishing the RHEL 9 OSPP profile file, removing the DRAFT designation
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9235 [Stabilization] remove securetty_root_login_console_only from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9237 remove redundant rules configuring partitioning from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9236 [stabilization] Remove rules for package removal from RHEL 9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: bugfix, RHEL9, Update Profile, OSPP

#9238 [Stabilization] remove redundant rules configuring partitioning from RHEL9 OSPP
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile, OSPP

#9225 Don't pass sssd rules when sssd.conf is absent
  linux_os/guide/services/sssd/sssd_memcache_timeout/oval/shared.xml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/oval/shared.xml
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/oval/shared.xml
  shared/checks/oval/sssd_conf_exists.xml
  shared/templates/extra_ovals.yml
Labels: Update Rule

#9243 Introduce Ol9 anssi profiles
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_dhcp_removed/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/ansible/shared.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/bash/shared.sh
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/mail/service_postfix_enabled/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_xinetd_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/package_rsh_removed/rule.yml
  linux_os/guide/services/obsolete/talk/package_talk-server_removed/rule.yml
  linux_os/guide/services/obsolete/talk/package_talk_removed/rule.yml
  linux_os/guide/services/obsolete/telnet/package_telnet_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra_defrtr/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra_pinfo/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra_rtr_pref/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_autoconf/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_max_addresses/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_router_solicitations/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra_defrtr/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra_pinfo/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra_rtr_pref/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_autoconf/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_max_addresses/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_router_solicitations/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_ip_local_port_range/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_rfc1337/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_opt_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_srv_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_modules_disabled/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_cpu_time_max_percent/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_max_sample_rate/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_pid_max/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_sysrq/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_vm_mmap_min_addr/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot-plugins_removed/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot-server_removed/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot_removed/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_deny_execmem/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_polyinstantiation_enabled/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execheap/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execstack/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_ssh_sysadm_login/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_passwd_timeout/rule.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/rule.yml
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
  products/ol9/profiles/anssi_bp28_minimal.profile
  shared/templates/sysctl/line_not_there.fail.sh
Labels: Oracle Linux, needs-ok-to-test, New Profile, ANSSI

#8880 Update accounts_password_pam_retry behavior
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_overriden.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/wrong_value.fail.sh
  products/ol8/profiles/stig.profile
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#9029 Add DISA STIG ids to `when` conditions in ansible roles
  utils/ansible_playbook_to_role.py
Labels: Ansible, STIG

#9240 [Stabilization] Add DISA STIG ids to when conditions in ansible roles
  utils/ansible_playbook_to_role.py
Labels: Ansible, STIG

#9199 Automatus: close hanging tempfiles descriptors
  tests/ssg_test_suite/rule.py
Labels: Test Suite

#9200 Automatus: close hanging tempfiles descriptors
  tests/ssg_test_suite/rule.py
Labels: Test Suite

#8974 Update SRG-APP-000038-CTR-000105 for OCP4 STIG
  applications/openshift/networking/configure_network_policies/rule.yml
  controls/srg_ctr/SRG-APP-000038-CTR-000105.yml
Labels: OpenShift, ok-to-test, STIG

#8969 Update SRG-APP-000092-CTR-000165 for OCP4 STIG
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/logging/cluster_logging_operator_exist/rule.yml
  controls/srg_ctr/SRG-APP-000092-CTR-000165.yml
  controls/srg_ctr/SRG-APP-000111-CTR-000220.yml
Labels: OpenShift, ok-to-test, STIG

#9246 Improve remediation which enable pam_faillock.so by directly editing PAM files
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: bugfix, RHEL7

#9247 [stabilization] Improve remediation which enable pam_faillock.so by directly editing PAM files
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: bugfix, RHEL7

#9256 Remove a confusing sentence
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
Labels: RHEL9, OSPP

#9258 System commands dir root or system account
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/system_account_groupownership.pass.sh
Labels: Update Rule, RHEL8, STIG

#9260 SUSE SLE15 add messagebus and nscd to authorized_local_users
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
Labels: SLES, ok-to-test, Update Rule

#9261 Update gitpod HTML preview extension.
  .gitpod.yml
Labels: Infrastructure

#8976 Update SRG-APP-000068-CTR-000120 for OCP4 STIG
  controls/srg_ctr/SRG-APP-000068-CTR-000120.yml
Labels: OpenShift, ok-to-test, STIG

#8977 Update SRG-APP-000069-CTR-000125 for OCP4 STIG
  controls/srg_ctr/SRG-APP-000069-CTR-000125.yml
Labels: OpenShift, ok-to-test, STIG

#8979 Update SRG-APP-000131-CTR-000285 for OCP4 STIG
  controls/srg_ctr/SRG-APP-000131-CTR-000285.yml
Labels: OpenShift, ok-to-test, STIG

#9245 Improve regex to match retry parameter in pwquality.conf
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_correct_with_space.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_overriden.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/wrong_value.fail.sh
Labels: Test Suite, OVAL

#8975 Update SRG-APP-000039-CTR-000110 for OCP4 STIG
  applications/openshift/networking/configure_network_policies/rule.yml
  controls/srg_ctr/SRG-APP-000039-CTR-000110.yml
Labels: OpenShift, ok-to-test, STIG

#8972 Update SRG-APP-000126-CTR-000275 for OCP4 STIG
  applications/openshift/integrity/crypto/fips_mode_enabled/rule.yml
  controls/srg_ctr/SRG-APP-000126-CTR-000275.yml
Labels: OpenShift, ok-to-test, STIG

#9252 Improve bash_ensure_pam_module_line macro
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: bugfix, Bash

#9272 [Stabilization] Never add OCIL for security_patches_up_to_date
  ssg/build_yaml.py
Labels: bugfix

#9274 [Stabilization] Install ansible for the extra modules
  .github/workflows/release.yaml
Labels: Infrastructure

#9271 Never add OCIL for security_patches_up_to_date
  ssg/build_yaml.py
Labels: bugfix

#9273 Install ansible for the extra modules
  .github/workflows/release.yaml
Labels: Infrastructure
