Repository ComplianceAsCode/content, pull requests merged in 2022-08, with the labels that each got.

#9255 Fix OCP4 unit test from kubelet_enable_streaming_connections
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/match.pass.sh
Labels: bugfix, OpenShift

#9276 Update RHEL8 STIG to V1R7
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r6-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v1r7-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#9264 Introduce rule accounts_passwords_pam_faillock_audit
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/expected_faillock_conf.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/missing_parameter.fail.sh
  products/ol8/profiles/stig.profile
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: New Rule, ok-to-test

#9279 Add OVAL, bash and tests to account_password_selinux_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/missing_dir.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/wrong_value.fail.sh
  products/ol8/profiles/stig.profile
Labels: needs-ok-to-test

#9278 Add OVAL to fapolicy_default_deny
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/oval/shared.xml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/commented_value.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/correct_value.pass.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_not_last.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/fapolicy_permissive.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/wrong_value.fail.sh
  products/ol8/profiles/stig.profile
Labels: ok-to-test

#9253 Fix bash remediation in rsyslog_remote_access_monitoring rule
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/bash/shared.sh
Labels: bugfix, Bash

#9147 Refresh BPF related rules in RHEL 9 OSPP profile
  docs/templates/template_reference.md
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/tests/system_default.pass.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/tests/test_config.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/tests/value_0.fail.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/tests/value_1.pass.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/tests/value_2.pass.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_value.var
  products/rhel9/profiles/ospp.profile
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  shared/references/cce-redhat-avail.txt
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/oval.template
  shared/templates/sysctl/template.py
Labels: New Rule, RHEL9, Update Rule, Update Profile, OSPP

#9257 SUSE update chronyd max poll to support chrony.d
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/bash/shared.sh
Labels: ok-to-test

#9268 ssg/constants.py: fix the alinux2/3 full name error
  CMakeLists.txt
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/rule.yml
  linux_os/guide/services/mail/service_postfix_enabled/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
  linux_os/guide/system/network/network-ipsec/package_libreswan_installed/rule.yml
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/rule.yml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Labels: ok-to-test, Alibaba Linux

#9244 Introduced rules to disable accounts because of inactivity
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/common.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/stricter_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/wrong_order.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/common.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/stricter_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/wrong_order.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/var_account_disable_inactivity.var
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, New Rule, needs-ok-to-test

#9280 Support commas in variables
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/tests/correct_variable.pass.sh
  tests/ssg_test_suite/rule.py
Labels: Test Suite

#9283 Accept sudoers files without includes as compliant
  linux_os/guide/system/software/sudo/sudoers_default_includedir/oval/shared.xml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/no_includedir.pass.sh
Labels: RHEL8, STIG

#9284 Introduce e8 profile for OL9
  linux_os/guide/services/avahi/disable_avahi_group/service_avahi-daemon_disabled/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/service_xinetd_disabled/rule.yml
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
  linux_os/guide/services/proxy/disabling_squid/package_squid_removed/rule.yml
  linux_os/guide/services/proxy/disabling_squid/service_squid_disabled/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_restorecon/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_seunshare/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/tests/default.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/rule.yml
  linux_os/guide/system/software/system-tools/package_rear_installed/rule.yml
  products/ol9/profiles/e8.profile
Labels: Oracle Linux, needs-ok-to-test, New Profile

#9282 Add rsyslogd to the list of tools checked by aide
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/correct_with_selinux.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/not_config.fail.sh
Labels: RHEL9, RHEL8, STIG

#9277 New sysctl ipv4 forwarding rule
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding_value.var
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: New Rule, RHEL8, STIG

#9286 Update few sysctl rules to accept multiple compliant values
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_rp_filter/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_rp_filter/tests/value_1.pass.sh
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_rp_filter/tests/value_2.pass.sh
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_rp_filter_value.var
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/tests/value_1.pass.sh
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/tests/value_2.pass.sh
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict_value.var
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_value.var
Labels: Update Rule, RHEL8, STIG

#9291 Use DS to build Ansible Playbooks and Bash scripts
  cmake/SSGCommon.cmake
Labels: Infrastructure

#9289 Add -F perm=x filter on RHEL7 privileged commands rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_chcon/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_semanage/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setfiles/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setsebool/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chage/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chsh/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_crontab/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_gpasswd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgrp/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postdrop/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postqueue/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_su/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_umount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_userhelper/rule.yml
  shared/templates/audit_rules_privileged_commands/ansible.template
  shared/templates/audit_rules_privileged_commands/bash.template
  shared/templates/audit_rules_privileged_commands/oval.template
Labels: Update Rule, RHEL7, STIG

#9299 Fix rule sudo_custom_logfile
  linux_os/guide/system/software/sudo/sudo_custom_logfile/rule.yml
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/broken_defaults.fail.sh
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/wrong_logfile.fail.sh
  shared/templates/sudo_defaults_option/ansible.template
  shared/templates/sudo_defaults_option/bash.template
  shared/templates/sudo_defaults_option/oval.template
Labels: OVAL, Bash

#9292 Stop validating ssg-product-xccdf.xml
  cmake/SSGCommon.cmake
Labels: Infrastructure

#9294 Use data stream to verify profile titles and descriptions
  cmake/SSGCommon.cmake
Labels: Infrastructure

#9275 Fix broken XCCDF values
  cmake/SSGCommon.cmake
  linux_os/guide/system/bootloader-grub2/grub2_l1tf_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_mds_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_rng_core_default_quality_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_spec_store_bypass_disable_argument/rule.yml
  products/chromium/guide/chromium/chromium_default_search_provider_name/rule.yml
  products/chromium/guide/chromium/chromium_http_authentication/rule.yml
  tests/test_xccdf_values_in_ds.sh
Labels: bugfix

#9298 Make OSPP profiles use minimal Authselect profile
  linux_os/guide/system/accounts/enable_authselect/rule.yml
  products/rhel8/profiles/ospp.profile
  products/rhel9/profiles/ospp.profile
  tests/data/profile_stability/rhel8/ospp.profile
Labels: RHEL9, Update Rule, Update Profile, RHEL8, OSPP

#9303 add warning to audit_rules_for_ospp
  linux_os/guide/system/auditing/policy_rules/audit_rules_for_ospp/rule.yml
Labels: Update Rule, RHEL7, RHEL8, OSPP

#9305 add warning to the rsyslog_remote_loghost rule about configuring queues
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/rule.yml
Labels: Update Rule

#9317 Update RHEL7 STIG to V3R8
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r8-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r8-xccdf-scap.xml
Labels: Update Profile, RHEL7, STIG

#9293 Use data stream to verify references
  build-scripts/verify_references.py
  cmake/SSGCommon.cmake
Labels: Infrastructure

#9300 Generate CCE tables from data stream
  cmake/SSGCommon.cmake
  shared/transforms/shared_xccdf2table-cce.xslt
Labels: Infrastructure

#9318 Reintroduce back the sshd timeout rules in RHEL8 STIG profile
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#9290 Add the AUID filters on RHEL7 audit kernel module rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_list_action.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_syscall.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/correct_rules.pass.sh
Labels: Update Rule, RHEL7, STIG

#9321 change rules protecting boot in RHEL8 OSPP
  linux_os/guide/system/bootloader-grub2/grub2_disable_recovery/rule.yml
  products/rhel8/profiles/ospp.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/ospp.profile
Labels: RHEL8, OSPP

#9311 Fix sysctl OVAL 5.10 build
  .github/workflows/gate.yaml
  shared/templates/sysctl/oval.template
Labels: bugfix

#9326 Improve handling of rsyslog files permissions fix wildcard path
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_config_syntax_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_config_syntax_perms_0601.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_IncludeConfig_perms_0601_hidden.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_IncludeConfig_perms_0601_missing.pass.sh
Labels: bugfix

#9319 SUSE fix file_groupownership_home_directories
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/home_dirs_with_same_groupowner.pass.sh
Labels: needs-ok-to-test

#9328 Fix CMake dependencies
  cmake/SSGCommon.cmake
Labels: Infrastructure

#9334 add 4 rules back to RHEL9 datastream
  linux_os/guide/services/kerberos/package_krb5-server_removed/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypbind_removed/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypserv_removed/rule.yml
  linux_os/guide/system/software/system-tools/package_krb5-workstation_removed/rule.yml
Labels: RHEL9, Update Rule

#9333 Fix typo in audit_access_success_aarch64 rule title
  linux_os/guide/system/auditing/policy_rules/audit_access_success_aarch64/rule.yml
Labels: bugfix

#9320 Implement DISA check for auditing create_module for RHEL7
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/kubernetes/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/tests/default.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/tests/ocp4/e2e.yml
  shared/references/cce-redhat-avail.txt
Labels: needs-ok-to-test

#9339 Fix ansible partition conditionals
  shared/macros/10-ansible.jinja
Labels: bugfix, Ansible

#9344 Do not use the sshd service disabled OVAL in sshd_set_max_auth_tries
  linux_os/guide/services/ssh/ssh_server/sshd_set_max_auth_tries/oval/shared.xml
Labels: bugfix, OVAL

#9338 Implement DISA check for auditing kmod on RHEL7
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/ansible/rhel7.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/bash/rhel7.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/oval/rhel7.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/rule.yml
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Labels: needs-ok-to-test, Update Rule, RHEL7

#8861 Update var_password_pam_remember_control_flag to allow multiple values in OL8
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/correct_value_multiple_control_required.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/correct_value_multiple_control_requisite.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/wrong_value_multiple_control_sufficient.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/correct_value_multiple_control_required.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/correct_value_multiple_control_requisite.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/wrong_value_multiple_control_requisite.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/var_password_pam_remember_control_flag.var
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, Update Rule

#9348 Include warning about the pam_securetty.so PAM module
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_direct_root_logins/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_direct_root_logins/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_direct_root_logins/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_direct_root_logins/rule.yml
Labels: Update Rule

#9254 Refactor templated test scenarios
  ssg/templates.py
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Labels: Test Suite, refactoring

#9349 Add oracle and ubuntu href references to OVAL verify references test
  build-scripts/verify_references.py
Labels: bugfix

#9350 Rearrange criteria in sysctl template to previous correct behavior
  shared/templates/sysctl/oval.template
Labels: bugfix

#9355 Don't fail enable_fips_mode if /etc/grubenv is missing on s390x
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: bugfix

#9354 fix: fedora has dedicated_ssh_keyowner ssh_keys
  products/fedora/product.yml
Labels: needs-ok-to-test

#9301 Use XCCDF 1.2 to create STIG overlay
  cmake/SSGCommon.cmake
  utils/create-stig-overlay.py
Labels: Infrastructure

#9360 Add package_chrony_installed rule to ANSSI
  linux_os/guide/services/ntp/package_chrony_installed/rule.yml
  products/sle15/profiles/anssi_bp28_intermediary.profile
Labels: SLES, needs-ok-to-test

#9353 feature: ssg parsing: add sometimes external_variable related asserts
  ssg/build_renumber.py
  ssg/parse_oval.py
Labels: needs-ok-to-test

#9358 Move the RHEL 9 STIG to use the srg_gpos control
  products/rhel9/profiles/stig.profile
Labels: RHEL9, Update Profile, STIG

#9372 Don't select the variable selector 'default'
  controls/srg_gpos/SRG-OS-000046-GPOS-00022.yml
  linux_os/guide/services/mail/postfix_client/var_postfix_root_mail_alias.var
Labels: bugfix

#8603 change: audit_rules_suid_privilege_function: better regexp
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/no_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.fail.sh
Labels: enhancement, ok-to-test

#9373 Add selinux_state rule to ANSSI
  linux_os/guide/system/selinux/selinux_state/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_state/bash/shared.sh
  linux_os/guide/system/selinux/selinux_state/rule.yml
  products/sle15/profiles/anssi_bp28_intermediary.profile
Labels: SLES, needs-ok-to-test, ANSSI

#9368 Prefer xccdf_value
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_not_default_password/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_umask/rule.yml
  linux_os/guide/system/software/sudo/sudo_dedicated_group/rule.yml
  shared/macros/01-general.jinja
  tests/test_xccdf_values_in_ds.sh
Labels: enhancement, needs-ok-to-test

#9375 no_empty_passwords test scenarios preserving symlinks
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present_password_auth.fail.sh
Labels: bugfix, RHEL7

#9374 Remove `auditd_data_retention_max_log_file_action` STIG specific test scenario
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/tests/max_log_file_action_stig.pass.sh
Labels: STIG

#9371 Add AUID filters on audit_rules_kernel_module_loading
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/tests/auditctl_syscalls_multiple_per_arg.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/tests/auditctl_syscalls_one_per_arg.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/tests/auditctl_syscalls_one_per_line.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/tests/augen_syscalls_multiple_per_arg.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/tests/augen_syscalls_one_per_arg.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/tests/augen_syscalls_one_per_line.pass.sh
Labels: bugfix, Update Rule, RHEL7, STIG

#9365 Add git package to the Ansible Role test github action.
  .github/workflows/gate-lint-ansible-roles.yaml
Labels: bugfix

#9379 bugfix: build_test_container.sh: actually honor --name/-n
  tests/build_test_container.sh
Labels: bugfix, needs-ok-to-test

#9364 Mask sensitive objects
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_stig_blank.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed/tests/hash.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed/tests/x_in_hash.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed/tests/x_in_username.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/tests/md5_password.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/tests/sha256_password.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/tests/sha512_password.pass.sh
Labels: OVAL, Update Rule

#9335 Import RHEL 9 STIG Changes
  controls/srg_gpos/SRG-OS-000096-GPOS-00050.yml
  controls/srg_gpos/SRG-OS-000378-GPOS-00163.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/fapolicyd/fapolicyd_prevent_home_folder_access/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
Labels: RHEL9, STIG

#9361 Specify output file names
  build-scripts/relabel_ids.py
  cmake/SSGCommon.cmake
  ssg/build_renumber.py
Labels: Infrastructure

#9366 Shellcheck minor changes
  CMakeLists.txt
  utils/shellcheck_wrapper.sh
Labels: needs-ok-to-test

#9378 Update RHEL9 STIG
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000279-GPOS-00109.yml
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/ssh/ssh_private_keys_have_passcode/rule.yml
  shared/references/cce-redhat-avail.txt
  utils/rule_dir_json.py
Labels: RHEL9, Update Profile, STIG

#9362 Add anssi profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
Labels: needs-ok-to-test

#9352 Introduce rule accounts_passwords_pam_faillock_silent
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/expected_faillock_conf.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/missing_parameter.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/missing_parameter_password_auth.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/missing_parameter_system_auth.fail.sh
  products/ol8/profiles/stig.profile
Labels: needs-ok-to-test

#9367 add/remove fedora from privileged commands depending if exists or not
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setfiles/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postdrop/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postqueue/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pt_chown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_agent/rule.yml
Labels: Fedora, needs-ok-to-test, Update Rule

#9295 Test missing references in a data stream
  build-scripts/profile_tool.py
  cmake/SSGCommon.cmake
  ssg/build_profile.py
  tests/missing_refs.sh
Labels: Infrastructure

#9384 change way of disabling coredumps in RHEL9 OSPP
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/rule.yml
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Rule, Update Profile, OSPP

#9266 Add Kubernetes remediation for rule configure_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/kubernetes/shared.yml
Labels: Kubernetes

#9389 Put smartcard rules with pam_pkcs11 out of s390x
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/rule.yml
Labels: bugfix, RHEL7

#9390 Fix warning when build STIG overlay
  cmake/SSGCommon.cmake
Labels: bugfix, STIG

#9387 smartcard_auth: Ensure check and remediation work on RHEL7 regardless of authconfig runs
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_with_authconfig.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_with_pam_faildelay.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_without_authconfig.fail.sh
Labels: bugfix, RHEL7

#9395 Enable for sle anssi bp28 intermediary various rules
  controls/anssi_sle.yml
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/ansible/shared.yml
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/bash/shared.sh
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/ntp/package_chrony_installed/rule.yml
Labels: needs-ok-to-test

#9394 Rule `grub2_enable_fips_mode` is only applicable on systems that use GRUB2
  linux_os/guide/system/software/integrity/fips/grub2_enable_fips_mode/rule.yml
Labels: bugfix, RHEL7

#9391 Add trim_trailing_whitespace to editorconfig
  .editorconfig
Labels: Infrastructure

#9323 Add mount_option rules to ANSSI SLE intermediary profile
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_opt_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_srv_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
Labels: needs-ok-to-test

#9401 Adding rule to DISA STIG for RHEL7 as of V3R7 (Vuln V-250314).
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Labels: needs-ok-to-test, Update Profile, RHEL7, STIG

#9347 Replace platform conditionals in whole remediation code
  tests/ssg_test_suite/xml_operations.py
Labels: Test Suite

#9397 Sort check-export elements
  ssg/build_renumber.py
Labels: Infrastructure

#9392 Skip configure_usbguard_auditbackend to unblock the e2e
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/tests/ocp4/e2e.yml
Labels: OpenShift

#9398 Fix 2 ctest shellcheck issues
  linux_os/guide/system/software/sap_host/accounts_authorized_local_users_sidadm_orasid/bash/shared.sh
  products/jre/guide/java/java_jre_accepted_sites_configured/java_jre_accepted_sites_exists/bash/jre.sh
  products/jre/guide/java/java_jre_accepted_sites_configured/java_jre_accepted_sites_properties/bash/jre.sh
  products/jre/guide/java/java_jre_blacklist_check/bash/jre.sh
  products/jre/guide/java/java_jre_blacklist_check_locked/bash/jre.sh
  products/jre/guide/java/java_jre_deployment_config_configured/java_jre_deployment_config_exists/bash/jre.sh
  products/jre/guide/java/java_jre_deployment_config_configured/java_jre_deployment_config_mandatory/bash/jre.sh
  products/jre/guide/java/java_jre_deployment_config_configured/java_jre_deployment_config_properties/bash/jre.sh
  products/jre/guide/java/java_jre_deployment_properties_exists/bash/jre.sh
  products/jre/guide/java/java_jre_disable_untrusted_sources/bash/jre.sh
  products/jre/guide/java/java_jre_disable_untrusted_sources_locked/bash/jre.sh
  products/jre/guide/java/java_jre_enable_jws/bash/jre.sh
  products/jre/guide/java/java_jre_enable_jws_locked/bash/jre.sh
  products/jre/guide/java/java_jre_insecure_prompt/bash/jre.sh
  products/jre/guide/java/java_jre_insecure_prompt_locked/bash/jre.sh
  products/jre/guide/java/java_jre_lock_untrusted_sources/bash/jre.sh
  products/jre/guide/java/java_jre_lock_untrusted_sources_locked/bash/jre.sh
  products/jre/guide/java/java_jre_security_revocation_check/bash/jre.sh
  products/jre/guide/java/java_jre_security_revocation_check_locked/bash/jre.sh
  products/jre/guide/java/java_jre_unsigned_applications/bash/jre.sh
  products/jre/guide/java/java_jre_unsigned_applications_locked/bash/jre.sh
  products/jre/guide/java/java_jre_validation_crl/bash/jre.sh
  products/jre/guide/java/java_jre_validation_crl_locked/bash/jre.sh
  products/jre/guide/java/java_jre_validation_ocsp/bash/jre.sh
  products/jre/guide/java/java_jre_validation_ocsp_locked/bash/jre.sh
Labels: Bash, needs-ok-to-test, JRE

#9400 Fix jinja comment variable definition in sysctl OVAL template
  shared/templates/sysctl/oval.template
Labels: bugfix

#9405 Fix selinux_context_elevation_for_sudo spelling
  products/rhel7/profiles/stig.profile
Labels: bugfix, do-not-merge/work-in-progress, RHEL7, STIG

#9403 Print check IDs in compare results
  utils/compare_results.py
Labels: enhancement

#9396 Fix `kernel.core_pattern` with empty string rule
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/bash/shared.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/oval/shared.xml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/correct_value.pass.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/correct_value_with_spaces.pass.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/wrong_value.fail.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/wrong_value_d_directory.fail.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/wrong_value_runtime.fail.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/wrong_value_three_entries.fail.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/tests/wrong_value_two_entries.fail.sh
  products/rhel9/profiles/ospp.profile
  tests/test_parse_affected.py
Labels: bugfix

#9382 Add more rules to rhel9 stig
  controls/srg_gpos/SRG-OS-000033-GPOS-00014.yml
  controls/srg_gpos/SRG-OS-000125-GPOS-00065.yml
  controls/srg_gpos/SRG-OS-000163-GPOS-00072.yml
  controls/srg_gpos/SRG-OS-000424-GPOS-00188.yml
  controls/srg_gpos/SRG-OS-000433-GPOS-00192.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/system/software/integrity/crypto/configure_libreswan_crypto_policy/rule.yml
Labels: RHEL9, STIG

#9346 Fix kernel_module_disabled remediation template
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/tests/ocp4/e2e.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_atm_disabled/kubernetes/shared.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_can_disabled/kubernetes/shared.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_firewire-core_disabled/kubernetes/shared.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_sctp_disabled/kubernetes/shared.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_tipc_disabled/kubernetes/shared.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_bluetooth_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_cramfs_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_freevxfs_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_hfs_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_hfsplus_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_jffs2_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_squashfs_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_udf_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_vfat_disabled/kubernetes/shared.yml
  shared/templates/kernel_module_disabled/kubernetes.template
Labels: Kubernetes

#9325 Generate per profile testinfo tables from XCCDF 1.2
  cmake/SSGCommon.cmake
  shared/transforms/shared_xccdf2table-profileccirefs.xslt
Labels: Infrastructure

#9415 Fix missing OCIL text and 800-53 references
  cmake/SSGCommon.cmake
  shared/transforms/shared_xccdf2table-profileccirefs.xslt
Labels: Infrastructure

#9413 Use correct defition of template value parameter in api_server_bind_address
  applications/openshift/api-server/api_server_bind_address/rule.yml
Labels: OpenShift

#9417 Drop SLE-specific anssi control profile
  controls/anssi.yml
  controls/anssi_sle.yml
  linux_os/guide/services/obsolete/tftp/package_tftp-server_removed/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
Labels: needs-ok-to-test

#9406 Use XCCDF 1.2 to generate STIG HTML tables
  cmake/SSGCommon.cmake
  docs/manual/developer/03_creating_content.md
  products/alinux2/transforms/xccdf2table-stig.xslt
  products/alinux3/transforms/xccdf2table-stig.xslt
  products/chromium/transforms/xccdf2table-stig.xslt
  products/debian10/transforms/xccdf2table-stig.xslt
  products/debian11/transforms/xccdf2table-stig.xslt
  products/debian9/transforms/xccdf2table-stig.xslt
  products/example/new_product.sh
  products/firefox/transforms/xccdf2table-stig.xslt
  products/fuse6/transforms/xccdf2table-stig.xslt
  products/jre/transforms/xccdf2table-stig.xslt
  products/macos1015/transforms/xccdf2table-stig.xslt
  products/ol7/transforms/xccdf2table-stig.xslt
  products/ol8/transforms/xccdf2table-stig.xslt
  products/rhcos4/transforms/xccdf2table-stig.xslt
  products/rhel7/transforms/xccdf2table-stig.xslt
  products/rhel8/transforms/xccdf2table-stig.xslt
  products/rhel9/transforms/xccdf2table-stig.xslt
  products/rhv4/transforms/xccdf2table-stig.xslt
  products/sle12/transforms/xccdf2table-stig.xslt
  products/sle15/transforms/xccdf2table-stig.xslt
  products/ubuntu1604/transforms/xccdf2table-stig.xslt
  products/ubuntu1804/transforms/xccdf2table-stig.xslt
  products/ubuntu2004/transforms/xccdf2table-stig.xslt
  products/ubuntu2204/transforms/xccdf2table-stig.xslt
  products/uos20/transforms/xccdf2table-stig.xslt
  products/vsel/transforms/xccdf2table-stig.xslt
  shared/transforms/shared_xccdf-apply-overlay-stig.xslt
  shared/transforms/shared_xccdf2table-stig.xslt
  ssg/xml.py
  utils/create-stig-overlay.py
  utils/gen_srg_table.py
  utils/gen_stig_table.py
  utils/gen_tables_common.py
  utils/tables/stig_template.html
Labels: Infrastructure

#9414 Jinja inside jinja
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_at_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_cron_allow/rule.yml
  linux_os/guide/services/ntp/chronyd_client_only/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_no_chronyc_network/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_no_removeable_media/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/file_groupowner_efi_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_owner_efi_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_permissions_efi_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/uefi_no_removeable_media/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/oval/shared.xml
  shared/macros/01-general.jinja
  shared/templates/accounts_password/bash.template
  shared/templates/kernel_build_config/oval.template
  shared/templates/mount/oval.template
  shared/templates/mount_option/oval.template
  shared/templates/sysctl/bash.template
Labels: needs-ok-to-test

#9420 Fix 5.10 OVAL validation of core_pattern_empty_string rule
  .github/workflows/gate.yaml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/oval/shared.xml
Labels: bugfix, OVAL

#9421 Fix bash and OVAL in account_password_selinux_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/correct_value_multiple_dirs.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/faillock_dir_not_set.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/wrong_value_multiple_dirs.fail.sh
Labels: bugfix, OVAL, Bash

#9345 Create elements with explicit namespace
  cmake/SSGCommon.cmake
  ssg/build_remediations.py
  ssg/build_yaml.py
Labels: Infrastructure

#9332 Unselect empty groups during shorthand creation
  build-scripts/unselect_empty_xccdf_groups.py
  cmake/SSGCommon.cmake
  docs/manual/developer/07_understanding_build_system.md
  ssg/build_yaml.py
Labels: Infrastructure

#9423 Remove bash machine platform condition from core pattern empty string
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern_empty_string/bash/shared.sh
Labels: bugfix, Bash

#9436 Fix namespace of select elements
  ssg/build_yaml.py
Labels: bugfix, BLOCKER
