Repository ComplianceAsCode/content, pull requests merged in 2022-01, with the labels that each got.

#8021 Update dconf_db_up_to_date description to include dconf specific dirs
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/rule.yml
Labels: bugfix

#8028 Add .d directory in OVAL check of `sshd_set_keepalive`
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value_dot_dir.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value_dot_dir.fail.sh
Labels: bugfix

#8034 Clarify controleval.py help text
  utils/controleval.py
Labels: enhancement, Infrastructure

#8037 Removed OSPP MLS from RHEL9
  products/rhel9/profiles/ospp-mls.profile
Labels: RHEL, RHEL9, Update Profile

#8042 mark rhel9 ospp and cui as draft
  products/rhel9/profiles/cui.profile
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile

#8038 Add better error messages to utils/controleval.py and add does not meet to stats output
  utils/controleval.py
Labels: Infrastructure

#8039 Improvements to controls and STIG export
  ssg/controls.py
  tests/unit/ssg-module/data/controls_dir/abcd.yml
  tests/unit/ssg-module/data/controls_dir/jklm.yml
  tests/unit/ssg-module/data/controls_dir/qrst/r5.yml
  tests/unit/ssg-module/test_controls.py
  utils/create_srg_export.py
Labels: Infrastructure

#8026 Use authselect to edit pam files if it is present
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_multiple_times.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_secure.pass.sh
Labels: Ansible, Bash

#8030 Use authselect and custom profile for pam_pwhistory
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/rhel8_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/rhel8_wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/wrong_value.fail.sh
Labels: Ansible, Bash

#7913 Ol7 stig v2r5
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password_legacy/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password_legacy/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_ssh_sysadm_login/rule.yml
  linux_os/guide/system/selinux/selinux_confine_to_least_privilege/rule.yml
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  products/ol7/profiles/stig.profile
  shared/references/disa-stig-ol7-v2r5-xccdf-manual.xml
Labels: Oracle Linux, ok-to-test, Update Rule, Update Profile

#7789 File owner rules
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_audit_configuration/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_audit_configuration/tests/correct_owner.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_audit_configuration/tests/incorrect_owner.fail.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log_syslog/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_binary_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_audit_binaries/rule.yml
  products/ubuntu2004/profiles/stig.profile
  shared/templates/file_owner/ansible.template
  shared/templates/file_owner/tests/missing_file_test.pass.sh
Labels: ok-to-test

#7916 HIPAA Rules in test
  linux_os/guide/system/accounts/accounts-physical/grub2_disable_interactive_boot/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/grub2_disable_interactive_boot/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/ansible/shared.yml
  products/sle15/profiles/hipaa.profile
Labels: Ansible, SLES, ok-to-test, Update Profile

#8047 fix problems with trailing blank lines in audit rules
  linux_os/guide/system/auditing/policy_rules/audit_access_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_failed/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_access_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_basic_configuration/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_basic_configuration/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_create_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_create_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_delete_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_modify_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_module_load/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_module_load/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed/tests/rules_from_audit_package.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success/tests/rules_from_audit_package.pass.sh
  shared/macros-ansible.jinja
  shared/macros-bash.jinja
  shared/macros-oval.jinja
  tests/shared/audit/10-base-config.rules
  tests/shared/audit/11-loginuid.rules
  tests/shared/audit/30-ospp-v42.rules
Labels: bugfix, RHEL9, Test Scenario, Update Rule

#8048 Don't treat 'no_ovirt' and 'ovirt' as packages
  ssg/constants.py
Labels: bugfix

#7788 File permission rules
  linux_os/guide/system/permissions/files/permissions_local_var_log/bash/ubuntu.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/var_logfile_correct_mode.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/world_writable_dir.pass.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log/bash/ubuntu.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log_syslog/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_binary_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/all_dirs_ok.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/owner_only_writable_dir.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/world_writable_dir_on_lib.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/world_writable_dir_on_usr_lib.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_audit_binaries/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/tests/incorrect_permissions.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/tests/incorrect_permissions.fail.sh
  products/ubuntu2004/profiles/stig.profile
  shared/templates/file_permissions/oval.template
Labels: ok-to-test

#8044 Add trivial bash fixes
  linux_os/guide/services/ntp/ntpd_configure_restrictions/bash/shared.sh
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/bash/shared.sh
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_not_default_password/bash/shared.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_strong_rng_csh/bash/shared.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_strong_rng_sh/bash/shared.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/bash/shared.sh
  linux_os/guide/services/usbguard/usbguard_allow_hid_and_hub/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdrivermode/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_defaultnetstreamdriver/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/bash/shared.sh
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_fedora_gpgkey_installed/bash/shared.sh
  shared/macros-bash.jinja
Labels: bugfix

#8058 Fix typo in test scenario for sshd_set_keepalive
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value_dot_dir.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value_dot_dir.fail.sh
Labels: bugfix

#8051 Assign RHEL-08-010287 to configure_ssh_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
Labels: DISA RHEL8 STIG Alignment

#8057 Override templated test scenario for grub2_kernel_trust_cpu_rng
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/tests/arg_not_there.fail.sh
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/tests/wrong_value.fail.sh
Labels: bugfix

#8063 Update grub2_kernel_trust_cpu_rng tests to work on RHEL8 and RHEL9
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/tests/boot_parameter.pass.sh
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/tests/compiled_but_overridden.fail.sh
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/tests/compiled_uppercase.pass.sh
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/tests/missing.fail.sh
Labels: bugfix

#8055 Assign RHEL-08-010331 to dir_permissions_library_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/all_dirs_ok.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/owner_only_writable_dir.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/world_writable_dir_on_lib.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/tests/world_writable_dir_on_usr_lib.fail.sh
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#8066 Fix ansible lint issues and SLE variable selector using explicit forbidden `default` value
  controls/cis_sle12.yml
  controls/cis_sle_15.yml
  linux_os/guide/system/software/updating/ensure_suse_gpgkey_installed/ansible/shared.yml
  tests/ansible-lint_config.yml
Labels: bugfix

#8062 Add condition to SCAPVal script that will trigger when SCAP standard is updated
  tests/run_scapval.py
Labels: enhancement, Infrastructure

#8073 fix wrong Jinja macro for audit_rules_execution_restorecon
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_restorecon/rule.yml
Labels: Update Rule

#7908 Ubuntu specific bash and oval for dconf_gnome_login_banner_text
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/oval/ubuntu.xml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/rule.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/missing_value_stig.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/ubuntu_correct_value_stig.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/ubuntu_missing_value_stig.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/wrong_value_stig.fail.sh
Labels: Ubuntu, ok-to-test, Update Rule

#8080 Fix missing argument for grep command in bash remediation
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
Labels: bugfix

#8081 Update test kickstarts wrt password lifetime restrictions
  tests/kickstarts/test_suite.cfg
  tests/kickstarts/test_suite_rhel7.cfg
  tests/unselect_rules_list
Labels: bugfix

#8082 Fix ansible accounts umask ansible remediations
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_multiple.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/stig_correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/super_compliant.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/wrong_multiple.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/super_compliance.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_configuration.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_multiple.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/tests/missing.fail.sh
Labels: bugfix

#8069 The audit package and auditd service are needed for FAU_GEN.1 SFR.
  linux_os/guide/system/auditing/package_audit_installed/rule.yml
  linux_os/guide/system/auditing/service_auditd_enabled/rule.yml
Labels: Update Rule

#8084 Fix require_emergency_target_auth and require_singleuser_auth in RHEL9
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_value.pass.sh
Labels: bugfix, RHEL9

#8071 Clarify that log_format and name_format affects specifically information included in the audit records, not events for which audit records get generated.
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_log_format/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/rule.yml
Labels: Update Rule

#8072 Ensuring immutable UIDs is related to the subject identity required by FAU_GEN.1.2, it does not affect for wihch events audit records will be generated.
  linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/rule.yml
Labels: Update Rule

#8070 These auditd configurations affect the whole SFR, not just its specific parts.
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_basic_configuration/rule.yml
Labels: Update Rule

#8086 Revert temporary removal of rule
  products/rhel8/profiles/ospp.profile
  tests/data/profile_stability/rhel8/ospp.profile
Labels: bugfix

#8087 Generate release artifacts' checksums
  .github/workflows/release.yaml
  CMakeLists.txt
  cmake/SSGCommon.cmake
Labels: Infrastructure

#8078 Fix addition of elements to a bash array
  shared/templates/pam_options/bash.template
Labels: bugfix

#8100 Fix configure firewalld ports
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
Labels: bugfix, RHEL9

#8101 Fix Ansible and tests for ensure_gpgcheck_globally_activated
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/ansible/sle12.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/ansible/sle15.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/comment.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/line_not_there.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value.fail.sh
Labels: bugfix, RHEL, Ansible, RHEL9, Test Scenario

#8105 Use correct config file in ensure_gpgcheck_local_packages
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/tests/comment.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/tests/correct_value.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/tests/line_not_there.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/tests/wrong_value.fail.sh
Labels: bugfix, Ansible, RHEL9

#8114 The write_logs is related to where audit records end up stored, not what records get generated.
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_write_logs/rule.yml
Labels: Update Rule

#8113 Amend OSPP references for rsyslog omfwd/gtls configuration.
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls/rule.yml
Labels: Update Rule

#8111 On OSPP installation, the primary reason for having rsyslog installed…
  linux_os/guide/system/logging/package_rsyslog_installed/rule.yml
Labels: Update Rule

#8109 sshd_lineinfile ansible macro dir support and directory check fix
  shared/macros-ansible.jinja
  shared/templates/sshd_lineinfile/ansible.template
Labels: Ansible

#8112 Configuring the CA certificate targets the TLS "internal" requirements, so FTP_ITC_EXT.1.1 is not needed.
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls_cacert/rule.yml
Labels: Update Rule

#8110 Make rule network_nmcli_permissions applicable only when polkit is installed
  linux_os/guide/system/network/network_nmcli_permissions/rule.yml
  shared/applicability/general.yml
  shared/checks/oval/installed_env_has_polkit_package.xml
Labels: Update Rule

#8116 remove configure_gnutls_tls_crypto_policy from rhel9
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
  products/rhel9/profiles/stig.profile
Labels: Update Profile

#8098 Ensure all processes are auditable and rules loaded for FAU_GEN.1 are applied.
  linux_os/guide/system/auditing/grub2_audit_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_audit_argument/rule.yml
Labels: Update Rule

#8122 stop building PCI-DSS-centric XCCDF benchmark for RHEL 7
  cmake/SSGCommon.cmake
  shared/transforms/pcidss/PCI_DSS.json
  shared/transforms/pcidss/generate_pcidss_json.py
  shared/transforms/pcidss/refresh_from_pdf.sh
  shared/transforms/pcidss/transform_benchmark_to_pcidss.py
Labels: RHEL, Infrastructure, Highlight

#8124 Update OL8 stig profile rule selection
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned/rule.yml
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, ok-to-test, Update Profile

#8075 Add rules in ocp4/CM-8(3)
  controls/nist_ocp4.yml
Labels: ok-to-test

#8131 Assign RHEL-08-010359 to package_aide_installed
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
Labels: DISA RHEL8 STIG Alignment

#8133 Requirement of not losing data at least to a limit comes from FAU_STG family.
  linux_os/guide/system/auditing/grub2_audit_backlog_limit_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_audit_backlog_limit_argument/rule.yml
Labels: Update Rule
