Repository ComplianceAsCode/content, pull requests merged in 2022-11, with the labels that each got.

#9745 Add pci-dss rule
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/securetty_root_login_console_only/rule.yml
  products/sle15/profiles/pci-dss-4.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: needs-ok-to-test

#9743 Add tests to accounts_password template
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/tests/disabled.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/tests/enable.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/tests/not_defined.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/correct_value_less_than_variable.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/negative_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/wrong_value_0.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minclass/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minclass/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minclass/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/tests/short.fail.sh
  shared/templates/accounts_password/template.py
  shared/templates/accounts_password/tests/commented.fail.sh
  shared/templates/accounts_password/tests/conflicting_values.fail.sh
  shared/templates/accounts_password/tests/correct_value.pass.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/multiple_correct_value.pass.sh
  shared/templates/accounts_password/tests/wrong_value.fail.sh
  shared/templates/accounts_password/tests/wrong_value_directory.fail.sh
  shared/templates/accounts_password/tests/wrong_value_vs_zero.fail.sh
Labels: Test Suite, needs-ok-to-test

#9744 Remove fapolicyd prevent home folder access from the RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00230.yml
  linux_os/guide/services/fapolicyd/fapolicyd_prevent_home_folder_access/rule.yml
Labels: RHEL9, Update Rule, STIG

#9593 Split profile functionality from build_yaml
  ssg/build_yaml.py
  ssg/controls.py
  ssg/entities/common.py
  ssg/entities/profile.py
  ssg/entities/profile_base.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: Infrastructure

#9734 Increment the banner_etc_issue_net rule
  controls/cis_rhel7.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/tests/banner_etc_issue_disa_dod_default_banner.pass.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/tests/banner_etc_issue_disa_dod_default_banner_no_newline.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/tests/banner_etc_issue_disa_double_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/tests/banner_etc_issue_disa_usgcb_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/tests/banner_etc_issue_disa_with_extra_line.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/bash/shared.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/oval/shared.xml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_cis_mingetty.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_cis_osid.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_cis_recommended.pass.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_cis_valid_content.pass.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_disa_dod_default_banner.pass.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_disa_dod_default_banner_no_newline.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_disa_dod_short.pass.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_disa_double_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_disa_usgcb_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_disa_with_extra_line.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_ospp_usbcg_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/tests/banner_etc_issue_net_ospp_usbcg_banner.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: Ansible, RHEL7, RHEL8, CIS

#9732 Updates according to DISA updates published on 21.10.2022
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/rule.yml
Labels: needs-ok-to-test, Update Rule, STIG

#9751 Dconf macros update to align them with OVAL expectation
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value_stig_wrong_db.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/wrapped_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_locked/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_delay/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_enabled/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_locked/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_user_locks/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/tests/correct_value_wrong_db.fail.sh
  shared/macros/10-bash.jinja
Labels: Ansible, OVAL, needs-ok-to-test

#9750 rsyslog_files_permissions: Consider the last field in the config line the log file path
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_cloudinit.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0601_cloudinit.fail.sh
Labels: bugfix, Bash

#9763 SRG Diff: Add section for rows without a CCE
  utils/srg_diff.html
  utils/srg_diff.py
Labels: Infrastructure

#9767 Make the utils/srg_diff.py more generic
  docs/manual/developer/05_tools_and_utilities.md
  utils/srg_diff.html
  utils/srg_diff.py
Labels: Infrastructure

#9766 Fix Automatus --duplicate-templates
  tests/ssg_test_suite/rule.py
Labels: Test Suite

#9777 parametrize methods for getting remediation conditionals of XCCDF platforms
  ssg/build_remediations.py
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: Infrastructure

#9775 Remove STIGIDs from deprecated rule
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/rule.yml
Labels: Oracle Linux, RHEL8, STIG

#9757 Remove deprecated code
  build-scripts/verify_references.py
  ssg/id_translate.py
Labels: enhancement, refactoring

#9779 build_remediations.py: deduplicate code which retrieves conditionals
  ssg/build_remediations.py
Labels: Infrastructure, CPE-AL

#9780 Update RHEL8 STIG to V1R8
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r7-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v1r8-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#9781 Update RHEL7 STIG to V3R9
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r9-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r9-xccdf-scap.xml
Labels: Update Profile, RHEL7, STIG

#9795 Enable opensc_card_drivers rules for sle12 platform
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/configure_opensc_card_drivers/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/force_opensc_card_drivers/rule.yml
  shared/references/cce-sle12-avail.txt
Labels: needs-ok-to-test

#9466 Duplicated rules for pam_faillock dir parameter
  controls/srg_gpos/SRG-OS-000021-GPOS-00005.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/expected_faillock_conf.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/wrong_faillock_conf.fail.sh
  shared/references/cce-redhat-avail.txt
Labels: Oracle Linux, RHEL9, RHEL8, STIG

#9783 Fix broken Automatus CI jobs
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus.yaml
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
Labels: BLOCKER

#9793 Enable dconf_gnome_screensaver_idle_activation_enabled for sle12 platform
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/rule.yml
  shared/references/cce-sle12-avail.txt
Labels: needs-ok-to-test

#9773 Fix nmcli bug
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/ansible/shared.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/shared.sh
Labels: Ansible, Bash, needs-ok-to-test

#9778 Add sorted results to srg_diff
  utils/srg_diff.py
Labels: Infrastructure

#9787 Add Smoke Tests for Some Scripts
  .github/workflows/gate.yaml
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/data/utils/disa-stig-rhel8-v1r6-xccdf-manual.xml
  tests/data/utils/rhel9_stig_diff_base.xlsx
Labels: enhancement, Infrastructure

#9798 sshd_disable_compression: Add test for paramemter conflicts
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/tests/param_conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/tests/param_conflict_directory.fail.sh
Labels: RHEL8, STIG

#9791 Add accounts_password_pam_unix_remember rule to sle12 pci-dss
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/wrong_value.fail.sh
  shared/references/cce-sle12-avail.txt
Labels: SLES, needs-ok-to-test, pci-dss

#9799 Platforms can accept parameters and pass them to underlying CPE items
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/utils.py
  tests/unit/ssg-module/data/applicability/package.yml
  tests/unit/ssg-module/test_boolean_expressions.py
  tests/unit/ssg-module/test_build_yaml.py
  tests/unit/ssg-module/test_utils.py
Labels: Infrastructure, CPE-AL

#9805 accounts_password_pam_retry: Add test for dupes and conflicts
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_conflicting_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_duplicate_values.pass.sh
Labels: RHEL8, STIG

#9802 sshd_lineinfile: Add tests for duplicated params
  shared/templates/sshd_lineinfile/tests/duplicated_param.pass.sh
  shared/templates/sshd_lineinfile/tests/duplicated_param_directory.pass.sh
Labels: Test Suite

#9806 Align `service_disabled` template to `service_enabled`
  shared/templates/service_disabled/ansible.template
Labels: Ansible

#9810 Update gitignore
  .gitignore
  tests/.gitignore
Labels: Documentation

#9800 sshd_rekey_limit: Identify conflicting RekeyLimit configuration
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/duplicated_param.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/param_conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/param_conflict_directory.fail.sh
Labels: RHEL8, STIG

#9811 SRG Export XLSX in CMake
  CMakeLists.txt
  cmake/SSGCommon.cmake
  products/rhel9/CMakeLists.txt
  utils/rule_dir_json.py
Labels: Infrastructure

#9794 Add set password hashing algorithm libuserconf to sle12
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_libuserconf/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_libuserconf/rule.yml
  shared/references/cce-sle12-avail.txt
Labels: needs-ok-to-test

#9818 sysctl: Make template aware of /usr/local/lib/sysctl.d
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/oval.template
  shared/templates/sysctl/tests/correct_value_usr_local_lib.pass.sh
  shared/templates/sysctl/tests/wrong_value_usr_local_lib.fail.sh
Labels: RHEL8, STIG

#9816 STIG Alignment for RHEL-08-020352
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/tests/bash_history_ignored.pass.sh
Labels: RHEL8, STIG

#9833 Refactor CPE AL
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/utils.py
  tests/unit/ssg-module/test_boolean_expressions.py
  tests/unit/ssg-module/test_platform_expressions.py
Labels: CPE-AL

#9838 Add config for Ansible lint
  .config/ansible-lint.yml
Labels: Infrastructure

#9796 CI ansible hardening and rename of existing Bash hardening
  tests/fmf-plans/ansible-ospp.fmf
  tests/fmf-plans/bash-anssi.fmf
  tests/fmf-plans/bash-cis.fmf
  tests/fmf-plans/bash-ospp.fmf
  tests/fmf-plans/bash-stig.fmf
Labels: enhancement, Ansible, Test Suite, Highlight

#9801 Include new maintainers teams in CODEOWNERS
  CODEOWNERS
Labels: governance

#9843 Update contributors list for v0.1.65 release
  Contributors.md
  Contributors.xml
Labels: Documentation, Highlight

#9817 Update ocil and fixtext in fapolicy_default_deny rule
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/oval/shared.xml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/allow_policy.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/commented_value.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/correct_value.pass.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_not_last.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_policy.pass.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_policy_but_permissive.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_policy_commented.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_policy_not_ensured.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/fapolicy_permissive.fail.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/wrong_value.fail.sh
  shared/macros/10-bash.jinja
Labels: RHEL8, STIG

#9825 Update instructions for TLS cipher suite algorithms
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/rule.yml
Labels: OpenShift

#9845 Add Sanity Test for generate_contributors.py
  .github/workflows/gate.yaml
  CMakeLists.txt
  tests/CMakeLists.txt
  utils/generate_contributors.py
Labels: Documentation

#9850 macros: Fix load order of `ocil_fix_srg_privileged_command`
  docs/jinja_macros/20-rules.rst
  shared/macros/01-general.jinja
  shared/macros/20-rules.jinja
Labels: bugfix

#9851 Fix indentation in Ansible shell module parameter
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/ansible/shared.yml
Labels: bugfix, Ansible, productization-issue

#9860 Unselect nfs-utils removal rule as GUI installation reqires the package
  products/rhel9/profiles/stig_gui.profile
Labels: RHEL9, STIG

#9813 CMP-1389: SRG-APP-000014-CTR-000040: Needs an automated rule to check for TLS Security Profile
  applications/openshift/api-server/api_server_tls_security_profile/oval/shared.xml
  applications/openshift/api-server/api_server_tls_security_profile/rule.yml
  applications/openshift/api-server/api_server_tls_security_profile/tests/no_file.fail.sh
  applications/openshift/api-server/api_server_tls_security_profile/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_tls_security_profile/tests/tls_security_profile.fail.sh
  applications/openshift/api-server/api_server_tls_security_profile/tests/tls_security_profile.pass.sh
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/kubernetes/shared.yml
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/rule.yml
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/tests/no_file.fail.sh
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/tests/tls_security_profile.pass.sh
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/tests/tls_security_profile_custom.fail.sh
  applications/openshift/api-server/api_server_tls_security_profile_not_old/kubernetes/shared.yml
  applications/openshift/api-server/api_server_tls_security_profile_not_old/rule.yml
  applications/openshift/api-server/api_server_tls_security_profile_not_old/tests/no_file.fail.sh
  applications/openshift/api-server/api_server_tls_security_profile_not_old/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_tls_security_profile_not_old/tests/tls_security_profile.pass.sh
  applications/openshift/api-server/api_server_tls_security_profile_not_old/tests/tls_security_profile_old.fail.sh
  controls/nist_ocp4.yml
  controls/srg_ctr/SRG-APP-000014-CTR-000040.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test

#9834 Refactor build_cpe.py
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/utils.py
Labels: Infrastructure

#9827 Formatting and bug fixes in utils/import_srg_spreadsheet.py
  utils/import_srg_spreadsheet.py
Labels: Infrastructure

#9864 Ensure pwquality.conf.d dir exists on test scenarios
  shared/templates/accounts_password/tests/conflicting_values_directory.fail.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/multiple_correct_value.pass.sh
  shared/templates/accounts_password/tests/wrong_value_directory.fail.sh
Labels: bugfix, Test Suite, productization-issue

#9865 Ensure pwquality.conf.d dir exists on test scenarios - main branch
  shared/templates/accounts_password/tests/conflicting_values_directory.fail.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/multiple_correct_value.pass.sh
  shared/templates/accounts_password/tests/wrong_value_directory.fail.sh
Labels: bugfix, Test Suite, productization-issue

#9877 Include warning regarding quota options in XFS
  linux_os/guide/system/permissions/partitions/mount_option_home_grpquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_usrquota/rule.yml
Labels: Update Rule

#9870 Refactor templates v2
  .editorconfig
  apple_os/auditing/service_com_apple_auditd_enabled/rule.yml
  ssg/build_cpe.py
  ssg/build_sce.py
  ssg/build_yaml.py
  ssg/constants.py
  ssg/entities/common.py
  ssg/entities/profile_base.py
  ssg/templates.py
  tests/ssg_test_suite/common.py
  tests/unit/ssg-module/data/templates/extra_ovals.yml
  tests/unit/ssg-module/data/templates/package_installed/oval.template
  tests/unit/ssg-module/data/templates/package_installed/template.py
  tests/unit/ssg-module/data/templates/package_installed/template.yml
  tests/unit/ssg-module/test_templates.py
Labels: Infrastructure, CPE-AL

#9852 Add set_firewalld_default_zone rule to PCI DSS profile for sle15
  controls/pcidss_3.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
Labels: SLES, needs-ok-to-test, pci-dss

#9878 Map selinux_user_login_roles to RHEL-08-040400
  linux_os/guide/system/selinux/selinux_user_login_roles/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#9903 Update the sshd_set_keepalive regarding ClientAliveCountMax
  controls/stig_rhel8.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/policy/stig/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value_dot_dir.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/param_conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/param_conflict_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value_dot_dir.fail.sh
Labels: bugfix, Update Rule

#9884 Pci dss collect sudoers
  controls/cis_sle_15.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/rule.yml
  products/sle15/profiles/pci-dss-4.profile
Labels: SLES, pci-dss

#9904 Add audit_rules_kernel_module_loading_create to OL7 STIG profile
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/tests/default.fail.sh
  products/ol7/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, RHEL7, STIG

#9889 Small Ol7 updates, rule additions, and incorporation in JINJA statements
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_percentage/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/oval/shared.xml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_rate_limiting/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
  products/ol7/profiles/stig.profile
  shared/templates/kernel_module_disabled/oval.template
Labels: Oracle Linux, needs-ok-to-test

#9875 Add documentation about readthedocs.org integration
  docs/README.md
Labels: Documentation

#9897 Add automatic detection of platform_package_overrides when using automatus
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/missing_ocsp.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/rules_not_there.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_list_action.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_syscall.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/default.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/default.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value_default_file.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value_non-root_group.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value_default_file.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value_non-root_group.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/tests/wrong_value.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_and_wrong_value_multiple_possible.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_and_wrong_value_one_possible.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_value_multiple_possible.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_value_one_possible.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/no_value.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/wrong_value.fail.sh
  products/ol7/product.yml
  products/rhel7/product.yml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
  tests/README.md
  tests/ssg_test_suite/rule.py
Labels: Infrastructure, Test Suite, Highlight

#9880 Fix config file path in dconf_gnome_screensaver_lock_locked yaml file
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_locked/rule.yml
Labels: RHEL, Oracle Linux, needs-ok-to-test

#9890 CMP-1389: SRG-APP-000014-CTR-000040: Needs an automated rule to check IngressController tlsSecurityProfile
  applications/openshift/networking/ingress_controller_tls_security_profile/oval/shared.xml
  applications/openshift/networking/ingress_controller_tls_security_profile/rule.yml
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/no_file.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/tls_security_profile.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/tls_security_profile.pass.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/kubernetes/shared.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/rule.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/no_file.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/tls_security_profile.pass.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/tls_security_profile_custom.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/kubernetes/shared.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/rule.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/no_file.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/tls_security_profile.pass.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/tls_security_profile_old.fail.sh
  controls/nist_ocp4.yml
  controls/srg_ctr/SRG-APP-000014-CTR-000040.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test

#9911 Stabilization: Make Ansible remediation less prone to fatal errors
  linux_os/guide/system/selinux/grub2_enable_selinux/ansible/shared.yml
  linux_os/guide/system/selinux/grub2_enable_selinux/oval/shared.xml
  linux_os/guide/system/selinux/grub2_enable_selinux/rule.yml
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_default_grub.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_default_grub_missing.pass.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_everywhere.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_grub_cfg.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_grub_d.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_enable_similar_line.pass.sh
Labels: Ansible, productization-issue

#9914 Make Ansible remediation less prone to fatal errors
  linux_os/guide/system/selinux/grub2_enable_selinux/ansible/shared.yml
  linux_os/guide/system/selinux/grub2_enable_selinux/oval/shared.xml
  linux_os/guide/system/selinux/grub2_enable_selinux/rule.yml
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_default_grub.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_default_grub_missing.pass.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_everywhere.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_grub_cfg.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_grub_d.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_enable_similar_line.pass.sh
Labels: Ansible
