Repository ComplianceAsCode/content, pull requests merged in 2022-09, with the labels that each got.

#9448 Remove RHEL 9 SRG GPOS Profile
  products/rhel9/profiles/srg_gpos.profile
Labels: RHEL9, Update Profile, STIG

#9447 bugfix: tests: do not use sudo, tests are run using root
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/tests/no_empty_password_present.pass.sh
  linux_os/guide/system/bootloader-grub2/grub2_mitigation_argument/tests/grubby_correct_value.pass.sh
  linux_os/guide/system/bootloader-grub2/grub2_mitigation_argument/tests/grubby_wrong_value.fail.sh
  linux_os/guide/system/logging/ensure_rtc_utc_configuration/tests/ensure_rtc_utc_fail.sh
  linux_os/guide/system/logging/ensure_rtc_utc_configuration/tests/ensure_rtc_utc_pass.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_rootpw.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_runaspw.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_targetpw.fail.sh
  shared/templates/mount_option_remote_filesystems/tests/correct_option.pass.sh
  shared/templates/mount_option_remote_filesystems/tests/wrong_option.fail.sh
Labels: needs-ok-to-test

#9427 Update Ansible styleguide to prefix tasks names
  docs/manual/developer/04_style_guide.md
Labels: Documentation

#9439 Include enable_authselect rule for RHEL9 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/system/accounts/enable_authselect/rule.yml
  products/rhel9/profiles/stig.profile
Labels: RHEL9, STIG

#9453 Remove redundant rules from RHEL9 STIG
  controls/srg_gpos/SRG-OS-000077-GPOS-00045.yml
Labels: RHEL9, STIG

#9449 Remove pam_unix_rounds rules from the RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
Labels: RHEL9, Update Profile, STIG

#9440 Conditional for Ansible remediation on RHEL7
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
Labels: bugfix, Ansible, RHEL7

#9438 Enable Security Content workshop into Gitpod environment
  .gitpod.yml
  README.md
  docs/workshop/README.adoc
  docs/workshop/data/Dockerfiles/test_suite-fedora
  docs/workshop/data/Dockerfiles/test_suite-rhel8
  docs/workshop/data/accounts_tmout/ansible/shared.yml
  docs/workshop/data/accounts_tmout/bash/shared.sh
  docs/workshop/data/accounts_tmout/oval/shared.xml
  docs/workshop/data/accounts_tmout/rule_yml
  docs/workshop/data/ospp-fedora.profile
  docs/workshop/data/ospp-rhel7.profile
  docs/workshop/data/ospp-rhel8.profile
  docs/workshop/data/rule_accounts_tmout/comment.fail.sh
  docs/workshop/data/rule_accounts_tmout/correct_value.pass.sh
  docs/workshop/data/rule_accounts_tmout/line_not_there.fail.sh
  docs/workshop/data/rule_accounts_tmout/wrong_value.fail.sh
  docs/workshop/data/ssh_config
  docs/workshop/images/0-02-post_build.png
  docs/workshop/images/0-03-remediation.png
  docs/workshop/images/2-01-guide.png
  docs/workshop/images/2-03-remediation.png
  docs/workshop/images/2-03-report.png
  docs/workshop/images/2-04-rule.png
  docs/workshop/images/4-01-guide.png
  docs/workshop/images/accounts_tmout_folder.png
  docs/workshop/images/download_datastream.png
  docs/workshop/images/html_guide.png
  docs/workshop/images/lab1.1-scapreport.png
  docs/workshop/images/lab1.2-newprofileID.png
  docs/workshop/images/lab1.2-savecustomization.png
  docs/workshop/images/lab1.2-scapworkbenchscan.png
  docs/workshop/images/lab2_html_report_folder.png
  docs/workshop/images/load_content.png
  docs/workshop/images/navigateospp.png
  docs/workshop/images/navigatetravel.png
  docs/workshop/images/scap_report_fail.png
  docs/workshop/images/scap_report_pass.png
  docs/workshop/images/scap_workbench_opened.png
  docs/workshop/images/scap_workbench_tailoring.png
  docs/workshop/images/select_profile.png
  docs/workshop/images/session_timeout.png
  docs/workshop/lab1_introduction.adoc
  docs/workshop/lab2_openscap.adoc
  docs/workshop/lab3_profiles.adoc
  docs/workshop/lab4_ansible.adoc
  docs/workshop/lab5_oval.adoc
  docs/workshop/labs_setup.yml
  docs/workshop/next_steps_with_complianceascode.adoc
Labels: Documentation

#9457 Bump version of OL8 to V1R3 and update STIG ids
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_setxattr/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v1r3-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, Update Rule, Update Profile, STIG

#9416 Add a script to import SRG export changes
  .mdl.rb
  docs/manual/developer/05_tools_and_utilities.md
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  shared/schemas/rule.json
  ssg/build_yaml.py
  utils/import_srg_spreadsheet.py
Labels: Infrastructure, STIG

#9465 Make groups inherit platforms from parent groups
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: Infrastructure, CPE-AL

#9471 bugfix: package_gdm_removed: package name is gdm, not quagga
  linux_os/guide/system/software/gnome/package_gdm_removed/rule.yml
Labels: bugfix, needs-ok-to-test, RHEL9, STIG

#9428 Add missing SRG references for RHEL 9 STIG
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_cron_allow/rule.yml
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shadow/rule.yml
Labels: RHEL9, Update Rule, STIG

#9473 Fix vuldiscussion key in utils/import_srg_spreadsheet.py
  utils/import_srg_spreadsheet.py
Labels: bugfix, Infrastructure

#9467 bugfix: accounts_password_all_shadowed_sha512: add !* as locked
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/tests/sha512_password.pass.sh
Labels: needs-ok-to-test

#9469 bugfix: service_sssd_enabled: fix tests
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
  linux_os/guide/services/sssd/service_sssd_enabled/tests/common.sh
  linux_os/guide/services/sssd/service_sssd_enabled/tests/service_disabled.fail.sh
  linux_os/guide/services/sssd/service_sssd_enabled/tests/service_enabled.pass.sh
Labels: bugfix, needs-ok-to-test

#9478 Introduce hipaa profile for ol9
  linux_os/guide/services/cron_and_at/service_crond_enabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_servers/use_kerberos_security_all_exports/rule.yml
  linux_os/guide/services/obsolete/r_services/service_rlogin_disabled/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_system_shutdown/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  linux_os/guide/system/network/network-ipsec/libreswan_approved_tunnels/rule.yml
  linux_os/guide/system/selinux/grub2_enable_selinux/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execmod/rule.yml
  linux_os/guide/system/selinux/selinux_confinement_of_daemons/rule.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/rule.yml
  linux_os/guide/system/software/gnome/gnome_remote_access_settings/dconf_gnome_remote_access_credential_prompt/rule.yml
  linux_os/guide/system/software/gnome/gnome_remote_access_settings/dconf_gnome_remote_access_encryption/rule.yml
  products/ol9/profiles/hipaa.profile
Labels: needs-ok-to-test

#9452 Remove support for upstart init system
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/bash/shared.sh
  shared/checks/oval/audit_rules_auditctl.xml
  shared/checks/oval/audit_rules_augenrules.xml
  shared/macros/01-general.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-ocil.jinja
  shared/templates/service_disabled/ansible.template
  shared/templates/service_disabled/bash.template
  shared/templates/service_disabled/oval.template
  shared/templates/service_enabled/bash.template
  shared/templates/service_enabled/oval.template
Labels: enhancement

#9474 Update macros to use more STIG like language
  shared/macros/10-fixtext.jinja
  shared/macros/10-srg_requirement.jinja
Labels: RHEL9, STIG

#9477 Fix audit_rules_privileged_commands_kmod rule in RHEL7
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/ansible/rhel7.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/oval/rhel7.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/wrong_value.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  shared/templates/audit_rules_login_events/oval.template
  shared/templates/audit_rules_usergroup_modification/oval.template
Labels: bugfix, OVAL

#9446 sshd_rekey_limit: tests fixes
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_size.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_size_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_time.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_time_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/no_line.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/no_line_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/rhel7.ok.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/rhel8_ospp_ok.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/rhel9_ospp_ok.pass.sh
Labels: needs-ok-to-test

#9480 change parameter of findmnt used in bash partition conditional
  shared/macros/10-bash.jinja
Labels: bugfix, Bash, RHEL7

#8905 Create mount_option_home template and use it in ol8
  linux_os/guide/system/permissions/partitions/mount_option_home_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/tests/fstab.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/tests/runtime.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/tests/separate.fail.sh
  shared/templates/mount_option_home/bash.template
  shared/templates/mount_option_home/oval.template
  shared/templates/mount_option_home/template.yml
  shared/templates/mount_option_home/tests/fstab_template.fail.sh
  shared/templates/mount_option_home/tests/runtime_template.pass.sh
  shared/templates/mount_option_home/tests/separate_template.pass.sh
Labels: ok-to-test, New Template

#9488 Add ordering to the `platform` key
  docs/manual/developer/04_style_guide.md
Labels: Documentation

#9483 RHEL9 STIG Adjustments
  linux_os/guide/services/fapolicyd/package_fapolicyd_installed/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
  shared/macros/10-srg_requirement.jinja
Labels: RHEL9, STIG

#9489 Updates RHEL 9 STIG: Part 3
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  linux_os/guide/system/selinux/package_policycoreutils_installed/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_home/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log_audit/rule.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/rule.yml
  shared/macros/10-fixtext.jinja
  shared/macros/10-ocil.jinja
  shared/macros/10-srg_requirement.jinja
Labels: RHEL9, Update Rule, STIG

#9491 correct inheritance of platforms by rules from groups
  ssg/build_yaml.py
  tests/test_machine_only_rules.py
Labels: bugfix, Infrastructure, Test Suite

#9487 Add tests to audit privileged commands template
  shared/templates/audit_rules_privileged_commands/tests/auditctl_comented_value.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/auditctl_correct_value.pass.sh
  shared/templates/audit_rules_privileged_commands/tests/auditctl_missing_auid.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/auditctl_missing_perm_x.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_comented_value.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_correct_value.pass.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_missing_auid.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_missing_perm_x.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/common.sh
Labels: Test Suite, needs-ok-to-test

#9481 Improve HTML for Table Templates
  utils/tables/reference_tables_template.html
  utils/tables/tables_template_common.html
Labels: Infrastructure

#9493 SRG Export: Improve vuldiscussion sourcing
  utils/create_srg_export.py
Labels: Infrastructure, STIG

#9492 Remove empty load operation
  ssg/build_yaml.py
Labels: Infrastructure

#9494 OCP: Add var_access_token_inactivity_timeout_seconds
  applications/openshift/authentication/oauthclient_inactivity_timeout/rule.yml
  applications/openshift/authentication/oauthclient_inactivity_timeout/tests/correct.pass.sh
  applications/openshift/authentication/var_access_token_inactivity_timeout_seconds.var
Labels: bugfix, OpenShift

#9486 Update regex in OVAL for harden_sshd_ciphers_opensshserver_conf_crypto_policy rule
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/oval/shared.xml
Labels: bugfix, OVAL, Oracle Linux, needs-ok-to-test, RHEL8, STIG

#9507 Update chronyd_or_ntpd_set_maxpoll to align with RHEL9 STIG
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
Labels: RHEL9, Update Rule, STIG

#9501 Update account_password_selinux_faillock_dir rule
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/rule.yml
Labels: RHEL9, Update Rule, STIG

#9503 Remove audit_rules_execution_restorecon from SRG control files.
  controls/srg_gpos/SRG-OS-000392-GPOS-00172.yml
  controls/srg_gpos/SRG-OS-000463-GPOS-00207.yml
  controls/srg_gpos/SRG-OS-000465-GPOS-00209.yml
Labels: RHEL9, Update Rule, STIG

#9518 Add tests to rule no_tmux_in_shells
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/tests/tmux_absent.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/tests/tmux_present.fail.sh
Labels: Infrastructure, needs-ok-to-test

#9499 Update some account rules according to RHEL9 STIG
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_no_uid_except_zero/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_max_concurrent_login_sessions/rule.yml
Labels: RHEL9, Update Rule, STIG

#9521 Include checktest for banner_etc_issue rule
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/rule.yml
Labels: RHEL9, Update Rule, STIG

#9526 Fix the column letters for SRG VulDiscussion and VulDiscussion
  utils/import_srg_spreadsheet.py
Labels: Infrastructure

#9520 Update pam_faillock rules for RHEL9 STIG
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
Labels: RHEL9, Update Rule, STIG

#9516 Add tests to rule dir_perms_world_writable_system_owned_group
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned_group/tests/correct_setting.pass.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned_group/tests/wrong_setting.fail.sh
Labels: needs-ok-to-test, Update Rule

#9510 Update clean_components_post_updating to align with RHEL9 STIG
  linux_os/guide/system/software/updating/clean_components_post_updating/rule.yml
Labels: RHEL9, Update Rule, STIG

#9496 Update accounts_umask_etc_profile
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/rule.yml
Labels: RHEL9, Update Rule, STIG

#9524 Add audit_rules_kernel_module_loading_create to RHEL7 STIG profile
  products/rhel7/profiles/stig.profile
Labels: Update Profile, RHEL7, STIG

#9513 Update audit rules RHEL9 STIG metadata
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_lastlog/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
  shared/macros/10-fixtext.jinja
  shared/macros/10-srg_requirement.jinja
Labels: RHEL9, Update Rule, STIG

#9517 Add tests to dir_perms_world_writable_system_owned
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned/tests/correct_setting.pass.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned/tests/wrong_setting.fail.sh
Labels: needs-ok-to-test, Update Rule

#9532 Add tests to no_host_based_files
  linux_os/guide/services/obsolete/r_services/no_host_based_files/tests/file_absent.pass.sh
  linux_os/guide/services/obsolete/r_services/no_host_based_files/tests/file_present.fail.sh
Labels: needs-ok-to-test, Update Rule

#9497 Update rule CCE-83441-6 with RHEL9 STIG assessment
  linux_os/guide/system/software/integrity/fips/sysctl_crypto_fips_enabled/rule.yml
Labels: RHEL9, Update Rule, STIG

#9530 Add tests to clean_components_post_updating
  linux_os/guide/system/software/updating/clean_components_post_updating/tests/yum_commented.fail.sh
  linux_os/guide/system/software/updating/clean_components_post_updating/tests/yum_correct.pass.sh
  linux_os/guide/system/software/updating/clean_components_post_updating/tests/yum_wrong_value.fail.sh
Labels: Fedora, RHEL, Oracle Linux, needs-ok-to-test, Update Rule

#9502 Update macros from audit privileged commands
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_chacl/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_setfacl/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_chcon/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_semanage/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setfiles/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setsebool/rule.yml
  shared/macros/01-general.jinja
  shared/macros/10-fixtext.jinja
  shared/macros/10-ocil.jinja
  shared/macros/10-srg_requirement.jinja
Labels: RHEL9, Update Rule, STIG

#9363 Avoid sed hack
  cmake/SSGCommon.cmake
Labels: enhancement, Infrastructure

#9514 Update some PAM rules for RHEL9 STIG
  controls/srg_gpos.yml
  controls/srg_gpos/SRG-OS-000069-GPOS-00037.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/rule.yml
Labels: RHEL9, Update Rule, STIG

#9504 Add variable for auditd freq
  controls/srg_gpos/SRG-OS-000051-GPOS-00024.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_freq/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_freq.var
Labels: RHEL9, Update Rule, STIG

#9506 Align rule audit_rules_immutable with results of RHEL9 STIG assesment
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable/rule.yml
Labels: RHEL9, Update Rule, STIG

#9534 Use custom content for auditd_name_format because of different path in EL7
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/tests/commented_out.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/tests/empty.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/tests/file_not_present.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/tests/not_present.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/tests/setup.sh
Labels: bugfix, RHEL7, STIG

#9450 Move kernel_module_disabled use more genric RHEL in conditionals
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/tests/missing_blacklist.fail.sh
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/kernel_module_disabled/bash.template
  shared/templates/kernel_module_disabled/oval.template
  shared/templates/kernel_module_disabled/tests/correct_value_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_run_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_run_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_usr_lib_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_usr_lib_modules_load_d.pass.sh
Labels: Ansible, OVAL, Bash

#9459 Update accounts_password template's OVAL
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/template.py
Labels: OVAL, needs-ok-to-test

#9512 Update rules for RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000047-GPOS-00023.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_difok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxrepeat/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minclass/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_home_paths_only/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action_stig/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action_stig/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_action/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action_stig/rule.yml
Labels: RHEL9, Update Rule, STIG

#9500 Update chronyd_client_only to align with RHEL9 STIG
  linux_os/guide/services/ntp/chronyd_client_only/rule.yml
Labels: RHEL9, Update Rule, STIG

#9539 Remove superflous check of rule ID consistency
  build-scripts/relabel_ids.py
  ssg/build_renumber.py
Labels: Infrastructure

#9519 Add tests to auditd_lineinfile template
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/commented.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/correct_value_capital.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/double_assignment.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/missing_file.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/missing_value.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/wrong_value.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/tests/wrong_value_capital.fail.sh
  shared/templates/auditd_lineinfile/tests/commented.fail.sh
  shared/templates/auditd_lineinfile/tests/correct_value.pass.sh
  shared/templates/auditd_lineinfile/tests/correct_value_capital.pass.sh
  shared/templates/auditd_lineinfile/tests/double_assignment.fail.sh
  shared/templates/auditd_lineinfile/tests/missing_file.fail.sh
  shared/templates/auditd_lineinfile/tests/missing_value.fail.sh
  shared/templates/auditd_lineinfile/tests/wrong_value.fail.sh
  shared/templates/auditd_lineinfile/tests/wrong_value_capital.fail.sh
  ssg/constants.py
Labels: Infrastructure, needs-ok-to-test

#9527 Update rules for RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000343-GPOS-00134.yml
  linux_os/guide/services/fapolicyd/fapolicyd_prevent_home_folder_access/rule.yml
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_after_time/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_command/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/configure_opensc_card_drivers/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/tests/no_percent_sign.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/tests/space_left_greater_than_minimum.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/tests/space_left_minimum_value.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/tests/space_left_not_enough.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/tests/space_left_not_there.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_action/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_percentage/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_admin_space_left_percentage.var
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_ports/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL9, Update Rule, STIG

#9550 Unselect configure_gnutls_tls_crypto_policy in RHEL9 STIG.
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000423-GPOS-00187.yml
Labels: RHEL9, STIG

#9490 Improve ansible remediation of accounts_umask_etc_login_defs
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/ansible/shared.yml
  tests/ssg_test_suite/oscap.py
Labels: Ansible

#9543 add warning to sysctl_net_ipv4_conf_all_forwarding
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
Labels: bugfix, RHEL8

#9555 [Master] add warning to sysctl_net_ipv4_conf_all_forwarding
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
Labels: bugfix, RHEL8

#9554 [Master] add accounts_password_set_max_life_existing to unselect_rules_list
  tests/unselect_rules_list
Labels: Test Suite

#9464 Generate XCCDF 1.2 directly
  build-scripts/cpe_generate.py
  build-scripts/relabel_ids.py
  cmake/SSGCommon.cmake
  docs/manual/developer/02_building_complianceascode.md
  ssg/build_remediations.py
  ssg/build_renumber.py
  ssg/build_yaml.py
  ssg/checks.py
  ssg/constants.py
Labels: Infrastructure, CPE-AL

#9558 Do not remove remediation for FIPS related rules in derivatives.
  ssg/build_derivatives.py
Labels: RHEL9

#9562 Fix OL7 URL documentation link
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/rule.yml
Labels: bugfix, Oracle Linux

#9563 [stabilization] Fix OL7 URL documentation link.
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/rule.yml
Labels: bugfix, Oracle Linux

#9561 [Stabilization] Do not remove remediation for FIPS related rules in derivatives.
  ssg/build_derivatives.py
Labels: bugfix, RHEL9

#9484 Add bash and ansible remediation for rsyslog_remote_tls
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls/ansible/shared.yml
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls/bash/shared.sh
Labels: Ansible, Bash, needs-ok-to-test

#9552 Disable anaconda remediation of mount_option_boot_efi_nosuid
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
Labels: bugfix

#9567 [stabilization] Disable anaconda remediation of mount_option_boot_efi_nosuid.
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
Labels: bugfix, RHEL9, STIG

#9531 Add tests to dconf_gnome_session_idle_user_locks
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/tests/comented_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/tests/missing_value.fail.sh
Labels: needs-ok-to-test

#9565 Use string type in `var_event_record_qps` OpenShift Variable
  applications/openshift/kubelet/var_event_record_qps.var
Labels: bugfix, OpenShift

#9553 Add support for regulated fields
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: Infrastructure

#9572 [stabilization] Unselect configure_gnutls_tls_crypto_policy in RHEL9 STIG
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000423-GPOS-00187.yml
Labels: RHEL9, STIG

#9571 Add profile for SUSE SAP Public Cloud Images
  products/sle15/profiles/pcs-hardening-sap.profile
Labels: SLES, needs-ok-to-test, New Profile

#9570 SRG Import/Export Uses Policy Specific Content
  utils/create_srg_export.py
  utils/import_srg_spreadsheet.py
Labels: Infrastructure

#9576 [stablization] Move kernel_module_disabled use more genric RHEL in conditionals
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/tests/missing_blacklist.fail.sh
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/kernel_module_disabled/bash.template
  shared/templates/kernel_module_disabled/oval.template
  shared/templates/kernel_module_disabled/tests/correct_value_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_run_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_run_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_usr_lib_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_usr_lib_modules_load_d.pass.sh
Labels: bugfix, backported-into-stabilization

#9575 [stablization] Fix uefi platform rule
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
  products/rhel8/profiles/stig.profile
  shared/applicability/firmware.yml
  shared/applicability/virtualization.yml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
  tests/unit/ssg-module/test_playbook_builder_data/applicability/firmware.yml
Labels: bugfix

#9581 RHEL9 stig_gui: don't remove GUI
  products/rhel9/profiles/stig_gui.profile
Labels: bugfix, backported-into-stabilization, RHEL9, Update Profile, STIG

#9582 [stabilization] RHEL9 stig_gui: don't remove GUI
  products/rhel9/profiles/stig_gui.profile
Labels: bugfix, RHEL9, Update Profile, STIG

#9592 [stabilization] Remove RPM verify rules from RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000278-GPOS-00108.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Labels: bugfix, RHEL9, STIG

#9596 Doc fix up
  docs/manual/developer/01_introduction.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/06_contributing_with_content.md
Labels: Documentation

#9577 OCP4: Add 4.12-specific test manifests
  applications/openshift/api-server/api_server_api_priority_v1beta1_flowschema_catch_all/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_insecure_port/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/tests/ocp4/4.12.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/tests/ocp4/4.12.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/tests/ocp4/4.12.yml
Labels: OpenShift

#9591 Remove RPM verify rules from RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000278-GPOS-00108.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Labels: bugfix, backported-into-stabilization, RHEL9, Update Profile, STIG

#9595 Fix var_auditd_max_log_file_action for RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000047-GPOS-00023.yml
Labels: bugfix, RHEL9, STIG

#9597 OCP4: Fix OCIL of machine_volume_encrypted
  applications/openshift/integrity/crypto/machine_volume_encrypted/rule.yml
Labels: OpenShift, OCIL

#9509 Rule updates wrt RHEL9 STIG
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  linux_os/guide/services/usbguard/usbguard_generate_policy/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
Labels: RHEL9, Update Rule, STIG

#9598 Re add `kernel_module_dccp_disabled` to RHEL9 data stream
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/rule.yml
Labels: backported-into-stabilization, RHEL9

#9599 [Stabilization] Re add `kernel_module_dccp_disabled` to RHEL9 data stream
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/rule.yml
Labels: RHEL9

#9589 Use variable to remediate rule
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/wrong_value_not_default.fail.sh
Labels: bugfix, backported-into-stabilization
