Repository ComplianceAsCode/content, pull requests merged in 2022-02, with the labels that each got.

#8019 CFE-214 : SC-6 : CaC rule that checks workloads for resource requests/limits
  applications/openshift/general/resource_requests_limits_in_daemonset/rule.yml
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/no_daemonsets.pass.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/skip_openshif_kube_ns_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/rule.yml
  applications/openshift/general/resource_requests_limits_in_deployment/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/no_deployments.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_deployment/tests/skip_openshift_kube_ns_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/rule.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_statfulsets.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/skip_openshift_kubesystem_ns_resource_requests_Limits.pass.sh
Labels: ok-to-test

#8092 RHEL9 OSPP boot parameter rules
  linux_os/guide/system/bootloader-grub2/grub2_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/tests/correct_option.pass.sh
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/tests/missing_in_cmdline.fail.sh
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/tests/missing_in_entry.fail.sh
  linux_os/guide/system/bootloader-zipl/zipl_vsyscall_argument/rule.yml
  linux_os/guide/system/software/integrity/fips/enable_dracut_fips_module/rule.yml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/rule.yml
  products/rhel9/profiles/ospp.profile
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, Update Profile

#8043 Implement handling of logical expressions in platform definitions
  build-scripts/collect_remediations.py
  build-scripts/compile_all.py
  cmake/SSGCommon.cmake
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_remote_server/rule.yml
  shared/applicability/arch.yml
  shared/applicability/bootloaders.yml
  shared/applicability/general.yml
  shared/applicability/virtualization.yml
  shared/macros-ansible.jinja
  shared/macros-bash.jinja
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/build_profile.py
  ssg/build_remediations.py
  ssg/build_yaml.py
  ssg/templates.py
  tests/unit/ssg-module/data/applicability/general.yml
  tests/unit/ssg-module/data/applicability/virtualization.yml
  tests/unit/ssg-module/data/file_owner_grub2_cfg.yml
  tests/unit/ssg-module/data/machine.yml
  tests/unit/ssg-module/data/product.yml
  tests/unit/ssg-module/test_boolean_expressions.py
  tests/unit/ssg-module/test_build_cpe.py
  tests/unit/ssg-module/test_build_remediations.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: enhancement, Infrastructure, usability, Highlight

#8129 Remove more deprecated RHEL6 references from the project.
  build_product
  cmake/SSGCommon.cmake
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_enhanced-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_high-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_intermediary-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_minimal-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_server_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l2-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-e8-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-hipaa-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-ospp-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-stig-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-stig_gui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_minimal-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_server_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l2-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-e8-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-hipaa-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ospp-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_enhanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_high-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_minimal-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-e8-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-hipaa-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ospp-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig_gui-ks.cfg
Labels: RHEL

#8094 Document boolean expressions in "platform" definitions
  docs/manual/developer/06_contributing_with_content.md
Labels: Documentation

#8090 Add backends attribute to template in rules schema
  shared/schemas/rule.json
Labels: Infrastructure

#8140 Update RHEL7 STIG Artifacts to latest version
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r6-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r6-xccdf-scap.xml
Labels: DISA RHEL7 STIG Alignment

#8139 Update RHEL8 STIG Artifacts to latest version
  docs/manual/developer/05_tools_and_utilities.md
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r4-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v1r5-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#8145 Remove duplicated STIG rule. RHEL-08-010560 is now removed from V1R5.
  controls/stig_rhel8.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
Labels: DISA RHEL8 STIG Alignment

#8120 Added utils/compare_disa_xml.py
  docs/manual/developer/05_tools_and_utilities.md
  utils/compare_disa_xml.py
Labels: Infrastructure

#8136 Add github workflow to publish statistics, guides and tables
  .github/workflows/gh-pages.yaml
  README.md
  utils/choosing_policy_page.py
  utils/generate_html_pages.sh
Labels: Documentation

#8151 Add missing rsync dependency to gh-pages workflow
  .github/workflows/gh-pages.yaml
Labels: bugfix, Documentation

#8158 Update denylisted folders in choosing_policy_page.py script
  utils/choosing_policy_page.py
Labels: bugfix

#8159 Select an older version of Fedora image (34) in gitpod.
  .gitpod.launch.json
  .gitpod.yml
  Dockerfiles/test_suite-fedora
Labels: bugfix

#8163 Fix the directory for products stats script
  utils/generate_html_pages.sh
Labels: bugfix

#8168 Fix gh-pages build.
  utils/generate_html_pages.sh
Labels: bugfix

#8165 Fix the PR URL in the Gitpod workflow that adds the comment to a PR
  .github/workflows/ctf.yaml
Labels: bugfix

#8167 Update accounts_authorized_local_users for OL
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  products/ol7/profiles/stig.profile
  products/ol8/profiles/stig.profile
Labels: ok-to-test

#8169 Add RHEL-08-040321 to RHEL8 STIG profile
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  tests/data/profile_stability/rhel8/stig.profile
Labels: DISA RHEL8 STIG Alignment

#8162 Simple stig v2r6 updates for OL7
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchownat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rmdir/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlinkat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  shared/references/disa-stig-ol7-v2r6-xccdf-manual.xml
Labels: Oracle Linux, ok-to-test, Update Profile

#8173 Assign RHEL-08-020221 to accounts_password_pam_pwhistory_remember_password_auth
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
Labels: DISA RHEL8 STIG Alignment

#8175 Fix SSGTS platform machine overriding mechanism
  tests/ssg_test_suite/xml_operations.py
  tests/test_machine_only_rules.py
Labels: bugfix

#8160 Create OVAL check for selinux_context_elevation_for_sudo [OL7]
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/oval/shared.xml
Labels: Oracle Linux, ok-to-test, Update Rule

#8172 Fix for bug 1195524
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/bash/sle15.sh
Labels: ok-to-test

#8174 Update references of RHEL8 STIG audit rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchownat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_setxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rmdir/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlink/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlinkat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
Labels: DISA RHEL8 STIG Alignment

#8183 Update ocil_clause of encrypt_partitions to exclude boot partition
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
Labels: DISA RHEL8 STIG Alignment

#8164 Introduce nonzero_check var to accounts_password template
  docs/templates/template_reference.md
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/correct_value_less_than_variable.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/negative_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/tests/wrong_value_0.fail.sh
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/template.py
Labels: ok-to-test, DISA RHEL8 STIG Alignment

#8188 drop not needed auditd.conf rules from rhel9 ospp
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile

#8197 Remove RHEL-08-010200 and RHEL-08-010201 from RHEL8 and RHEL9 STIG
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment, RHEL9

#8185 New rules related to pam_pwquality
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/authselect_commented_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/authselect_correct_entry.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/authselect_missing_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/correct_entry.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/missing_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/tests/authselect_commented_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/tests/authselect_correct_entry.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/tests/authselect_missing_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/tests/correct_entry.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/tests/missing_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: New Rule, DISA RHEL8 STIG Alignment, Update Rule

#8191 Fix typo in accounts_password_pam_unix_remember Ubuntu bash
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/bash/ubuntu.sh
Labels: bugfix, ok-to-test

#8192 Fix bug 1195525
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/bash/shared.sh
Labels: ok-to-test

#8146 Update configure_bashrc_exec_tmux to consider .d directory
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value_d_directory.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/duplicate_value_multiple_files.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/tmux_not_running.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/wrong_value.fail.sh
Labels: DISA RHEL8 STIG Alignment, Update Rule

#8152 align ospp audit rules with the latest upstream release
  linux_os/guide/system/auditing/policy_rules/audit_access_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/tests/correct_rules_rhel9.pass.sh
  tests/shared/audit/30-ospp-v42-3-access-failed.rules
  tests/shared/audit/30-ospp-v42-3-access-success.rules
  tests/shared/audit/30-ospp-v42.rules
  tests/shared/audit/30-ospp-v42_rhel9.rules
Labels: bugfix, Test Scenario, Update Rule

#8187 Pass the rule when no time server nor pool is set
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/tests/chrony_no_pool_nor_servers.pass.sh
  linux_os/guide/services/ntp/chronyd_server_directive/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_server_directive/rule.yml
  linux_os/guide/services/ntp/chronyd_server_directive/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/line_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/multiple_servers.pass.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/only_pool.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/only_server.pass.sh
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#8218 Add SRG references to STIG rules
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
Labels: DISA RHEL7 STIG Alignment, DISA RHEL8 STIG Alignment

#8220 Update RHEL-08-010385 to allow only one occurrence of config
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/bash/shared.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/oval/shared.xml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_correct_value.fail.sh
Labels: DISA RHEL8 STIG Alignment

#8184 Align description of grub2 rules with checks and remediations
  linux_os/guide/system/auditing/grub2_audit_argument/rule.yml
  linux_os/guide/system/auditing/grub2_audit_backlog_limit_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_enable_iommu_force/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/grub2_ipv6_disable_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_page_poison_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_slub_debug_argument/rule.yml
  shared/macros.jinja
Labels: Update Rule

#8221 Introduce CPE for aarch64 and make package_rear_installed n/a aarch64.
  linux_os/guide/system/software/system-tools/package_rear_installed/rule.yml
  shared/applicability/arch.yml
  shared/checks/oval/proc_sys_kernel_osrelease_arch_aarch64.xml
  shared/checks/oval/proc_sys_kernel_osrelease_arch_not_aarch64.xml
  ssg/constants.py
Labels: bugfix

#8196 Add rule to check for default sudoers includedir
  linux_os/guide/system/software/sudo/sudoers_default_includedir/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/bash/shared.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/oval/shared.xml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/default_includedir.pass.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/duplicate_includedir.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/no_includedir.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers.d_with_include.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers.d_with_includedir.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers_with_include.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/two_includedir.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/wrong_includedir.fail.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: DISA RHEL8 STIG Alignment

#8224 Add Dockerfiles for OL7 and OL8
  Dockerfiles/test_suite-ol7
  Dockerfiles/test_suite-ol8
Labels: needs-ok-to-test

#8225 Update RHEL7 STIG items to V3R6
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchownat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rmdir/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlinkat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
  products/rhel7/profiles/stig.profile
Labels: DISA RHEL7 STIG Alignment

#8206 Gitpod: Build OpenSCAP 1.3.6 so it can build OCP4 and EKS content
  .gitpod.Dockerfile
  .gitpod.yml
Labels: Infrastructure

#8232 update description of rhel9 ospp profile
  products/rhel9/profiles/ospp.profile
Labels: RHEL9, Update Profile

#8229 Add sudoers_default_includedir to ol7 STIG
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
  products/ol7/profiles/stig.profile
Labels: Oracle Linux, ok-to-test, Update Rule, Update Profile

#8234 add rules to add page_alloc.shuffle kernel boot parameter
  linux_os/guide/system/bootloader-grub2/grub2_page_alloc_shuffle_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_page_alloc_shuffle_argument/rule.yml
  products/rhel9/profiles/ospp.profile
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, Update Profile

#8233 Do not remove krb5-workstation package on oVirt
  linux_os/guide/system/software/system-tools/package_krb5-workstation_removed/rule.yml
Labels: RHEL, RHV-H

#8216 Fix for bug 1195652
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/bash/shared.sh
Labels: ok-to-test

#8215 Fix bug 1195521
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/bash/shared.sh
Labels: ok-to-test, Update Rule

#8205 Fix for bug 1195534
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/bash/shared.sh
Labels: bugfix, SLES, ok-to-test

#8211 Add new DISA STIG rules to Mozilla Firefox
  docs/templates/template_reference.md
  products/firefox/guide/firefox/firefox_preferences-addons_plugin_updates/rule.yml
  products/firefox/guide/firefox/firefox_preferences-autofill_forms/rule.yml
  products/firefox/guide/firefox/firefox_preferences-autofill_passwords/rule.yml
  products/firefox/guide/firefox/firefox_preferences-background_data/rule.yml
  products/firefox/guide/firefox/firefox_preferences-cryptomining/rule.yml
  products/firefox/guide/firefox/firefox_preferences-development_tools/rule.yml
  products/firefox/guide/firefox/firefox_preferences-disable_ssl_weak_ciphers/rule.yml
  products/firefox/guide/firefox/firefox_preferences-dod_root_certificate/firefox_preferences-dod_root_certificate_installed/rule.yml
  products/firefox/guide/firefox/firefox_preferences-enhanced_tracking/rule.yml
  products/firefox/guide/firefox/firefox_preferences-extension_recommendation/rule.yml
  products/firefox/guide/firefox/firefox_preferences-fingerprinting-protection/rule.yml
  products/firefox/guide/firefox/firefox_preferences-install_extensions/rule.yml
  products/firefox/guide/firefox/firefox_preferences-javascript_context_menus/rule.yml
  products/firefox/guide/firefox/firefox_preferences-javascript_window_changes/rule.yml
  products/firefox/guide/firefox/firefox_preferences-javascript_window_resizing/rule.yml
  products/firefox/guide/firefox/firefox_preferences-pop-up_windows/rule.yml
  products/firefox/guide/firefox/firefox_preferences-search_update/rule.yml
  products/firefox/guide/firefox/firefox_preferences-ssl_protocol_tls/rule.yml
  products/firefox/guide/firefox/firefox_preferences-telemetry-archive/rule.yml
  products/firefox/guide/firefox/firefox_preferences-telemetry/rule.yml
  products/firefox/guide/firefox/firefox_preferences-verification/rule.yml
  products/firefox/guide/firefox/installed_firefox_version_supported/rule.yml
  products/firefox/profiles/stig.profile
  shared/macros-highlevel.jinja
  shared/templates/firefox_lockparameter/bash.template
  shared/templates/firefox_lockparameter/oval.template
  shared/templates/firefox_lockparameter/template.py
  shared/templates/firefox_lockparameter/template.yml
  shared/templates/firefox_lockparameter/tests/correct_value.pass.sh
  shared/templates/firefox_lockparameter/tests/missing_value.fail.sh
  shared/templates/firefox_lockparameter/tests/wrong_value.fail.sh
Labels: needs-ok-to-test

#8242 Fix for bug 1195523
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
Labels: SLES, ok-to-test, Update Rule

#8186 Extend package_pam_pwquality_installed rule for RHEL
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  shared/macros-bash.jinja
Labels: do-not-merge/work-in-progress, Update Rule

#8238 Store OVAL of compiled platforms as string
  ssg/build_yaml.py
Labels: Infrastructure

#8246 Remove tmux process runinng check in configure_bashrc_exec_tmux
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value_d_directory.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/duplicate_value_multiple_files.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/tmux_not_running.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/wrong_value.fail.sh
Labels: DISA RHEL8 STIG Alignment

#8077 Add a script to audit the SRG export CSV
  utils/create_srg_export.py
  utils/srg_audit.py
Labels: Infrastructure

#8247 Add version to delta tailoring file name
  utils/create_scap_delta_tailoring.py
Labels: Infrastructure

#8227 Add rule disallow_bypass_password_sudo to meet STIG OL07-00-010344
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/rule.yml
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/tests/pam_succeed_if_absent.pass.sh
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/tests/pam_succeed_if_present.fail.sh
  products/ol7/profiles/stig.profile
Labels: ok-to-test

#8219 Playbooks contain ansible.builtin requiring Ansible 2.9 or higher
  ssg/constants.py
Labels: ok-to-test

#8091 Various improvments to SRG Export Script
  utils/create_srg_export.py
Labels: Infrastructure

#8252 Fix handling of literal dollars in macros
  shared/macros-bash.jinja
  tests/unit/bash/test_set_config_file.bats.jinja
Labels: bugfix, Bash

#8253 Various bash fixes
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_enforce_local/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/sle12.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/sle15.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/bash/shared.sh
Labels: bugfix, Bash

#8254 Simplify generated augen bash expressions
  shared/macros-bash.jinja
Labels: bugfix, Bash

#8228 Introduce rule no_empty_passwords_etc_shadow to meet STIG OL07-00-010291
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/tests/an_empty_pass_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/tests/no_empty_password_present.pass.sh
  products/ol7/profiles/stig.profile
Labels: ok-to-test

#8251 Fix the firewalld remediation
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_ports/bash/shared.sh
Labels: bugfix, Bash

#8255 make rule enable_fips_mode check only for technical state
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/rhcos4.xml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/rule.yml
Labels: RHEL9, Update Rule

#8258 Fix bash remediations of browsers
  products/chromium/guide/chromium/chromium_policy_file/bash/chromium.sh
  products/chromium/guide/chromium/var_enable_approved_plugins.var
  products/chromium/profiles/stig.profile
  shared/macros-bash.jinja
Labels: bugfix, Bash

#8257 Introduce convenience macros for find and awk
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/bash/shared.sh
  linux_os/guide/system/permissions/mounting/grub2_nousb_argument/bash/shared.sh
  shared/macros-bash.jinja
Labels: bugfix, Bash

#8262 Ensure that get_implemented_stigs in utils/create_scap_delta_tailoring works in all cases
  utils/create_scap_delta_tailoring.py
Labels: bugfix

#8032 Introduce a shellcheck test
  .github/workflows/gate.yaml
  CMakeLists.txt
  cmake/SSGCommon.cmake
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_min_pass_age.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_stig_blank.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/bash/shared.sh
  utils/shellcheck_wrapper.sh
Labels: Bash

#8263 Remove STIG profile from RHCOS4
  products/rhcos4/CMakeLists.txt
  products/rhcos4/profiles/stig.profile
Labels: CoreOS
