Repository ComplianceAsCode/content, pull requests merged in 2023-05, with the labels that each got.

#10511 Update netrc requirement in CIS for RHEL8
  controls/cis_rhel8.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/tests/home_dirs_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/tests/interactive_users_absent.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL8, CIS

#10523 OCP4 NIST: Fix typo in rule selection
  controls/nist_rhcos4.yml
Labels: bugfix, OpenShift

#10520 OCP add variable to define HyperShift namespace prefix
  applications/openshift/api-server/api_server_admission_control_plugin_alwaysadmit/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_alwayspullimages/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_namespacelifecycle/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_noderestriction/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_scc/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_securitycontextdeny/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_service_account/rule.yml
  applications/openshift/api-server/api_server_audit_log_maxbackup/rule.yml
  applications/openshift/api-server/api_server_audit_log_maxsize/rule.yml
  applications/openshift/api-server/api_server_audit_log_path/rule.yml
  applications/openshift/api-server/api_server_auth_mode_no_aa/rule.yml
  applications/openshift/api-server/api_server_auth_mode_node/rule.yml
  applications/openshift/api-server/api_server_auth_mode_rbac/rule.yml
  applications/openshift/api-server/api_server_basic_auth/rule.yml
  applications/openshift/api-server/api_server_bind_address/rule.yml
  applications/openshift/api-server/api_server_client_ca/rule.yml
  applications/openshift/api-server/api_server_etcd_ca/rule.yml
  applications/openshift/api-server/api_server_etcd_cert/rule.yml
  applications/openshift/api-server/api_server_etcd_key/rule.yml
  applications/openshift/api-server/api_server_https_for_kubelet_conn/rule.yml
  applications/openshift/api-server/api_server_insecure_bind_address/rule.yml
  applications/openshift/api-server/api_server_insecure_port/rule.yml
  applications/openshift/api-server/api_server_kubelet_certificate_authority/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/api-server/api_server_no_adm_ctrl_plugins_disabled/rule.yml
  applications/openshift/api-server/api_server_request_timeout/rule.yml
  applications/openshift/api-server/api_server_service_account_lookup/rule.yml
  applications/openshift/api-server/api_server_service_account_public_key/rule.yml
  applications/openshift/api-server/api_server_tls_cert/rule.yml
  applications/openshift/api-server/api_server_tls_cipher_suites/rule.yml
  applications/openshift/api-server/api_server_tls_private_key/rule.yml
  applications/openshift/api-server/api_server_token_auth/rule.yml
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  applications/openshift/controller/controller_secure_port/rule.yml
  applications/openshift/controller/controller_service_account_ca/rule.yml
  applications/openshift/controller/controller_service_account_private_key/rule.yml
  applications/openshift/controller/controller_use_service_account/rule.yml
  applications/openshift/etcd/etcd_auto_tls/rule.yml
  applications/openshift/etcd/etcd_cert_file/rule.yml
  applications/openshift/etcd/etcd_client_cert_auth/rule.yml
  applications/openshift/etcd/etcd_key_file/rule.yml
  applications/openshift/etcd/etcd_peer_auto_tls/rule.yml
  applications/openshift/etcd/etcd_peer_cert_file/rule.yml
  applications/openshift/etcd/etcd_peer_client_cert_auth/rule.yml
  applications/openshift/etcd/etcd_peer_key_file/rule.yml
  applications/openshift/general/tls_version_check_apiserver/rule.yml
  applications/openshift/hypershift_namespace_prefix.var
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  applications/openshift/kubelet/kubelet_disable_readonly_port/rule.yml
  applications/openshift/networking/configure_network_policies_hypershift_hosted/rule.yml
  applications/openshift/openshift-api-server/ocp_api_server_audit_log_maxbackup/rule.yml
  applications/openshift/openshift-api-server/ocp_api_server_audit_log_maxsize/rule.yml
  applications/openshift/openshift-api-server/openshift_api_server_audit_log_path/rule.yml
  applications/openshift/scheduler/scheduler_no_bind_address/rule.yml
  applications/openshift/scheduler/scheduler_port_is_zero/rule.yml
Labels: OpenShift

#10518 bugfix: mount_option: handle commented lines
  shared/templates/mount_option/oval.template
  shared/templates/mount_option/tests/fstab_comment.pass.sh
Labels: OVAL, ok-to-test

#10512 Add Kickstarts to the changelog
  .github/workflows/release-changelog.json
Labels: Documentation

#10488 Update mount_option_remote_filesystems template's ansible
  shared/templates/mount_option_remote_filesystems/ansible.template
  shared/templates/mount_option_remote_filesystems/tests/wrong_option.fail.sh
  shared/templates/mount_option_remote_filesystems/tests/wrong_option_with_tab.fail.sh
Labels: needs-ok-to-test

#10515 Update CIS OCP 1.3.0 profile details
  controls/cis_ocp_1_3_0.yml
Labels: OpenShift, CIS

#10514 Fedora 38
  Dockerfiles/quay_publish
  linux_os/guide/system/software/updating/ensure_fedora_gpgkey_installed/rule.yml
  ocp-resources/ds-build-remote.yaml
  products/fedora/product.yml
  shared/checks/oval/installed_OS_is_fedora.xml
  tests/install_vm.py
  tests/unit/bash/bash_os_linux_conditional.bats.jinja
  tests/unit/ssg-module/test_playbook_builder_data/product.yml
Labels: ok-to-test

#10126 Add iptables ensure outband connections configured rule in context of SLE CIS profile
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_outbound_n_established/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_outbound_n_established/sce/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_outbound_n_established/tests/no_output_rules.fail.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_outbound_n_established/tests/rules_established_n_output.pass.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10524 Shell quote support for Jinja macros
  docs/templates/template_reference.md
  ssg/jinja.py
Labels: Infrastructure, ok-to-test

#10249 SLE15 add nftables ensure default deny policy
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/oval/sle15.xml
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/ansible/sle15.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/bash/sle15.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/oval/sle15.xml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/tests/invalid_top_level_config_file.fail.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/tests/no_top_level_config_file.fail.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/tests/valid_top_level_config_file.pass.sh
  linux_os/guide/system/network/network-nftables/var_nftables_master_config_file.var
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test

#10499 Fix up RHEL kickstarts
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_enhanced-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_high-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_intermediary-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-anssi_nt28_minimal-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_server_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l2-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-e8-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-hipaa-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-ospp-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-pci-dss-server-with-gui-oaa-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-stig-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-stig_gui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_minimal-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_server_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l2-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-e8-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-hipaa-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ism_o-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ospp-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-pci-dss-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_enhanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_high-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_minimal-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-e8-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-hipaa-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ism_o-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ospp-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-pci-dss-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig_gui-ks.cfg
Labels: Kickstart

#10434 OCP4: Fix instructions of rules that set kubelet related sysctls, use the sysctl probe
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/oval/shared.xml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_kernel_keys_root_maxbytes/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_kernel_keys_root_maxkeys/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_kernel_panic/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_kernel_panic_on_oops/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_vm_overcommit_memory/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_vm_panic_on_oom/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift

#10537 Fix read the docs build
  .readthedocs.yml
Labels: Documentation

#10531 fix: Fix misspelled word infrastruture
  controls/nist_satellite6.yml
  linux_os/guide/services/ntp/chronyd_server_directive/policy/stig/shared.yml
  linux_os/guide/services/ntp/chronyd_server_directive/rule.yml
Labels: Documentation, needs-ok-to-test

#10455 Implement a tool for parsing profiles and outputing rules
  docs/manual/developer/05_tools_and_utilities.md
  utils/generate_profile.py
Labels: Infrastructure

#10522 OCP4 CIS: Add control file response for 1.2.33 and 1.2.34
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
  controls/cis_ocp_1_3_0/section-1.yml
Labels: OpenShift

#10492 update rule sles-15-040250
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/ansible/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/bash/shared.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/oval/shared.xml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/rule.yml
Labels: SLES, needs-ok-to-test, STIG

#10528 Reduce Doc Warnings
  docs/README.md
  docs/jinja_macros/20-rules.rst
  docs/manual/user/20_scanning.md
  docs/modules/utils.rst
  shared/macros/01-general.jinja
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-ocil.jinja
  shared/macros/10-oval.jinja
  ssg/rule_dir_stats.py
Labels: Documentation

#10552 New rules to complete CIS requirements for SSH Keys
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/rule.yml
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/correct_groupowner.pass.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/incorrect_groupowner.fail.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/multiple_keys.fail.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/file_groupownership_sshd_pub_key/tests/correct_groupowner.pass.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_pub_key/tests/incorrect_groupowner.fail.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_pub_key/tests/multiple_keys.fail.sh
  linux_os/guide/services/ssh/file_ownership_sshd_private_key/rule.yml
  linux_os/guide/services/ssh/file_ownership_sshd_private_key/tests/correct_owner.pass.sh
  linux_os/guide/services/ssh/file_ownership_sshd_private_key/tests/incorrect_owner.fail.sh
  linux_os/guide/services/ssh/file_ownership_sshd_private_key/tests/multiple_keys.fail.sh
  linux_os/guide/services/ssh/file_ownership_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/file_ownership_sshd_pub_key/tests/correct_owner.pass.sh
  linux_os/guide/services/ssh/file_ownership_sshd_pub_key/tests/incorrect_owner.fail.sh
  linux_os/guide/services/ssh/file_ownership_sshd_pub_key/tests/multiple_keys.fail.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/rule.yml
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  shared/references/cce-redhat-avail.txt
  shared/templates/file_groupowner/ansible.template
  shared/templates/file_groupowner/bash.template
  shared/templates/file_owner/ansible.template
  shared/templates/file_owner/bash.template
Labels: RHEL, New Rule, CIS

#10527 Drop of some rules from SLE 12/15 profiles
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle12/profiles/pci-dss-4.profile
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/pci-dss-4.profile
Labels: SLES, needs-ok-to-test, ANSSI, pci-dss

#10565 bugfix: aide_periodic_cron_checking: jinja expansion
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
Labels: bugfix, Ubuntu, needs-ok-to-test

#10561 bugfix: configure_etc_hosts_deny/tests/file_missing.fail.sh: typo
  linux_os/guide/services/obsolete/inetd_and_xinetd/configure_etc_hosts_deny/tests/file_missing.fail.sh
Labels: bugfix, Test Suite, needs-ok-to-test

#10560 fix: ensure_logrotate_activated/bash: quote #! with '', avoid history expansion
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/bash/shared.sh
Labels: Bash, needs-ok-to-test

#10559 bugfix: packages: delim is comma
  linux_os/guide/services/cron_and_at/service_atd_disabled/tests/service_disabled_rpcstatd_enabled.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_allow_only_protocol2/tests/openssh-7.4.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_all_disabled.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_enabled.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_enabled_with_faillock.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_socket_disabled.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_with_authconfig.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_with_pam_faildelay.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/tests/installed_without_authconfig.fail.sh
  linux_os/guide/system/software/integrity/fips/grub2_enable_fips_mode/tests/grub_cmdline_linux_correct_value.pass.sh
  linux_os/guide/system/software/integrity/fips/grub2_enable_fips_mode/tests/grub_cmdline_linux_wrong_value.fail.sh
Labels: bugfix, Test Suite, needs-ok-to-test

#10558 Unused test code
  tests/shared/sysctl.sh
  tests/ssg_test_suite/oscap.py
Labels: enhancement, Test Suite, needs-ok-to-test

#10564 bugfix: package_libselinux_installed custom-package-removed.fail.sh: need to set releasever
  linux_os/guide/system/selinux/package_libselinux_installed/tests/custom-package-removed.fail.sh
Labels: bugfix, Fedora, needs-ok-to-test

#10535 Fix in sshd_use_approved_ciphers
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  products/sle12/profiles/pci-dss-4.profile
  products/sle12/profiles/pci-dss.profile
  products/sle12/profiles/stig.profile
  products/sle15/profiles/pci-dss-4.profile
  products/sle15/profiles/pci-dss.profile
Labels: SLES, needs-ok-to-test, Update Rule, pci-dss

#10571 fix: ensure_fedora_gpgkey_installed/bash: use bash_package_install
  linux_os/guide/system/software/updating/ensure_fedora_gpgkey_installed/bash/shared.sh
Labels: Bash, needs-ok-to-test

#10536 Fix in SLE 12/15 rule sshd_use_approved_macs
  linux_os/guide/services/ssh/sshd_approved_macs.var
  products/sle12/profiles/pci-dss-4.profile
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/pci-dss-4.profile
  products/sle15/profiles/pci-dss.profile
Labels: SLES, needs-ok-to-test, Update Rule, pci-dss

#10544 Fix in the SLE 12/15 rule sshd_use_strong_kex
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/ssh/sshd_strong_kex.var
  products/sle12/profiles/pci-dss-4.profile
  products/sle15/profiles/pci-dss-4.profile
Labels: SLES, needs-ok-to-test, Update Profile

#10570 Fix tests applicablity for ol8 product
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/default_config.fail.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/silent_present.fail.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/correct_entry.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/missing_entry.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/wrong_control.fail.sh
  shared/templates/service_enabled/tests/service_disabled.fail.sh
  shared/templates/service_enabled/tests/service_enabled.pass.sh
Labels: ok-to-test

#10575 Introduce rule to check if SELinux is not Disabled
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/selinux/selinux_not_disabled/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_not_disabled/bash/shared.sh
  linux_os/guide/system/selinux/selinux_not_disabled/oval/shared.xml
  linux_os/guide/system/selinux/selinux_not_disabled/rule.yml
  linux_os/guide/system/selinux/selinux_not_disabled/tests/selinux_disabled.fail.sh
  linux_os/guide/system/selinux/selinux_not_disabled/tests/selinux_enforcing.pass.sh
  linux_os/guide/system/selinux/selinux_not_disabled/tests/selinux_missing.fail.sh
  linux_os/guide/system/selinux/selinux_not_disabled/tests/selinux_permissive.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, Update Profile, RHEL8, CIS

#10576 Include aide_check_audit_tools rule in CIS for RHEL9
  controls/cis_rhel9.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
Labels: RHEL9, Update Profile, CIS

#10573 Introduce rules to configure loopback traffic with Firewalld
  controls/cis_rhel9.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/ansible/shared.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/oval/shared.xml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/tests/customized_zones_configured.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/tests/customized_zones_without_richrules.fail.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/tests/default_zones_configured.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/tests/default_zones_without_richrules.fail.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/ansible/shared.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/oval/shared.xml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/tests/customized_zone_configured.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/tests/customized_zone_without_lo.fail.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/tests/default_zone_configured.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/tests/default_zone_without_lo.fail.sh
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, Update Profile, CIS

#10556 Use mkdir -p when creating directories
  linux_os/guide/services/sssd/sssd_enable_pam_services/bash/shared.sh
  linux_os/guide/services/usbguard/usbguard_allow_hid_and_hub/tests/file_contains_only_whitespaces.fail.sh
  linux_os/guide/services/usbguard/usbguard_allow_hid_and_hub/tests/file_empty.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/correct_value_multiple_dirs.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/tests/wrong_value_multiple_dirs.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/tests/directory_doesnt_exist.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/tests/wrong_mode.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/tests/directory_doesnt_exist.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/tests/wrong_mode.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/tests/lenient_permissions_directory.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/tests/hidden_folder_ignored.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/directory_group_ownership_var_log_audit/tests/correct_value_log_file.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/directory_group_ownership_var_log_audit/tests/wrong_value_log_file.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/common_0700.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/common.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/tests/common.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/common.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/tests/all_facilities_set_rsyslog_conf.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/tests/setup.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdrivermode/tests/setup.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_defaultnetstreamdriver/tests/setup.sh
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls/tests/correct_singleline_include_file.pass.sh
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls/tests/missing_option_include_file.fail.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/tests/world_writable_dir_on_nonlocal_fs.fail.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/tests/world_writable_dir_owned_by_uid_2.fail.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned/tests/wrong_setting.fail.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned_group/tests/wrong_setting.fail.sh
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/tests/incorrect_group_owner.fail.sh
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/tests/incorrect_owner.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/tests/incorrect_owner_within_dir.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/tests/dir_symlink_incorrect_dir_perm.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/tests/dir_symlink_incorrect_file_perm.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/tests/local_mounted_during_runtime.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/tests/remote_without_nodev.pass.sh
  linux_os/guide/system/software/sudo/sudo_remove_no_authenticate/tests/wrong_value.fail.sh
  linux_os/guide/system/software/sudo/sudo_remove_nopasswd/tests/wrong_value.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_authentication/tests/wrong_value.fail.sh
  shared/templates/sysctl/tests/correct_value_usr_local_lib.pass.sh
  shared/templates/sysctl/tests/wrong_value_usr_local_lib.fail.sh
  utils/build_profiler.sh
Labels: enhancement, Test Suite, needs-ok-to-test

#10366 Rebased hagenest set nftables loopback traffic
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/oval/sle15.xml
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/tests/common.sh
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/tests/valid_config_file_drop_only.fail.sh
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/tests/valid_config_file_handle_lo.pass.sh
  shared/references/cce-sle15-avail.txt
Labels: New Rule, needs-ok-to-test, CIS

#10180 New SLE 15 rule set_nftables_base_chain
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/sce/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/tests/no_chains.fail.sh
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/tests/set_base_chain.pass.sh
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_hooks.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_names.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_policies.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_priorities.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_types.var
  linux_os/guide/system/network/network-nftables/var_nftables_family.var
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10578 fix: aide_string: drop nl at end
  shared/macros/01-general.jinja
Labels: bugfix, Ansible, Bash, needs-ok-to-test

#10529 Introduce a Product class, make the project work with it
  build-scripts/build_xccdf.py
  build-scripts/compile_all.py
  build-scripts/compile_product.py
  cmake/SSGCommon.cmake
  ssg/build_ovals.py
  ssg/build_sce.py
  ssg/playbook_builder.py
  ssg/products.py
  tests/unit/ssg-module/test_products.py
  utils/fix_rules.py
  utils/refchecker.py
  utils/rule_dir_json.py
Labels: Infrastructure

#10562 install-vm fixes / features
  tests/install_vm.py
  tests/kickstarts/test_suite.cfg
Labels: Test Suite, needs-ok-to-test

#10582 fix: ssg_test_suite.get_product_context: fake Product
  tests/ssg_test_suite/common.py
Labels: needs-ok-to-test

#10533 Update Add Product Guide
  docs/manual/developer/03_creating_content.md
Labels: Documentation

#10587 Add Ubuntu SCE checks for iptables rules
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ip6tables_default_rule/sce/ubuntu.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/sce/ubuntu.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/sce/ubuntu.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/sce/ubuntu.sh
Labels: Bash, Ubuntu, CIS

#10574 bash_replace_or_append fixes
  shared/macros/10-bash.jinja
  tests/unit/bash/bash_os_linux_conditional.bats.jinja
  tests/unit/bash/bash_pkg_conditional_rpm.bats.jinja
  tests/unit/bash/execute_tests.sh
  tests/unit/bash/test_bash_ensure_ini_config.bats.jinja
  tests/unit/bash/test_bash_replace_or_append.bats.jinja
  tests/unit/bash/test_set_config_file.bats.jinja
Labels: ok-to-test

#10588 Stop using deprecated `set-output` in GitHub Actions
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus.yaml
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
  .github/workflows/release.yaml
Labels: Infrastructure

#10598 Parameter name mismatch fixes
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#10591 modify regexp in bash remediation of chronyd_specify_remote_server
  linux_os/guide/services/ntp/chronyd_specify_remote_server/bash/shared.sh
Labels: bugfix, Bash

#10353 New rule ensure_chrony_is_configured
  controls/anssi.yml
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  controls/pcidss_3.yml
  controls/pcidss_4.yml
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/bash/shared.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/rule.yml
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/correct_chrony_configuration.pass.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/incorrect_line1.fail.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/incorrect_line2.fail.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/incorrect_line3.fail.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/incorrect_line4.fail.sh
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/tests/multiple_servers.pass.sh
  linux_os/guide/services/ntp/var_multiple_time_pools.var
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle12/profiles/pci-dss-4.profile
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/pci-dss-4.profile
  products/sle15/profiles/pci-dss.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: needs-ok-to-test

#10599 Jinja macro doc fixes
  shared/macros/01-general.jinja
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-fixtext.jinja
  shared/macros/10-kubernetes.jinja
  shared/macros/10-ocil.jinja
  shared/macros/10-oval.jinja
  shared/macros/10-srg_requirement.jinja
  shared/macros/10-warning.jinja
Labels: Documentation, ok-to-test

#10584 Ansible remediation for configure_bashrc_exec_tmux
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/ansible/shared.yml
Labels: Ansible

#10622 Use specific name in private key groups instead of gid.
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/rule.yml
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  shared/templates/file_groupowner/oval.template
Labels: bugfix

#10628 Remove ids from dedicated_ssh_keyowner in the product stability
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
Labels: bugfix

#10629 Update CIS controls related to nftables table and chains
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/network/network-nftables/var_nftables_table.var
Labels: RHEL9, RHEL8, CIS

#10577 SLE 12/15 profile updates
  controls/anssi.yml
  controls/pcidss_4.yml
  products/sle15/profiles/pcs-hardening.profile
  products/sle15/profiles/stig.profile
Labels: SLES, needs-ok-to-test, Update Profile, STIG, ANSSI, pci-dss

#10631 Fix template not found error in Automatus
  tests/ssg_test_suite/rule.py
Labels: usability

#10590 SLE PCIDSS Fix problem with sshd_strong_kex default selector
  linux_os/guide/services/ssh/sshd_strong_kex.var
  products/sle12/profiles/pci-dss-4.profile
  products/sle15/profiles/pci-dss-4.profile
Labels: bugfix, SLES, pci-dss

#10611 Refactor the scapval test
  tests/run_scapval.py
Labels: Infrastructure, refactoring

#10623 Add rules SLES-15-010420 and SLES-12-010500
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
  products/sle12/profiles/stig.profile
Labels: SLES, needs-ok-to-test, STIG

#10632 Sync rules that contain a stig ID to those in stig profiles for ol products
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_action/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configured_firewalld_default_deny/rule.yml
  linux_os/guide/system/permissions/restrictions/kernel_module_uvcvideo_disabled/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/install_mcafee_antivirus/rule.yml
  linux_os/guide/system/software/system-tools/package_libreport-plugin-rhtsupport_removed/rule.yml
  products/ol7/profiles/stig.profile
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test

#10619 Complete the CIS requirement to prevent rsyslog from receiving logs from remote clients
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/ansible/shared.yml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/bash/shared.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/oval/shared.xml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/rule.yml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/all_lines_commented.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/all_lines_in_conf.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/legacy_commented_lines.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/legacy_commented_lines_included.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/legacy_modules_used.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/legacy_modules_used_included.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/legacy_one_module_used.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/no_lines_in_conf.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/no_modules.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/one_line_in_conf.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/rainer_commented_lines.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/rainer_commented_lines_included.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/rainer_commented_lines_multiline_included.pass.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/rainer_modules_used.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/rainer_modules_used_included.fail.sh
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/tests/shared.sh
  tests/shared/rsyslog_log_utils.sh
Labels: RHEL9, Update Rule, RHEL8, CIS

#10597 Update OVAL, ansible an tests in audit_rules_suid_privilege_function rule
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.fail.sh
Labels: Oracle Linux, needs-ok-to-test, STIG

#10543 Update GitHub Action Versions
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus.yaml
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/release-changelog.json
  .github/workflows/release.yaml
  .github/workflows/srg-mapping-table.yaml
Labels: Infrastructure

#10648 Implement distributed product properties without applying them
  build-scripts/compile_product.py
  cmake/SSGCommon.cmake
  docs/flowcharts/flowchart_products.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/06_contributing_with_content.md
  product_properties/README.md
  ssg/environment.py
  ssg/products.py
  ssg/yaml.py
  tests/test_parse_affected.py
  tests/unit/ssg-module/data/properties/00-default.yml
  tests/unit/ssg-module/data/properties/10-property_two.yml
  tests/unit/ssg-module/test_controls.py
  tests/unit/ssg-module/test_products.py
  tests/unit/ssg-module/test_templates.py
  utils/autoprodtyper.py
  utils/build_stig_control.py
  utils/controlrefcheck.py
  utils/create_scap_delta_tailoring.py
  utils/create_srg_export.py
  utils/fix_rules.py
  utils/refchecker.py
  utils/rule_dir_json.py
  utils/template_renderer.py
Labels: Infrastructure, Highlight

#10651 Fix install_vm.py on older versions of Python
  tests/install_vm.py
Labels: bugfix, Test Suite, backported-into-stabilization

#10643 fix: use grep -E instead of deprecated egrep
  .github/workflows/gate.yaml
  docs/manual/developer/06_contributing_with_content.md
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_own_home_directories/sce/ubuntu2004.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passwd/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_gshadow/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_gshadow/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra/policy/stig/shared.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/policy/stig/shared.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/policy/stig/shared.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/policy/stig/shared.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra/policy/stig/shared.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/policy/stig/shared.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_redirects/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_source_route/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_log_martians/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_rp_filter/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_redirects/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_rp_filter/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_echo_ignore_broadcasts/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_ignore_bogus_error_responses/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_syncookies/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_all_send_redirects/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_default_send_redirects/policy/stig/shared.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_hardlinks/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_symlinks/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_randomize_va_space/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_core_pattern/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_kexec_load_disabled/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_paranoid/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_net_core_bpf_jit_harden/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/bash/ubuntu.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/policy/stig/shared.yml
Labels: needs-ok-to-test

#10652 Fix install_vm.py on older versions of Python
  tests/install_vm.py
Labels: BLOCKER, Infrastructure

#10596 Introduce network access control rule
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
  linux_os/guide/system/network/network_implement_access_control/oval/shared.xml
  linux_os/guide/system/network/network_implement_access_control/rule.yml
  linux_os/guide/system/network/network_implement_access_control/tests/correct_firewalld_config_hosts.pass.sh
  linux_os/guide/system/network/network_implement_access_control/tests/correct_firewalld_config_services_user_defined_zonefile.pass.sh
  linux_os/guide/system/network/network_implement_access_control/tests/correct_tcpwrappers_allow_config.pass.sh
  linux_os/guide/system/network/network_implement_access_control/tests/correct_tcpwrappers_deny_config.pass.sh
  linux_os/guide/system/network/network_implement_access_control/tests/no_network_access_control.fail.sh
  products/ol7/profiles/stig.profile
Labels: Oracle Linux, New Rule, STIG

#10572 Fix issue when adding fstab entries with iso9660
  shared/macros/10-bash.jinja
Labels: bugfix, Bash, needs-ok-to-test

#10580 Update SLE 12/15 rule and change package name
  linux_os/guide/system/auditing/package_audit-libs_installed/rule.yml
Labels: SLES, needs-ok-to-test, Update Rule

#10644 update rule SLES-12-030250
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/rule.yml
  shared/applicability/package.yml
Labels: SLES, needs-ok-to-test, Update Rule

#10620 Update rule aide_scan_notification for sle 15
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/rule.yml
  products/sle15/profiles/stig.profile
Labels: SLES, needs-ok-to-test, STIG

#10642 fix: ssg_test_suite: warning when rule not in benchmark
  tests/ssg_test_suite/rule.py
Labels: enhancement, Test Suite, ok-to-test

#10566 Some SLE 12/15 fixes related to the rule accounts_passwords_pam_tally2
  controls/anssi.yml
  controls/pcidss_3.yml
  controls/pcidss_4.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/missing_pam_tally2.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_big_deny.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_configured.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_empty_deny.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_zero_deny.fail.sh
  products/sle15/profiles/pcs-hardening.profile
  products/sle15/profiles/stig.profile
Labels: SLES, needs-ok-to-test

#10639 Add rules SLES-15-040450 SLES-12-030270
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/common.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/no_parameters.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/wrong_value.fail.sh
  products/sle12/profiles/stig.profile
  products/sle15/profiles/stig.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, STIG

#10660 Stabilization: Add git to dependencies of the stabilize workflow
  .github/workflows/stabilize.yaml
Labels: backported-into-stabilization
