Repository ComplianceAsCode/content, pull requests merged in 2023-01, with the labels that each got.

#10009 Fix Jinja condition in macro for pam_faillock
  shared/macros/10-bash.jinja
Labels: bugfix, Bash, productization-issue

#10018 Install NetworkManager as part of `wireless_disable_interfaces` remediation
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/ansible/shared.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/shared.sh
Labels: Ansible, Bash

#9992 Add faillock_path to product properties
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/tests/default.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/group.yml
  products/ol8/product.yml
  products/ol9/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  ssg/constants.py
  ssg/products.py
Labels: enhancement

#9976 OL7 stig v2r9 update
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_remote_daemon_activated/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_remote_daemon_direction/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_remote_daemon_path/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_remote_daemon_type/rule.yml
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  shared/references/disa-stig-ol7-v2r9-xccdf-manual.xml
Labels: Oracle Linux, Update Profile, STIG

#10020 Fix `--datastream-only` in `./build_product`
  build_product
Labels: bugfix, Infrastructure

#9973 Handle polyinstantiated directories/mount points
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/shared.sh
Labels: needs-ok-to-test

#9977 aide_periodic_cron_checking: Improve ubuntu-specific OVAL and bash
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/bash/ubuntu.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/oval/ubuntu.xml
Labels: OVAL, Bash, Ubuntu

#10014 Fixing bootloader password for RHEL8 kickstart
  products/rhel8/kickstart/ssg-rhel8-cis-ks.cfg
Labels: bugfix, needs-ok-to-test, RHEL8, CIS

#9935 Update accounts_password template for OL due to precedence confs
  shared/templates/accounts_password/ansible.template
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/tests/system_auth_overwritten.fail.sh
Labels: Ansible, OVAL, Bash, needs-ok-to-test

#10023 Remove RHEL 8 STIG Control
  CODEOWNERS
  controls/stig_rhel8.yml
Labels: RHEL8, STIG

#10021 Fix PAM control flag for pam_pwhistory.so
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/srg_gpos/SRG-OS-000077-GPOS-00045.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/rhel7_correct_value_cis_l2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/rhel7_correct_value_cis_l2.pass.sh
  products/rhel8/profiles/stig.profile
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, RHEL

#9955 accounts_password_set_min_life_existing: Avoid system accounts
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/correct_min_pas_age.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/correct_min_pas_age_noninteractive.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/correct_stig.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_min_pass_age.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_min_pass_age_blank.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/tests/incorrect_stig.fail.sh
Labels: Ansible, OVAL, Bash

#10026 Improve service_disabled template
  shared/templates/service_disabled/bash.template
  shared/templates/service_disabled/tests/service_disabled.pass.sh
  shared/templates/service_disabled/tests/service_enabled.fail.sh
Labels: Test Suite, Bash

#9954 accounts_password_set_max_life_existing does not exclude no passwords or locked accounts
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/correct_max_pas_age.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/correct_max_pas_age_noninteractive.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_max_pass_age.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_max_pass_age_blank.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/tests/incorrect_stig_blank.fail.sh
Labels: Ansible, OVAL, Bash

#10028 Add rule to OL7 stig profile
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/rule.yml
  products/ol7/profiles/stig.profile
Labels: Oracle Linux, Update Profile, STIG

#10030 Add sanity tests for compare_disa_xml.py
  tests/CMakeLists.txt
Labels: Infrastructure

#9995 Small corrections related to 3 rules
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_direct_root_logins/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/securetty_root_login_console_only/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
Labels: SLES, needs-ok-to-test, Update Rule, CIS

#9986 Add Ubuntu 22.04 to Gating
  .github/workflows/gate.yaml
Labels: Infrastructure

#10034 Fix a few isssues in test-compare-disa-xml
  tests/CMakeLists.txt
Labels: Infrastructure

#10025 Update Ansible Lint Config
  .config/ansible-lint.yml
Labels: Infrastructure

#9990 Add rule for no .forward files
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/tests/forward_file.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/tests/no_files.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_netrc_files/tests/netrc_file.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, ok-to-test

#10042 Include RHEL products in package_nftables_installed
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10043 Include RHEL products in audit_sudo_log_events
  linux_os/guide/system/auditing/auditd_configure_rules/audit_sudo_log_events/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL8, CIS

#9981 Added a new rule package_tcp_wrappers_removed
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_tcp_wrappers_removed/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10045 Fix accounts_password template for OL
  shared/templates/accounts_password/ansible.template
Labels: bugfix, Ansible, Oracle Linux

#9971 Update rules to limit password reuse
  controls/anssi.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/var_password_pam_remember.var
Labels: ANSSI

#10001 CMP-1389 : Update titles of API server tlsSecurityProfile rules
  applications/openshift/api-server/api_server_tls_security_profile/rule.yml
  applications/openshift/api-server/api_server_tls_security_profile_custom_min_tls_version/rule.yml
  applications/openshift/api-server/api_server_tls_security_profile_not_old/rule.yml
Labels: OpenShift, ok-to-test

#9931 Added a new SLE 12/15's rule package_rcpbind_removed
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/package_rcpbind_removed/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10051 Include Ubuntu products in package_rsync_removed
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10052 Include Ubuntu products in package_nftables_installed
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10033 Fix the service_telnet_disabled rule
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
Labels: bugfix, Update Rule

#10038 platforms: rewrite mechanism which parses version into EVR
  ssg/requirement_specs.py
  tests/unit/ssg-module/test_requirement_specs.py
Labels: bugfix, Infrastructure, CPE-AL

#10054 Typo corrections in the name of the rule
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/package_rpcbind_removed/rule.yml
Labels: bugfix, SLES, needs-ok-to-test

#10040 Platforms: prevent building content when version comparison is used and platform provides remediation conditional
  docs/manual/developer/06_contributing_with_content.md
  ssg/build_remediations.py
  tests/unit/ssg-module/data/package_ntp.yml
  tests/unit/ssg-module/data/package_ntp_eq_1_0.yml
  tests/unit/ssg-module/test_build_remediations.py
Labels: Infrastructure, CPE-AL

#10053 Update package name for RHEL in package_rsync_removed
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
Labels: bugfix, Update Rule

#10050 Include Ubuntu products in package_cups_removed
  linux_os/guide/services/printing/package_cups_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10055 Include Ubuntu products in package_rpcbind_removed
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/package_rpcbind_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#9974 Bump OL8 STIG version to V1R4
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v1r4-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, STIG

#10066 create_srg_export.py: Map NOT_APPLICABLE
  utils/create_srg_export.py
Labels: bugfix

#10062 Add package prelink removed
  controls/cis_rhel7.yml
  linux_os/guide/system/software/integrity/package_prelink_removed/ansible/shared.yml
  linux_os/guide/system/software/integrity/package_prelink_removed/bash/shared.sh
  linux_os/guide/system/software/integrity/package_prelink_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL7, CIS

#10036 Bump fedora version in Dockerfiles to 37
  Dockerfiles/quay_publish
  ocp-resources/ds-build-remote.yaml
Labels: Infrastructure

#10015 Fix the generation of SCE checks in the output datastream
  .github/workflows/gate.yaml
  build-scripts/build_sce.py
  build-scripts/compose_ds.py
  cmake/SSGCommon.cmake
  ssg/build_sce.py
  ssg/constants.py
  ssg/templates.py
  tests/test_ds_sce.py
Labels: bugfix, Infrastructure, needs-ok-to-test

#10070 add new rule audit_rules_immutable_login_uids
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/auditctl_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/auditctl_correct_commented.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/auditctl_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/auditctl_wrong.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/augenrules_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/augenrules_correct_commented.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/augenrules_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/tests/augenrules_wrong.fail.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: New Rule, RHEL8, STIG

#10071 Include Ubuntu products in package_prelink_removed
  linux_os/guide/system/software/integrity/disable_prelink/rule.yml
  linux_os/guide/system/software/integrity/package_prelink_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10073 Add account_emergency_expire_date to OL7 stig
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  products/ol7/profiles/stig.profile
Labels: Oracle Linux, Update Profile, STIG

#9966 Update ISM and E8 profile SMEs
  products/ocp4/profiles/e8.profile
  products/rhcos4/profiles/e8.profile
  products/rhel7/profiles/e8.profile
  products/rhel8/profiles/e8.profile
  products/rhel8/profiles/ism_o.profile
  products/rhel9/profiles/e8.profile
  products/rhel9/profiles/ism_o.profile
Labels: ok-to-test

#10061 Scripts clean up
  utils/find_shadowed_files.py
  utils/xccdf2csv-stig.py
Labels: Infrastructure

#10075 New rule for tmux lock session keybinding
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/file_empty.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/line_commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/wrong_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/wrong_value.fail.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#10069 Parametrize rule audit_rules_system_shutdown
  controls/srg_gpos/SRG-OS-000046-GPOS-00022.yml
  controls/srg_gpos/SRG-OS-000047-GPOS-00023.yml
  docs/workshop/data/ospp-rhel7.profile
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_system_shutdown/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_system_shutdown/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_system_shutdown/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_system_shutdown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/var_audit_failure_mode.var
  products/ol7/profiles/hipaa.profile
  products/ol7/profiles/ncp.profile
  products/ol7/profiles/stig.profile
  products/ol8/profiles/hipaa.profile
  products/ol9/profiles/hipaa.profile
  products/rhel7/profiles/hipaa.profile
  products/rhel7/profiles/ncp.profile
  products/rhel7/profiles/rhelh-stig.profile
  products/rhel7/profiles/rhelh-vpp.profile
  products/rhel7/profiles/stig.profile
  products/rhel8/profiles/hipaa.profile
  products/rhel9/profiles/hipaa.profile
  products/rhv4/profiles/rhvh-stig.profile
  products/rhv4/profiles/rhvh-vpp.profile
  products/sle15/profiles/hipaa.profile
Labels: RHEL7, STIG

#10079 Update RHEL7 STIG to V3R10
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r10-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r10-xccdf-scap.xml
Labels: RHEL7, STIG

#10068 Added 2 rules for 15 related to nftables
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10086 Using the Ansible shell actions is needed in package_prelink_remove
  linux_os/guide/system/software/integrity/package_prelink_removed/ansible/shared.yml
Labels: bugfix, Ansible

#10078 Update RHEL8 STIG to V1R9
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r8-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v1r9-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#10084 Update rule selections in RHEL 7 STIG
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_screen_installed/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  products/rhel7/profiles/stig.profile
Labels: RHEL7, STIG

#10094 Add aide_build_database to STIG in OL and RHEL
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  products/ol7/profiles/stig.profile
  products/ol8/profiles/stig.profile
  products/rhel7/profiles/stig.profile
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile, RHEL8, STIG

#10032 Add sshd use strong kex
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/good_kex.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/no_kex.fail.sh
  linux_os/guide/services/ssh/sshd_strong_kex.var
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: needs-ok-to-test

#10097 Update RHEL8 STIG selections (V1R9)
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#10101 Include Ubuntu products in two nftables rules
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10077 Include 4 rules in the stig profile for RHEL8
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#10072 Change sshd_disable_compression applicability
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/rule.yml
  shared/applicability/rhel7_older_than_7_4.yml
  shared/checks/oval/rhel7_older_than_7_4.xml
Labels: RHEL7, STIG

#10109 Move two rules to higher level in cis_rhel8 control file
  controls/cis_rhel8.yml
Labels: bugfix, Update Profile, RHEL8, CIS

#10107 New SLE 15 rule ensure_iptables_are_flushed
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-iptables/ensure_iptables_are_flushed/rule.yml
  shared/references/cce-sle15-avail.txt
Labels: needs-ok-to-test

#10106 Add cce id for SLES platform to set_iptables_default_rule
  controls/cis_sle12.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, CIS

#10067 Clean up SRG export
  tests/CMakeLists.txt
  utils/create_srg_export.py
  utils/srg_export/__init__.py
  utils/srg_export/data.py
  utils/srg_export/html.py
  utils/srg_export/md.py
  utils/srg_export/xlsx.py
Labels: Infrastructure

#10108 Update contributors list for v0.1.66 release
  Contributors.md
  Contributors.xml
Labels: Documentation, Highlight

#10058 accounts_passwords_pam_tally2: Move to bash_ensure_pam_module_option
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/bash/shared.sh
Labels: SLES, Ubuntu, Update Rule

#10104 Misc CIS changes for Ubuntu
  linux_os/guide/services/ssh/service_sshd_enabled/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_x11_use_localhost/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_difok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforcing/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_opensc_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_ca/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_crl/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/verify_use_mappers/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/ensure_sudo_group_restricted/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_sudo_log_events/rule.yml
  linux_os/guide/system/network/network-ufw/ufw_only_required_services/rule.yml
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/rule.yml
  products/ubuntu2004/profiles/cis_level2_server.profile
  products/ubuntu2204/profiles/cis_level2_server.profile
  products/ubuntu2204/profiles/cis_level2_workstation.profile
Labels: Ubuntu, CIS

#10105 Add new rule package_systemd-journal-remote_installed
  linux_os/guide/system/logging/journald/package_systemd-journal-remote_installed/rule.yml
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: RHEL, Ubuntu, New Rule, CIS

#10082 Assign CCE-IDs for sysctl_net_ipv4_conf_default_log_martians for SLES-12 and SLES-15
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_log_martians/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, ok-to-test, Update Rule

#10085 Introduce script shorthand to OVAL
  docs/manual/developer/05_tools_and_utilities.md
  ssg/build_ovals.py
  tests/CMakeLists.txt
  tests/data/utils/shorthand_oval.xml
  tests/oval_tester.py
  utils/shorthand_to_oval.py
Labels: enhancement

#10113 New SLE 15 rule service_nftables_enabled
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10121 Add CIS iptables rules
  linux_os/guide/system/network/network-iptables/iptables_activation/service_iptables_enabled/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/ansible/shared.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/bash/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/ansible/shared.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/bash/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/package_iptables-persistent_installed/rule.yml
  linux_os/guide/system/network/network-iptables/package_iptables-persistent_removed/rule.yml
  linux_os/guide/system/network/network-ufw/package_ufw_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, New Rule, Update Profile, CIS

#10125 OL7 stig v2r10 update
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  shared/applicability/ol7_older_than_7_4.yml
  shared/checks/oval/ol7_older_than_7_4.xml
  shared/references/disa-stig-ol7-v2r10-xccdf-manual.xml
Labels: Oracle Linux, Update Rule, Update Profile, STIG

#10123 Bump version of OL8 STIG to V1R5
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v1r5-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, Update Profile, STIG

#10114 New SLE 15 rule set_nftables_new_connections
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/set_nftables_new_connections/rule.yml
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10096 Add utils/controlrefcheck.py
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  docs/manual/developer/05_tools_and_utilities.md
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_xinetd_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/no_rsh_trust_files/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/rule.yml
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/rule.yml
  linux_os/guide/system/selinux/selinux_state/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
  tests/CMakeLists.txt
  utils/controlrefcheck.py
Labels: enhancement, Test Suite

#10103 Introduce new rule sshd_use_approved_kex_ordered_stig
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/common.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/default_fips.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/no_parameters.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/wrong_value.fail.sh
  products/ol7/profiles/stig.profile
  products/ol8/profiles/stig.profile
  products/rhel7/profiles/stig.profile
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Oracle Linux, New Rule, RHEL7, STIG

#10120 OCP4: Fix NIST control references, fix nonexistent rule name
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/authentication/idp_is_configured/rule.yml
  applications/openshift/authentication/oauth_or_oauthclient_inactivity_timeout/rule.yml
  applications/openshift/authentication/ocp_idp_no_htpasswd/rule.yml
  applications/openshift/authentication/ocp_no_ldap_insecure/rule.yml
  applications/openshift/general/kubeadmin_removed/rule.yml
  applications/openshift/integrity/crypto/fips_mode_enabled_on_all_nodes/rule.yml
  applications/openshift/logging/audit_profile_set/rule.yml
  applications/openshift/networking/routes_protected_by_tls/rule.yml
  applications/openshift/rbac/rbac_limit_cluster_admin/rule.yml
  controls/nist_ocp4.yml
Labels: OpenShift

#10122 assign ntp_configure_restrictions to SLE12
  linux_os/guide/services/ntp/ntpd_configure_restrictions/ansible/shared.yml
  linux_os/guide/services/ntp/ntpd_configure_restrictions/bash/shared.sh
  linux_os/guide/services/ntp/ntpd_configure_restrictions/rule.yml
  shared/references/cce-sle12-avail.txt
Labels: SLES, needs-ok-to-test, Update Rule

#10092 New rule for SLE 15 set_firewalld_appropriate_zone
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-firewalld/set_firewalld_appropriate_zone/rule.yml
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, CIS

#10098 OCP4 PCI-DSS: Fix non-existent rule name
  controls/pcidss_ocp4.yml
Labels: OpenShift, pci-dss

#10116 OCP4 STIG: Add status justification to SRG-APP-000033
  controls/srg_ctr/SRG-APP-000033-CTR-000090.yml
  controls/srg_ctr/SRG-APP-000033-CTR-000095.yml
  controls/srg_ctr/SRG-APP-000033-CTR-000100.yml
Labels: OpenShift

#10131 Two SLE 12/15 rules related to avahi package
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi-autoipd_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi_removed/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, CIS

#10115 OCP4 STIG: Move SRG-APP-000014-CTR-000040 to rule policy files
  applications/openshift/api-server/api_server_tls_security_profile/policy/stig/shared.yml
  applications/openshift/integrity/crypto/fips_mode_enabled_on_all_nodes/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_min_version/policy/stig/shared.yml
  applications/openshift/networking/ingress_controller_tls_security_profile/policy/stig/shared.yml
  controls/srg_ctr/SRG-APP-000014-CTR-000040.yml
Labels: OpenShift

#10133 Remove utils/count_oval_objects.py
  utils/count_oval_objects.py
Labels: Infrastructure

#9789 Rsyslog files rules remediations
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/file_groupowner_logfiles_value.var
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/include_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_groupownership/tests/is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/IncludeConfig_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/IncludeConfig_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_is_root_IncludeConfig_is_other.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/include_multiline_is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/tests/is_root.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/tests/rsyslog_file_with_everything_logged_to_messages.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/tests/rsyslog_file_with_no_logging.fail.sh
  products/debian10/profiles/anssi_np_nt28_average.profile
  products/debian10/profiles/standard.profile
  products/debian11/profiles/anssi_np_nt28_average.profile
  products/debian11/profiles/standard.profile
  products/rhel7/profiles/rht-ccp.profile
  products/rhel8/profiles/rht-ccp.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/standard.profile
  products/ubuntu1604/profiles/anssi_np_nt28_average.profile
  products/ubuntu1604/profiles/standard.profile
  products/ubuntu1804/profiles/anssi_np_nt28_average.profile
  products/ubuntu1804/profiles/standard.profile
  products/ubuntu2004/profiles/standard.profile
  products/ubuntu2204/profiles/standard.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
  shared/templates/rsyslog_logfiles_attributes_modify/bash.template
  shared/templates/rsyslog_logfiles_attributes_modify/oval.template
  shared/templates/rsyslog_logfiles_attributes_modify/template.yml
  shared/templates/rsyslog_logfiles_attributes_modify/tests/IncludeConfig_is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/IncludeConfig_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_other_IncludeConfig_is_other_RainerLogClause.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root_IncludeConfig_is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root_IncludeConfig_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root_IncludeConfig_is_root_RainerLogClause.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_multiline_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/is_root.pass.sh
Labels: enhancement, needs-ok-to-test, New Template

#10136 add missing SRG to aide_build_database rule
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
Labels: bugfix, Update Rule, RHEL7, RHEL8, STIG

#10127 change applicability of rules configuring idle session timeouts
  controls/anssi.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/ospp.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel8/profiles/rht-ccp.profile
  shared/applicability/rhel_equals_9_0.yml
  shared/applicability/rhel_greater_equal_8_7.yml
  shared/applicability/rhel_less_equal_8_5.yml
  shared/checks/oval/installed_os_is_rhel.xml
  shared/checks/oval/rhel8_greater_equal_8_7.xml
  shared/checks/oval/rhel8_less_equal_8_5.xml
  shared/checks/oval/rhel9_equals_9_0.xml
  tests/data/profile_stability/rhel8/ospp.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: RHEL9, Update Rule, RHEL8

#10141 Update Rawhide Before Use
  .github/workflows/gate.yaml
Labels: Infrastructure

#10124 Update tmux rules and add them to OL8 STIG profiles
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/alternative_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/file_empty.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/line_commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/tests/wrong_permissions.fail.sh
  products/ol8/profiles/stig.profile
Labels: OVAL, Oracle Linux, needs-ok-to-test, Update Profile, RHEL8, STIG

#10095 SRG-APP-000023-CTR-000055: Move metadata to policy files
  applications/openshift/authentication/idp_is_configured/policy/stig/shared.yml
  applications/openshift/authentication/idp_is_configured/rule.yml
  applications/openshift/authentication/ocp_idp_no_htpasswd/policy/stig/shared.yml
  applications/openshift/authentication/ocp_idp_no_htpasswd/rule.yml
  applications/openshift/authentication/ocp_no_ldap_insecure/policy/stig/shared.yml
  applications/openshift/authentication/ocp_no_ldap_insecure/rule.yml
  applications/openshift/general/kubeadmin_removed/policy/stig/shared.yml
  applications/openshift/general/kubeadmin_removed/rule.yml
  applications/openshift/logging/audit_profile_set/rule.yml
  controls/srg_ctr/SRG-APP-000023-CTR-000055.yml
  controls/srg_ctr/SRG-APP-000024-CTR-000060.yml
  controls/srg_ctr/SRG-APP-000025-CTR-000065.yml
  controls/srg_ctr/SRG-APP-000026-CTR-000070.yml
  controls/srg_ctr/SRG-APP-000027-CTR-000075.yml
  controls/srg_ctr/SRG-APP-000028-CTR-000080.yml
  controls/srg_ctr/SRG-APP-000029-CTR-000085.yml
  controls/srg_ctr/SRG-APP-000065-CTR-000115.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000335.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000340.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000345.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000350.yml
  controls/srg_ctr/SRG-APP-000149-CTR-000355.yml
  controls/srg_ctr/SRG-APP-000150-CTR-000360.yml
  controls/srg_ctr/SRG-APP-000151-CTR-000365.yml
  controls/srg_ctr/SRG-APP-000152-CTR-000370.yml
  controls/srg_ctr/SRG-APP-000153-CTR-000375.yml
  controls/srg_ctr/SRG-APP-000156-CTR-000380.yml
  controls/srg_ctr/SRG-APP-000157-CTR-000385.yml
  controls/srg_ctr/SRG-APP-000163-CTR-000395.yml
  controls/srg_ctr/SRG-APP-000164-CTR-000400.yml
  controls/srg_ctr/SRG-APP-000165-CTR-000405.yml
  controls/srg_ctr/SRG-APP-000166-CTR-000410.yml
  controls/srg_ctr/SRG-APP-000167-CTR-000415.yml
  controls/srg_ctr/SRG-APP-000168-CTR-000420.yml
  controls/srg_ctr/SRG-APP-000169-CTR-000425.yml
  controls/srg_ctr/SRG-APP-000170-CTR-000430.yml
  controls/srg_ctr/SRG-APP-000171-CTR-000435.yml
  controls/srg_ctr/SRG-APP-000172-CTR-000440.yml
  controls/srg_ctr/SRG-APP-000173-CTR-000445.yml
  controls/srg_ctr/SRG-APP-000174-CTR-000450.yml
  controls/srg_ctr/SRG-APP-000177-CTR-000465.yml
  controls/srg_ctr/SRG-APP-000185-CTR-000490.yml
  controls/srg_ctr/SRG-APP-000234-CTR-000590.yml
  controls/srg_ctr/SRG-APP-000291-CTR-000675.yml
  controls/srg_ctr/SRG-APP-000292-CTR-000680.yml
  controls/srg_ctr/SRG-APP-000293-CTR-000685.yml
  controls/srg_ctr/SRG-APP-000294-CTR-000690.yml
  controls/srg_ctr/SRG-APP-000317-CTR-000735.yml
  controls/srg_ctr/SRG-APP-000318-CTR-000740.yml
  controls/srg_ctr/SRG-APP-000319-CTR-000745.yml
  controls/srg_ctr/SRG-APP-000320-CTR-000750.yml
  controls/srg_ctr/SRG-APP-000345-CTR-000785.yml
  controls/srg_ctr/SRG-APP-000391-CTR-000935.yml
  controls/srg_ctr/SRG-APP-000397-CTR-000955.yml
  controls/srg_ctr/SRG-APP-000401-CTR-000965.yml
  controls/srg_ctr/SRG-APP-000402-CTR-000970.yml
  controls/srg_ctr/SRG-APP-000503-CTR-001275.yml
  controls/srg_ctr/SRG-APP-000505-CTR-001285.yml
  controls/srg_ctr/SRG-APP-000506-CTR-001290.yml
Labels: OpenShift

#10151 Stabilization: Updated CIS RHEL requirements related to rpcbind and cups
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/service_rpcbind_disabled/rule.yml
Labels: bugfix, RHEL, CIS

#10152 Stabilization: remove service_rngd_enabled from RHEL9 and RHEL8 STIG profiles
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/rng/service_rngd_enabled/policy/stig/shared.yml
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL9, Update Rule, Update Profile, RHEL8, STIG

#10144 improve applicability of rule package_rear_installed
  linux_os/guide/system/software/system-tools/package_rear_installed/rule.yml
  shared/applicability/ol_greater_equal_9_0.yml
  shared/applicability/rhel_greater_equal_9_0.yml
  shared/applicability/rhel_less_equal_8_4.yml
  shared/checks/oval/installed_OS_is_ol.xml
  shared/checks/oval/ol9_greater_equal_9_0.xml
  shared/checks/oval/rhel8_less_equal_8_4.xml
  shared/checks/oval/rhel9_greater_equal_9_0.xml
Labels: Oracle Linux, RHEL9, Update Rule, RHEL8

#10149 Change applicability of rules configuring idle session timeouts (going to master branch)
  controls/anssi.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/ospp.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel8/profiles/rht-ccp.profile
  shared/applicability/rhel_equals_9_0.yml
  shared/applicability/rhel_greater_equal_8_7.yml
  shared/applicability/rhel_less_equal_8_5.yml
  shared/checks/oval/installed_OS_is_rhel.xml
  shared/checks/oval/rhel8_greater_equal_8_7.xml
  shared/checks/oval/rhel8_less_equal_8_5.xml
  shared/checks/oval/rhel9_equals_9_0.xml
  tests/data/profile_stability/rhel8/ospp.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: bugfix, RHEL9, Update Rule, Update Profile, RHEL8, STIG, OSPP, pci-dss

#10118 OCP: Automated apiserver tls checks
  applications/openshift/api-server/api_server_oauth_https_serving_cert/oval/shared.xml
  applications/openshift/api-server/api_server_oauth_https_serving_cert/rule.yml
  applications/openshift/api-server/api_server_oauth_https_serving_cert/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_openshift_https_serving_cert/oval/shared.xml
  applications/openshift/api-server/api_server_openshift_https_serving_cert/rule.yml
  applications/openshift/api-server/api_server_openshift_https_serving_cert/tests/ocp4/e2e.yml
Labels: OpenShift

#9980 SRG-APP-000014-CTR-000035: Use policy files
  applications/openshift/integrity/crypto/fips_mode_enabled_on_all_nodes/rule.yml
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/policy/stig/shared.yml
  applications/openshift/registry/ocp_insecure_registries/policy/stig/shared.yml
  controls/srg_ctr/SRG-APP-000014-CTR-000035.yml
Labels: OpenShift

#10145 Remove check of /var/log/dmesg from OVAL
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/oval/shared.xml
Labels: OVAL, STIG
