Repository ComplianceAsCode/content, pull requests merged in 2023-07, with the labels that each got.

#10779 Update OL variables
  products/ol7/product.yml
  products/ol7/profiles/ncp.profile
  products/ol8/product.yml
  products/ol9/product.yml
Labels: Oracle Linux, needs-ok-to-test

#10775 Remove outdated comment from OCP4 CIS profile
  products/ocp4/profiles/cis.profile
Labels: OpenShift, CIS

#10768 Introduce a script to compare ComplianceAsCode versions
  docs/manual/developer/05_tools_and_utilities.md
  utils/compare_versions.py
Labels: enhancement, Highlight

#10790 Remove quotes from journald config parameters
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
Labels: needs-ok-to-test, Update Rule

#10795 Fix OL Stability Test
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
Labels: bugfix

#10772 Ol8 update anssi profiles
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_drop_gratuitous_arp/rule.yml
  products/ol8/profiles/anssi_bp28_enhanced.profile
Labels: Oracle Linux, needs-ok-to-test, ANSSI

#10794 Add mount platforms
  linux_os/guide/system/permissions/partitions/mount_option_home_grpquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_usrquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_opt_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_srv_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  shared/applicability/mount.yml
Labels: Update Rule

#10771 Update OL8 cjis profile
  products/ol8/profiles/cjis.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile

#10714 Updates of the rule use_pam_wheel_group_for_su
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/rule.yml
  products/sle12/profiles/pci-dss-4.profile
  products/sle15/profiles/pci-dss-4.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: Bash, SLES, Ubuntu, needs-ok-to-test, CIS

#10742 RHCOS4 STIG: Cover the controls that relate to NIST SC
  controls/srg_ctr/SRG-APP-000211-CTR-000530.yml
  controls/srg_ctr/SRG-APP-000233-CTR-000585.yml
  controls/srg_ctr/SRG-APP-000243-CTR-000600.yml
  linux_os/guide/system/bootloader-grub2/coreos_vsyscall_kernel_argument/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/coreos_page_poison_kernel_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/coreos_slub_debug_kernel_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_paranoid/rule.yml
  linux_os/guide/system/selinux/coreos_enable_selinux_kernel_argument/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  products/rhcos4/profiles/stig.profile
  tests/unit/ssg-module/test_playbook_builder_data/guide/selinux_state/rule.yml
Labels: OpenShift

#10789 OCP4: Remove the CIS 1.3 controls completely
  controls/cis_ocp_1_3_0.yml
  controls/cis_ocp_1_3_0/section-1.yml
  controls/cis_ocp_1_3_0/section-2.yml
  controls/cis_ocp_1_3_0/section-3.yml
  controls/cis_ocp_1_3_0/section-4.yml
  controls/cis_ocp_1_3_0/section-5.yml
Labels: OpenShift, CIS

#10803 Set package_nftables_installed as machine only
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
Labels: needs-ok-to-test, Update Rule

#10804 Set package_iptables_installed as machine only
  linux_os/guide/system/network/network-iptables/package_iptables_installed/rule.yml
Labels: needs-ok-to-test, Update Rule

#10807 use_pam_wheel_group_for_su: depend on pam being installed
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/rule.yml
Labels: needs-ok-to-test, Update Rule

#10810 Set package_rng-tools_installed as machine only
  linux_os/guide/system/software/system-tools/package_rng-tools_installed/rule.yml
Labels: needs-ok-to-test

#10806 Set ensure_root_password_configured as machine only
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_password_configured/rule.yml
Labels: needs-ok-to-test

#10798 OCP4: Fix instructions of scc_limit_container_allowed_capabilities
  applications/openshift/scc/scc_limit_container_allowed_capabilities/rule.yml
Labels: OpenShift, Update Rule

#10805 service_apport_disabled: depend on apport being installed
  linux_os/guide/services/apport/service_apport_disabled/rule.yml
  shared/applicability/package.yml
Labels: needs-ok-to-test, Update Rule

#10808 ensure_pam_wheel_group_empty: depend on pam being installed
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/rule.yml
Labels: needs-ok-to-test, Update Rule

#10769 create_srg_export: Enable reading check and fix from controls even if they have rules listed
  .github/workflows/srg-mapping-table.yaml
  controls/srg_ctr/SRG-APP-000026-CTR-000070.yml
  controls/srg_ctr/SRG-APP-000027-CTR-000075.yml
  controls/srg_ctr/SRG-APP-000028-CTR-000080.yml
  controls/srg_ctr/SRG-APP-000291-CTR-000675.yml
  controls/srg_ctr/SRG-APP-000292-CTR-000680.yml
  controls/srg_ctr/SRG-APP-000293-CTR-000685.yml
  controls/srg_ctr/SRG-APP-000294-CTR-000690.yml
  controls/srg_ctr/SRG-APP-000319-CTR-000745.yml
  controls/srg_ctr/SRG-APP-000320-CTR-000750.yml
  controls/srg_ctr/SRG-APP-000509-CTR-001305.yml
  utils/create_srg_export.py
Labels: Infrastructure, OpenShift

#10813 Add validation for Keys in Controls
  controls/srg_ctr/SRG-APP-000290-CTR-000670.yml
  ssg/controls.py
  tests/unit/ssg-module/test_controls.py
Labels: Infrastructure

#10799 SRG-APP-000439-CTR-001080: This is a manual rule
  controls/srg_ctr/SRG-APP-000439-CTR-001080.yml
Labels: OpenShift, STIG

#10731 OCP4: SRG-APP-000118-CTR-000240: Audit and pod logs files ownership and permission
  applications/openshift/general/file_groupowner_pod_logs/rule.yml
  applications/openshift/general/file_groupowner_pod_logs/tests/ocp4/e2e.yml
  applications/openshift/general/file_owner_groupowner_permissions_pod_logs/oval/shared.xml
  applications/openshift/general/file_owner_groupowner_permissions_pod_logs/policy/stig/shared.yml
  applications/openshift/general/file_owner_groupowner_permissions_pod_logs/rule.yml
  applications/openshift/general/file_owner_groupowner_permissions_pod_logs/tests/ocp4/e2e.yml
  applications/openshift/general/file_owner_pod_logs/rule.yml
  applications/openshift/general/file_owner_pod_logs/tests/ocp4/e2e.yml
  applications/openshift/general/file_permissions_pod_logs/rule.yml
  applications/openshift/general/file_permissions_pod_logs/tests/ocp4/e2e.yml
  components/systemd.yml
  controls/srg_ctr/SRG-APP-000118-CTR-000240.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_var_log_audit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
  linux_os/guide/system/logging/journald/file_groupowner_system_journal/rule.yml
  linux_os/guide/system/logging/journald/file_groupowner_system_journal/tests/ocp4/e2e.yml
  linux_os/guide/system/logging/journald/file_owner_system_journal/rule.yml
  linux_os/guide/system/logging/journald/file_owner_system_journal/tests/ocp4/e2e.yml
  linux_os/guide/system/logging/journald/file_permissions_system_journal/rule.yml
  linux_os/guide/system/logging/journald/file_permissions_system_journal/tests/ocp4/e2e.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log/tests/ocp4/e2e.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log/tests/ocp4/e2e.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log/tests/ocp4/e2e.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift

#10765 OCP4: SRG-APP-000142-CTR-000325: No longer Does Not Meet
  controls/srg_ctr/SRG-APP-000142-CTR-000325.yml
Labels: OpenShift, STIG

#10816 Add audit_rules_login_events_faillock to RHEL 8 STIG
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, Update Profile, RHEL8, STIG

#10811 Set accounts-physical as machine only
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/rule.yml
  linux_os/guide/system/accounts/accounts-physical/group.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_after_time/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_command/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_screen_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_tmux_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/group.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_ca/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/service_debug-shell_disabled/rule.yml
Labels: needs-ok-to-test, CPE-AL

#10817 Add a test for rule journald_storage
  linux_os/guide/system/logging/journald/journald_storage/tests/correct_value_in_quotes.fail.sh
Labels: Test Suite

#10818 Add a test for rule journald_compress
  linux_os/guide/system/logging/journald/journald_compress/tests/correct_value_in_quotes.fail.sh
Labels: Test Suite

#10821 Update RHEL 7 STIG to v3r11
  linux_os/guide/services/mail/package_mailx_installed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/cce-redhat-avail.txt
  shared/references/disa-stig-rhel7-v3r11-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r11-xccdf-scap.xml
Labels: Update Profile, RHEL7, STIG

#10822 Update OL8 hipaa profile
  products/ol8/profiles/hipaa.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile

#10727 RHCOS4 STIG: Cover controls that correspond to NIST AC
  components/audit.yml
  controls/srg_ctr/SRG-APP-000029-CTR-000085.yml
  controls/srg_ctr/SRG-APP-000343-CTR-000780.yml
  controls/srg_ctr/SRG-APP-000381-CTR-000905.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chage/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_dbus_daemon_launch_helper/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_dbus_daemon_launch_helper/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_dbus_daemon_launch_helper/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fusermount/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fusermount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fusermount/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fusermount3/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fusermount3/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fusermount3/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_gpasswd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_grub2_set_bootflag/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_grub2_set_bootflag/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_grub2_set_bootflag/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount_nfs/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount_nfs/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount_nfs/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgrp/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pkexec/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pkexec/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pkexec/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_polkit_helper/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_polkit_helper/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_polkit_helper/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_krb5_child/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_krb5_child/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_krb5_child/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_ldap_child/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_ldap_child/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_ldap_child/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_proxy_child/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_proxy_child/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_proxy_child/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_selinux_child/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_selinux_child/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sssd_selinux_child/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_su/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_umount/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_utempter/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_utempter/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_utempter/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_write/policy/stig/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_write/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_write/tests/ocp4/e2e.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/kubernetes/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, New Rule

#10819 Stop using "imp" module
  ssg/templates.py
Labels: BLOCKER, Infrastructure

#10777 Implement rules for CIS OCP Section 2
  applications/openshift/etcd/etcd_unique_ca/rule.yml
  controls/cis_ocp_1_4_0/section-2.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, CIS

#10788 Implement rules for CIS OCP Section 5.7
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10824 pam_faillock rules: show XCCDF variables in rule description
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
Labels: bugfix, usability, Update Rule, STIG

#10827 Remove deprecated rules from STIG control file for RHEL9
  controls/srg_gpos/SRG-OS-000021-GPOS-00005.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_dir/rule.yml
Labels: RHEL9, STIG

#10826 Update RHEL 8 STIG to V1R10
  linux_os/guide/services/mail/package_mailx_installed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/cce-redhat-avail.txt
  shared/references/disa-stig-rhel8-v1r10-xccdf-manual.xml
  shared/references/disa-stig-rhel8-v1r9-xccdf-scap.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#10776 Implement rules for CIS OCP Section 1.3
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_secure_port/rule.yml
  applications/openshift/controller/controller_service_account_ca/rule.yml
  applications/openshift/controller/controller_service_account_private_key/rule.yml
  applications/openshift/controller/controller_use_service_account/rule.yml
  applications/openshift/rbac/rbac_debug_role_protects_pprof/rule.yml
  controls/cis_ocp_1_4_0/section-1.yml
Labels: OpenShift, CIS

#10830 New applicability platform to check IPv6 state
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/group.yml
  shared/applicability/ipv6.yml
  shared/templates/platform_ipv6_state/cpe-oval.template
  shared/templates/platform_ipv6_state/template.yml
Labels: bugfix, Update Rule, CPE-AL

#10836 Fix invalid YAML in OCP CIS control file
  controls/cis_ocp_1_4_0/section-2.yml
Labels: OpenShift, CIS

#10829 Deprecate account_emergency_expire_date
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  products/rhel7/profiles/stig.profile
Labels: Highlight, Update Profile, RHEL7, STIG

#10835 Don't wrap titles in control files
  controls/cis_ocp_1_4_0/section-1.yml
  controls/cis_ocp_1_4_0/section-2.yml
  controls/cis_ocp_1_4_0/section-4.yml
  controls/cis_ocp_1_4_0/section-5.yml
  utils/generate_profile.py
Labels: OpenShift, CIS

#10834 Fix `levels` key in general_profile script
  controls/cis_ocp_1_4_0/section-1.yml
  controls/cis_ocp_1_4_0/section-2.yml
  controls/cis_ocp_1_4_0/section-3.yml
  controls/cis_ocp_1_4_0/section-4.yml
  controls/cis_ocp_1_4_0/section-5.yml
  utils/generate_profile.py
Labels: OpenShift, CIS

#10563 bugfix: dir_perms_world_writable_root_owned: do not modify files under /proc
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/tests/all_dirs_ok.pass.sh
Labels: bugfix, needs-ok-to-test

#10781 Implement rules for CIS OCP Section 4.2
  applications/openshift/kubelet/kubelet_anonymous_auth/rule.yml
  applications/openshift/kubelet/kubelet_authorization_mode/rule.yml
  applications/openshift/kubelet/kubelet_configure_client_ca/rule.yml
  applications/openshift/kubelet/kubelet_configure_event_creation/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/rule.yml
  applications/openshift/kubelet/kubelet_disable_readonly_port/rule.yml
  applications/openshift/kubelet/kubelet_enable_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_client_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_server_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_streaming_connections/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_memory_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_inodesfree/rule.yml
  controls/cis_ocp_1_4_0/section-4.yml
Labels: OpenShift, CIS

#10782 Implement rules for CIS OCP Section 5.1
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10784 Implement rules for CIS OCP Section 5.3
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10780 Implement rules for CIS OCP Section 4.1
  controls/cis_ocp_1_4_0/section-4.yml
Labels: OpenShift, CIS

#10669 Set platform all for rules that are selected in RHEL9 STIG profile
  linux_os/guide/services/obsolete/r_services/no_host_based_files/ansible/shared.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/bash/shared.sh
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/ansible/shared.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/bash/shared.sh
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/ansible/shared.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/bash/shared.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/disallow_bypass_password_sudo/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/configure_opensc_card_drivers/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_no_uid_except_zero/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/ansible/shared.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/ansible/shared.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/bash/shared.sh
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/ansible/shared.yml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/bash/shared.sh
  tests/fmf-plans/ansible-stig.fmf
Labels: RHEL9, STIG

#10839 Refactor Ansible remediation for dir_perms_world_writable_root_owned
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/oval/shared.xml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/rule.yml
Labels: bugfix, enhancement, Ansible

#10801 New control file for CCN policy
  controls/ccn_rhel9.yml
  docs/manual/developer/03_creating_content.md
  ssg/controls.py
Labels: standards

#10814 .github/workflows/gate.yaml:Add anolis8 product.
  .github/workflows/gate.yaml
Labels: Infrastructure, needs-ok-to-test

#10785 Implement rules for CIS OCP Section 5.4
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10778 Implement rules for CIS OCP Section 3
  controls/cis_ocp_1_4_0/section-3.yml
Labels: OpenShift, CIS

#10783 Implement rules for CIS OCP Section 5.2
  applications/openshift/rbac/rbac_least_privilege/rule.yml
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10841 Fix invalid yaml in CIS section 4
  controls/cis_ocp_1_4_0/section-4.yml
Labels: OpenShift, CIS

#10842 Fix Redhat CVE Feed URLs
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
Labels: bugfix, RHEL

#10774 Implement rules for CIS OCP Section 1.2
  applications/openshift/api-server/api_server_admission_control_plugin_alwaysadmit/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_alwayspullimages/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_namespacelifecycle/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_noderestriction/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_scc/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_service_account/rule.yml
  applications/openshift/api-server/api_server_api_priority_gate_enabled/rule.yml
  applications/openshift/api-server/api_server_audit_log_maxbackup/rule.yml
  applications/openshift/api-server/api_server_audit_log_maxsize/rule.yml
  applications/openshift/api-server/api_server_audit_log_path/rule.yml
  applications/openshift/api-server/api_server_auth_mode_rbac/rule.yml
  applications/openshift/api-server/api_server_bind_address/rule.yml
  applications/openshift/api-server/api_server_client_ca/rule.yml
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
  applications/openshift/api-server/api_server_etcd_ca/rule.yml
  applications/openshift/api-server/api_server_etcd_cert/rule.yml
  applications/openshift/api-server/api_server_etcd_key/rule.yml
  applications/openshift/api-server/api_server_insecure_bind_address/rule.yml
  applications/openshift/api-server/api_server_insecure_port/rule.yml
  applications/openshift/api-server/api_server_request_timeout/rule.yml
  applications/openshift/api-server/api_server_service_account_lookup/rule.yml
  applications/openshift/api-server/api_server_service_account_public_key/rule.yml
  applications/openshift/api-server/api_server_tls_cert/rule.yml
  applications/openshift/api-server/api_server_tls_cipher_suites/rule.yml
  applications/openshift/api-server/api_server_tls_private_key/rule.yml
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/api-server/audit_log_forwarding_webhook/rule.yml
  applications/openshift/openshift-api-server/ocp_api_server_audit_log_maxbackup/rule.yml
  applications/openshift/openshift-api-server/ocp_api_server_audit_log_maxsize/rule.yml
  applications/openshift/openshift-api-server/openshift_api_server_audit_log_path/rule.yml
  controls/cis_ocp_1_4_0/section-1.yml
Labels: OpenShift, CIS

#10843 Fix invalid yaml in CIS OCP section 5
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10637 Update sysctl template to check(and not fix) /usr/lib/sysctl.d directory
  shared/templates/sysctl/oval.template
  shared/templates/sysctl/tests/correct_value_usr_lib.pass.sh
  shared/templates/sysctl/tests/wrong_usr_lib_correct_etc.pass.sh
  shared/templates/sysctl/tests/wrong_usr_lib_wrong_etc.fail.sh
Labels: needs-ok-to-test

#10848 Add rule to verify protection of profiling data
  applications/openshift/api-server/api_server_profiling_protected_by_rbac/rule.yml
  controls/cis_ocp_1_4_0/section-1.yml
Labels: OpenShift, CIS

#10787 Implement rules for CIS OCP Section 5.5
  applications/openshift/registry/ocp_allowed_registries/rule.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10820 Prevent quoting issues in rule firewalld-backend
  linux_os/guide/system/network/network-firewalld/firewalld-backend/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld-backend/tests/extra_quotes.fail.sh
Labels: bugfix

#10844 update list of contributors before stabilizing 0.1.69
  Contributors.md
  Contributors.xml
Labels: Documentation

#10849 Fix invalid levels key in section 5
  controls/cis_ocp_1_4_0/section-5.yml
Labels: OpenShift, CIS

#10828 configure_openssl_cryptopolicy: align remediations with rule description
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/bash/shared.sh
Labels: bugfix, Ansible, Bash

#10773 Implement rules for CIS OCP Section 1.1
  applications/openshift/master/file_permissions_cni_conf/rule.yml
  applications/openshift/master/file_permissions_cni_conf/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/rule.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_etcd_member/rule.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_apiserver/rule.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_controller_manager/rule.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_scheduler/rule.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/rule.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/e2e.yml
  controls/cis_ocp_1_4_0/section-1.yml
Labels: OpenShift, CIS

#10825 Check only local users home directories
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/oval/shared.xml
  shared/macros/10-oval.jinja
Labels: bugfix, OVAL

#10861 A change into sudoers_validate_passwd
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/rule.yml
Labels: needs-ok-to-test, Update Rule

#10695 Make sure sssd.conf files have 0600 permissions mode
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/bash/shared.sh
  linux_os/guide/services/sssd/sssd_memcache_timeout/bash/shared.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/bash/shared.sh
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/bash/shared.sh
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/bash/shared.sh
  shared/macros/10-ansible.jinja
Labels: bugfix

#10846 Add support for multiple STIG id assignments
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: STIG

#10838 Change rules related to /etc/shadow to check only local user configuration
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/oval/shared.xml
  shared/macros/10-oval.jinja
Labels: bugfix, OVAL, Update Rule

#10554 Use distributed product properties
  CODEOWNERS
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/oval/shared.xml
  product_properties/10-aide-audit.yml
  product_properties/10-grub.yml
  product_properties/10-ids.yml
  products/debian10/product.yml
  products/debian11/product.yml
  products/fedora/product.yml
  products/ol7/product.yml
  products/ol8/product.yml
  products/ol9/product.yml
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  products/sle12/product.yml
  products/sle15/product.yml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
  products/ubuntu2204/product.yml
  shared/macros/01-general.jinja
  ssg/constants.py
  ssg/products.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian10.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/uos20.yml
  tests/test_product_stability.py
Labels: help-wanted, Infrastructure, Highlight

#10863 Include new kickstart files for CCN profiles
  products/rhel9/kickstart/ssg-rhel9-ccn_advanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_basic-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
Labels: Test Suite

#10856 0640 permission in permissions_local_var_log should only apply to files
  linux_os/guide/system/permissions/files/permissions_local_var_log/bash/ubuntu.sh
Labels: Bash, Ubuntu, needs-ok-to-test

#10865 update version to 0.1.70
  CMakeLists.txt
Labels: Documentation

#10869 Remove tickets from CIS control files
  controls/cis_ocp_1_4_0/section-1.yml
Labels: OpenShift, CIS

#10871 Make CCN references more flexible
  ssg/constants.py
Labels: CCN

#10873 Fix run_scapval.py Python 2 syntax errors
  tests/run_scapval.py
Labels: backported-into-stabilization

#10874 Fix run_scapval.py Python 2 syntax errors
  tests/run_scapval.py
Labels: bugfix

#10833 Update CIS profiles to use control files
  controls/cis_ocp_1_4_0.yml
  products/ocp4/profiles/cis-node.profile
  products/ocp4/profiles/cis.profile
Labels: OpenShift, CIS

#10875 Remove superseded script compare_disa_xml.py
  docs/manual/developer/05_tools_and_utilities.md
  tests/CMakeLists.txt
  utils/compare_disa_xml.py
Labels: Infrastructure

#10877 Remove rules from the RHEL9 STIG profile
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
Labels: bugfix

#10864 OCP4 CIS: Re-add forgotten rules
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  controls/cis_ocp_1_4_0/section-1.yml
  controls/cis_ocp_1_4_0/section-4.yml
Labels: OpenShift, CIS

#10880 Update platform on bios_enable_execution_restrictions
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
Labels: needs-ok-to-test, Update Rule

#10878 Use distributed product properties in Automatus
  tests/ssg_test_suite/common.py
Labels: Test Suite

#10879 Stabilization: Use distributed product properties in Automatus
  tests/ssg_test_suite/common.py
Labels: backported-into-stabilization

#10884 Allow default permission for user.cfg file in UEFI systems
  linux_os/guide/system/bootloader-grub2/uefi/file_permissions_efi_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/group.yml
Labels: bugfix, Update Rule

#10885 change hardcoded value to variable in ansible of accounts_password_set_min_life_existing
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/ansible/shared.yml
Labels: bugfix, Ansible

#10886 Stabilization: Allow default permission for user.cfg file in UEFI systems
  linux_os/guide/system/bootloader-grub2/uefi/file_permissions_efi_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/group.yml
Labels: bugfix, backported-into-stabilization

#10887 Avoid Ansible shell module if not necessary
  linux_os/guide/services/obsolete/r_services/no_host_based_files/ansible/shared.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/rule.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/ansible/shared.yml
Labels: enhancement, Ansible

#10889 Stabilization: Avoid Ansible shell module if not necessary
  linux_os/guide/services/obsolete/r_services/no_host_based_files/ansible/shared.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/rule.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/ansible/shared.yml
Labels: backported-into-stabilization

#10888 (Stabilization) change hardcoded value to variable in ansible of accounts_password_set_min_life_existing
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/ansible/shared.yml
Labels: backported-into-stabilization

#10555 Fix into the rule sysctl_kernel_randomize_va_space
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/oval.template
Labels: Ansible, OVAL, Bash, needs-ok-to-test, Update Rule

#10870 Sanitize lines for clean YAML output when generating profiles
  utils/generate_profile.py
Labels: Infrastructure

#10891 RHEL 7 STIG V3R12
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r12-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r12-xccdf-scap.xml
Labels: RHEL7, STIG

#10898 RHEL 7 STIG V1R12
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r12-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r12-xccdf-scap.xml
Labels: backported-into-stabilization

#10872 Add tickets key to control validation
  ssg/controls.py
Labels: Infrastructure

#10897 enhance OVAL for enable_fips_mode
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: bugfix, OVAL, OSPP

#10900 (Stabilization) enhance OVAL for enable_fips_mode
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: bugfix, OVAL, backported-into-stabilization, OSPP

#10685 Fix in audit_rules_systadmin_actions and new rule audit_rules_sysadmi…
  controls/anssi.yml
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  controls/pcidss_3.yml
  controls/pcidss_4.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sudoers_d/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_sudo_log_events/rule.yml
  products/sle15/profiles/hipaa.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, Update Profile

#10589 SLE AIDE periodic check and remediation via systemd timer
  components/aide.yml
  controls/cis_sle15.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/aide_not_installed.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/aide_timer_weekly.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/oval/shared.xml
  products/sle15/profiles/pcs-hardening.profile
  products/sle15/profiles/stig.profile
  shared/applicability/package.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: Ansible, Bash, SLES

#10850 Fix STIG references for SLE15
  linux_os/guide/services/cron_and_at/package_cron_installed/rule.yml
  linux_os/guide/services/ftp/ftp_configure_vsftpd/ftp_present_banner/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_ucredit/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/policy_temp_passwords_immediate_change/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/rule.yml
  linux_os/guide/system/permissions/permissions_local/run_chkstat/rule.yml
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/rule.yml
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/rule.yml
  products/sle12/profiles/stig.profile
  shared/macros/10-warning.jinja
  shared/references/disa-stig-sle12-v2r10-xccdf-manual.xml
  shared/references/disa-stig-sle15-v1r10-xccdf-manual.xml
Labels: SLES, Update Rule, STIG

#10913 Add a two rules to RHEL 9 STIG - Stable
  controls/srg_gpos/SRG-OS-000023-GPOS-00006.yml
  controls/srg_gpos/SRG-OS-000059-GPOS-00029.yml
Labels: backported-into-stabilization

#10912 Refactor Ansible remediations that search local file systems
  linux_os/guide/services/obsolete/r_services/no_host_based_files/ansible/shared.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/argument_missing.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/correct_values.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_max_parameter.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_min_parameter.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_parameters.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/only_max_value_wrong.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/only_min_value_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/wrong_values.fail.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/ansible/shared.yml
  shared/macros/10-ansible.jinja
Labels: bugfix, enhancement, Ansible

#10914 Stabilization: Refactor Ansible remediations that search local file systems
  linux_os/guide/services/obsolete/r_services/no_host_based_files/ansible/shared.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/argument_missing.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/correct_values.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_max_parameter.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_min_parameter.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_parameters.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/only_max_value_wrong.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/only_min_value_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/wrong_values.fail.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/ansible/shared.yml
  shared/macros/10-ansible.jinja
Labels: backported-into-stabilization

#10923 [Stabilization] Remove rules from the RHEL9 STIG profile
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
Labels: backported-into-stabilization

#10924 add template socket_disabled
  docs/templates/template_reference.md
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/oval/shared.xml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/rule.yml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/tests/no_package_installed.pass.sh
  linux_os/guide/system/permissions/restrictions/coredumps/service_systemd-coredump_disabled/rule.yml
  shared/templates/socket_disabled/ansible.template
  shared/templates/socket_disabled/bash.template
  shared/templates/socket_disabled/oval.template
  shared/templates/socket_disabled/template.py
  shared/templates/socket_disabled/template.yml
  shared/templates/socket_disabled/tests/socket_disabled.pass.sh
  shared/templates/socket_disabled/tests/socket_enabled.fail.sh
Labels: bugfix, New Template

#10925 [Stabilization] add new socket_template
  docs/templates/template_reference.md
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/oval/shared.xml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/rule.yml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/tests/no_package_installed.pass.sh
  linux_os/guide/system/permissions/restrictions/coredumps/service_systemd-coredump_disabled/rule.yml
  shared/templates/socket_disabled/ansible.template
  shared/templates/socket_disabled/bash.template
  shared/templates/socket_disabled/oval.template
  shared/templates/socket_disabled/template.py
  shared/templates/socket_disabled/template.yml
  shared/templates/socket_disabled/tests/socket_disabled.pass.sh
  shared/templates/socket_disabled/tests/socket_enabled.fail.sh
Labels: backported-into-stabilization

#10903 Stabilization: RHEL 8 STIG V1R11
  controls/srg_gpos.yml
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  linux_os/guide/services/ssh/sshd_approved_macs.var
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/tests/rhel8_stig_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/tests/rhel8_stig_empty_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/tests/rhel8_stig_incorrect_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/tests/rhel8_stig_missing_file.fail.sh
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r10-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v1r11-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: backported-into-stabilization

#10921 OL7 DISA STIG v2r12 update
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  shared/references/disa-stig-ol7-v2r12-xccdf-manual.xml
Labels: Oracle Linux, STIG

#10907 Fix association of nfs-utils package with rpcbind service
  components/nfs-utils.yml
  components/rpcbind.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/service_rpcbind_disabled/rule.yml
Labels: bugfix

#10904 Include RHEL indentifiers in logrotate related rules
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/rule.yml
  linux_os/guide/system/logging/log_rotation/package_logrotate_installed/rule.yml
  linux_os/guide/system/logging/log_rotation/timer_logrotate_enabled/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10809 no_rsh_trust_files: depend on rsh-server being installed
  components/rsh.yml
  linux_os/guide/services/obsolete/r_services/no_rsh_trust_files/rule.yml
  shared/applicability/package.yml
Labels: needs-ok-to-test, Update Rule, CPE-AL

#10883 SLE15 audit rules mac modification usr share depends on selinux policy packages
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/oval/shared.xml
Labels: OVAL

#10917 Add rule logind_session_timeout to OL8 STIG
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
  products/ol8/profiles/stig.profile
Labels: needs-ok-to-test

#10919 Introduce secure_boot & kernel_uek cpes and use them in sysctl_kernel_kexec_load_disabled
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_kexec_load_disabled/rule.yml
  shared/applicability/kernel_uek.yml
  shared/applicability/oval/kernel_uek.xml
  shared/applicability/oval/secureboot_enabled.xml
  shared/applicability/secure_boot.yml
Labels: needs-ok-to-test
