Repository ComplianceAsCode/content, pull requests merged in 2023-08, with the labels that each got.

#10935 Add SRG ID to logind_session_timeout - stabilization
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
Labels: bugfix

#10936 Add SRG ID to logind_session_timeout
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
Labels: Update Rule, STIG

#10933 Update chrony docs url - stabilization
  linux_os/guide/services/ntp/group.yml
Labels: bugfix, backported-into-stabilization

#10934 Update chrony docs
  linux_os/guide/services/ntp/group.yml
Labels: backported-into-stabilization

#10932 Remove CIS reference from image policy webhook rule
  applications/openshift/general/general_configure_imagepolicywebhook/rule.yml
Labels: OpenShift, CIS

#10915 accounts_umask_etc_bashrc: depend on bash being installed
  components/bash.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/ospp_cis_correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/stig_correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/super_compliant.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_multiple.fail.sh
  shared/applicability/package.yml
Labels: needs-ok-to-test

#10927 STIG Fixes for RHEL 7/8
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/tests/rhel8_stig_incorrect_policy.fail.sh
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
Labels: bugfix, RHEL, STIG

#10909 Add version to profile element in the data stream
  ssg/entities/profile_base.py
  tests/unit/ssg-module/data/ospp.xml
  tests/unit/ssg-module/test_build_yaml.py
Labels: Infrastructure

#10911 Improve OVAL readability in enable_fips_mode
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: enhancement, OVAL

#10910 Add a two rules to RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000023-GPOS-00006.yml
  controls/srg_gpos/SRG-OS-000059-GPOS-00029.yml
Labels: RHEL9, Update Profile, STIG

#10908 minor typo fix: add missing comma
  linux_os/guide/system/apparmor/apparmor_configured/rule.yml
  linux_os/guide/system/apparmor/package_pam_apparmor_installed/rule.yml
  shared/references/disa-stig-sle12-v2r10-xccdf-manual.xml
Labels: SLES, STIG

#10916 Create runtime_kernel_fips_enabled cpe and apply it to service_rngd_enabled for OL8
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  shared/applicability/oval/runtime_kernel_fips_enabled.xml
  shared/applicability/runtime_kernel_fips_enabled.yml
Labels: Oracle Linux, needs-ok-to-test

#10670 SLE Service timesyncd configured rule
  components/systemd.yml
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/ntp/service_timesyncd_configured/ansible/shared.yml
  linux_os/guide/services/ntp/service_timesyncd_configured/bash/shared.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/oval/shared.xml
  linux_os/guide/services/ntp/service_timesyncd_configured/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/common.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/dropin_config.pass.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/empty_config.fail.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/no_fallback.fail.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/timesyncd_config.pass.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/ansible/shared.yml
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/bash/shared.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/oval/shared.xml
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/tests/common.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/tests/dropin_config.pass.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/tests/empty_config.fail.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/tests/no_distance_config.fail.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/tests/timesyncd_config.pass.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: Ansible, Bash, SLES, CIS

#10918 Update OL8 STIG to V1R7
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v1r7-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, STIG

#10796 Changes in SLE 12/15 profiles to support logrotate service
  components/logrotate.yml
  controls/anssi.yml
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  controls/pcidss_3.yml
  controls/pcidss_4.yml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/oval/shared.xml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/rule.yml
  linux_os/guide/system/logging/log_rotation/package_logrotate_installed/rule.yml
  linux_os/guide/system/logging/log_rotation/timer_logrotate_enabled/rule.yml
  shared/applicability/package.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test

#10946 Remove rules that cannot be applied during image build
  products/sle15/profiles/pcs-hardening-sap.profile
  products/sle15/profiles/pcs-hardening.profile
Labels: SLES, needs-ok-to-test, Update Profile

#10948 Enable package_cryptsetup-luks_installed rule for RHEL9
  components/cryptsetup.yml
  controls/ccn_rhel9.yml
  linux_os/guide/system/software/system-tools/package_cryptsetup-luks_installed/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL9, CCN

#10953 Fix Rawhide Build
  .github/workflows/gate.yaml
  requirements-base.txt
  requirements.txt
Labels: Infrastructure

#10944 Add manifests to zipfile target
  cmake/SSGCommon.cmake
Labels: Infrastructure

#10947 Include test scenario scripts in timer_enabled template
  linux_os/guide/system/software/updating/timer_dnf-automatic_enabled/tests/timer_disabled.fail.sh
  linux_os/guide/system/software/updating/timer_dnf-automatic_enabled/tests/timer_enabled.pass.sh
  shared/templates/timer_enabled/tests/timer_disabled.fail.sh
  shared/templates/timer_enabled/tests/timer_enabled.pass.sh
Labels: Test Suite

#10956 Fix service_httpd_disabled rule
  linux_os/guide/services/http/disabling_httpd/service_httpd_disabled/rule.yml
Labels: needs-ok-to-test

#10958 Use parameter value in ansible lineinfile macro
  shared/macros/10-ansible.jinja
Labels: Ansible

#10955 Update Build System Docs
  docs/manual/developer/07_understanding_build_system.md
Labels: Documentation

#10959 Remove test validate-parse-affected
  docs/modules/tests.rst
  ssg/build_ovals.py
  tests/CMakeLists.txt
  tests/test_parse_affected.py
Labels: Test Suite

#10960 Skip OVAL schematron validation in CI
  .github/workflows/gate.yaml
  cmake/SSGCommon.cmake
Labels: Test Suite

#10961 Remove kernel cmdline check
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: OVAL

#10951 Improve Ansible remediation for dir_perms_world_writable_sticky_bits
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/ansible/shared.yml
Labels: Ansible

#10920 Update ssh stig HMACS and Ciphers allowed in OL8 STIG
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel8_stig_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel8_stig_empty_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel8_stig_incorrect_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel8_stig_missing_file.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_correct_followed_by_incorrect_commented.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_incorrect_followed_by_correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/rule.yml
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, STIG

#10963 Change `[DRAFT]` to `DRAFT` in draft profiles
  products/ocp4/profiles/stig-node.profile
  products/ocp4/profiles/stig.profile
  products/ol7/profiles/e8.profile
  products/ol7/profiles/ospp.profile
  products/ol8/profiles/e8.profile
  products/ol8/profiles/ospp.profile
  products/ol9/profiles/cui.profile
  products/ol9/profiles/ospp.profile
  products/ol9/profiles/stig.profile
  products/ol9/profiles/stig_gui.profile
  products/rhcos4/profiles/stig.profile
  products/rhel9/profiles/cui.profile
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  products/rhv4/profiles/rhvh-stig.profile
Labels: bugfix

#10964 OCPBUGS-16877: Check for etcd pod specification in /etc/kubernetes/manifests
  applications/openshift/master/file_groupowner_etcd_member/rule.yml
  applications/openshift/master/file_owner_etcd_member/rule.yml
  applications/openshift/master/file_permissions_etcd_member/rule.yml
Labels: OpenShift, CIS

#10930 Update expected result of e2e tests for sysctls already defined in `/usr/lib/sysctl.d`
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/tests/ocp4/e2e.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_hardlinks/tests/ocp4/e2e.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_symlinks/tests/ocp4/e2e.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/tests/ocp4/e2e.yml
Labels: OpenShift

#10968 Optimize tests that run fix_rules.py
  tests/CMakeLists.txt
  utils/fix_rules.py
Labels: Test Suite

#10969 Add refchecker tests to RHEL 9
  tests/CMakeLists.txt
Labels: Test Suite

#10970 OCPBUGS-16877: Update etcd member rules texts' to align with the checks
  applications/openshift/master/file_groupowner_etcd_member/rule.yml
  applications/openshift/master/file_owner_etcd_member/rule.yml
  applications/openshift/master/file_permissions_etcd_member/rule.yml
Labels: OpenShift, CIS

#10940 OCPBUGS-10508: Add quotes around SCC audit procedure
  applications/openshift/scc/scc_limit_container_allowed_capabilities/rule.yml
Labels: OpenShift

#10971 OCPBUGS-7455: Hide API warning messages
  applications/openshift/api-server/api_server_api_priority_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1alpha1_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1beta1_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/rule.yml
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/api-server/audit_log_forwarding_webhook/rule.yml
  applications/openshift/logging/audit_log_forwarding_uses_tls/rule.yml
  shared/macros/01-general.jinja
Labels: OpenShift, CIS

#10977 Reduce the number of times we build all of the products in CI
  .github/workflows/gate.yaml
Labels: Infrastructure

#10981 Fix remediation of sssd_enable_smartcards
  linux_os/guide/services/sssd/sssd_enable_smartcards/bash/shared.sh
Labels: Bash, needs-ok-to-test

#10982 Remove test-function-check_playbook_file_removed_and_added test
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/ansible_file_removed_and_added/file_block_removed_and_added.yml
  tests/ansible_file_removed_and_added/file_block_removed_and_not_added.yml
  tests/ansible_file_removed_and_added/file_not_removed_and_added.yml
  tests/ansible_file_removed_and_added/file_removed_and_added.yml
  tests/ansible_file_removed_and_added/file_removed_and_not_added.yml
  tests/test_ansible_file_removed_and_added.py
  tests/test_check_playbook_file_removed_and_added.py
Labels: enhancement, Test Suite, Highlight

#10984 Update metadata of OSPP profile in RHEL8/9
  products/rhel8/profiles/ospp.profile
  products/rhel9/profiles/ospp.profile
  tests/data/profile_stability/rhel8/ospp.profile
Labels: Update Profile

#10985 Remove yamlpath
  docs/manual/developer/02_building_complianceascode.md
  test-requirements.txt
Labels: Infrastructure

#10973 OCPBUGS-17216: Update rotate certificates check for OCP 4.14
  applications/openshift/kubelet/kubelet_enable_server_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_server_cert_rotation_master/rule.yml
  applications/openshift/kubelet/kubelet_enable_server_cert_rotation_worker/rule.yml
Labels: OpenShift, CIS

#10965 Add additional rules from CIS Level 1 to SAP hardening profile
  products/sle15/profiles/pcs-hardening-sap.profile
Labels: SLES, needs-ok-to-test, CIS

#10988 Drop irrelevant return statement in bash remediation
  shared/templates/mount_option_removable_partitions/bash.template
Labels: Bash

#10980 Fix bash_sshd_remediation macro on OL exclusive code
  shared/macros/10-bash.jinja
  shared/templates/sshd_lineinfile/tests/wrong_value_different_includings.fail.sh
Labels: Bash, needs-ok-to-test

#10992 Remove `controller_rotate_kubelet_server_certs` from OCP CIS v.1.4.0
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  controls/cis_ocp_1_4_0/section-4.yml
Labels: OpenShift, CIS

#10974 OCPBUGS-11696: Update encryption type to support 4.13 deployments
  applications/openshift/api-server/api_server_encryption_provider_cipher/kubernetes/shared.yml
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
  applications/openshift/api-server/var_apiserver_encryption_type.var
Labels: OpenShift, CIS

#10990 Remove test "validate-parse-platform"
  docs/modules/tests.rst
  tests/CMakeLists.txt
  tests/test_parse_platform.py
Labels: Test Suite

#10995 Add RHEL as platform in su pam wheel group remidiation
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/bash/shared.sh
Labels: RHEL, needs-ok-to-test, CIS

#10997 Add warning to network_configure_name_resolution
  linux_os/guide/system/network/network_configure_name_resolution/rule.yml
Labels: Update Rule, STIG

#10996 remove rules not relevant to RHEL 9 from STIG profile
  controls/srg_gpos/SRG-OS-000125-GPOS-00065.yml
Labels: RHEL9, STIG

#10994 Improve rendering controls to HTML
  cmake/SSGCommon.cmake
  ssg/entities/profile.py
  ssg/entities/profile_base.py
  utils/gen_rendered_policies_index.py
  utils/html_rendered_policies_index_template.html
  utils/render_all_policies.py
Labels: enhancement, Documentation

#10983 test_machine_only_rules: allow multiple blank characters
  tests/test_machine_only_rules.py
Labels: bugfix, Test Suite

#10991 Remove duplicate builds for GitHub Actions
  .github/workflows/gate.yaml
Labels: Test Suite

#10739 Drop hmac-ripemd160 sshd mac from strong MACs list
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/rule.yml
  linux_os/guide/services/ssh/sshd_strong_macs.var
  products/ol7/profiles/e8.profile
  products/rhel7/profiles/e8.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
  tests/data/profile_stability/rhel7/e8.profile
Labels: SLES, Update Rule

#11001 Remove sebool_secure_mode_insmod from anssi
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_high.profile
Labels: RHEL9, RHEL8, ANSSI

#10993 Fix kernel config name typo in rule kernel_config_slab_freelist_random
  linux_os/guide/system/kernel_build_config/kernel_config_slab_freelist_random/rule.yml
  shared/templates/kernel_build_config/tests/common.sh
  shared/templates/kernel_build_config/tests/extra_quotes.fail.sh
  shared/templates/kernel_build_config/tests/fail1.fail.sh
  shared/templates/kernel_build_config/tests/fail1_multiple_files.fail.sh
  shared/templates/kernel_build_config/tests/fail2.fail.sh
  shared/templates/kernel_build_config/tests/pass1.pass.sh
  shared/templates/kernel_build_config/tests/pass2.pass.sh
  shared/templates/kernel_build_config/tests/substrings.fail.sh
Labels: bugfix

#11003 Fix a few bugs in CIS for Ubuntu 22.04
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/oval/ubuntu.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/oval/ubuntu.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/oval/ubuntu.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/rule.yml
  linux_os/guide/system/logging/log_rotation/package_logrotate_installed/rule.yml
  linux_os/guide/system/logging/log_rotation/timer_logrotate_enabled/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_freevxfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_jffs2_disabled/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/rule.yml
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: bugfix, Ubuntu, CIS

#10989 Improve template macros for grub command line
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/grub2_ipv6_disable_argument/tests/cmd_line_commented_etcdefaultgrub.fail.sh
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/grub2_ipv6_disable_argument/tests/cmd_line_not_there_etcdefaultgrub.fail.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: Ansible, Bash

#10998 Remove "not available" message
  utils/render-policy.py
  utils/render_all_policies.py
  utils/rendering/controls-template.html
Labels: Documentation

#9725 Files relates to SLES 15 SP 3 test container - podman
  .github/workflows/automatus-sle15.yaml
  .github/workflows/gate.yaml
  Dockerfiles/test_suite-sle15
Labels: Test Suite, SLES, needs-ok-to-test

#11004 Couple of small fixes
  linux_os/guide/system/network/network-uncommon/kernel_module_can_disabled/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/ansible/shared.yml
Labels: Ansible, STIG

#10902 A correction in the rule pam_disable_automatic_configuration
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/rule.yml
  shared/applicability/package.yml
Labels: SLES, needs-ok-to-test, CPE-AL

#11006 Documentation Clean Up
  docs/manual/developer/01_introduction.md
  docs/manual/developer/05_tools_and_utilities.md
  docs/manual/developer/06_contributing_with_content.md
  docs/manual/developer/08_content_tests.md
  docs/release_process.md
Labels: Documentation

#11005 ANSSI: add rules to enable auditing service
  controls/anssi.yml
  linux_os/guide/system/auditing/package_audit_installed/rule.yml
  linux_os/guide/system/auditing/service_auditd_enabled/rule.yml
Labels: Update Profile, ANSSI

#11008 Fix ansible remediation of configure_ssh_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/ansible/shared.yml
Labels: Ansible, STIG

#11016 Fix multiple STIG id table generation
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  utils/create-stig-overlay.py
Labels: RHEL8, STIG

#11017 Add tmux platform to tmux related rules
  components/tmux.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_after_time/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_command/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/rule.yml
Labels: Update Rule

#11021 Grant packages write permissions to k8s-content workflow
  .github/workflows/k8s-content.yaml
Labels: OpenShift

#11014 Couple of fixes in PAM related rules for SLE platforms
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_unlock_time/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
Labels: OVAL, SLES, Update Rule

#11026 Update enable_fips_mode Ansible Remedation
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/ansible/shared.yml
Labels: Ansible

#11025 Add Ansible remediation for directory_group_ownership_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/directory_group_ownership_var_log_audit/ansible/shared.yml
Labels: Ansible

#11012 Add Ansible Remediation for directory_ownership_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/directory_ownership_var_log_audit/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/directory_ownership_var_log_audit/tests/correct_value_custom.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/directory_ownership_var_log_audit/tests/no_configured_value.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/directory_ownership_var_log_audit/tests/wrong_value_custom.fail.sh
Labels: Ansible

#11027 Update no_legacy_plus_entries_* Ansible Remedations
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_legacy_plus_entries_etc_group/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_legacy_plus_entries_etc_passwd/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_legacy_plus_entries_etc_shadow/ansible/shared.yml
Labels: Ansible

#11023 Add product as parameter when building profile reports
  cmake/SSGCommon.cmake
  ssg/build_profile.py
Labels: Infrastructure

#10793 scap-security-guide: add openembedded distro support
  CMakeLists.txt
  build_product
  products/openembedded/CMakeLists.txt
  products/openembedded/product.yml
  products/openembedded/profiles/standard.profile
  products/openembedded/transforms/constants.xslt
  shared/checks/oval/installed_OS_is_openembedded.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Labels: needs-ok-to-test, New Product

#11030 iptables_ruleset_modifications: depend on iptables being installed
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/group.yml
Labels: needs-ok-to-test, Update Rule, CPE-AL

#11015 Fix variable selection when selecting the default value
  linux_os/guide/system/software/sudo/var_sudo_dedicated_group.var
  products/ol7/profiles/e8.profile
  products/rhel7/profiles/e8.profile
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
  tests/data/profile_stability/rhel7/e8.profile
Labels: RHEL, SLES, Update Profile

#11009 improve bash remediation of mount_option template
  shared/macros/10-bash.jinja
  shared/templates/mount_option/tests/fstab_commented_correct_then_uncommented_wrong.fail.sh
Labels: bugfix, Bash

#11032 Improve remediation for SSH global settings
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/oval/shared.xml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: bugfix, Ansible, Bash

#11022 Add a test for pcre2 compatibility
  .github/workflows/gate.yaml
  CMakeLists.txt
  cmake/SSGCommon.cmake
  tests/check_pcre2_compatibility.py
Labels: Test Suite

#10881 Sysctl template remediations do not modify package files
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
Labels: OVAL, SLES

#11037 Add mount platform to mount_option_var_nosuid
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
Labels: Update Rule, CIS

#11038 Update link to English version of ANSSI guide
  controls/anssi.yml
Labels: Update Profile
