Repository ComplianceAsCode/content, pull requests merged in 2023-11, with the labels that each got.

#11234 Add stabilization phase description to developers guide
  docs/manual/developer/10_stabilization_phase.md
  docs/release_process.md
Labels: Documentation

#11235 Reference validation in OVAL document object
  ssg/oval_object_model/oval_document.py
  tests/unit/ssg-module/test_oval_object_model/test_oval_document.py
Labels: enhancement, Infrastructure, OVAL

#11231 remove sle15 from package_samba_common_installed
  linux_os/guide/services/smb/configuring_samba/package_samba-common_installed/rule.yml
Labels: needs-ok-to-test

#11212 Fix rpm python package SLE15 Automatus docker file
  Dockerfiles/test_suite-sle15
Labels: Test Suite, SLES

#11178 SLE15 prefer systemd unit handling of AIDE checks and notifications
  controls/anssi.yml
  controls/pcidss_3.yml
  controls/pcidss_4.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/rule.yml
Labels: Ansible, OVAL, Bash, SLES

#11238 Fix docs for utils.add_kubernetes_rule
  docs/modules/utils.rst
Labels: Documentation

#11242 Add var_networkmanager_dns_mode to RHEL 9 STIG
  controls/stig_rhel9.yml
Labels: RHEL9, Update Profile, STIG

#11246 Include dracut filter to audit_rules_privileged_commands
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_extra_rules_configured.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_ignore_dracut_tmp.pass.sh
Labels: bugfix, Test Suite, OVAL

#11249 Add a warning to rule service_rngd_enabled
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
Labels: RHEL8, STIG

#11244 remove duplicated multi_platform_sle in bash.template
  shared/templates/service_disabled/bash.template
Labels: Bash, needs-ok-to-test

#11256 Fix CI job after Fedora 39 release
  .github/workflows/gate.yaml
Labels: BLOCKER, Infrastructure

#11236 Integration of the OVAL object model into the `combine_ovals.py` script
  build-scripts/combine_ovals.py
  ssg/build_ovals.py
  ssg/oval_object_model/general.py
  tests/unit/ssg-module/test_build_ovals.py
Labels: enhancement, Infrastructure, OVAL

#11250 Fix multiple STIG IDs for RHEL8
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/oval/shared.xml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: needs-ok-to-test, Update Rule, RHEL8, STIG

#11261 Add SRG id to `file_owner_grub2_cfg` for RHEL 9 STIG
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
Labels: RHEL9, Update Rule, STIG

#11252 New Rules Must Have a `prodtype`
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/05_tools_and_utilities.md
  tests/CMakeLists.txt
  tests/data/utils/no_new_global_applicable_rules.json
  utils/no_new_global_applicable_rules.py
Labels: Test Suite

#11265 Require SRG Reference for Rules with STIG Reference
  docs/manual/developer/08_content_tests.md
  tests/CMakeLists.txt
  tests/stig_srg_mapping.py
Labels: Test Suite

#11270 Include rhel9 in prodtype for directory_access_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/directory_access_var_log_audit/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL9, Update Rule

#11274 Add ubuntu 20.04 to audit_rules_kernel_module_loading_delete tests
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/missing_auid_filter.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_list_action.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_syscall.fail.sh
Labels: Ubuntu, ok-to-test

#11280 Bump OL7 & OL8 STIG versions to V2R13 & V1R8 respectively
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol7-v2r13-xccdf-manual.xml
  shared/references/disa-stig-ol8-v1r8-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, Update Profile, STIG

#11260 Access to enable the logging of the `combine_oval.py` script
  CMakeLists.txt
  build_product
  cmake/SSGCommon.cmake
  ssg/oval_object_model/oval_container.py
Labels: Infrastructure, New Feature

#11284 Update Style Guide to Ensure that PR Titles are Useful
  docs/manual/developer/04_style_guide.md
Labels: Documentation

#11277 Fix `audit_rules_privileged_commands_kmod`
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/auditctl_correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/augenrules_correct_value.pass.sh
Labels: Update Rule

#11267 Update PCI-DSS profile for RHEL
  controls/pcidss_4.yml
  linux_os/guide/services/ntp/ntpd_specify_multiple_servers/rule.yml
  linux_os/guide/services/ntp/ntpd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/services/ntp/service_ntpd_enabled/rule.yml
  linux_os/guide/system/auditing/package_audispd-plugins_installed/rule.yml
  linux_os/guide/system/auditing/package_audit-audispd-plugins_installed/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  products/rhel7/profiles/pci-dss.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/pci-dss.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: RHEL, Highlight, Update Profile, pci-dss

#11287 Add .github to EOF checker
  .github/pull_request_template.md
  tests/CMakeLists.txt
Labels: Infrastructure

#11295 Daily prod fix: add enable_authselect rule to pci-dss control file
  controls/pcidss_4.yml
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: RHEL, Oracle Linux, Update Profile, pci-dss

#11288 Remove broken test for Ubuntu in template kernel_module_disabled
  shared/templates/kernel_module_disabled/tests/correct_value_modprobe_conf.pass.sh
Labels: Test Suite, Ubuntu, needs-ok-to-test

#11282 Fix and modify UBTU-20-010463 (no_empty_passwords)
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  products/ubuntu2004/profiles/stig.profile
Labels: Bash, Ubuntu, ok-to-test, STIG

#11082 fix ssh-keysign path for UBTU-20-010141
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/rule.yml
Labels: Ubuntu, ok-to-test, STIG

#11294 Fix kernel_module_disabled template for Ubuntu
  shared/templates/kernel_module_disabled/oval.template
  shared/templates/kernel_module_disabled/tests/correct_value_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_run_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_run_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_usr_lib_modprobe_d.pass.sh
  shared/templates/kernel_module_disabled/tests/correct_value_usr_lib_modules_load_d.pass.sh
  shared/templates/kernel_module_disabled/tests/missing_blacklist.fail.sh
Labels: Ubuntu, ok-to-test, CIS, STIG

#11290 Modification of the OVAL linker to use the OVAL object model
  ssg/build_renumber.py
  ssg/id_translate.py
  ssg/oval_object_model/general.py
  ssg/oval_object_model/oval_container.py
  ssg/oval_object_model/oval_entities/definition.py
  ssg/oval_object_model/oval_entities/test.py
  tests/unit/ssg-module/data/draft_oval.xml
  tests/unit/ssg-module/test_build_renumber.py
  tests/unit/ssg-module/test_id_translate.py
Labels: enhancement, Infrastructure, OVAL

#11298 Add Ubuntu to audit_rules_kernel_module_loading tests
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/missing_auid_filter.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/missing_auid_filter.fail.sh
Labels: Test Suite, Ubuntu, ok-to-test

#11300 controleval.py: Return empty list when parameter is not found
  utils/controleval.py
Labels: usability

#11297 Fix ssh-keysign path for Ubuntu 22.04
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/rule.yml
Labels: Ubuntu, CIS

#11303 Daily prod fix: return rhel7 prodtypes to some rules
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/system/auditing/package_audit-audispd-plugins_installed/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  products/rhel7/profiles/pci-dss.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/pci-dss.profile
Labels: Update Rule, Update Profile, RHEL7, pci-dss

#11279 Fix sudo_require_reauthentication remediations edge case
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/bash/shared.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/conflicting_values_main_file.fail.sh
Labels: ok-to-test

#11307 update list of contributors before 0.1.71 release
  Contributors.md
  Contributors.xml
Labels: Documentation

#11207 OCP4: Fix e2e result on OCP 4.14 changes
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/e2e.yml
Labels: OpenShift

#11308 bump version to 0.1.72
  CMakeLists.txt
Labels: Documentation

#11271 Update grub2_mitigation_argument
  linux_os/guide/system/bootloader-grub2/grub2_mitigation_argument/rule.yml
Labels: needs-ok-to-test, Update Rule
