Repository ComplianceAsCode/content, pull requests merged in 2023-02, with the labels that each got.

#10148 Updated CIS RHEL requirements related to rpcbind and cups
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/service_rpcbind_disabled/rule.yml
Labels: bugfix, RHEL, CIS

#10150 Add missing SRG to aide_build_database rule (for master branch)
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
Labels: bugfix, RHEL9, Update Rule, RHEL8, STIG

#10155 stabilization: Update levels of some rules in RHEL8 CIS
  controls/cis_rhel8.yml
Labels: bugfix, Update Profile, RHEL8, CIS

#10153 remove service_rngd_enabled from RHEL9 and RHEL8 STIG profiles
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/rng/service_rngd_enabled/policy/stig/shared.yml
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, RHEL9, Update Profile, RHEL8, STIG

#10139 Extends rsyslog_logfiles_attributes_modify template for permissions
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/IncludeConfig_glob_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/IncludeConfig_glob_perms_0601.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/IncludeConfig_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/IncludeConfig_perms_0601.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_config_syntax_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_config_syntax_perms_0601.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_multiline_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_IncludeConfig_perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_IncludeConfig_perms_0601.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_IncludeConfig_perms_0601_hidden.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_IncludeConfig_perms_0601_missing.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_cloudinit.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0601.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0601_cloudinit.fail.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/mixed_correct_attr_group_read.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/mixed_correct_attr_stricter.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/perms_0600.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/perms_0601.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
  shared/templates/rsyslog_logfiles_attributes_modify/bash.template
  shared/templates/rsyslog_logfiles_attributes_modify/oval.template
  shared/templates/rsyslog_logfiles_attributes_modify/template.py
  shared/templates/rsyslog_logfiles_attributes_modify/tests/IncludeConfig_is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_other_IncludeConfig_is_other_RainerLogClause.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root_IncludeConfig_is_other.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root_IncludeConfig_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_is_root_IncludeConfig_is_root_RainerLogClause.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/include_multiline_is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/is_root.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/legacy_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/legacy_include_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/legacy_include_incorrect_attr.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/legacy_incorrect_attr.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_include_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_include_incorrect_attr_legacy.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_include_incorrect_attr_rainer.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_incorrect_attr_cloudinit.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_incorrect_attr_legacy.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/mixed_incorrect_attr_rainer.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_include_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_include_incorrect_attr.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_include_multiline_correct_attr.pass.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_include_multiline_incorrect_attr.fail.sh
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_incorrect_attr.fail.sh
Labels: Ansible, Test Suite, OVAL, Bash, Update Rule

#10157 Update levels of some rules in RHEL8 CIS
  controls/cis_rhel8.yml
Labels: bugfix, Update Profile, RHEL8, CIS

#10154 support locked account with hash present
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/tests/sha512_password.pass.sh
Labels: bugfix, needs-ok-to-test

#10140 OCP4 STIG: Add artifact description to SRG-APP-000033
  controls/srg_ctr/SRG-APP-000033-CTR-000090.yml
  controls/srg_ctr/SRG-APP-000033-CTR-000095.yml
  controls/srg_ctr/SRG-APP-000033-CTR-000100.yml
Labels: OpenShift, STIG

#10132 OCP4: configure_network_policies: fix typo
  applications/openshift/networking/configure_network_policies/rule.yml
Labels: OpenShift

#10158 Move to Code Climate for PEP 8 Checking
  .pep8speaks.yml
  docs/manual/developer/04_style_guide.md
Labels: Infrastructure

#10129 Introduce new rule authconfig_config_files_symlinks
  linux_os/guide/system/auditing/authconfig_config_files_symlinks/oval/shared.xml
  linux_os/guide/system/auditing/authconfig_config_files_symlinks/rule.yml
  linux_os/guide/system/auditing/authconfig_config_files_symlinks/tests/correct_set-up.pass.sh
  linux_os/guide/system/auditing/authconfig_config_files_symlinks/tests/no_symlinks.fail.sh
  linux_os/guide/system/auditing/authconfig_config_files_symlinks/tests/symlinks_wrong_target.fail.sh
  products/ol7/profiles/stig.profile
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Labels: Oracle Linux, New Rule, STIG

#10166 Link sshd_use_strong_kex rule to PCI_DSSv4 2.2.7 requirement
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/rule.yml
  products/sle15/profiles/pci-dss-4.profile
Labels: SLES, needs-ok-to-test, pci-dss

#10162 Change custom zones check in firewalld_sshd_port_enabled
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
Labels: bugfix, Update Rule

#9984 Added rule partition_for_dev_shm
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_dev_shm/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10156 improve applicability of rule package_rear_installed (master branch)
  linux_os/guide/system/software/system-tools/package_rear_installed/rule.yml
  shared/applicability/ol_greater_equal_9_0.yml
  shared/applicability/rhel_greater_equal_9_0.yml
  shared/applicability/rhel_less_equal_8_4.yml
  shared/checks/oval/installed_OS_is_ol.xml
  shared/checks/oval/ol9_greater_equal_9_0.xml
  shared/checks/oval/rhel8_less_equal_8_4.xml
  shared/checks/oval/rhel9_greater_equal_9_0.xml
Labels: Oracle Linux, RHEL9, Update Rule, RHEL8

#10090 New rule for SLE 15 unnecessary_firewalld_services_ports_disabled
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-firewalld/unnecessary_firewalld_services_ports_disabled/rule.yml
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test

#10088 A new SLE 12/15 rule ensure_package_repositories_are_configured/
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/software/updating/ensure_package_repositories_are_configured/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, CIS

#10165 Enable SCE integrity checks for RHEL8
  cmake/SSGCommon.cmake
Labels: Infrastructure, needs-ok-to-test

#10142 OCP4 STIG: Fix up rules that dealt with network policy
  applications/openshift/networking/configure_network_policies/policy/stig/shared.yml
  applications/openshift/networking/configure_network_policies/rule.yml
  applications/openshift/networking/configure_network_policies_namespaces/policy/stig/shared.yml
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
  applications/openshift/networking/routes_protected_by_tls/rule.yml
  controls/srg_ctr/SRG-APP-000038-CTR-000105.yml
  controls/srg_ctr/SRG-APP-000039-CTR-000110.yml
  controls/srg_ctr/SRG-APP-000141-CTR-000315.yml
  controls/srg_ctr/SRG-APP-000141-CTR-000320.yml
  controls/srg_ctr/SRG-APP-000142-CTR-000325.yml
  controls/srg_ctr/SRG-APP-000142-CTR-000330.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001325.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001330.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001335.yml
  controls/srg_ctr/SRG-APP-000645-CTR-001410.yml
Labels: OpenShift, STIG

#10048 Refactor ssg.build_ovals module
  build-scripts/combine_ovals.py
  cmake/SSGCommon.cmake
  ssg/build_ovals.py
  tests/unit/ssg-module/test_build_ovals.py
  tests/unit/ssg-module/test_build_ovals_data/guide/selinux_state/oval/shared.xml
  tests/unit/ssg-module/test_build_ovals_data/guide/selinux_state/rule.yml
  tests/unit/ssg-module/test_build_ovals_data/product.yml
  tests/unit/ssg-module/test_build_ovals_data/shared_ovals/tmux_conf_readable_by_others.xml
Labels: Infrastructure, refactoring, CPE-AL

#10175 Accept required and requisite control flag for pam_pwhistory
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  controls/srg_gpos/SRG-OS-000077-GPOS-00045.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/var_password_pam_remember_control_flag.var
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL9, Update Rule, RHEL8, CIS, STIG

#10182 Minor update in baseline for STIG stability test
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8, STIG

#10177 Fix Rule ssh_keys_passphrase_protected doesn't have SRG
  controls/srg_gpos/SRG-OS-000067-GPOS-00035.yml
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/policy/stig/shared.yml
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: bugfix, STIG

#10179 OCP4 Modify etcd encryption check rules for hypershift
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
  applications/openshift/api-server/api_server_encryption_provider_config/rule.yml
  applications/openshift/api-server/var_apiserver_encryption_filter.var
  applications/openshift/api-server/var_apiserver_encryption_path.var
  applications/openshift/api-server/var_apiserver_encryption_type.var
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  applications/openshift/controller/controller_secure_port/rule.yml
  applications/openshift/controller/controller_service_account_ca/rule.yml
  applications/openshift/controller/controller_service_account_private_key/rule.yml
  applications/openshift/controller/controller_use_service_account/rule.yml
  applications/openshift/etcd/etcd_auto_tls/rule.yml
  applications/openshift/etcd/etcd_cert_file/rule.yml
  applications/openshift/etcd/etcd_client_cert_auth/rule.yml
  applications/openshift/etcd/etcd_key_file/rule.yml
  applications/openshift/etcd/etcd_peer_auto_tls/rule.yml
  applications/openshift/etcd/etcd_peer_cert_file/rule.yml
  applications/openshift/etcd/etcd_peer_client_cert_auth/rule.yml
  applications/openshift/etcd/etcd_peer_key_file/rule.yml
  applications/openshift/scheduler/scheduler_no_bind_address/rule.yml
  applications/openshift/scheduler/scheduler_port_is_zero/rule.yml
Labels: OpenShift, Update Rule

#10195 Add 1 more CIS SLE reference to remove nftables rule
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
Labels: SLES, needs-ok-to-test, CIS

#9979 Update sebool_secure_mode_insmod OL remediations
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/ansible/ol.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/bash/ol.sh
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/rule.yml
  products/ol9/profiles/anssi_bp28_high.profile
Labels: Ansible, Bash, Oracle Linux, needs-ok-to-test

#10031 Implementation for rule checking if last password change is in the past
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/all_password_change_time_in_past.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/user_password_change_time_in_future.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, CIS

#10181 Added support for new SUSE product SLE HPC
  shared/checks/oval/installed_OS_is_sle15.xml
Labels: SLES, needs-ok-to-test

#10173 Fixes related to SLE 12/15 for the rules set_min/max_life_existing
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/rule.yml
Labels: SLES, needs-ok-to-test, Update Rule

#10178 Fix prefer_64bit_os for SLE platforms
  linux_os/guide/system/software/prefer_64bit_os/oval/shared.xml
Labels: needs-ok-to-test

#10202 remove rule logind_session_timeout and associated variable from profiles
  controls/anssi.yml
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/ospp.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel8/profiles/rht-ccp.profile
  tests/data/profile_stability/rhel8/ospp.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: RHEL9, Update Profile, RHEL8

#10196 Shorten rule title
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
Labels: enhancement, Update Rule

#10183 Use distributed configuration in tests
  shared/templates/sshd_lineinfile/tests/correct_value.pass.sh
  shared/templates/sshd_lineinfile/tests/correct_value_directory.pass.sh
Labels: productization-issue

#10193 Update Ubuntu 20.04 CIS Benchmark
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/mail/service_postfix_enabled/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_login_grace_time/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/rule.yml
  linux_os/guide/services/ssh/sshd_strong_kex.var
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_groupowner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_owner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_permissions_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/gid_passwd_group_same/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/rule.yml
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
Labels: Ubuntu, needs-ok-to-test, CIS

#10199 Update srg diff
  utils/srg_diff.py
Labels: Infrastructure

#10205 Fixes in sysctl template
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/tests/correct_value_usr_local_lib.pass.sh
  shared/templates/sysctl/tests/wrong_value_usr_local_lib.fail.sh
Labels: SLES, needs-ok-to-test

#10138 products/alinux2 && products/alinux3: fix some missing rules in the cis profile
  controls/cis_alinux2.yml
  controls/cis_alinux3.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_monthly/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_monthly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_monthly/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_chacl/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_setfacl/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_chcon/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chage/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chsh/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_gpasswd/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgrp/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_usermod/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_deactivation/package_firewalld_removed/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_deactivation/service_firewalld_disabled/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configured_firewalld_default_deny/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/file_audit_tools_group_ownership/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/file_audit_tools_ownership/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/file_audit_tools_permissions/rule.yml
  linux_os/guide/system/software/sudo/package_sudo_installed/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_passwd_timeout/rule.yml
Labels: needs-ok-to-test

#10211 Update Ansible section in project Style Guide
  docs/manual/developer/04_style_guide.md
Labels: Documentation

#10128 New SLE 15 rule set_nftables_table
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_table/rule.yml
  linux_os/guide/system/network/network-nftables/var_nftables_family.var
  linux_os/guide/system/network/network-nftables/var_nftables_table.var
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10213 Update test scenarios for accounts_password_last_change_is_in_past
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/all_password_change_time_in_past.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/user_password_change_time_in_future.fail.sh
Labels: Test Suite

#10217 Fix broken link to statistics page
  docs/manual/developer/05_tools_and_utilities.md
Labels: Documentation

#10222 CIS numbers for SLE 12/15 rule audit_rules_login_events_tallylog
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
Labels: SLES, needs-ok-to-test, CIS

#10224 resubmit: update the Ubuntu products
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
  products/ubuntu2204/product.yml
Labels: needs-ok-to-test

#10221 OCP4 fix version detection for OCP
  applications/openshift/general/version_detect_in_hypershift/rule.yml
  shared/checks/oval/installed_app_is_ocp4.xml
Labels: OpenShift

#10063 Add implementation for rsyslog_logging_configured rule
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/rule.yml
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10220 Introduce style guidelines for commit messages
  docs/manual/developer/04_style_guide.md
Labels: Documentation

#10188 OCP4 STIG: SRG-APP-000340-CTR-000770 is a manual rule
  controls/srg_ctr/SRG-APP-000340-CTR-000770.yml
Labels: OpenShift

#10223 New SLE 12/15 rule audit_rules_mac_modification_usr_share
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_missing.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_wrong_value.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_missing.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_wrong_value.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test, CIS

#10219 postfix_prevent_unrestricted_relay: allow whitespaces and no comma for 'smtpd_client_restrictions' value
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/oval/shared.xml
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/defective_multiple_commas.fail.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_multiple_whitespaces_left.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_multiple_whitespaces_left_multiple_whitespaces_right.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_multiple_whitespaces_left_one_whitespace_right.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_multiple_whitespaces_right.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_nowhitespace.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_one_whitespace_both.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_one_whitespace_left.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_one_whitespace_left_multiple_whitespaces_right.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_comma_one_whitespace_right.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_nocomma_multiple_whitespaces.pass.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok_nocomma_one_whitespace.pass.sh
Labels: OVAL, ok-to-test

#10233 Include avahi related rules in RHEL CIS control files
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi-autoipd_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/service_avahi-daemon_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10231 Include audit_rules_mac_modification_usr_share rule for RHEL CIS
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10227 Remove api_server_audit_log_maxsize remediation
  applications/openshift/api-server/api_server_audit_log_maxsize/kubernetes/shared.yml
Labels: OpenShift

#10187 OCP4 STIG: Cover SRG-APP-000297-CTR-000705 with a new rule oauth_logout_url_set
  applications/openshift/general/oauth_logout_url_set/policy/stig/shared.yml
  applications/openshift/general/oauth_logout_url_set/rule.yml
  applications/openshift/general/oauth_logout_url_set/tests/ocp4/e2e-remediation.sh
  applications/openshift/general/oauth_logout_url_set/tests/ocp4/e2e.yml
  controls/srg_ctr/SRG-APP-000297-CTR-000705.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, New Rule, STIG

#10229 SUSE: fix rule package_dhcp_removed
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_dhcp_removed/rule.yml
Labels: SLES, needs-ok-to-test

#10239 Include partition_for_dev_shm in CIS RHEL7 and RHEL9
  controls/cis_rhel7.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_dev_shm/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL9, RHEL7, CIS

#10237 SLE Enable sle12 and sle15 platforms and add CIS references to gdm related rules
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/rule.yml
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
  linux_os/guide/system/software/gnome/package_gdm_removed/rule.yml
  products/sle12/product.yml
  products/sle15/product.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, CIS

#10250 Fix broken CI
  .github/workflows/gate.yaml
  docs/manual/developer/02_building_complianceascode.md
  utils/import_srg_spreadsheet.py
Labels: BLOCKER

#10184 OCP4 STIG: Cover SRG-APP-000068-CTR-000120 and SRG-APP-000069-CTR-000125
  applications/openshift/general/classification_banner/policy/stig/shared.yml
  applications/openshift/general/classification_banner/rule.yml
  applications/openshift/general/oauth_login_template_set/policy/stig/shared.yml
  applications/openshift/general/oauth_login_template_set/rule.yml
  applications/openshift/general/oauth_login_template_set/tests/ocp4/e2e-remediation.sh
  applications/openshift/general/oauth_login_template_set/tests/ocp4/e2e.yml
  applications/openshift/general/oauth_provider_selection_set/policy/stig/shared.yml
  applications/openshift/general/oauth_provider_selection_set/rule.yml
  applications/openshift/general/oauth_provider_selection_set/tests/ocp4/e2e-remediation.sh
  applications/openshift/general/oauth_provider_selection_set/tests/ocp4/e2e.yml
  applications/openshift/general/openshift_motd_exists/policy/stig/shared.yml
  applications/openshift/general/openshift_motd_exists/rule.yml
  controls/srg_ctr/SRG-APP-000068-CTR-000120.yml
  controls/srg_ctr/SRG-APP-000069-CTR-000125.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, STIG

#10198 OCP4 STIG: SRG-APP-000089-CTR-000150 and SRG-APP-000101-CTR-000205 are covered by setting the proper audit log level
  applications/openshift/logging/audit_profile_set/policy/stig/shared.yml
  applications/openshift/logging/audit_profile_set/rule.yml
  applications/openshift/rbac/rbac_logging_del/policy/stig/shared.yml
  applications/openshift/rbac/rbac_logging_del/rule.yml
  applications/openshift/rbac/rbac_logging_del/tests/ocp4/e2e.yml
  applications/openshift/rbac/rbac_logging_mod/policy/stig/shared.yml
  applications/openshift/rbac/rbac_logging_mod/rule.yml
  applications/openshift/rbac/rbac_logging_mod/tests/ocp4/e2e.yml
  applications/openshift/rbac/rbac_logging_view/policy/stig/shared.yml
  applications/openshift/rbac/rbac_logging_view/rule.yml
  applications/openshift/rbac/rbac_logging_view/tests/ocp4/e2e.yml
  controls/srg_ctr/SRG-APP-000089-CTR-000150.yml
  controls/srg_ctr/SRG-APP-000090-CTR-000155.yml
  controls/srg_ctr/SRG-APP-000091-CTR-000160.yml
  controls/srg_ctr/SRG-APP-000095-CTR-000170.yml
  controls/srg_ctr/SRG-APP-000096-CTR-000175.yml
  controls/srg_ctr/SRG-APP-000097-CTR-000180.yml
  controls/srg_ctr/SRG-APP-000098-CTR-000185.yml
  controls/srg_ctr/SRG-APP-000099-CTR-000190.yml
  controls/srg_ctr/SRG-APP-000100-CTR-000195.yml
  controls/srg_ctr/SRG-APP-000100-CTR-000200.yml
  controls/srg_ctr/SRG-APP-000101-CTR-000205.yml
  controls/srg_ctr/SRG-APP-000116-CTR-000235.yml
  controls/srg_ctr/SRG-APP-000118-CTR-000240.yml
  controls/srg_ctr/SRG-APP-000119-CTR-000245.yml
  controls/srg_ctr/SRG-APP-000120-CTR-000250.yml
  controls/srg_ctr/SRG-APP-000121-CTR-000255.yml
  controls/srg_ctr/SRG-APP-000122-CTR-000260.yml
  controls/srg_ctr/SRG-APP-000123-CTR-000265.yml
  controls/srg_ctr/SRG-APP-000181-CTR-000485.yml
  controls/srg_ctr/SRG-APP-000266-CTR-000625.yml
  controls/srg_ctr/SRG-APP-000374-CTR-000865.yml
  controls/srg_ctr/SRG-APP-000375-CTR-000870.yml
  controls/srg_ctr/SRG-APP-000380-CTR-000900.yml
  controls/srg_ctr/SRG-APP-000381-CTR-000905.yml
  controls/srg_ctr/SRG-APP-000492-CTR-001220.yml
  controls/srg_ctr/SRG-APP-000493-CTR-001225.yml
  controls/srg_ctr/SRG-APP-000494-CTR-001230.yml
  controls/srg_ctr/SRG-APP-000495-CTR-001235.yml
  controls/srg_ctr/SRG-APP-000496-CTR-001240.yml
  controls/srg_ctr/SRG-APP-000497-CTR-001245.yml
  controls/srg_ctr/SRG-APP-000498-CTR-001250.yml
  controls/srg_ctr/SRG-APP-000499-CTR-001255.yml
  controls/srg_ctr/SRG-APP-000500-CTR-001260.yml
  controls/srg_ctr/SRG-APP-000501-CTR-001265.yml
  controls/srg_ctr/SRG-APP-000502-CTR-001270.yml
  controls/srg_ctr/SRG-APP-000504-CTR-001280.yml
  controls/srg_ctr/SRG-APP-000507-CTR-001295.yml
  controls/srg_ctr/SRG-APP-000508-CTR-001300.yml
  controls/srg_ctr/SRG-APP-000509-CTR-001305.yml
  controls/srg_ctr/SRG-APP-000510-CTR-001310.yml
  shared/macros/10-fixtext.jinja
  shared/macros/10-ocil.jinja
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, STIG

#10252 Add existent rules to Ubuntu 22.04 CIS profile
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10244 ubuntu: Miscellaneous fixes
  linux_os/guide/system/network/network-iptables/package_iptables-persistent_removed/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/ubuntu.sh
  products/ubuntu2204/product.yml
Labels: Ubuntu, CIS

#10245 Disable FIPS-related rule group for 'osbuild' platform
  linux_os/guide/system/software/integrity/fips/group.yml
Labels: offline

#10243 Include rule for checking password last change in RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/no_password_defined.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10258 Assignment of SLE 12/15 CCE codes for rule security_patches_up_to_date
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/rule.yml
Labels: SLES, needs-ok-to-test, CIS

#10247 Modify platform check in USBGuard rules
  linux_os/guide/services/usbguard/group.yml
  linux_os/guide/services/usbguard/service_usbguard_enabled/rule.yml
  linux_os/guide/services/usbguard/usbguard_generate_policy/rule.yml
Labels: bugfix

#10256 Add yescrypt to set_password_hashing_algorithm_logindefs
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm.var
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10255 Add some new iptables rules
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/sce/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/iptables_rules_for_open_ports/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/iptables_rules_for_open_ports/sce/shared.sh
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10254 OCP: Add OCP 4.13 support for applicable rules
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/tests/ocp4/4.13.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/tests/ocp4/4.13.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/tests/ocp4/4.13.yml
  applications/openshift/api-server/ocp_api_server_audit_log_maxbackup/rule.yml
  applications/openshift/api-server/ocp_api_server_audit_log_maxsize/rule.yml
  applications/openshift/api-server/var_openshift_apiserver_config.var
  applications/openshift/api-server/var_openshift_apiserver_config_data_name.var
  applications/openshift/api-server/var_openshift_apiserver_namespace.var
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/tests/ocp4/4.13.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/tests/ocp4/4.13.yml
Labels: OpenShift

#10248 Add UFW related rule for CIS on Ubuntu
  linux_os/guide/system/network/network-ufw/set_ufw_default_rule/rule.yml
  linux_os/guide/system/network/network-ufw/set_ufw_default_rule/sce/shared.sh
  linux_os/guide/system/network/network-ufw/set_ufw_loopback_traffic/bash/shared.sh
  linux_os/guide/system/network/network-ufw/set_ufw_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-ufw/set_ufw_loopback_traffic/sce/shared.sh
  linux_os/guide/system/network/network-ufw/ufw_rules_for_open_ports/rule.yml
  linux_os/guide/system/network/network-ufw/ufw_rules_for_open_ports/sce/shared.sh
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10246 add cap_system_chroot capability to Automatus podman container
  tests/ssg_test_suite/test_env.py
Labels: Test Suite

#10265 OCP4 fix kubelet_enable_protect_kernel_defaults
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.10.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.11.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.12.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.13.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.6.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.7.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.8.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/tests/ocp4/4.9.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/oval/shared.xml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.10.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.11.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.12.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.13.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.6.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.7.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.8.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl/tests/ocp4/4.9.yml
Labels: OpenShift

#10269 Include accounts_set_post_pw_existing rule in CIS RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/tests/correct_set_post_pw.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/tests/incorrect_set_post_pw.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/tests/no_password_defined.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/tests/one_incorrect_set_post_pw.fail.sh
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS
