Repository ComplianceAsCode/content, pull requests merged in 2023-03, with the labels that each got.

#10263 OCP4 STIG: Add status justification to SRG-APP-000178-CTR-000470, covering IA-6
  controls/srg_ctr/SRG-APP-000178-CTR-000470.yml
Labels: OpenShift

#10262 OCP4 STIG: Add status justification to two SRGs related to the IA-5 control family
  controls/srg_ctr/SRG-APP-000400-CTR-000960.yml
  controls/srg_ctr/SRG-APP-000605-CTR-001380.yml
Labels: OpenShift

#10261 OCP4 STIG: Add status justification and artifact description to two rules covering IA-11
  controls/srg_ctr/SRG-APP-000389-CTR-000925.yml
  controls/srg_ctr/SRG-APP-000390-CTR-000930.yml
Labels: OpenShift

#10253 Replace login_defs platform by package platform
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_post_pw_expiration/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
  shared/applicability/login_defs.yml
  shared/applicability/package.yml
  shared/checks/oval/installed_env_has_login_defs.xml
Labels: CPE-AL

#10271 Update password hashing algorithm CIS requirement
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
Labels: RHEL, CIS

#10279 Complete CIS requirements related to dot-files
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10272 Correction in rule package_openldap-servers_removed
  linux_os/guide/services/ldap/openldap_server/package_openldap-servers_removed/rule.yml
Labels: SLES, Ubuntu, needs-ok-to-test

#10242 OCP4 STIG: Cover controls that correspond to NIST CM-5
  applications/openshift/integrity/reject_unsigned_images_by_default/policy/stig/shared.yml
  applications/openshift/integrity/reject_unsigned_images_by_default/rule.yml
  applications/openshift/registry/ocp_allowed_registries/rule.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/rule.yml
  controls/srg_ctr/SRG-APP-000131-CTR-000280.yml
  controls/srg_ctr/SRG-APP-000131-CTR-000285.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000290.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000295.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000300.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000305.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000310.yml
  controls/srg_ctr/SRG-APP-000380-CTR-000900.yml
  controls/srg_ctr/SRG-APP-000381-CTR-000905.yml
Labels: OpenShift

#10240 OCP4 STIG: Cover SRG-APP-000359-CTR-000810 and SRG-APP-000360-CTR-000815 (AU-5)
  controls/srg_ctr/SRG-APP-000359-CTR-000810.yml
  controls/srg_ctr/SRG-APP-000360-CTR-000815.yml
Labels: OpenShift

#10235 OCP4 STIG: SRG-APP-000290-CTR-000670: Inherently met, add status justification
  applications/openshift/logging/audit_log_forwarding_uses_tls/rule.yml
  controls/srg_ctr/SRG-APP-000290-CTR-000670.yml
Labels: OpenShift

#10234 OCP4 STIG: SRG-APP-000109-CTR-000215 is Does Not Meet despite having a rule
  applications/openshift/logging/audit_error_alert_exists/policy/stig/shared.yml
  controls/srg_ctr/SRG-APP-000109-CTR-000215.yml
Labels: OpenShift

#10006 Added a new rule accounts_password_set_warn_age_existing
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/tests/correct_pas_warn_age.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/tests/incorrect_pas_warn_age.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test

#10210 Add new rule socket_systemd-journal-remote_disabled
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/bash/shared.sh
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/oval/shared.xml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/rule.yml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/tests/socket_disabled.pass.sh
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/tests/socket_enabled.fail.sh
  products/ubuntu2204/profiles/cis_level1_server.profile
  shared/macros/10-bash.jinja
  shared/macros/10-fixtext.jinja
Labels: New Rule, CIS

#10281 Fix Automatus on Python 3.6
  ssg/constants.py
Labels: bugfix, Test Suite

#10147 SRG-APP-000039-CTR-000110: Create appropriate checks and remediations
  applications/openshift/networking/project_config_and_template_network_policy/kubernetes/shared.yml
  applications/openshift/networking/project_config_and_template_network_policy/oval/shared.xml
  applications/openshift/networking/project_config_and_template_network_policy/policy/stig/shared.yml
  applications/openshift/networking/project_config_and_template_network_policy/rule.yml
  applications/openshift/networking/project_config_and_template_network_policy/tests/ocp4/e2e.yml
  applications/openshift/networking/project_config_network_policy/kubernetes/shared.yml
  applications/openshift/networking/project_config_network_policy/rule.yml
  applications/openshift/networking/project_config_network_policy/tests/ocp4/e2e.yml
  applications/openshift/networking/project_template_network_policy/kubernetes/shared.yml
  applications/openshift/networking/project_template_network_policy/rule.yml
  applications/openshift/networking/project_template_network_policy/tests/ocp4/e2e.yml
  controls/srg_ctr/SRG-APP-000039-CTR-000110.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, STIG

#10282 Drop redundant pam pwquality-based rules for SLE
  controls/anssi.yml
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
Labels: SLES, needs-ok-to-test, CIS, ANSSI

#10260 OCP4 STIG: SRGs related to NIST CM-11 are inherently met
  controls/srg_ctr/SRG-APP-000378-CTR-000885.yml
  controls/srg_ctr/SRG-APP-000378-CTR-000890.yml
Labels: OpenShift

#10273 Corrections in the rule package_openldap-clients_removed
  linux_os/guide/services/ldap/openldap_client/package_openldap-clients_removed/rule.yml
Labels: SLES, Ubuntu, needs-ok-to-test, Update Rule

#10291 Introduce rule to remove nginx package
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/http/disabling_nginx/group.yml
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, RHEL8, CIS

#10285 Enable socket_systemd-journal-remote_disabled rule for RHEL
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/ansible/shared.yml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/bash/shared.sh
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/oval/shared.xml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/rule.yml
  linux_os/guide/system/logging/journald/socket_systemd-journal-remote_disabled/tests/no_package_installed.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: RHEL9, RHEL8, CIS

#10287 Enable sshd_enable_warning_banner_net for RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner_net/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, Update Rule, Update Profile, CIS

#10204 OCP4 STIG: SRG-APP-000092-CTR-000165,SRG-APP-000111-CTR-000220 are covered by two existing rules
  applications/openshift/api-server/audit_log_forwarding_enabled/policy/stig/shared.yml
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/logging/cluster_logging_operator_exist/policy/stig/shared.yml
  applications/openshift/logging/cluster_logging_operator_exist/rule.yml
  controls/srg_ctr/SRG-APP-000092-CTR-000165.yml
  controls/srg_ctr/SRG-APP-000111-CTR-000220.yml
  controls/srg_ctr/SRG-APP-000358-CTR-000805.yml
Labels: OpenShift

#10296 Update pam_pwquality requirements in CIS
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
Labels: RHEL, CIS

#10293 Add package_dnsmasq_removed rule
  controls/cis_rhel9.yml
  linux_os/guide/services/dns/package_dnsmasq_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, CIS

#10298 nist_rhcos4: Fix typo in rule name
  controls/nist_rhcos4.yml
Labels: bugfix, OpenShift

#10301 Add package_nginx_removed to Ubuntu CIS profiles
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10302 Add package_cyrus-imapd_removed to Ubuntu CIS profiles
  linux_os/guide/services/imap/disabling_cyrus-imapd/package_cyrus-imapd_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10304 accounts_passwords_pam_faildelay_delay: depend on pam
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
Labels: ok-to-test, Update Rule

#10305 accounts_passwords_pam_tally2: depend on pam being installed
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
Labels: needs-ok-to-test, Update Rule

#10290 OCP4 STIG: SRG-APP-000431-CTR-001065 is inherently met
  controls/srg_ctr/SRG-APP-000431-CTR-001065.yml
Labels: OpenShift

#10289 OCP4 STIG: Two SRGs that relate to SC-24 are inherently met
  controls/srg_ctr/SRG-APP-000225-CTR-000570.yml
  controls/srg_ctr/SRG-APP-000226-CTR-000575.yml
Labels: OpenShift

#10288 SRG-APP-000243-CTR-000600 is completely manual
  controls/srg_ctr/SRG-APP-000243-CTR-000600.yml
Labels: STIG

#10306 package_pam_pwquality_installed: depend on pam being installed
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
Labels: needs-ok-to-test, Update Rule

#10322 coredump_disable_storage: depend on systemd being installed
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
Labels: needs-ok-to-test

#10321 coredump_disable_backtraces: depend on systemd being installed
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
Labels: needs-ok-to-test

#10303 apparmor: apply only to platform machine
  linux_os/guide/system/apparmor/apparmor_configured/rule.yml
  linux_os/guide/system/apparmor/group.yml
  linux_os/guide/system/apparmor/package_pam_apparmor_installed/rule.yml
Labels: needs-ok-to-test, Update Rule

#10319 Add srg to account_passwords_pam_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_dir/rule.yml
Labels: bugfix

#10317 use_pam_wheel_for_su: depend on pam being installed
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
Labels: needs-ok-to-test

#10318 sudo_require_reauthentication: depend on sudo being installed
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
Labels: needs-ok-to-test, Update Rule

#10309 Add banner_etc_motd to Ubuntu CIS profiles
  linux_os/guide/system/accounts/accounts-banners/banner_etc_motd/bash/shared.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_motd/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10311 Add rule accounts_password_last_change_is_in_past to Ubuntu CIS profiles
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10264 Add new rule rsyslog_filecreatemode
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/rule.yml
  linux_os/guide/system/logging/rsyslog_filecreatemode/bash/shared.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/oval/shared.xml
  linux_os/guide/system/logging/rsyslog_filecreatemode/rule.yml
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0600.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0601.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0640.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0755.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_duplicate.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_missing.fail.sh
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: RHEL, SLES, Ubuntu, New Rule, CIS

#10307 vlock_installed: apply only to platform machine
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
Labels: needs-ok-to-test, Update Rule

#10316 sudo_custom_logfile: depend on sudo being installed
  linux_os/guide/system/software/sudo/sudo_custom_logfile/rule.yml
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/broken_defaults.fail.sh
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_absent.fail.sh
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_enabled.pass.sh
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_enabled_dir.pass.sh
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_enabled_with_noexec.pass.sh
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/wrong_logfile.fail.sh
Labels: needs-ok-to-test

#10329 Include RHEL reference for CIS firewalld zone rule
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/system/network/network-firewalld/set_firewalld_appropriate_zone/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL7, RHEL8, CIS

#10328 Enable rsyslog_filecreatemode rule for RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/logging/rsyslog_filecreatemode/ansible/shared.yml
  linux_os/guide/system/logging/rsyslog_filecreatemode/bash/shared.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/rule.yml
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0600.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0601.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0640.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0755.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_duplicate.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_missing.fail.sh
  shared/references/cce-redhat-avail.txt
Labels: RHEL, Ansible, CIS

#10064 New SLE 12/15 rule all_apparmor_profiles_in_enforce_complain_mode whi…
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/ansible/shared.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_complain.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_enforce.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/incorrect_all_apparmor_profiles.fail.sh
  linux_os/guide/system/apparmor/var_apparmor_mode.var
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, Ubuntu, needs-ok-to-test

#10035 Reduce duplicate OVALs in built data stream
  build-scripts/combine_ovals.py
  build-scripts/cpe_generate.py
  cmake/SSGCommon.cmake
  products/rhv4/checks/oval/.gitkeep
  shared/applicability/oval/installed_OS_is_alinux2.xml
  shared/applicability/oval/installed_OS_is_alinux3.xml
  shared/applicability/oval/installed_OS_is_anolis8.xml
  shared/applicability/oval/installed_OS_is_debian10.xml
  shared/applicability/oval/installed_OS_is_debian11.xml
  shared/applicability/oval/installed_OS_is_macos1015.xml
  shared/applicability/oval/installed_OS_is_opensuse_leap15.xml
  shared/applicability/oval/installed_OS_is_opensuse_leap42.xml
  shared/applicability/oval/installed_OS_is_ubuntu2204.xml
  shared/applicability/oval/installed_OS_is_uos20.xml
  shared/applicability/oval/installed_app_is_chromium.xml
  shared/applicability/oval/installed_app_is_eks.xml
  shared/applicability/oval/installed_app_is_eks_node.xml
  shared/applicability/oval/installed_app_is_firefox.xml
  shared/applicability/oval/installed_app_is_ocp4.xml
  shared/applicability/oval/installed_app_is_ocp4_node.xml
  shared/applicability/oval/installed_app_is_rhv4.xml
  shared/applicability/oval/installed_env_has_grub2_package.xml
  shared/applicability/oval/installed_env_has_login_defs.xml
  shared/applicability/oval/installed_env_has_no_ovirt-host_package.xml
  shared/applicability/oval/installed_env_has_ovirt-host_package.xml
  shared/applicability/oval/installed_env_has_wifi_interface.xml
  shared/applicability/oval/installed_env_is_a_container.xml
  shared/applicability/oval/installed_env_is_a_machine.xml
  shared/applicability/oval/installed_env_mounts_tmp.xml
  shared/applicability/oval/installed_env_mounts_var_tmp.xml
  shared/applicability/oval/krb5_server_older_than_1_17_18.xml
  shared/applicability/oval/krb5_workstation_older_than_1_17_18.xml
  shared/applicability/oval/node_is_ocp4_master_node.xml
  shared/applicability/oval/ol7_older_than_7_4.xml
  shared/applicability/oval/ol9_greater_equal_9_0.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_aarch64.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_not_aarch64.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_not_s390x.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_ppc64le.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_s390x.xml
  shared/applicability/oval/rhel7_older_than_7_4.xml
  shared/applicability/oval/rhel8_greater_equal_8_7.xml
  shared/applicability/oval/rhel8_less_equal_8_4.xml
  shared/applicability/oval/rhel8_less_equal_8_5.xml
  shared/applicability/oval/rhel9_equals_9_0.xml
  shared/applicability/oval/rhel9_greater_equal_9_0.xml
  shared/applicability/oval/sssd_conf_uses_ldap.xml
  shared/applicability/oval/system_boot_mode_is_non_uefi.xml
  shared/applicability/oval/system_boot_mode_is_uefi.xml
  shared/templates/platform_os_linux/cpe-oval.template
  shared/templates/platform_os_linux/template.yml
  shared/templates/platform_package/cpe-oval.template
  shared/templates/platform_package/template.yml
  ssg/templates.py
Labels: CPE-AL

#10335 Fix CCE URI
  shared/transforms/shared_constants.xslt
  ssg/constants.py
  tests/unit/ssg-module/data/accounts_tmout.xml
Labels: bugfix

#10299 OCP4 STIG: Fix status of SRG-APP-000360-CTR-000815
  controls/srg_ctr/SRG-APP-000360-CTR-000815.yml
Labels: OpenShift

#10331 Update ansible in file_permissions_binary_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/ansible/shared.yml
Labels: needs-ok-to-test

#10315 sudo_add_use_pty: depend on sudo being installed
  linux_os/guide/system/software/sudo/sudo_add_use_pty/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_absent.fail.sh
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_enabled.pass.sh
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_enabled_dir.pass.sh
Labels: needs-ok-to-test

#10300 Add some nftables rules to Ubuntu CIS profile
  .github/workflows/gate.yaml
  cmake/SSGCommon.cmake
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_table/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/sce/shared.sh
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Rule, CIS

#10339 make accounts_password_last_change_is_in_past not applicable to containers
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/rule.yml
Labels: bugfix, Update Rule

#10327 Use check-fact-ref in platform element
  ssg/build_cpe.py
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_yaml.py
Labels: CPE-AL

#10341 Turn off avahi and avahi-autoipd fixes during install
  controls/cis_rhel9.yml
  products/rhel9/profiles/cis_workstation_l2.profile
Labels: bugfix, RHEL9, CIS

#10352 Align rhel7 dracut-fips-aesni remediations
  linux_os/guide/system/software/integrity/fips/package_dracut-fips-aesni_installed/anaconda/shared.anaconda
Labels: Update Rule, RHEL7

#10337 Add URL for ISM
  ssg/constants.py
Labels: Documentation

#10351 kernel_module_disable template - regexp matches multiple lines
  shared/templates/kernel_module_disabled/ansible.template
Labels: Ansible, ok-to-test

#10349 fix loops within ansible template for rsyslog_files
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
Labels: bugfix, Ansible

#10345 Various python fixes
  build-scripts/build_sce.py
  build-scripts/collect_remediations.py
  build-scripts/profile_tool.py
  build-scripts/verify_references.py
  ssg/build_ovals.py
  ssg/build_yaml.py
  ssg/content_diff.py
  ssg/entities/profile_base.py
  ssg/playbook_builder.py
  ssg/templates.py
  ssg/utils.py
  ssg/xml.py
  tests/automatus.py
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/log.py
  tests/test_profile_stability.py
  tests/unit/ssg-module/test_build_remediations.py
  tests/unit/ssg-module/test_id_translate.py
  tests/unit/ssg_test_suite/test_matches_platform.py
  utils/add_platform_rule.py
  utils/ansible_playbook_to_role.py
  utils/build_stig_control.py
  utils/create-stig-overlay.py
  utils/import_srg_spreadsheet.py
  utils/mod_checks.py
  utils/mod_fixes.py
  utils/mod_prodtype.py
  utils/srg_audit.py
Labels: Infrastructure, needs-ok-to-test

#10358 Add rule package_nfs-kernel-server_removed for Ubuntu CIS
  linux_os/guide/services/nfs_and_rpc/package_nfs-kernel-server_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, New Rule, CIS

#10362 Fix product handling issues
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
  linux_os/guide/system/logging/log_rotation/group.yml
Labels: bugfix, needs-ok-to-test

#10360 Add package_cups_removed to Ubuntu CIS Level 2 Worstation profiles
  products/ubuntu2004/profiles/cis_level2_workstation.profile
  products/ubuntu2204/profiles/cis_level2_workstation.profile
Labels: Ubuntu, Update Profile, CIS

#10344 NTP related rules for CIS on Ubuntu 20.04 and 22.04
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/rule.yml
  linux_os/guide/services/ntp/ntpd_configure_restrictions/rule.yml
  linux_os/guide/services/ntp/ntpd_run_as_ntp_user/rule.yml
  linux_os/guide/services/ntp/package_ntp_installed/rule.yml
  linux_os/guide/services/ntp/package_timesyncd_installed/rule.yml
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_enabled/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Rule, Update Profile, CIS

#10200 Add offline capability to the 'mount_option' OVAL template
  docs/templates/template_reference.md
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noauto/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/tests/no_partition.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/tests/no_partition.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/tests/no_partition.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_home_grpquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_usrquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_opt_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_and_runtime.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_only.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/runtime_only.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_srv_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_bind/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  shared/macros/10-bash.jinja
  shared/templates/mount_option/ansible.template
  shared/templates/mount_option/bash.template
  shared/templates/mount_option/oval.template
  shared/templates/mount_option/template.py
  shared/templates/mount_option/tests/fstab.fail.sh
  shared/templates/mount_option/tests/runtime.pass.sh
  shared/templates/mount_option/tests/separate.pass.sh
Labels: OVAL, offline

#10350 Update Contributors for v0.1.67
  .mailmap
  Contributors.md
  Contributors.xml
Labels: Documentation

#10372 Bump version for 0.1.68
  CMakeLists.txt
Labels: Documentation

#10368 SLE improve kernel module disabled rule
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/kernel_module_disabled/bash.template
  shared/templates/kernel_module_disabled/oval.template
Labels: Ansible, OVAL, Bash, SLES, needs-ok-to-test

#10357 OCP: Disable rules for HyperShift
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/api-server/audit_log_forwarding_webhook/ocp4/e2e.yml
  applications/openshift/api-server/audit_log_forwarding_webhook/rule.yml
  applications/openshift/authentication/idp_is_configured/rule.yml
  applications/openshift/authentication/oauth_inactivity_timeout/rule.yml
  applications/openshift/authentication/oauth_token_maxage/rule.yml
  applications/openshift/authentication/ocp_idp_no_htpasswd/rule.yml
  applications/openshift/authentication/ocp_no_ldap_insecure/rule.yml
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  applications/openshift/general/kubeadmin_removed/rule.yml
  applications/openshift/general/oauth_login_template_set/rule.yml
  applications/openshift/general/oauth_provider_selection_set/rule.yml
  applications/openshift/integrity/file_integrity_exists/rule.yml
  applications/openshift/networking/configure_network_policies/rule.yml
  applications/openshift/networking/configure_network_policies_hypershift_hosted/rule.yml
  applications/openshift/networking/configure_network_policies_hypershift_hosted/tests/ocp4/e2e.yml
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
  controls/pcidss_ocp4.yml
  products/ocp4/product.yml
  products/ocp4/profiles/cis.profile
  shared/applicability/ocp4-on-hypershift.yml
  shared/applicability/oval/installed_app_is_ocp4.xml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift

#10375 Disable logrotate timer in ensure_logrotate_activated tests
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/tests/logrotate_no_cron_daily_no_timer.fail.sh
Labels: bugfix, Test Suite

#10381 Add CPE OVAL to the checklist catalog
  build-scripts/compose_ds.py
Labels: backported-into-stabilization

#10382 Remove unused variables
  ssg/constants.py
Labels: Infrastructure

#10365 bugfix: ssg_test_suite: RuleResult __eq__
  tests/ssg_test_suite/common.py
Labels: Test Suite, needs-ok-to-test

#10364 More product fixes and less variations
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/tests/correct_permissions.pass.sh
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/tests/db_not_up_to_date.fail.sh
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/tests/db_up_to_date.pass.sh
  linux_os/guide/system/software/gnome/dconf_db_up_to_date/tests/no_db_files.fail.sh
  linux_os/guide/system/software/updating/security_patches_up_to_date/policy/stig/shared.yml
  shared/macros/01-general.jinja
  shared/macros/10-ocil.jinja
Labels: bugfix, enhancement, needs-ok-to-test

#10384 Remove unused imports
  build-scripts/combine_ovals.py
Labels: Infrastructure

#10385 Update CI Repo for CTF
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus.yaml
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
Labels: Infrastructure

#10238 Complete 5.3.15 requirement for CIS RHEL7
  controls/cis_rhel7.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/bad_kex_rhel7_cis.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/good_kex_rhel7_cis.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/good_kex_sle.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/good_kex_strict_rhel7_cis.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/mixed_kex_rhel7_cis.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/no_kex.fail.sh
  linux_os/guide/services/ssh/sshd_strong_kex.var
  shared/references/cce-redhat-avail.txt
Labels: RHEL7, CIS

#10059 Add Bash and Ansible checks for versions
  docs/manual/developer/06_contributing_with_content.md
  shared/applicability/grub2.yml
  shared/applicability/package.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/templates/platform_package/ansible.template
  shared/templates/platform_package/bash.template
  shared/templates/platform_package/template.py
  shared/templates/platform_package/template.yml
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/requirement_specs.py
  ssg/utils.py
  tests/unit/bash/bash_pkg_conditional_rpm.bats.jinja
  tests/unit/ssg-module/data/applicability/chrony.yml
  tests/unit/ssg-module/data/applicability/ntp.yml
  tests/unit/ssg-module/data/applicability/systemd.yml
  tests/unit/ssg-module/data/applicability/yum.yml
  tests/unit/ssg-module/data/package_ntp_eq_1_0.yml
  tests/unit/ssg-module/test_build_remediations.py
  tests/unit/ssg-module/test_platform_expressions.py
  tests/unit/ssg-module/test_requirement_specs.py
Labels: Infrastructure, CPE-AL

#10363 OCPBUGS-8358: enable_fips_mode: Make it clear that RHCOS can't be FIPS-enabled post-install
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/rule.yml
Labels: OpenShift, Update Rule

#10268 Changes in bash remediation for accounts_password_set_max_life_existi…
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/bash/shared.sh
Labels: Bash, SLES, needs-ok-to-test

#10383 delete rule SLES-15-040280
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/rule.yml
  products/sle15/profiles/hipaa.profile
  products/sle15/profiles/stig.profile
Labels: SLES, needs-ok-to-test, Update Profile, STIG

#10393 Enable has_nonlocal_mta rule for RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/mail/has_nonlocal_mta/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10401 Backport - Explicitly set SELinux type
  linux_os/guide/system/selinux/selinux_all_devicefiles_labeled/tests/regular_file_device_t.pass.sh
  linux_os/guide/system/selinux/selinux_all_devicefiles_labeled/tests/symlink_with_wrong_label.pass.sh
Labels: backported-into-stabilization
