Repository ComplianceAsCode/content, pull requests merged in 2023-04, with the labels that each got.

#10406 Add package_avahi_removed to ubuntu profiles
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi_removed/rule.yml
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10397 Enable set_iptables_default_rule and set_ip6tables_default_rule for RHEL7
  controls/cis_rhel7.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ip6tables_default_rule/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL7, CIS

#10414 Add RHEL platforms to rsyslog_logging_configured
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/rule.yml
Labels: backported-into-stabilization

#10405 Ubuntu2204 CIS move away from FIPS approved rules
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/rule.yml
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10419 Mitigate xmldiff package upgrade problem. #10417
  .github/workflows/gate.yaml
Labels: bugfix

#10342 SRG-APP-000414-CTR-001010 is completely manual
  applications/openshift/risk-assessment/compliancesuite_exists/rule.yml
  controls/srg_ctr/SRG-APP-000414-CTR-001010.yml
Labels: OpenShift

#10377 OCPBUGS-8347: Disable the check for scheduler's bind-address option, the option was removed from newer kuber versions
  applications/openshift/scheduler/scheduler_no_bind_address/rule.yml
  applications/openshift/scheduler/scheduler_no_bind_address/tests/ocp4/4.10.yml
  applications/openshift/scheduler/scheduler_no_bind_address/tests/ocp4/4.11.yml
  applications/openshift/scheduler/scheduler_no_bind_address/tests/ocp4/4.12.yml
  applications/openshift/scheduler/scheduler_no_bind_address/tests/ocp4/4.13.yml
  applications/openshift/scheduler/scheduler_no_bind_address/tests/ocp4/4.8.yml
  applications/openshift/scheduler/scheduler_no_bind_address/tests/ocp4/4.9.yml
Labels: OpenShift

#10400 OCP4 STIG: Consolidate duplicate rules for SRG-APP-000429-CTR-001060, add policy file
  applications/openshift/api-server/api_server_encryption_provider_cipher/policy/stig/shared.yml
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
  applications/openshift/api-server/api_server_encryption_provider_config/kubernetes/shared.yml
  applications/openshift/api-server/api_server_encryption_provider_config/rule.yml
  applications/openshift/api-server/api_server_encryption_provider_config/tests/ocp4/e2e-remediation.sh
  applications/openshift/api-server/api_server_encryption_provider_config/tests/ocp4/e2e.yml
  controls/nist_ocp4.yml
  controls/pcidss_ocp4.yml
  controls/srg_ctr/SRG-APP-000429-CTR-001060.yml
  docs/manual/developer/06_contributing_with_content.md
  products/ocp4/profiles/cis.profile
Labels: OpenShift

#10313 aide_build_database make Ubuntu ansible similar to bash
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/ansible/shared.yml
Labels: Ubuntu, CIS

#10367 SLE platforms use drop in file for sysctl variables for SLE platforms
  docs/templates/template_reference.md
  products/sle12/product.yml
  products/sle15/product.yml
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  ssg/constants.py
  ssg/products.py
Labels: Bash, SLES, needs-ok-to-test

#10415 Ensure authentication required for single user mode for Ubuntu
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_password_configured/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_password_configured/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_password_configured/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_password_configured/tests/empty.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_password_configured/tests/locked.fail.sh
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, CIS

#10416 Enable ensure_shadow_group_empty for RHEL7
  controls/cis_rhel7.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/tests/no_shadow_group.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/tests/shadow_not_empty.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/tests/shadow_user_member.fail.sh
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL7, CIS

#10407 Update OL9 STIG profile
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_d/rule.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_daily/rule.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_hourly/rule.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_monthly/rule.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_weekly/rule.yml
  linux_os/guide/services/cron_and_at/file_groupowner_crontab/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_d/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_daily/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_hourly/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_monthly/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_weekly/rule.yml
  linux_os/guide/services/cron_and_at/file_owner_crontab/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_d/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_daily/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_hourly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_monthly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_weekly/rule.yml
  linux_os/guide/services/cron_and_at/file_permissions_crontab/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_groupowner_cron_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_owner_cron_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_cron_allow/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_krb_sec_remote_filesystems/rule.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/rule.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/rule.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  linux_os/guide/services/routing/disabling_quagga/package_quagga_removed/rule.yml
  linux_os/guide/services/ssh/file_groupowner_sshd_config/rule.yml
  linux_os/guide/services/ssh/file_owner_sshd_config/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_config/rule.yml
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/rule.yml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_unlink/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_unlinkat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pt_chown/rule.yml
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configured_firewalld_default_deny/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_invalid_ratelimit/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_delay/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_locked/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_user_locks/rule.yml
  products/ol9/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile, STIG

#10398 Enable service_nftables_enabled for RHEL7 and RHEL8
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL7, RHEL8, CIS

#10427 Fix changes in Ansible tasks not expected to fail
  linux_os/guide/system/accounts/enable_authselect/ansible/shared.yml
  shared/macros/10-ansible.jinja
Labels: bugfix, Ansible

#10386 Ensure access to the su command is restricted
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/tests/group_has_users.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/tests/no_group.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/tests/line_commented.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_group_for_su/tests/param_commented.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/var_pam_wheel_group_for_su.var
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, New Rule, Update Profile, CIS

#10057 A new rule as a part of CIS profile for SLE 12/15 - all_apparmor_prof…
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/ansible/shared.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/correct_apparmor_profiles_enforced.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles.fail.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles_enforced.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, Ubuntu, needs-ok-to-test

#10201 SLE15 add implementation of nftables_rules_permanent rule
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/ansible/sle15.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/bash/sle15.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/oval/sle15.xml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/tests/invalid_top_level_config_file.fail.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/tests/no_top_level_config_file.fail.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/tests/valid_top_level_config_file.pass.sh
  linux_os/guide/system/network/network-nftables/var_nftable_master_config_file.var
  shared/references/cce-sle15-avail.txt
Labels: SLES, New Rule, needs-ok-to-test

#10438 Backport of #10431
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  shared/applicability/mount.yml
  shared/applicability/oval/installed_env_mounts_tmp.xml
  shared/applicability/oval/installed_env_mounts_var_tmp.xml
  shared/applicability/partition-tmp.yml
  shared/applicability/partition-var-tmp.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
  shared/templates/platform_mount/oval.template
  shared/templates/platform_mount/template.yml
Labels: bugfix

#10431 Add mount[] platform and use it for /tmp and /var/tmp mount option rules
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  shared/applicability/mount.yml
  shared/applicability/oval/installed_env_mounts_tmp.xml
  shared/applicability/oval/installed_env_mounts_var_tmp.xml
  shared/applicability/partition-tmp.yml
  shared/applicability/partition-var-tmp.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
  shared/templates/platform_mount/oval.template
  shared/templates/platform_mount/template.yml
Labels: bugfix, usability, backported-into-stabilization

#10432 templates/mount_option: Switch mount Ansible remediation module's state back to 'mounted'
  shared/templates/mount_option/ansible.template
Labels: bugfix, Ansible, backported-into-stabilization

#10441 Move platform_mount to use cpe-oval vs oval
  shared/templates/platform_mount/cpe-oval.template
  shared/templates/platform_mount/template.yml
Labels: bugfix, Infrastructure

#10442 Move template platform_mount to use cpe-oval from oval
  shared/templates/platform_mount/cpe-oval.template
  shared/templates/platform_mount/template.yml
Labels: bugfix, backported-into-stabilization

#10448 Update OL9 stig_gui profile
  products/ol9/profiles/stig_gui.profile
Labels: Oracle Linux, needs-ok-to-test, STIG

#10394 Add a warning to AutoMatus
  tests/ssg_test_suite/rule.py
Labels: Test Suite

#10395 Enable set_nftables_table rule for RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_table/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/sce/shared.sh
  shared/references/cce-redhat-avail.txt
Labels: RHEL, CIS

#10251 OCP4 STIG: Implement controls related to CM-7
  applications/openshift/integrity/cluster_version_operator_exists/policy/stig/shared.yml
  applications/openshift/integrity/cluster_version_operator_exists/rule.yml
  applications/openshift/integrity/cluster_version_operator_verify_integrity/policy/stig/shared.yml
  applications/openshift/integrity/cluster_version_operator_verify_integrity/rule.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/policy/stig/shared.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/rule.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/tests/ocp4/e2e.yml
  applications/openshift/scc/scc_limit_host_ports/policy/stig/shared.yml
  applications/openshift/scc/scc_limit_host_ports/rule.yml
  applications/openshift/scc/scc_limit_host_ports/tests/ocp4/e2e.yml
  applications/openshift/scc/scc_limit_network_namespace/policy/stig/shared.yml
  applications/openshift/scc/scc_limit_network_namespace/rule.yml
  applications/openshift/scc/scc_limit_privileged_containers/rule.yml
  controls/srg_ctr/SRG-APP-000141-CTR-000320.yml
  controls/srg_ctr/SRG-APP-000142-CTR-000330.yml
  controls/srg_ctr/SRG-APP-000243-CTR-000595.yml
  controls/srg_ctr/SRG-APP-000383-CTR-000910.yml
  controls/srg_ctr/SRG-APP-000384-CTR-000915.yml
  controls/srg_ctr/SRG-APP-000386-CTR-000920.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift

#10433 No remediation warning for `fapolicy_default_deny`
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
Labels: Update Rule

#10430 Revert change in test scenario script for enable_authselect rule
  linux_os/guide/system/accounts/enable_authselect/ansible/shared.yml
  linux_os/guide/system/accounts/enable_authselect/tests/remediable.fail.sh
Labels: bugfix, Test Suite

#10445 Add mount[tmp] platform to mount_option_var_tmp_bind
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_bind/rule.yml
Labels: bugfix, backported-into-stabilization

#10403 Fix AIDE rules
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/tests/db_malformed.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/tests/new_db_not_present.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/cron_daily.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/cron_daily_complex.pass.sh
Labels: bugfix

#10461 Adapt some apparmor rules for Ubuntu
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/sce/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
  products/ubuntu2004/profiles/cis_level2_server.profile
  products/ubuntu2004/profiles/cis_level2_workstation.profile
  products/ubuntu2204/profiles/cis_level2_server.profile
  products/ubuntu2204/profiles/cis_level2_workstation.profile
Labels: SLES, Ubuntu, CIS

#10167 Add versions checks for the os_linux platform
  docs/manual/developer/06_contributing_with_content.md
  shared/applicability/os_linux.yml
  shared/macros/10-bash.jinja
  shared/templates/platform_os_linux/ansible.template
  shared/templates/platform_os_linux/bash.template
  shared/templates/platform_os_linux/cpe-oval.template
  shared/templates/platform_os_linux/template.yml
  tests/unit/bash/bash_os_linux_conditional.bats.jinja
Labels: CPE-AL

#10466 Styleguide Update
  docs/manual/developer/04_style_guide.md
Labels: Documentation

#10468 Add CMakelint
  .cmakelintrc
  .github/workflows/gate.yaml
  CMakeLists.txt
  cmake/CopyFiles.cmake
  cmake/FindOpenSCAP.cmake
  cmake/FindPythonModule.cmake
  cmake/GNUInstallDirs.cmake
  cmake/SSGCommon.cmake
  docs/manual/developer/02_building_complianceascode.md
  products/ol7/CMakeLists.txt
  products/ol8/CMakeLists.txt
  products/rhel7/CMakeLists.txt
  products/rhel8/CMakeLists.txt
  products/sle12/CMakeLists.txt
  products/sle15/CMakeLists.txt
  tests/CMakeLists.txt
Labels: Infrastructure

#10463 sshd_limit_user_access: Improve rule description, add oval and tests
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/allow_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/allow_users.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/allow_users_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/deny_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/deny_users.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/deny_users_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/empty_groups.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/empty_users.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/no_entry.fail.sh
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Update Rule, CIS

#10470 Update CIS requirement for SSH access limit
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL, Update Profile, CIS

#10467 Remove the expat dependency package that provides xmlwf which is not being used anymore.
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus.yaml
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/release.yaml
  .github/workflows/srg-mapping-table.yaml
  .github/workflows/stabilize.yaml
  .gitpod.Dockerfile
  CMakeLists.txt
  Dockerfiles/opensuse_leap_15_2
  Dockerfiles/ubuntu
  docs/manual/developer/02_building_complianceascode.md
  scap-security-guide.spec
Labels: Infrastructure, Highlight

#10471 audit_rules_privileged commands: skip /proc directory
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
Labels: bugfix, Ansible, OVAL, Bash, Update Rule, ANSSI

#10209 Use versioned expressions for OS checks
  linux_os/guide/services/ssh/ssh_server/sshd_disable_compression/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
  linux_os/guide/system/software/system-tools/package_rear_installed/rule.yml
  shared/applicability/ol7_older_than_7_4.yml
  shared/applicability/ol_greater_equal_9_0.yml
  shared/applicability/os_linux.yml
  shared/applicability/oval/ol7_older_than_7_4.xml
  shared/applicability/oval/ol9_greater_equal_9_0.xml
  shared/applicability/oval/rhel7_older_than_7_4.xml
  shared/applicability/oval/rhel8_greater_equal_8_7.xml
  shared/applicability/oval/rhel8_less_equal_8_4.xml
  shared/applicability/oval/rhel8_less_equal_8_5.xml
  shared/applicability/oval/rhel9_equals_9_0.xml
  shared/applicability/oval/rhel9_greater_equal_9_0.xml
  shared/applicability/rhel7_older_than_7_4.yml
  shared/applicability/rhel_equals_9_0.yml
  shared/applicability/rhel_greater_equal_8_7.yml
  shared/applicability/rhel_greater_equal_9_0.yml
  shared/applicability/rhel_less_equal_8_4.yml
  shared/applicability/rhel_less_equal_8_5.yml
  shared/templates/platform_os_linux/cpe-oval.template
Labels: enhancement, CPE-AL

#10478 Fix typo in tests for sshd_limit_user_acess
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/allow_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/allow_users.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/allow_users_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/deny_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/deny_users.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/deny_users_groups.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/empty_groups.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/empty_users.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/tests/no_entry.fail.sh
Labels: Test Suite

#10076 Introduce the release_helper.py script
  utils/release_helper.py
Labels: enhancement, Infrastructure

#10475 Add sysctl sysctl_net_ipv6_conf_all_disable_ipv6 rule to CIS 3.1.1
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/sysctl_net_ipv6_conf_all_disable_ipv6/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, needs-ok-to-test, Update Profile, CIS

#10324 OCP4: New rule image_pruner_active covers SRG-APP-000454-CTR-001110 and SRG-APP-000454-CTR-001115
  applications/openshift/registry/image_pruner_active/policy/stig/shared.yml
  applications/openshift/registry/image_pruner_active/rule.yml
  applications/openshift/registry/image_pruner_active/tests/correct.pass.sh
  applications/openshift/registry/image_pruner_active/tests/no_file.fail.sh
  applications/openshift/registry/image_pruner_active/tests/ocp4/e2e.yml
  applications/openshift/registry/image_pruner_active/tests/suspend.fail.sh
  controls/srg_ctr/SRG-APP-000454-CTR-001110.yml
  controls/srg_ctr/SRG-APP-000454-CTR-001115.yml
Labels: OpenShift

#10480 Ubuntu 22.04 CIS modify password remember rule
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, Update Profile, CIS

#10481 Modify SLE remediation for ensure_logrotate_activated
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/ansible/shared.yml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/bash/shared.sh
Labels: Ansible, Bash, SLES, Update Rule

#10425 OCPBUGS-10473: Adds instructions to several OCP rules
  applications/openshift/general/classification_banner/rule.yml
  applications/openshift/general/oauth_login_template_set/rule.yml
  applications/openshift/general/oauth_logout_url_set/rule.yml
  applications/openshift/general/oauth_provider_selection_set/rule.yml
  applications/openshift/registry/ocp_allowed_registries/rule.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/rule.yml
Labels: OpenShift

#10477 Add controls the EOF checker
  controls/srg_ctr/SRG-APP-000190-CTR-000500.yml
  tests/CMakeLists.txt
Labels: Infrastructure

#10225 OCPBUGS-7307: Add instructions for alert-receiver-configured rule
  applications/openshift/general/alert_receiver_configured/rule.yml
Labels: OpenShift

#10476 OCP4: Add rules for SRG-APP-000456-CTR-001125
  applications/openshift/registry/imagestream_sets_schedule/policy/stig/shared.yml
  applications/openshift/registry/imagestream_sets_schedule/rule.yml
  applications/openshift/registry/imagestream_sets_schedule/tests/ocp4/e2e.yml
  applications/openshift/registry/ocp_allowed_registries/policy/stig/shared.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/policy/stig/shared.yml
  controls/srg_ctr/SRG-APP-000456-CTR-001125.yml
Labels: OpenShift

#10459 update rule sles-15-010340 and file_permissions template
  docs/templates/template_reference.md
  linux_os/guide/system/permissions/files/permissions_local_var_log/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_btmp.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_lastlog.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_wtmp.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/test_config.yml
  shared/templates/file_permissions/ansible.template
  shared/templates/file_permissions/bash.template
  shared/templates/file_permissions/oval.template
Labels: needs-ok-to-test

#10490 Set service_nftables_enabled as machine only
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
Labels: bugfix

#10493 Fix EOF Error in `permissions_local_var_log` test config
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/test_config.yml
Labels: bugfix

#10485 Expand the list of rules skiped by Ansible Lint
  .config/ansible-lint.yml
  .github/workflows/gate-lint-ansible-roles.yaml
Labels: Infrastructure

#10489 Introduce file_permissions_audit_configuration rule
  controls/cis_rhel9.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_audit_configuration/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_audit_configuration/tests/correct_permissions.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_audit_configuration/tests/lenient_permissions.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_audit_configuration/tests/stricter_permisions.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, CIS

#9950 Add tests and improve rule for firewalld open ports
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/oval/shared.xml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/common.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/correct-portnum.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/correct.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/wrong.fail.sh
Labels: Test Suite, OVAL, needs-ok-to-test

#10497 Bump OL8 STIG version to V1R6
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v1r6-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, STIG

#10500 Fix uefi cpe bash condition
  shared/applicability/non-uefi.yml
  shared/applicability/uefi.yml
  tests/unit/ssg-module/test_playbook_builder_data/applicability/firmware.yml
Labels: needs-ok-to-test, CPE-AL

#10491 Update 4.1.3.19 CIS requirement for RHEL8 and RHEL9
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/tests/missing_auid_filter.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_query/tests/no_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_rmmod/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL9, RHEL8, CIS

#10503 add python3 to the list of build dependencies for RHEL-8+
  docs/manual/developer/02_building_complianceascode.md
Labels: Documentation

#9988 Add implementation for accounts_users_netrc_file_permissions rule
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/tests/expected_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/tests/group_rw_netrc.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/tests/world_and_group_rw_netrc.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, ok-to-test, Update Rule, Update Profile, CIS

#10498 OL7 DISA STIG v2r11 update
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/rule.yml
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  products/ol8/profiles/stig.profile
  shared/references/disa-stig-ol7-v2r11-xccdf-manual.xml
Labels: Oracle Linux, Update Profile, STIG

#10496 Update accounts_password_pam_retry yaml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
Labels: Oracle Linux, SLES, Ubuntu

#10495 Add rule package_mailx_installed
  linux_os/guide/services/mail/package_mailx_installed/rule.yml
  products/ol7/profiles/stig.profile
  products/ol8/profiles/stig.profile
Labels: RHEL, Oracle Linux, New Rule, needs-ok-to-test, STIG

#10510 Fix into ansible part of the rule audit_rules_suid_privilege_function
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
Labels: Ansible, needs-ok-to-test

#10502 Update release documentation about release_helper.py script
  docs/release_process.md
Labels: Documentation

#10505 Add control file for OCP 1.3.0
  controls/cis_ocp_1_3_0.yml
  controls/cis_ocp_1_3_0/section-1.yml
  controls/cis_ocp_1_3_0/section-2.yml
  controls/cis_ocp_1_3_0/section-3.yml
  controls/cis_ocp_1_3_0/section-4.yml
  controls/cis_ocp_1_3_0/section-5.yml
Labels: OpenShift, CIS
