Repository ComplianceAsCode/content, pull requests merged in 2024-06, with the labels that each got.

#11627 Image Pruner Rule has inconsistent ocil text
  applications/openshift/registry/image_pruner_active/rule.yml
Labels: OpenShift, needs-ok-to-test

#11559 Defined notes and rules for control BSI APP4.4.A8 - APP4.4.A11
  applications/openshift/accounts/accounts_no_clusterrolebindings_default_service_account/rule.yml
  applications/openshift/accounts/accounts_no_clusterrolebindings_default_service_account/tests/clusterrolebindings_other_serviceaccounts.pass.sh
  applications/openshift/accounts/accounts_no_clusterrolebindings_default_service_account/tests/clusterrolebindings_serviceaccounts.fail.sh
  applications/openshift/accounts/accounts_no_clusterrolebindings_default_service_account/tests/no_clusterrolebindings.pass.sh
  applications/openshift/accounts/accounts_no_clusterrolebindings_default_service_account/tests/ocp4/e2e.yml
  applications/openshift/accounts/accounts_no_rolebindings_default_service_account/rule.yml
  applications/openshift/accounts/accounts_no_rolebindings_default_service_account/tests/no_rolebindings.pass.sh
  applications/openshift/accounts/accounts_no_rolebindings_default_service_account/tests/ocp4/e2e.yml
  applications/openshift/accounts/accounts_no_rolebindings_default_service_account/tests/rolebindings_other_serviceaccounts.pass.sh
  applications/openshift/accounts/accounts_no_rolebindings_default_service_account/tests/rolebindings_serviceaccounts.fail.sh
  applications/openshift/accounts/accounts_restrict_service_account_tokens/rule.yml
  applications/openshift/accounts/accounts_unique_service_account/rule.yml
  applications/openshift/general/general_node_separation/rule.yml
  applications/openshift/general/general_node_separation/tests/ocp4/e2e.yml
  applications/openshift/general/liveness_readiness_probe_in_workload/rule.yml
  applications/openshift/general/liveness_readiness_probe_in_workload/tests/ocp4/e2e.yml
  applications/openshift/networking/configure_network_policies/rule.yml
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
  applications/openshift/networking/project_config_and_template_network_policy/rule.yml
  applications/openshift/rbac/rbac_least_privilege/rule.yml
  applications/openshift/rbac/rbac_wildcard_use/rule.yml
  applications/openshift/risk-assessment/scansetting_has_autoapplyremediations/rule.yml
  applications/openshift/risk-assessment/scansetting_has_autoapplyremediations/tests/ocp4/e2e.yml
  applications/openshift/risk-assessment/scansettingbinding_exists/rule.yml
  applications/openshift/risk-assessment/scansettings_have_schedule/rule.yml
  applications/openshift/scc/scc_drop_container_capabilities/rule.yml
  applications/openshift/scc/scc_limit_container_allowed_capabilities/rule.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/rule.yml
  applications/openshift/scc/scc_limit_host_ports/rule.yml
  applications/openshift/scc/scc_limit_ipc_namespace/rule.yml
  applications/openshift/scc/scc_limit_net_raw_capability/rule.yml
  applications/openshift/scc/scc_limit_network_namespace/rule.yml
  applications/openshift/scc/scc_limit_privilege_escalation/rule.yml
  applications/openshift/scc/scc_limit_privileged_containers/rule.yml
  applications/openshift/scc/scc_limit_process_id_namespace/rule.yml
  applications/openshift/scc/scc_limit_root_containers/rule.yml
  controls/bsi_app_4_4.yml
Labels: OpenShift, ok-to-test, do-not-merge/hold, BSI

#12043 Update product stability for openembedded
  tests/data/product_stability/openembedded.yml
Labels: bugfix

#12048 Rename RHEL 10 PCI DSS profile to match other RHEL versions
  products/rhel10/profiles/pci-dss.profile
Labels: bugfix, pci-dss, RHEL10

#11783 OCPBUGS-31510: change the analysis to not include ImageStreamTag
  applications/openshift/registry/imagestream_sets_schedule/policy/stig/shared.yml
  applications/openshift/registry/imagestream_sets_schedule/rule.yml
Labels: OpenShift, ok-to-test, STIG

#12049 Remove duplicate product
  .github/workflows/gate_fedora.yml
Labels: Infrastructure, needs-ok-to-test

#12050 Include product property in profile class
  utils/profile_tool/profile.py
Labels: Infrastructure

#12042 Modify ubuntu remediation for dconf_gnome_banner_enabled
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value_defaults.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/wrong_value_defaults.fail.sh
Labels: Ubuntu, needs-ok-to-test

#12051 Set correct permissions in macro bash_enable_dconf_user_profile
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#12047 Fix rule file_permissions_backup_etc_shadow for SLE15/SLE12
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
Labels: SLES, needs-ok-to-test

#12012 OCPBUGS-1316: Add missing variable reference to rules
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_memory_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_imagefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_imagefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_memory_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_nodefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_nodefs_inodesfree/rule.yml
  shared/macros/10-kubernetes.jinja
Labels: OpenShift

#11824 add namespace parameter for cluster-test
  utils/add_kubernetes_rule.py
Labels: needs-ok-to-test, Kubernetes

#12057 Fix platforms -> platform in test metadata
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_commented.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_missing.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_value.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_value_dir.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value.fail.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value2.fail.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value_dir.fail.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value_double.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_value_config_dir.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value_defaults.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/wrong_value_defaults.fail.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/allow.fail.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/correct.pass.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/default_allow.fail.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/disabled.fail.sh
Labels: Test Suite, productization-issue

#12056 Fix permissions for dconf db on Ubuntu
  shared/macros/10-bash.jinja
Labels: Bash, Ubuntu, needs-ok-to-test

#12070 Update comment to reference the correct Jira
  controls/nist_rhcos4.yml
Labels: OpenShift

#12066 Ensure code consistency by using aide_conf_path var
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/correct_with_selinux.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/extra_suffix.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/tests/not_config.fail.sh
Labels: enhancement, needs-ok-to-test, Update Rule

#12058 Add Ubuntu 22.04 Automatus workflow
  .github/workflows/automatus-ubuntu2204.yaml
Labels: Test Suite, Ubuntu, needs-ok-to-test

#11939 OCPBUGS-33194: Fix text in rule file_groupowner_ovs_conf_db_lock
  applications/openshift/master/file_groupowner_ovs_conf_db_lock/rule.yml
Labels: OpenShift

#12080 Install dependency "xmllint" package
  .github/workflows/automatus-ubuntu2204.yaml
Labels: needs-ok-to-test

#12079 Create dconf db directory for local profile
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#12075 Add initial RHEL 10 CIS profiles
  controls/cis_rhel10.yml
  products/rhel10/profiles/cis.profile
  products/rhel10/profiles/cis_server_l1.profile
  products/rhel10/profiles/cis_workstation_l1.profile
  products/rhel10/profiles/cis_workstation_l2.profile
Labels: New Profile, CIS, RHEL10

#12045 CMP-2457: PCI-DSS v4 Requirement 5
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12002 CMP-2456: PCI-DSS v4 Requirement 4
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12059 Validate Automatus Metadata
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_crl/tests/missing_crl.fail.sh
  linux_os/guide/system/network/network-ufw/check_ufw_active/tests/correct.pass.sh
  linux_os/guide/system/network/network-ufw/check_ufw_active/tests/incorrect.fail.sh
  tests/CMakeLists.txt
  tests/validate_automatus_metadata.py
Labels: Test Suite

#12069 OCPBUGS-31674: coreos_kernel_options -update entries file path
  shared/templates/coreos_kernel_option/oval.template
Labels: OpenShift, Update Template

#11892 increase coverage RHEL-08-010770 and RHEL-07-020710
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL7, RHEL8, STIG

#12073 Adding OCP4 multi-arch support
  .github/workflows/k8s-content-pr.yaml
  .github/workflows/k8s-content.yaml
  Dockerfiles/ocp4_content
Labels: OpenShift

#12083 Improve OVAL readability in auditd_audispd_configure_sufficiently_large_partition
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/oval/shared.xml
Labels: OVAL

#12077 OCPBUGS-35765: bios-enable-execution-restrictions should be excluded for ppc64le
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
Labels: ok-to-test, CPE-AL

#12008 To fix CMP-2548
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/tests/ocp4/4.12.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/tests/ocp4/4.13.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/tests/ocp4/e2e.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-stig-4.14.yml
  tests/assertions/ocp4/ocp4-stig-4.15.yml
  tests/assertions/ocp4/ocp4-stig-4.16.yml
Labels: OpenShift, ok-to-test, do-not-merge/hold

#12089 OCPBUGS-33948: Clairfy encryption ciphers available for use in OpenShift
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
Labels: OpenShift

#12076 CMP-2458: PCI-DSS 4 Requirement 6
  applications/openshift/confinement/group.yml
  applications/openshift/confinement/security_profiles_operator_exists/rule.yml
  applications/openshift/confinement/security_profiles_operator_exists/tests/ocp4/e2e-remediation.sh
  applications/openshift/confinement/security_profiles_operator_exists/tests/ocp4/e2e.yml
  controls/pcidss_4_ocp4.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, pci-dss

#12067 Update CIS RHEL9 control file to v2.0.0
  controls/cis_rhel9.yml
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_admin_space_left_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_error_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_full_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_space_left_action.var
  linux_os/guide/auditing/package_audit-libs_installed/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/rule.yml
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  linux_os/guide/services/ssh/sshd_strong_kex.var
  linux_os/guide/services/ssh/sshd_strong_macs.var
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/var_account_disable_post_pw_expiration.var
  linux_os/guide/system/logging/journald/package_systemd-journal-remote_installed/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/service_bluetooth_disabled/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_freevxfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_hfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_hfsplus_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_jffs2_disabled/rule.yml
  products/rhel9/profiles/cis.profile
  products/rhel9/profiles/cis_server_l1.profile
  products/rhel9/profiles/cis_workstation_l1.profile
  products/rhel9/profiles/cis_workstation_l2.profile
  products/rhel9/profiles/default.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: RHEL9, CIS

#12092 Add ansible automation for configure_usbguard_auditbackend
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/ansible/shared.yml
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/tests/commented.fail.sh
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/tests/missing.fail.sh
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/tests/present.pass.sh
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/tests/wrong_value.fail.sh
Labels: Ansible, needs-ok-to-test

#12094 Add ansible remediation for account_password_selinux_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/ansible/shared.yml
Labels: Ansible, needs-ok-to-test

#12006 Add al2023 product
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  CMakeLists.txt
  build_product
  components/rpm.yml
  controls/cis_al2023.yml
  linux_os/guide/services/ntp/group.yml
  linux_os/guide/services/ntp/var_multiple_time_pools.var
  linux_os/guide/services/ntp/var_multiple_time_servers.var
  linux_os/guide/system/software/updating/ensure_amazon_gpgkey_installed/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_amazon_gpgkey_installed/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_amazon_gpgkey_installed/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_amazon_gpgkey_installed/rule.yml
  linux_os/guide/system/software/updating/ensure_amazon_gpgkey_installed/tests/key_installed.pass.sh
  linux_os/guide/system/software/updating/ensure_amazon_gpgkey_installed/tests/missing_key.fail.sh
  linux_os/guide/system/software/updating/security_patches_up_to_date/ansible/shared.yml
  products/al2023/CMakeLists.txt
  products/al2023/product.yml
  products/al2023/profiles/cis.profile
  products/al2023/profiles/cis_server_l1.profile
  products/al2023/transforms/constants.xslt
  products/al2023/transforms/table-style.xslt
  products/al2023/transforms/xccdf2table-cce.xslt
  shared/checks/oval/installed_OS_is_al2023.xml
  ssg/constants.py
  tests/unit/ssg-module/test_utils.py
Labels: Highlight, needs-ok-to-test, New Product

#12090 CMP-2459: PCI-DSS 4 Requirement 7
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12102 Add set_nftables_table to default RHEL 9 profile
  products/rhel9/profiles/default.profile
Labels: bugfix

#11324 OCP4: Add option to deploy profile without upstream prefix
  utils/build_ds_container.py
Labels: OpenShift

#12091 OCPBUGS-33945: select required SSHD timeout rule
  controls/nist_rhcos4.yml
  tests/assertions/ocp4/rhcos4-high-4.13.yml
  tests/assertions/ocp4/rhcos4-high-4.14.yml
  tests/assertions/ocp4/rhcos4-high-4.15.yml
  tests/assertions/ocp4/rhcos4-high-4.16.yml
  tests/assertions/ocp4/rhcos4-moderate-4.13.yml
  tests/assertions/ocp4/rhcos4-moderate-4.14.yml
  tests/assertions/ocp4/rhcos4-moderate-4.15.yml
  tests/assertions/ocp4/rhcos4-moderate-4.16.yml
Labels: OpenShift

#12100 Automatus to UBI 8
  .github/workflows/automatus-cs8.yaml
  Dockerfiles/test_suite-ubi
Labels: Test Suite

#12065 Make Rawhide CI Green
  .github/workflows/automatus-ubuntu2204.yaml
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  test-requirements.txt
  tests/unit/ssg-module/test_build_yaml.py
Labels: Test Suite

#12099 Do not run `package_audit-libs_installed` package removal test scenarios
  linux_os/guide/auditing/package_audit-libs_installed/tests/test_config.yml
Labels: Test Suite

#12098 Fix crypto policy in CIS test scenario
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_default_cis_l1.pass.sh
Labels: Test Suite, RHEL9, CIS
