Repository ComplianceAsCode/content, pull requests merged in 2024-10, with the labels that each got.

#12437 Add hipaa reference to `sshd_use_directory_configuration`
  controls/hipaa.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/rule.yml
Labels: Update Rule

#12446 Add CCI to `package_postfix_installed`
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
Labels: Update Rule

#12436 New rule tftp_uses_secure_mode_systemd
  components/tftp.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule

#12448 RHEL 9 STIG: change remediated Networkmanager DNS mode
  controls/stig_rhel9.yml
  linux_os/guide/system/network/networkmanager/var_networkmanager_dns_mode.var
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL9, Update Profile, STIG

#12449 RHEL 10 ISM_O: add back enable_fips_mode rule
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
Labels: Update Profile, RHEL10

#12433 Move daemon.* to /var/log/messages
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/tests/different_files.pass.sh
Labels: Update Rule

#12452 Remove sendmail from RHEL 10 profiles
  controls/srg_gpos/SRG-OS-000095-GPOS-00049.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Labels: Update Profile, RHEL10

#12460 Remove Outdated GNOME Rules in RHEL 10
  controls/cis_rhel10.yml
  products/rhel10/profiles/hipaa.profile
Labels: Update Profile, RHEL10

#12459 Update install_smartcard_packages for RHEL10
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
Labels: Update Rule, RHEL10

#12457 Remove package_talk-server_removed from RHEL 10 ANSSI
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
Labels: Update Profile, ANSSI, RHEL10

#12455 Remove rng-tools package rules from RHEL 10
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Labels: Update Profile, STIG, RHEL10

#12451 Remove ypserv from RHEL 10 profiles
  controls/cis_rhel10.yml
Labels: Update Profile, RHEL10

#12453 Two CIS RHEL 9 enhancements
  controls/cis_rhel9.yml
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: bugfix, RHEL9, Update Profile, CIS

#12461 Add OL into jinja conditionals
  controls/anssi.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/rule.yml
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/oval/shared.xml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/oval/shared.xml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/bash/shared.sh
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/oval/shared.xml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_env_reset/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_ignore_dot/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_passwd_timeout/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_umask/rule.yml
  products/ol9/profiles/default.profile
Labels: Oracle Linux, needs-ok-to-test

#12466 Fix crypto policy selection rhel10
  controls/cis_rhel10.yml
  products/rhel10/profiles/e8.profile
Labels: bugfix

#12467 Remove enable_dracut_fips_module from RHEL 10 profiles
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  products/rhel10/profiles/ospp.profile
  products/rhel10/profiles/stig.profile
  products/rhel10/profiles/stig_gui.profile
Labels: bugfix

#12456 Move package_rear_installed to related rules in e8
  controls/e8.yml
Labels: Update Profile, RHEL10

#12450 Remove ypbind rules from RHEL10
  controls/cis_rhel10.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/hipaa.profile
Labels: Update Profile, RHEL10

#12477 Add the system_with_kernel CPE platform
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-debian12.yaml
  .github/workflows/automatus-sanity.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus-ubi8.yaml
  .github/workflows/automatus-ubuntu2204.yaml
  .github/workflows/automatus.yaml
  .gitpod.launch.json
  docs/workshop/lab3_profiles.adoc
  docs/workshop/lab5_oval.adoc
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  shared/applicability/oval/system_with_kernel.xml
  shared/applicability/system_with_kernel.yml
  tests/README.md
  tests/automatus.py
  tests/ssg_test_suite/xml_operations.py
  tests/test_rule_in_container.sh
Labels: CPE-AL

#12393 add new product kylinserver10 supporting
  CMakeLists.txt
  build_product
  controls/std_kylinserver10.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  products/kylinserver10/CMakeLists.txt
  products/kylinserver10/product.yml
  products/kylinserver10/profiles/standard.profile
  products/kylinserver10/transforms/constants.xslt
  shared/applicability/package.yml
  shared/checks/oval/installed_OS_is_kylinserver10.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  shared/templates/pam_account_password_faillock/oval.template
  ssg/constants.py
Labels: needs-ok-to-test, New Product

#12176 Introduce `/rpmbuild-ctest-fedora` CI for all Fedora versions
  .packit.yaml
  tests/tmt-plans/main.fmf
Labels: Test Suite

#12413 Move RPM verify rules to use --restore
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/rule.yml
Labels: Update Rule

#12480 Update Jinja for package_rsync_removed for RHEL 10
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
Labels: Update Rule

#12472 Create CIS rules for login banners
  components/pam.yml
  controls/cis_rhel10.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  docs/templates/template_reference.md
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_cis/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue_net_cis/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_motd_cis/rule.yml
  linux_os/guide/system/accounts/accounts-banners/cis_banner_text.var
  products/rhel8/profiles/default.profile
  shared/macros/10-ocil.jinja
  shared/references/cce-redhat-avail.txt
  shared/templates/cis_banner/ansible.template
  shared/templates/cis_banner/bash.template
  shared/templates/cis_banner/oval.template
  shared/templates/cis_banner/template.py
  shared/templates/cis_banner/template.yml
  shared/templates/cis_banner/tests/cis_banner.pass.sh
  shared/templates/cis_banner/tests/custom_banner.pass.sh
  shared/templates/cis_banner/tests/dne.fail.sh
  shared/templates/cis_banner/tests/dne.pass.sh
  shared/templates/cis_banner/tests/empty.fail.sh
  shared/templates/cis_banner/tests/empty.pass.sh
  shared/templates/cis_banner/tests/wrong.fail.sh
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: bugfix, Ansible, OVAL, Bash, New Rule, RHEL9, Update Profile, RHEL8, CIS, RHEL10

#12432 Feature debian12.6
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/rule.yml
  products/debian12/product.yml
  tests/data/product_stability/debian12.yml
Labels: needs-ok-to-test

#12478 [ubuntu] Set the default behaviour of AppArmor to enforce
  products/ubuntu2004/profiles/cis_level1_server.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: needs-ok-to-test

#12483 Add RHEL Platform to Select AIDE Tests
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/tests/correct_value.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/tests/wrong_value.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/tests/correct_value.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/tests/wrong_value.fail.sh
Labels: Test Suite

#12443 Update various openshift assertions
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.12.yml
Labels: OpenShift

#12465 Update Account Home Folder Rules
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/tests/root_fs_home.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/tests/root_fs_home.fail.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: bugfix

#12481 Add oscal-update-* branch to required GitHub Actions
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/srg-mapping-table.yaml
Labels: New Feature

#12153 Defined notes and rules for BSI APP.4.4.A17
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  applications/openshift/integrity/cluster_version_operator_verify_integrity/rule.yml
  applications/openshift/integrity/file_integrity_exists/rule.yml
  controls/bsi_app_4_4.yml
Labels: OpenShift, needs-ok-to-test, BSI

#12491 Update various rule assertion
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.12.yml
Labels: OpenShift

#12493 Add Ism profile for ol8
  products/ol8/profiles/e8.profile
  products/ol8/profiles/ism_o.profile
Labels: Oracle Linux, New Profile, Update Profile

#12445 Enable templated SCE checks
  build-scripts/build_sce.py
  cmake/SSGCommon.cmake
  docs/templates/template_reference.md
  shared/templates/service_disabled/sce-bash.template
  shared/templates/service_disabled/template.yml
  shared/templates/service_enabled/sce-bash.template
  shared/templates/service_enabled/template.yml
  ssg/build_sce.py
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_sce.py
  tests/unit/ssg-module/test_build_sce_data/package_rsyslog_installed/rule.yml
  tests/unit/ssg-module/test_build_sce_data/product.yml
  tests/unit/ssg-module/test_build_sce_data/selinux_state/rule.yml
  tests/unit/ssg-module/test_build_sce_data/selinux_state/sce/shared.sh
  tests/unit/ssg-module/test_build_sce_data/templates/package_installed/sce-bash.template
  tests/unit/ssg-module/test_build_sce_data/templates/package_installed/template.yml
Labels: Infrastructure, Image Mode

#12503 Fix thin data streams with SCE
  build-scripts/compose_ds.py
  cmake/SSGCommon.cmake
Labels: Infrastructure, Image Mode

#12495 Update reference for compliance-trestle
  docs/manual/developer/05_tools_and_utilities.md
  shared/references/oscal/REAMDE.md
  utils/oscal/rules_transformer.py
Labels: OSCAL

#12499 Add rule chronyd_or_ntpd_set_maxpoll to SLE Micro 5 STIG profile
  controls/stig_slmicro5.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/bash/shared.sh
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: needs-ok-to-test, Update Profile

#12501 Update ubuntu 20.04 STIG profile to V1R12
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_disable_silentreports/rule.yml
  products/ubuntu2004/profiles/stig.profile
  shared/references/disa-stig-ubuntu2004-v1r12-xccdf-manual.xml
Labels: Ubuntu, needs-ok-to-test, STIG

#12505 Ensure that platforms is valid in Automatus tests
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/tests/pam_tally2_file_default.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/tests/pam_tally2_file_non_default.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/tests/pam_tally2_file_unconfigured.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/tests/faillog_t.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/tests/tmp_t.fail.sh
  tests/validate_automatus_metadata.py
Labels: Infrastructure

#12507 Change rule platforms - Part 3: Individual rules in the "services" group
  linux_os/guide/services/avahi/disable_avahi_group/service_avahi-daemon_disabled/rule.yml
  linux_os/guide/services/base/service_abrtd_disabled/rule.yml
  linux_os/guide/services/base/service_acpid_disabled/rule.yml
  linux_os/guide/services/base/service_certmonger_disabled/rule.yml
  linux_os/guide/services/base/service_cockpit_disabled/rule.yml
  linux_os/guide/services/base/service_cpupower_disabled/rule.yml
  linux_os/guide/services/base/service_kdump_disabled/rule.yml
  linux_os/guide/services/base/service_mdmonitor_disabled/rule.yml
  linux_os/guide/services/base/service_netconsole_disabled/rule.yml
  linux_os/guide/services/base/service_ntpdate_disabled/rule.yml
  linux_os/guide/services/base/service_oddjobd_disabled/rule.yml
  linux_os/guide/services/base/service_portreserve_disabled/rule.yml
  linux_os/guide/services/base/service_psacct_enabled/rule.yml
  linux_os/guide/services/base/service_qpidd_disabled/rule.yml
  linux_os/guide/services/base/service_quota_nld_disabled/rule.yml
  linux_os/guide/services/base/service_rdisc_disabled/rule.yml
  linux_os/guide/services/base/service_rhnsd_disabled/rule.yml
  linux_os/guide/services/base/service_rhsmcertd_disabled/rule.yml
  linux_os/guide/services/base/service_saslauthd_disabled/rule.yml
  linux_os/guide/services/base/service_sysstat_disabled/rule.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/service_dhcpd_disabled/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/service_named_disabled/rule.yml
  linux_os/guide/services/ftp/disabling_vsftpd/service_vsftpd_disabled/rule.yml
  linux_os/guide/services/http/disabling_httpd/service_httpd_disabled/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/service_dovecot_disabled/rule.yml
  linux_os/guide/services/ldap/openldap_server/service_slapd_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_nfs_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_rpcsvcgssd_disabled/rule.yml
  linux_os/guide/services/obsolete/nis/service_ypbind_disabled/rule.yml
  linux_os/guide/services/obsolete/nis/service_ypserv_disabled/rule.yml
  linux_os/guide/services/obsolete/r_services/service_rexec_disabled/rule.yml
  linux_os/guide/services/obsolete/r_services/service_rlogin_disabled/rule.yml
  linux_os/guide/services/obsolete/r_services/service_rsh_disabled/rule.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
  linux_os/guide/services/obsolete/tftp/service_tftp_disabled/rule.yml
  linux_os/guide/services/printing/service_cups_disabled/rule.yml
  linux_os/guide/services/proxy/disabling_squid/service_squid_disabled/rule.yml
  linux_os/guide/services/routing/disabling_quagga/service_zebra_disabled/rule.yml
  linux_os/guide/services/smb/disabling_samba/service_smb_disabled/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/service_snmpd_disabled/rule.yml
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
  linux_os/guide/services/sssd/sssd-ldap/group.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/rule.yml
  linux_os/guide/services/sssd/sssd_memcache_timeout/rule.yml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/rule.yml
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/rule.yml
Labels: CPE-AL, Image Mode

#12512 Fix the condition of container check
  shared/applicability/container.yml
Labels: needs-ok-to-test

#12485 MULTIARCH-4655: add support for DISA-STIG on Power
  Dockerfiles/ocp4_content
Labels: OpenShift, ok-to-test, STIG

#12504 Add RHEL 10 to Jinja if statements in firewalld_sshd_port_enabled
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/rule.yml
Labels: Update Rule

#12516 Fix inventory_test_kernel_installed for SLE
  shared/applicability/oval/system_with_kernel.xml
Labels: OVAL, needs-ok-to-test

#12517 Add SCE check to socket_disabled template
  docs/templates/template_reference.md
  shared/templates/socket_disabled/sce-bash.template
  shared/templates/socket_disabled/template.yml
Labels: Image Mode

#12506 Add rule security_patches_up_to_date to SLE Micro 5 STIG profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/ansible/shared.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/bash/shared.sh
  linux_os/guide/system/software/updating/security_patches_up_to_date/rule.yml
  products/slmicro5/product.yml
  shared/references/cce-slmicro5-avail.txt
Labels: Ansible, Bash, needs-ok-to-test, Update Rule, Update Profile

#12522 Update remedation for firewalld_sshd_port_enabled
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
Labels: Ansible, Bash

#12513 Move the additional packages into Dockerfile
  .github/workflows/automatus-ubuntu2204.yaml
  Dockerfiles/test_suite-ubuntu2204
Labels: Ubuntu, needs-ok-to-test

#12497 Introduce bootc remediation type
  cmake/SSGCommon.cmake
  docs/manual/developer/06_contributing_with_content.md
  docs/templates/template_reference.md
  shared/templates/package_installed/bootc.template
  shared/templates/package_installed/template.yml
  shared/templates/package_removed/bootc.template
  shared/templates/package_removed/template.yml
  ssg/build_remediations.py
  ssg/constants.py
  ssg/templates.py
Labels: Infrastructure, Image Mode

#12523 Stop SCAP content validation if not necessary
  .github/workflows/gate_fedora.yml
  CMakeLists.txt
  cmake/SSGCommon.cmake
Labels: Infrastructure

#12526 Remove unnecessary apparmor-utils pkg
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/sce/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/sce/shared.sh
Labels: needs-ok-to-test

#12521 Update file_permissions_etc_chrony_keys
  linux_os/guide/services/ntp/file_permissions_etc_chrony_keys/rule.yml
Labels: Update Rule

#12488 Build SCE content by default in rhel9 and rhel10 products
  .github/workflows/gate.yaml
  build_product
  scap-security-guide.spec
Labels: Infrastructure, RHEL9, RHEL10, Image Mode

#12532 Remove redundant sshd oval macro
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/oval/shared.xml
  shared/macros/10-oval.jinja
Labels: OVAL

#12533 Fix file path inconsistencies in accounts_umask_etc_bashrc
  Dockerfiles/test_suite-debian12
  Dockerfiles/test_suite-ubuntu2204
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/ospp_cis_correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/super_compliant.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_mangled_and_not_at_the_begining_of_line.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_not_at_the_begining_of_line.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_multiple.fail.sh
Labels: needs-ok-to-test

#12534 Remove `sshd_enable_warning_banner_net` from HIPAA control file
  controls/hipaa.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner_net/rule.yml
Labels: RHEL10

#12536 Fix "unknown predicate `-L'"
  shared/templates/file_groupowner/bash.template
  shared/templates/file_permissions/bash.template
Labels: needs-ok-to-test

#12531 Add special conditions for bootable containers
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/bash/shared.sh
  shared/macros/10-bash.jinja
Labels: Image Mode

#12524 Add rule accounts_tmout to SLE Micro 5 STIG profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/slmicro5.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/bash/slmicro5.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/rule.yml
  shared/applicability/system_with_kernel.yml
  shared/references/cce-slmicro5-avail.txt
Labels: Ansible, OVAL, Bash, SLES, needs-ok-to-test, Update Profile

#12464 [New Rule] Package kea removed
  components/dhcp.yml
  components/kea.yml
  controls/anssi.yml
  controls/cis_rhel10.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_kea_removed/rule.yml
  products/ol7/profiles/anssi_nt28_enhanced.profile
  products/ol7/profiles/anssi_nt28_high.profile
  products/ol7/profiles/anssi_nt28_intermediary.profile
  products/ol7/profiles/anssi_nt28_minimal.profile
  products/ol8/profiles/anssi_bp28_enhanced.profile
  products/ol8/profiles/anssi_bp28_high.profile
  products/ol8/profiles/anssi_bp28_intermediary.profile
  products/ol8/profiles/anssi_bp28_minimal.profile
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
  products/ol9/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/pci-dss.profile
  products/rhel8/profiles/anssi_bp28_enhanced.profile
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/anssi_bp28_intermediary.profile
  products/rhel8/profiles/anssi_bp28_minimal.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_intermediary.profile
  products/rhel9/profiles/anssi_bp28_minimal.profile
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
  shared/references/cce-redhat-avail.txt
Labels: New Rule, RHEL10

#12469 Defined notes for BSI SYS.1.6.A10,11 and APP.4.4.A12
  controls/bsi_app_4_4.yml
  controls/bsi_sys_1_6.yml
Labels: OpenShift, ok-to-test

#12473 Defined notes for BSI SYS.1.6.A18-A21
  controls/bsi_sys_1_6.yml
Labels: OpenShift, ok-to-test

#12550 Update RHEL 8 STIG to V2R1
  linux_os/guide/system/software/system-tools/package_rng-tools_installed/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v2r1-xccdf-manual.xml
  shared/references/disa-stig-rhel8-v2r1-xccdf-scap.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#12454 Fix issue with ambiguity of control product
  docs/manual/developer/03_creating_content.md
  ssg/controls.py
Labels: Infrastructure

#12548 SLE15 related fixes in ntp and aide rules
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/bash/shared.sh
  linux_os/guide/system/permissions/permissions_local/permissions_local_var_log_audit/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/ansible/shared.yml
Labels: Ansible, Bash, SLES

#12545 Update ol8 stig
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v2r2-xccdf-manual.xml
Labels: Oracle Linux, Update Profile, STIG
