Repository ComplianceAsCode/content, pull requests merged in 2024-03, with the labels that each got.

#11643 k8s content image: Image from PR should not be tagged `latest`
  .github/workflows/k8s-content-pr.yaml
Labels: OpenShift

#11616 Update PR workflow actions to run only on latest push
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sanity.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus.yaml
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/k8s-content-pr-trigger.yaml
  .github/workflows/srg-mapping-table.yaml
Labels: Infrastructure

#11638 OCPBUGS-28242: Fix remediation for service_debug-shell_disabled
  linux_os/guide/system/accounts/accounts-physical/service_debug-shell_disabled/kubernetes/shared.yml
Labels: OpenShift, Kubernetes

#11655 Enable ansible in SLE for dconf_gnome_session_idle_user_locks
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/ansible/shared.yml
Labels: Ansible, SLES

#11646 update meaning of the "automated" status in control files
  controls/anssi.yml
  docs/manual/developer/03_creating_content.md
Labels: Documentation, ANSSI

#11657 Simplify output of ip link show command
  linux_os/guide/system/network/network_sniffer_disabled/ansible/shared.yml
  linux_os/guide/system/network/network_sniffer_disabled/bash/shared.sh
  linux_os/guide/system/network/network_sniffer_disabled/tests/no_promisc_interfaces.pass.sh
Labels: bugfix, Ansible, Bash

#11273 App armor oval check
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/oval/shared.xml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_complain.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_enforce.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/incorrect_all_apparmor_profiles.fail.sh
  linux_os/guide/system/apparmor/package_apparmor_installed/rule.yml
  shared/applicability/package.yml
Labels: OVAL

#11660 Add `package_firewalld_installed` to PCI-DSS profile
  controls/pcidss_4.yml
  tests/data/profile_stability/rhel7/pci-dss.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Labels: bugfix, pci-dss

#11656 Update SLES Stig IDs
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_forwarding/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/install_mcafee_antivirus/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  products/sle12/profiles/stig.profile
  products/sle15/profiles/stig.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Labels: SLES, STIG

#11644 Rework of `cpe_generate.py`
  build-scripts/cpe_generate.py
  cmake/SSGCommon.cmake
  ssg/build_cpe.py
Labels: enhancement, Infrastructure

#11645 Changes in template service_disabled - ansible part
  shared/templates/service_disabled/ansible.template
Labels: Ansible, needs-ok-to-test

#11641 Reduce XML reformatting
  build-scripts/build_xccdf.py
  cmake/SSGCommon.cmake
  ssg/build_renumber.py
  ssg/build_yaml.py
  ssg/oval_object_model/oval_document.py
Labels: Infrastructure

#11634 Update SRG GPOS Control File
  controls/srg_gpos.yml
  controls/srg_gpos/SRG-OS-000024-GPOS-00007.yml
  controls/srg_gpos/SRG-OS-000027-GPOS-00008.yml
  controls/srg_gpos/SRG-OS-000033-GPOS-00014.yml
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000074-GPOS-00042.yml
  controls/srg_gpos/SRG-OS-000109-GPOS-00056.yml
  controls/srg_gpos/SRG-OS-000113-GPOS-00058.yml
  controls/srg_gpos/SRG-OS-000125-GPOS-00065.yml
  controls/srg_gpos/SRG-OS-000191-GPOS-00080.yml
  controls/srg_gpos/SRG-OS-000228-GPOS-00088.yml
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000274-GPOS-00104.yml
  controls/srg_gpos/SRG-OS-000275-GPOS-00105.yml
  controls/srg_gpos/SRG-OS-000278-GPOS-00108.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  controls/srg_gpos/SRG-OS-000341-GPOS-00132.yml
  controls/srg_gpos/SRG-OS-000342-GPOS-00133.yml
  controls/srg_gpos/SRG-OS-000343-GPOS-00134.yml
  controls/srg_gpos/SRG-OS-000348-GPOS-00136.yml
  controls/srg_gpos/SRG-OS-000349-GPOS-00137.yml
  controls/srg_gpos/SRG-OS-000350-GPOS-00138.yml
  controls/srg_gpos/SRG-OS-000351-GPOS-00139.yml
  controls/srg_gpos/SRG-OS-000352-GPOS-00140.yml
  controls/srg_gpos/SRG-OS-000359-GPOS-00146.yml
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  controls/srg_gpos/SRG-OS-000393-GPOS-00173.yml
  controls/srg_gpos/SRG-OS-000394-GPOS-00174.yml
  controls/srg_gpos/SRG-OS-000395-GPOS-00175.yml
  controls/srg_gpos/SRG-OS-000396-GPOS-00176.yml
  controls/srg_gpos/SRG-OS-000404-GPOS-00183.yml
  controls/srg_gpos/SRG-OS-000405-GPOS-00184.yml
  controls/srg_gpos/SRG-OS-000423-GPOS-00187.yml
  controls/srg_gpos/SRG-OS-000424-GPOS-00188.yml
  controls/srg_gpos/SRG-OS-000439-GPOS-00195.yml
  controls/srg_gpos/SRG-OS-000478-GPOS-00223.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00229.yml
  controls/srg_gpos/SRG-OS-000481-GPOS-00481.yml
Labels: Update Profile, STIG, RHEL10

#11667 utils/gen_rendered_policies_index.py: read compiled control files
  ssg/controls.py
  utils/gen_rendered_policies_index.py
Labels: Infrastructure

#11666 Fix deperation warning in ssg/build_derivatives.py
  ssg/build_derivatives.py
Labels: Infrastructure

#11621 Add rhel10 Product
  .github/workflows/gate_fedora.yml
  CMakeLists.txt
  build-scripts/enable_derivatives.py
  build_product
  linux_os/guide/system/software/sudo/package_sudo_installed/rule.yml
  products/rhel10/CMakeLists.txt
  products/rhel10/overlays/srg_support.xml
  products/rhel10/product.yml
  products/rhel10/profiles/stig.profile
  products/rhel10/profiles/stig_gui.profile
  products/rhel10/transforms/constants.xslt
  products/rhel10/transforms/table-style.xslt
  products/rhel10/transforms/xccdf-apply-overlay-stig.xslt
  products/rhel10/transforms/xccdf2table-cce.xslt
  products/rhel10/transforms/xccdf2table-profileccirefs.xslt
  shared/applicability/cs10.yml
  shared/checks/oval/installed_OS_is_centos10.xml
  shared/checks/oval/installed_OS_is_rhel10.xml
  shared/references/cce-redhat-avail.txt
  ssg/constants.py
  tests/CMakeLists.txt
  utils/fix_rules.py
Labels: New Product, RHEL10

#11673 Update RHEL 9 SCAP references to V1R1
  shared/references/disa-stig-rhel9-v1r0-xccdf-scap.xml
  shared/references/disa-stig-rhel9-v1r1-xccdf-scap.xml
Labels: Documentation, RHEL9, STIG

#11658 extend misleading Automatus error message
  tests/ssg_test_suite/oscap.py
Labels: bugfix, Test Suite

#11663 Implement ANSSI requirement R69 for RHEL
  components/glibc.yml
  controls/anssi.yml
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/oval/shared.xml
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/rule.yml
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/tests/nis_is_one_of_several_dbs.fail.sh
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/tests/nis_is_only_db.fail.sh
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/tests/no_nis.pass.sh
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/oval/shared.xml
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/rule.yml
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/tests/hesiod_is_one_of_several_dbs.fail.sh
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/tests/hesiod_is_only_db.fail.sh
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/tests/no_hesiod.pass.sh
  shared/references/cce-redhat-avail.txt
Labels: New Rule, Update Profile, ANSSI

#11680 Update notes in ANSSI R3
  controls/anssi.yml
Labels: ANSSI

#11665 Corrections in aide_periodic_cron_checking and aide_scan_notification…
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/aide_timer_weekly.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/aide_not_installed.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/cron_daily.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/cron_daily_complex.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_daily.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_daily_shortcut.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_monthly.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_two_days_week.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_weekly_on_exact_day.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_weekly_shortcut.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_weekly_word.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_yearly.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/cron_weekly_configured.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/crontab_configured.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/crontab_just_periodic_checking.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/var_cron_configured.pass.sh
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle12-v2r13-xccdf-manual.xml
  shared/references/disa-stig-sle15-v1r12-xccdf-manual.xml
  tests/data/product_stability/opensuse.yml
Labels: needs-ok-to-test

#11682 Fix SCE finding XPath to allow nesting with OCILs
  ssg/build_sce.py
Labels: bugfix, Infrastructure, ok-to-test

#11593 Add OCP4 STIG control file and auto-add references
  controls/srg_ctr/SRG-APP-000156-CTR-000380.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001325.yml
  controls/stig_ocp4.yml
  products/ocp4/product.yml
  products/ocp4/profiles/stig-node-v1r1.profile
  products/ocp4/profiles/stig-v1r1.profile
  products/rhcos4/product.yml
  products/rhcos4/profiles/stig-v1r1.profile
  shared/references/disa-stig-ocp4-v1r1-xccdf-manual.xml
  ssg/build_yaml.py
  ssg/constants.py
  ssg/controls.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian10.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/uos20.yml
  utils/build_stig_control.py
Labels: OpenShift

#11677 pam_options ansible template dry-run fix
  shared/templates/pam_options/ansible.template
Labels: Ansible

#11679 Make Blueprint for service_disabled template to mask services
  shared/templates/service_disabled/blueprint.template
Labels: Blueprint, osbuild

#11672 all_apparmor_profiles_in_enforce_complain_mode: Fix OVAL logic
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/oval/shared.xml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_complain.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_enforce.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/incorrect_all_apparmor_profiles.fail.sh
Labels: OVAL, SLES, Ubuntu, CIS

#11714 Remove CNSS REF URL
  ssg/constants.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian10.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/uos20.yml
Labels: bugfix, Infrastructure

#11711 trivial: fix linting issue
  ssg/build_yaml.py
Labels: OpenShift

#11713 Fix AIDE PATH Product Stability of OpenSUSE
  tests/data/product_stability/opensuse.yml
Labels: bugfix, SLES

#11648 Reduction of CPE content in DS
  build-scripts/build_xccdf.py
  build-scripts/compose_ds.py
  build-scripts/cpe_generate.py
  build-scripts/enable_derivatives.py
  cmake/SSGCommon.cmake
  ssg/build_cpe.py
  ssg/build_derivatives.py
  ssg/build_yaml.py
  ssg/constants.py
Labels: Infrastructure, CPE-AL

#11501 Defined notes and rules for control BSI APP4.4.A1 to APP4.4.A3
  applications/openshift/general/general_namespace_separation/rule.yml
  applications/openshift/general/general_namespace_separation/tests/ocp4/e2e.yml
  controls/bsi_app_4_4.yml
Labels: OpenShift, ok-to-test

#11651 CMP 2417: Implement PCI-DSS v4.0 outline for OpenShift
  controls/pcidss_4_ocp4.yml
  products/ocp4/profiles/pci-dss-4-0.profile
  products/ocp4/profiles/pci-dss-node-4-0.profile
Labels: OpenShift, pci-dss

#11626 Improve ANSSI R28
  components/systemd.yml
  controls/anssi.yml
  docs/templates/template_reference.md
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/tests/directory_doesnt_exist.pass.sh
  linux_os/guide/system/software/disk_partitioning/systemd_tmp_mount_enabled/rule.yml
  shared/macros/10-ocil.jinja
  shared/references/cce-redhat-avail.txt
  shared/templates/systemd_mount_enabled/anaconda.template
  shared/templates/systemd_mount_enabled/ansible.template
  shared/templates/systemd_mount_enabled/bash.template
  shared/templates/systemd_mount_enabled/oval.template
  shared/templates/systemd_mount_enabled/template.py
  shared/templates/systemd_mount_enabled/template.yml
  shared/templates/systemd_mount_enabled/tests/mount_disabled.fail.sh
  shared/templates/systemd_mount_enabled/tests/mount_enabled.pass.sh
Labels: New Rule, Update Profile, ANSSI, New Template

#11720 Add bind package applicability to configure_bind_crypto_policy
  components/bind.yml
  linux_os/guide/system/software/integrity/crypto/configure_bind_crypto_policy/rule.yml
  shared/applicability/package.yml
Labels: bugfix, RHEL9, STIG

#11718 Adjust action for RHEL-09-653050
  controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: bugfix, RHEL9, STIG

#11642 Update ANSSI R67 requirement
  components/nss-pam-ldapd.yml
  controls/anssi.yml
  linux_os/guide/services/ldap/openldap_client/ldap_client_tls_cacertpath/rule.yml
  linux_os/guide/services/sssd/package_sssd_installed/rule.yml
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_reqcert/rule.yml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/rule.yml
  linux_os/guide/services/sssd/sssd_enable_pam_services/rule.yml
  shared/applicability/oval/sssd_conf_uses_ldap.xml
  shared/references/cce-redhat-avail.txt
Labels: OVAL, Update Profile, ANSSI

#11676 accounts_passwords_pam_tally2_deny_root fix
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_deny_root/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_deny_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_deny_root/oval/shared.xml
Labels: Ansible, OVAL, Bash, SLES

#11723 Unselect sysctl_user_max_user_namespaces for stig_gui
  products/rhel8/profiles/stig_gui.profile
  products/rhel9/profiles/stig_gui.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: bugfix, RHEL9, RHEL8, STIG

#11719 Add `aide_build_database` to the RHEL 9 STIG
  controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: bugfix, RHEL9, STIG

#11726 Fix handling of grub.d configs in grub2_bootloader_argument
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/tests/correct_value_configdir.pass.sh
Labels: Ubuntu, ok-to-test

#11712 Issue when using set -e with grep commands
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/bash/shared.sh
Labels: Bash, needs-ok-to-test

#11732 trivial: Update link to audit profile documentation link
  applications/openshift/logging/audit_profile_set/rule.yml
Labels: OpenShift

#11728 Disallow spaces in SSSD certificate_verification option
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/oval/shared.xml
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/spaces.fail.sh
Labels: bugfix, Ansible, Test Suite, OVAL, Bash, STIG

#11733 Extension of the `most-used-rules` and `most-used-components` subcommands of the `profile_tool.py` script to specify a list of products to be considered
  build-scripts/profile_tool.py
  docs/manual/developer/05_tools_and_utilities.md
  utils/profile_tool/__init__.py
  utils/profile_tool/common.py
  utils/profile_tool/most_used_components.py
  utils/profile_tool/most_used_rules.py
Labels: enhancement, Infrastructure

#11737 Update links for Ansible role
  docs/manual/developer/02_building_complianceascode.md
Labels: Ansible, Documentation

#11736 align RHEL09-255065 with official DISA requirement
  controls/stig_rhel9.yml
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: bugfix, RHEL9, STIG

#11740 Enforce explicit setting in system-auth
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/tests/authselect_default_rounds.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/tests/default_rounds.fail.sh
Labels: bugfix, OVAL, STIG

#11742 Enforce explicit setting in password-auth
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/tests/authselect_default_rounds.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/tests/default_rounds.fail.sh
Labels: bugfix, OVAL, STIG

#11738 Change the metric of the `most-used-components`
  utils/profile_tool/most_used_components.py
Labels: enhancement, Infrastructure

#11734 Move to use main branch and OpenSCAP 1.4.0 for building on Windows
  .github/workflows/gate.yaml
Labels: Infrastructure

#11744 set correct package name for service_sssd_enabled rule
  components/sssd.yml
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
Labels: bugfix

#11735 OCPBUGS-13589: Remove sysctl file check rule from STIG profile
  applications/openshift/kubelet/kubelet_enable_protect_kernel_sysctl_file_exist/rule.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001325.yml
  products/ocp4/profiles/stig-node-v1r1.profile
Labels: OpenShift, STIG

#11751 grub2_spectre_v2_argument: fix wrong description
  linux_os/guide/system/bootloader-grub2/grub2_spectre_v2_argument/rule.yml
Labels: bugfix

#11729 Add root user to interactive users
  components/pam.yml
  controls/stig_rhel9.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/all_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/common.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/correct_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/different_home_correct_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/different_home_wrong_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/lenient_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/lenient_permissions_root.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/tests/stricter_permissions.pass.sh
  shared/macros/10-oval.jinja
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: bugfix, Ansible, OVAL, Bash, STIG

#11745 Align networkmanager_dns_mode to the RHEL 9 STIG
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/ansible/shared.yml
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/oval/shared.xml
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/tests/space.fail.sh
  shared/macros/10-ansible.jinja
Labels: bugfix, RHEL9

#11761 mount_option_remote_systems: make rule not applicable if mounts not found
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_krb_sec_remote_filesystems/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_krb_sec_remote_filesystems/tests/no_nfs.pass.sh
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_nodev_remote_filesystems/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_noexec_remote_filesystems/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_noexec_remote_filesystems/tests/no_nfs.pass.sh
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_nosuid_remote_filesystems/rule.yml
  shared/applicability/nfs_mount_defined.yml
  shared/applicability/oval/nfs_mount_defined.xml
  shared/templates/mount_option_remote_filesystems/oval.template
Labels: Update Rule, STIG

#11762 Do not require existence of /var/tmp/tmp-inst
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/tests/directory_doesnt_exist.pass.sh
Labels: Update Rule

#11725 CMP 2453 pci dss requirement 1
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#11763 Add Ansible Remediations
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/force_opensc_card_drivers/ansible/shared.yml
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/ansible/shared.yml
  linux_os/guide/system/software/updating/dnf-automatic_security_updates_only/ansible/shared.yml
Labels: Ansible
