Repository ComplianceAsCode/content, pull requests merged in 2024-09, with the labels that each got.

#12357 Hide CJIS profile for OL8
  products/ol8/profiles/cjis.profile
Labels: Oracle Linux, Update Profile

#12335 Updated rules based on template pam_options to support SLE Micro
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_difok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_ucredit/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#11997 Bsi app 4.4 a20to21
  applications/openshift/general/kube_descheduler_interval.var
  applications/openshift/general/kube_descheduler_lifecycle_policy/rule.yml
  applications/openshift/general/kube_descheduler_operator_exists/rule.yml
  applications/openshift/general/kube_descheduler_podlifetime/rule.yml
  applications/openshift/general/kube_descheduler_podlifetime/tests/ocp4/e2e.yml
  controls/bsi_app_4_4.yml
Labels: OpenShift, needs-ok-to-test, do-not-merge/hold, BSI

#12161 Add Notes and Controls for SYS.1.6.A1-A4
  applications/openshift/accounts/accounts_no_clusterrolebindings_default_service_account/rule.yml
  applications/openshift/accounts/accounts_no_rolebindings_default_service_account/rule.yml
  applications/openshift/accounts/accounts_restrict_service_account_tokens/rule.yml
  applications/openshift/accounts/accounts_unique_service_account/rule.yml
  applications/openshift/api-server/api_server_anonymous_auth/rule.yml
  applications/openshift/etcd/etcd_backup/rule.yml
  applications/openshift/general/general_backup_solution_installed/rule.yml
  applications/openshift/general/general_namespace_separation/rule.yml
  applications/openshift/general/general_network_separation/rule.yml
  applications/openshift/general/general_node_separation/rule.yml
  applications/openshift/general/kubeadmin_removed/rule.yml
  applications/openshift/general/liveness_readiness_probe_in_workload/rule.yml
  applications/openshift/kubelet/kubelet_anonymous_auth/rule.yml
  applications/openshift/networking/configure_network_policies/rule.yml
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
  applications/openshift/networking/project_config_and_template_network_policy/rule.yml
  applications/openshift/rbac/rbac_least_privilege/rule.yml
  applications/openshift/rbac/rbac_wildcard_use/rule.yml
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  applications/openshift/risk-assessment/scansetting_has_autoapplyremediations/rule.yml
  applications/openshift/risk-assessment/scansettingbinding_exists/rule.yml
  applications/openshift/risk-assessment/scansettings_have_schedule/rule.yml
  applications/openshift/scc/scc_drop_container_capabilities/rule.yml
  applications/openshift/scc/scc_limit_container_allowed_capabilities/rule.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/rule.yml
  applications/openshift/scc/scc_limit_host_ports/rule.yml
  applications/openshift/scc/scc_limit_ipc_namespace/rule.yml
  applications/openshift/scc/scc_limit_net_raw_capability/rule.yml
  applications/openshift/scc/scc_limit_network_namespace/rule.yml
  applications/openshift/scc/scc_limit_privilege_escalation/rule.yml
  applications/openshift/scc/scc_limit_privileged_containers/rule.yml
  applications/openshift/scc/scc_limit_process_id_namespace/rule.yml
  applications/openshift/scc/scc_limit_root_containers/rule.yml
  controls/bsi_app_4_4.yml
  controls/bsi_sys_1_6.yml
  linux_os/guide/system/selinux/coreos_enable_selinux_kernel_argument/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  linux_os/guide/system/selinux/selinux_state/rule.yml
Labels: OpenShift, needs-ok-to-test

#12324 Update ansible remediation to harden_sshd_ciphers_openssh_conf_crypto_policy rule
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_correct_followed_by_incorrect_commented.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_empty_file.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_empty_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_incorrect_followed_by_correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_incorrect_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/tests/stig_missing_file.fail.sh
Labels: Ansible, Oracle Linux, needs-ok-to-test

#12361 Update assertions for ingress controller TLS check
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
Labels: OpenShift

#12307 OCPBUGS-304: exclude rhacs-operator namespace from resource limit rules
  applications/openshift/general/resource_requests_limits_in_daemonset/rule.yml
  applications/openshift/general/resource_requests_limits_in_deployment/rule.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/rule.yml
  applications/openshift/general/var_daemonset_limit_namespaces_exempt_regex.var
  applications/openshift/general/var_deployment_limit_namespaces_exempt_regex.var
  applications/openshift/general/var_statefulset_limit_namespaces_exempt_regex.var
Labels: OpenShift

#12362 Update assertions for PCI-DSS profile
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
Labels: OpenShift

#12334 Proposed solution for RHEL8 and RHEL9 in system detection to avoid false positives
  shared/checks/oval/installed_OS_is_rhel8.xml
  shared/checks/oval/installed_OS_is_rhel9.xml
  ssg/build_derivatives.py
Labels: needs-ok-to-test

#12353 Slmicro5 stig add accounts and amount rules support
  controls/stig_slmicro5.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_noexec_remote_filesystems/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/mounting_remote_filesystems/mount_option_nosuid_remote_filesystems/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_home_paths_only/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned_group/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/rule.yml
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nosuid_removable_partitions/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_home/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test, Update Rule

#12344 CMP-2400: exclusion of the namespace for `resource-requests-quota-per-project`
  applications/openshift/general/resource_requests_quota_per_project/oval/shared.xml
  applications/openshift/general/resource_requests_quota_per_project/rule.yml
  applications/openshift/general/resource_requests_quota_per_project/tests/ocp4/e2e-remediation.sh
  applications/openshift/general/var_resource_requests_quota_per_project_exempt_regex.var
  applications/openshift/networking/configure_network_policies_namespaces/tests/ocp4/e2e-remediation.sh
  tests/assertions/ocp4/ocp4-stig-4.12.yml
  tests/assertions/ocp4/ocp4-stig-4.13.yml
  tests/assertions/ocp4/ocp4-stig-4.14.yml
  tests/assertions/ocp4/ocp4-stig-4.15.yml
  tests/assertions/ocp4/ocp4-stig-4.16.yml
  tests/assertions/ocp4/ocp4-stig-4.17.yml
Labels: OpenShift

#12355 CMP-2196: Update instructions for ingresscontroller TLS ciphers
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_ingresscontroller/rule.yml
Labels: OpenShift

#12364 Slmicro5 stig add accounts and software rules support
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/nothing.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/substring.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: Ansible, OVAL, Bash, SLES, needs-ok-to-test, Update Rule, STIG

#12371 PCI-DSS-4-0: Add cipher suite ingress controller assertion
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
Labels: OpenShift

#12372 Update assertions for 4.15 `file_permissions_cni_conf`
  tests/assertions/ocp4/ocp4-cis-node-4.14.yml
  tests/assertions/ocp4/ocp4-cis-node-4.15.yml
  tests/assertions/ocp4/ocp4-high-node-4.14.yml
  tests/assertions/ocp4/ocp4-high-node-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.15.yml
  tests/assertions/ocp4/ocp4-stig-node-4.14.yml
  tests/assertions/ocp4/ocp4-stig-node-4.15.yml
Labels: OpenShift

#12382 OCPBUGS-304: Fix jq filters for resource request limits
  applications/openshift/general/resource_requests_limits_in_deployment/rule.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/rule.yml
Labels: OpenShift

#12383 RHEL 10 tmux changes
  controls/srg_gpos/SRG-OS-000028-GPOS-00009.yml
  controls/srg_gpos/SRG-OS-000031-GPOS-00012.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_tmux_installed/rule.yml
Labels: Update Rule, STIG, RHEL10

#12386 Remove excess quotes
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
Labels: enhancement

#12351 Update ANSSI BP28 profiles in rhel10 product
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/rule.yml
  linux_os/guide/system/accounts/accounts-pam/enable_pam_namespace/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_boot/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_opt/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_usr/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/oval/shared.xml
  linux_os/guide/system/software/sudo/sudo_add_env_reset/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_ignore_dot/rule.yml
  products/rhel10/product.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, ANSSI, RHEL10

#12381 Fix typo in assertion for `kubelet-configure-tls-cipher-suites-ingresscontroller`
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
Labels: OpenShift

#12366 Update assertions for kubelet-client-cert|key rules
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
Labels: OpenShift

#12380 Add platform_package_overrides
  products/ubuntu2004/product.yml
  tests/data/product_stability/ubuntu2004.yml
Labels: Ubuntu, needs-ok-to-test

#12384 Change directory_permissions_etc_iptables to 700
  linux_os/guide/system/network/network-iptables/directory_permissions_etc_iptables/rule.yml
Labels: Update Rule

#12390 Remove sshd_allow_only_protocol2 from RHEL 10
  controls/ism_o.yml
  products/rhel10/profiles/hipaa.profile
Labels: Update Rule

#12391 Fix rules from the net-snmp component
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_no_rwusers/rule.yml
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_not_default_password/rule.yml
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_use_newer_protocol/rule.yml
  shared/macros/01-general.jinja
Labels: Update Rule

#12376 Update RHEL 10 STIG Selections
  controls/srg_gpos.yml
  controls/srg_gpos/SRG-OS-000031-GPOS-00012.yml
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000163-GPOS-00072.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  controls/srg_gpos/SRG-OS-000343-GPOS-00134.yml
  controls/srg_gpos/SRG-OS-000363-GPOS-00150.yml
  controls/srg_gpos/SRG-OS-000433-GPOS-00192.yml
  controls/srg_gpos/SRG-OS-000478-GPOS-00223.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  controls/srg_gpos/SRG-OS-000730-GPOS-00190.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
  linux_os/guide/system/selinux/selinux_all_devicefiles_labeled/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_use_fips_hashes/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, STIG, RHEL10

#12387 Remove zipl_vsyscall_argument from OSPP control file.
  controls/ospp.yml
Labels: OSPP

#12399 OCPBUGS-42177: Fix resource quota
  applications/openshift/general/resource_requests_quota/rule.yml
Labels: OpenShift

#12397 Change flags cleanup
  shared/templates/file_groupowner/bash.template
  shared/templates/file_owner/bash.template
Labels: Bash, needs-ok-to-test

#12402 Update e8 profile for RHEL 10
  products/rhel10/profiles/e8.profile
Labels: Update Profile, RHEL10

#12408 grub2_vsyscall_argument should only be applicable to x86_64
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
Labels: Update Rule

#12398 Bring bash version in-sync with Ansible
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/bash/shared.sh
Labels: Bash, ok-to-test

#12375 enhance the grub2_argument template to cover more use cases
  linux_os/guide/auditing/grub2_audit_argument/tests/arg_not_there_etcdefaultgrub_recovery_disabled.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/arg_not_there_grub_cfg.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/blank_grubenv_rhel8.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/correct_recovery_disabled.pass.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/double_value_ol7.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/wrong_value_etcdefaultgrub.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/wrong_value_etcdefaultgrub_recovery_disabled.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/wrong_value_ol7.fail.sh
  linux_os/guide/auditing/grub2_audit_argument/tests/wrong_value_rhel8.fail.sh
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_and_not_referenced.pass.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_but_referenced.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_there_grubenv.fail.sh
  shared/templates/grub2_bootloader_argument/tests/common.sh
  shared/templates/grub2_bootloader_argument/tests/correct_recovery_disabled.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_grubenv_only.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_mix_entries_and_grubenv.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_noupdate.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_remediated.pass.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefault.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_grubenv.fail.sh
Labels: OVAL, RHEL8, Update Template

#12395 Slmicro5 stig add services and software rules support
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/bash/shared.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_binary_dirs/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: needs-ok-to-test, Update Profile

#12410 Adjust zipl_bls_entries_option template remedation to allow RHEL 10
  shared/templates/zipl_bls_entries_option/ansible.template
  shared/templates/zipl_bls_entries_option/bash.template
Labels: Update Rule

#12331 Updated 6 rules 2 for sle micro
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_enable_syscall_auditing/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_enable_syscall_auditing/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_enable_syscall_auditing/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/tests/audisp_network_failure_action_absent.fail.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_network_failure_action/tests/audisp_network_failure_action_set.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/ansible/slmicro5.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/rule.yml
Labels: SLES, needs-ok-to-test, Update Rule

#12418 update ism_o profiles for RHEL 10
  linux_os/guide/system/network/network_nmcli_permissions/ansible/shared.yml
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
Labels: Update Profile, RHEL10

#12419 Review sshd_set_maxstartups rule
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/tests/lenient_value.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/tests/nothing.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_maxstartups/tests/stricter_value.pass.sh
  shared/templates/sshd_lineinfile/template.py
Labels: refactoring, Update Rule, Update Template

#12414 Adjust FIPS enable_fips_mode for RHEL 10
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: Update Rule, RHEL10

#12428 modify test scenarios of grub2_argument template to handle variables
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_but_referenced.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_recovery_disabled.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_grubenv_only.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_mix_entries_and_grubenv.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_noupdate.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_remediated.pass.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefault.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_grubenv.fail.sh
Labels: Test Suite, productization-issue

#12434 Remove `missing-references` ctest
  cmake/SSGCommon.cmake
  tests/missing_refs.sh
Labels: Test Suite

#12435 Update PCI-DSS control file for version 4.0.1
  controls/pcidss_4.yml
  products/rhel10/profiles/pci-dss.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/pci-dss.profile
Labels: RHEL, Highlight, Update Profile, pci-dss

#12416 OCP4 fix CI assertion
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
Labels: OpenShift

#12247 Add Notes and Controls for BSI SYS.1.6.A5 - A9
  controls/bsi_sys_1_6.yml
Labels: OpenShift, needs-ok-to-test

#12415 Update chrony rules for RHEL 10
  .mailmap
  components/chrony.yml
  components/ntp.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/ntp/chrony_set_nts/ansible/shared.yml
  linux_os/guide/services/ntp/chrony_set_nts/bash/shared.sh
  linux_os/guide/services/ntp/chrony_set_nts/oval/shared.xml
  linux_os/guide/services/ntp/chrony_set_nts/policy/stig/shared.yml
  linux_os/guide/services/ntp/chrony_set_nts/rule.yml
  linux_os/guide/services/ntp/chrony_set_nts/tests/chrony_d_one_pool_missing.fail.sh
  linux_os/guide/services/ntp/chrony_set_nts/tests/chrony_d_one_server_missing.fail.sh
  linux_os/guide/services/ntp/chrony_set_nts/tests/chrony_no_pool_nor_servers.fail.sh
  linux_os/guide/services/ntp/chrony_set_nts/tests/chrony_one_pool_configured.pass.sh
  linux_os/guide/services/ntp/chrony_set_nts/tests/chrony_one_pool_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/rule.yml
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/rule.yml
  linux_os/guide/services/ntp/file_owner_etc_chrony_keys/rule.yml
  shared/references/cce-redhat-avail.txt
  shared/schemas/rule_policy_content.json
Labels: New Rule, Update Rule, RHEL10
