Repository ComplianceAsCode/content, pull requests merged in 2024-07, with the labels that each got.

#12103 Fixing rule title for CMP-2485
  applications/openshift/networking/route_ip_whitelist/rule.yml
Labels: OpenShift, needs-ok-to-test

#12082 Pin GitHub actions using Frizbee
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sanity.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus-ubuntu2204.yaml
  .github/workflows/automatus.yaml
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  .github/workflows/gate_thin_ds.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/k8s-content-pr-test.yaml
  .github/workflows/k8s-content-pr-trigger.yaml
  .github/workflows/k8s-content-pr.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/release.yaml
  .github/workflows/srg-mapping-table.yaml
  .github/workflows/stabilize.yaml
  .github/workflows/update-oscal.yml
Labels: Test Suite

#12108 Fix ocil text of rule ensure_rtc_utc_configuration
  linux_os/guide/system/logging/ensure_rtc_utc_configuration/rule.yml
Labels: Ubuntu, needs-ok-to-test

#12101 Clean Up Tests Due to RHEL 7 Removal
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/rule.yml
  linux_os/guide/services/docker/docker_selinux_enabled/oval/rhel7.xml
  linux_os/guide/services/docker/docker_storage_configured/oval/rhel7.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  shared/templates/pam_account_password_faillock/tests/pam_faillock_disabled.fail.sh
  tests/README.md
  tests/data/profile_stability/rhel7/cis.profile
  tests/data/profile_stability/rhel7/cis_server_l1.profile
  tests/data/profile_stability/rhel7/cis_workstation_l1.profile
  tests/data/profile_stability/rhel7/cis_workstation_l2.profile
  tests/data/profile_stability/rhel7/e8.profile
  tests/data/profile_stability/rhel7/pci-dss.profile
  tests/data/profile_stability/rhel7/stig.profile
  tests/data/profile_stability/rhel7/stig_gui.profile
  tests/kickstarts/test_suite.cfg
  tests/kickstarts/test_suite_rhel7.cfg
  tests/stable_profile_ids.py
  tests/unit/ssg-module/data/group_dir/rule_dir/bash/rhel.sh
  tests/unit/ssg-module/data/group_dir/rule_dir/oval/rhel.xml
  tests/unit/ssg-module/data/product.yml
  tests/unit/ssg-module/data/properties/00-default.yml
  tests/unit/ssg-module/test_build_cpe.py
  tests/unit/ssg-module/test_build_remediations.py
  tests/unit/ssg-module/test_build_yaml.py
  tests/unit/ssg-module/test_oval.py
  tests/unit/ssg-module/test_playbook_builder_data/guide/selinux_state/rule.yml
  tests/unit/ssg-module/test_playbook_builder_data/rules/selinux_state.yml
  tests/unit/ssg-module/test_products.py
Labels: Test Suite

#12127 Change default hashing algorithm settings in ANSSI profiles for RHEL
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm.var
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/var_password_pam_unix_rounds.var
  products/rhel8/profiles/anssi_bp28_enhanced.profile
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/anssi_bp28_intermediary.profile
  products/rhel8/profiles/anssi_bp28_minimal.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_intermediary.profile
  products/rhel9/profiles/anssi_bp28_minimal.profile
Labels: bugfix, ANSSI

#12112 Remove rhel7 only rules
  components/dbus.yml
  components/glibc.yml
  components/irqbalance.yml
  components/libcgroup.yml
  components/smartmontools.yml
  linux_os/guide/services/base/service_cgconfig_disabled/rule.yml
  linux_os/guide/services/base/service_cgred_disabled/rule.yml
  linux_os/guide/services/base/service_irqbalance_enabled/rule.yml
  linux_os/guide/services/base/service_messagebus_disabled/rule.yml
  linux_os/guide/services/base/service_smartd_disabled/rule.yml
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/oval/shared.xml
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/rule.yml
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/tests/hesiod_is_one_of_several_dbs.fail.sh
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/tests/hesiod_is_only_db.fail.sh
  linux_os/guide/services/obsolete/no_hesiod_in_nsswitch/tests/no_hesiod.pass.sh
Labels: Update Rule

#12138 Add ansible remediation for no_tmux_in_shells rule
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/ansible/shared.yml
Labels: Ansible, needs-ok-to-test

#12114 Expand CCE Available Test to OCP4
  shared/references/cce-redhat-avail.txt
  tests/CMakeLists.txt
Labels: Infrastructure

#12110 Add a script for finding unused rules
  docs/manual/developer/05_tools_and_utilities.md
  utils/find_unused_rules.py
Labels: Infrastructure

#12140 Fix bash_package_installed macro
  shared/macros/10-bash.jinja
Labels: Bash, needs-ok-to-test

#12124 Add rhcos4 to k8scontent #12123
  Dockerfiles/ocp4_content
Labels: OpenShift, ok-to-test

#12142 Update/Fix SLE Micro 5 product
  CMakeLists.txt
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
  products/slmicro5/product.yml
  products/slmicro5/profiles/stig.profile
  products/slmicro5/transforms/constants.xslt
  shared/checks/oval/installed_OS_is_slmicro5.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Labels: SLES, needs-ok-to-test

#12137 Ensure that RHEL 10 has CCEs
  cmake/SSGCommon.cmake
  controls/cis_rhel10.yml
  controls/ospp.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_screen_installed/rule.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/e8.profile
  products/rhel10/profiles/pci-dss.profile
  shared/references/cce-redhat-avail.txt
Labels: Infrastructure, RHEL10

#11722 Re-enable runtime check on network related sysctls
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_net_core_bpf_jit_harden/rule.yml
Labels: OpenShift

#12151 Fix broken OVAL metadata
  shared/templates/socket_disabled/oval.template
Labels: OVAL

#12120 Improve identity provider timeout polling
  applications/openshift/authentication/idp_is_configured/tests/ocp4/e2e-remediation.sh
Labels: OpenShift

#12115 Fix Filename for UBI test
  .github/workflows/automatus-ubi8.yaml
  Dockerfiles/test_suite-ubi8
Labels: Infrastructure

#12133 Make PAM macros more flexible to variables
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/authselect_correct_options.pass.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/authselect_silent_lastlog.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/authselect_missing_argument.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/authselect_missing_line.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/authselect_wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/authselect_missing_argument.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/authselect_missing_line.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/authselect_wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_missing_argument.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_missing_line.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/authselect_pam_unix_legacy_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/common.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: enhancement, refactoring

#12054 align template systemd_dropin_configuration
  docs/templates/template_reference.md
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_compress/tests/correct_value_in_quotes.fail.sh
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/tests/correct_value_in_quotes.fail.sh
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
  shared/templates/systemd_dropin_configuration/ansible.template
  shared/templates/systemd_dropin_configuration/bash.template
  shared/templates/systemd_dropin_configuration/oval.template
  shared/templates/systemd_dropin_configuration/tests/correct_dir.pass.sh
  shared/templates/systemd_dropin_configuration/tests/correct_master.pass.sh
  shared/templates/systemd_dropin_configuration/tests/multiple_vals.fail.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_dir.fail.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_master.fail.sh
  tests/unit/bash/test_bash_ensure_ini_config.bats.jinja
Labels: Ansible, Bash, Update Template

#12159 Simplify use of ansible_ensure_pam_module_option macro
  linux_os/guide/services/sssd/sssd_enable_smartcards/ansible/shared.yml
Labels: Ansible

#12150 Remove sshd_use_approved_ciphers from RHEL 9 & 10 Profiles
  controls/cis_rhel10.yml
  controls/cis_rhel9.yml
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: bugfix

#12156 templates: add rhel10 to conditional macros where rhel9 is mentioned
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/tests/invalid_rescue.pass.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_entries.fail.sh
  shared/templates/grub2_bootloader_argument_absent/oval.template
  shared/templates/sebool/ansible.template
  shared/templates/sebool/bash.template
Labels: Ansible, OVAL, Bash, RHEL10

#12175 Add necessary dependency
  .github/workflows/automatus-ubuntu2204.yaml
Labels: needs-ok-to-test

#12129 Guide/anssi r45
  controls/anssi.yml
  products/debian12/profiles/anssi_bp28_enhanced.profile
  products/debian12/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/anssi_bp28_enhanced.profile
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
Labels: needs-ok-to-test, Update Profile

#12174 Add rule sshd_use_approved_ciphers back to RHEL 9 data stream
  products/rhel9/profiles/default.profile
Labels: RHEL9

#12165 Allow multiple control files to add the same reference type
  ssg/build_yaml.py
  ssg/controls.py
Labels: Infrastructure

#12177 Update OVAL check in accounts_password_last_change_is_in_past
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/last_change_long_time_ago.pass.sh
Labels: bugfix, OVAL

#12152 Update ansible remediation CCE-85972-8 to support idempotency
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/ansible/shared.yml
Labels: Ansible, needs-ok-to-test

#12166 CMP-2461: Requirement 9 is not applicable
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12187 Move to `default` crypto policy for RHEL10 for CIS Profiles
  controls/cis_rhel10.yml
Labels: Update Profile, CIS, RHEL10

#12179 Exclude package_screen_installed from RHEL 10 OSPP
  products/rhel10/profiles/ospp.profile
Labels: Update Profile, OSPP, RHEL10

#12160 Additional updates in kernel_module_disabled template
  shared/macros/01-general.jinja
  shared/macros/10-ocil.jinja
Labels: Documentation, needs-ok-to-test

#12184 Add a minimum cluster stability timeout for OpenShift e2e remediation
  applications/openshift/authentication/idp_is_configured/tests/ocp4/e2e-remediation.sh
Labels: OpenShift

#12173 Honour the no_quotes paramter of oval_check_dropin_file macro
  shared/macros/10-oval.jinja
Labels: OVAL, Update Template

#12148 CMP-2460: PCI-DSS 4 requirement 8
  applications/openshift/authentication/var_oauth_inactivity_timeout.var
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, do-not-merge/hold, pci-dss

#12109 Added SLEM CCE numbers
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12211 Disable service_enabled templated test for service_bluetooth_disabled
  linux_os/guide/system/network/network-wireless/wireless_software/service_bluetooth_disabled/tests/test_config.yml
Labels: Test Suite

#12190 Add through Fedora 45 for Fedora CPEs
  products/fedora/product.yml
  tests/data/product_stability/fedora.yml
Labels: Fedora

#12215 Update OL8 DISA STIG v2r1
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v2r1-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, STIG

#12193 Add SSH related STIG rule to slmicro5 platform
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_user_known_hosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/audit_rules_usergroup_modification/ansible.template
Labels: SLES, needs-ok-to-test, Update Rule, STIG

#12195 Correct the platform
  components/ufw.yml
  linux_os/guide/system/network/network-iptables/package_iptables-persistent_removed/rule.yml
Labels: needs-ok-to-test

#12196 Remove the excluded_files
  shared/templates/file_groupowner/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner/tests/incorrect_owner.fail.sh
Labels: Test Suite, needs-ok-to-test

#12210 Updated 10 rules to support SLE Micro 5
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chage/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chfn/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chsh/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_crontab/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_gpasswd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgrp/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passwd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudoedit/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/audit_rules_privileged_commands/ansible.template
  shared/templates/audit_rules_privileged_commands/bash.template
  shared/templates/audit_rules_privileged_commands/oval.template
  shared/templates/audit_rules_privileged_commands/tests/auditctl_missing_perm_x.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_missing_perm_x.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/common.sh
Labels: SLES, needs-ok-to-test, Update Rule, STIG

#12205 Remove Debian 10 Product
  .github/workflows/gate.yaml
  .gitpod.launch.json
  CMakeLists.txt
  build_product
  docs/manual/developer/03_creating_content.md
  docs/manual/user/30_content_notes.md
  linux_os/guide/auditing/package_audit_installed/rule.yml
  linux_os/guide/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/package_net-snmp_removed/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/service_snmpd_disabled/rule.yml
  linux_os/guide/services/ssh/service_sshd_disabled/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
  products/debian10/CMakeLists.txt
  products/debian10/overlays/.gitkeep
  products/debian10/product.yml
  products/debian10/profiles/anssi_np_nt28_average.profile
  products/debian10/profiles/anssi_np_nt28_high.profile
  products/debian10/profiles/anssi_np_nt28_minimal.profile
  products/debian10/profiles/anssi_np_nt28_restrictive.profile
  products/debian10/profiles/default.profile
  products/debian10/profiles/standard.profile
  products/debian10/transforms/constants.xslt
  products/debian10/transforms/table-style.xslt
  products/debian10/transforms/xccdf-apply-overlay-stig.xslt
  products/debian10/transforms/xccdf2table-cce.xslt
  products/debian10/transforms/xccdf2table-profileccirefs.xslt
  shared/applicability/oval/installed_OS_is_debian10.xml
  shared/templates/rsyslog_logfiles_attributes_modify/oval.template
  ssg/constants.py
  tests/data/product_stability/debian10.yml
  tests/unit/ssg-module/test_utils.py
Labels: product-removal

#12216 Add profile assertion files for OCP 4.12
  tests/assertions/ocp4/ocp4-cis-4.12.yml
  tests/assertions/ocp4/ocp4-cis-node-4.12.yml
  tests/assertions/ocp4/ocp4-e8-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-node-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.12.yml
  tests/assertions/ocp4/ocp4-stig-4.12.yml
  tests/assertions/ocp4/ocp4-stig-node-4.12.yml
  tests/assertions/ocp4/rhcos4-e8-4.12.yml
  tests/assertions/ocp4/rhcos4-high-4.12.yml
  tests/assertions/ocp4/rhcos4-high-4.2.yml
  tests/assertions/ocp4/rhcos4-moderate-4.12.yml
  tests/assertions/ocp4/rhcos4-stig-4.12.yml
Labels: OpenShift

#12212 OSPP profile, use Logind session timeout feature instead of tmux
  controls/ospp.yml
  products/rhel9/profiles/default.profile
  products/rhel9/profiles/ospp.profile
Labels: OSPP

#12214 Adjust bash template (group)file_owner to follow symlinks
  shared/templates/file_groupowner/bash.template
  shared/templates/file_owner/bash.template
Labels: Bash

#12225 Update Contributors for v0.1.74
  .mailmap
  Contributors.md
  Contributors.xml
Labels: Documentation

#12144 Introduce new remediation type Kickstart
  cmake/SSGCommon.cmake
  docs/manual/developer/06_contributing_with_content.md
  docs/templates/template_reference.md
  linux_os/guide/system/software/disk_partitioning/partition_for_boot/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_dev_shm/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  shared/templates/grub2_bootloader_argument/kickstart.template
  shared/templates/grub2_bootloader_argument/template.yml
  shared/templates/mount/kickstart.template
  shared/templates/mount/template.py
  shared/templates/mount/template.yml
  shared/templates/package_installed/kickstart.template
  shared/templates/package_installed/template.yml
  shared/templates/package_removed/kickstart.template
  shared/templates/package_removed/template.yml
  shared/templates/service_disabled/kickstart.template
  shared/templates/service_disabled/template.yml
  shared/templates/service_enabled/kickstart.template
  shared/templates/service_enabled/template.yml
  ssg/build_remediations.py
  ssg/constants.py
  ssg/templates.py
Labels: Highlight, Kickstart

#12223 Disable OSPP Profile for RHEL 10
  products/rhel10/profiles/ospp.profile
Labels: Update Profile, RHEL10

#12219 Update RHEL 8 STIG SCAP Content to V1R13
  shared/references/disa-stig-rhel8-v1r13-xccdf-scap.xml
Labels: RHEL8

#12192 Slmicro5 auth,security and audit STIG rules
  components/pam.yml
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_semanage/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setfiles/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setsebool/rule.yml
  linux_os/guide/auditing/package_audit-audispd-plugins_installed/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/bash/slmicro5.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/tests/pam_tally2_file_default.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/tests/pam_tally2_file_non_default.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file/tests/pam_tally2_file_unconfigured.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/tests/faillog_t.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_file_selinux/tests/tmp_t.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/rule.yml
  linux_os/guide/system/selinux/package_policycoreutils-python-utils_installed/rule.yml
  linux_os/guide/system/selinux/package_policycoreutils_installed/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_policytype/bash/shared.sh
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  linux_os/guide/system/selinux/selinux_state/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_state/bash/shared.sh
  linux_os/guide/system/selinux/selinux_state/rule.yml
  shared/applicability/oval/installed_env_has_login_defs.xml
  shared/applicability/package.yml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/audit_rules_privileged_commands/oval.template
  shared/templates/pam_options/ansible.template
  shared/templates/pam_options/bash.template
Labels: Ansible, OVAL, Bash, SLES, Update Template

#12181 Create file if it doesn't exist for coredump rules
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/tests/etc_systemd_coredump_conf_dne.fail.sh
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/tests/etc_systemd_coredump_conf_dne.fail.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: Ansible

#12224 Add draft status to all RHEL 10 profiles
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/e8.profile
  products/rhel10/profiles/hipaa.profile
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  products/rhel10/profiles/ospp.profile
  products/rhel10/profiles/pci-dss.profile
Labels: Update Profile, RHEL10

#12231 Make CIS requirements for services more flexible
  controls/cis_rhel10.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/printing/service_cups_disabled/rule.yml
  products/rhel8/profiles/default.profile
  products/rhel9/profiles/cis_workstation_l2.profile
  products/rhel9/profiles/default.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: bugfix, RHEL, CIS

#12221 Slmicro5 stig add privileged commands support
  CMakeLists.txt
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_chacl/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_chmod/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_setfacl/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_chcon/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_rm/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_insmod/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_modprobe/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_rmmod/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_rmmod/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_rmmod/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_agent/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_su/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_usermod/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
  products/slmicro5/product.yml
  products/slmicro5/transforms/constants.xslt
  shared/references/cce-slmicro5-avail.txt
  ssg/constants.py
Labels: SLES, needs-ok-to-test, Update Rule, Update Profile

#12229 Add OCP4 4.21 PCI-DSS assertion files
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.12.yml
Labels: OpenShift

#12235 Bump master version to 0.1.75
  CMakeLists.txt
Labels: Documentation

#12239 Include a section for fixed bugs in changelog
  .github/workflows/release-changelog.json
Labels: Documentation

#12232 Clarify stabilization dates process for more predictability
  docs/manual/developer/10_stabilization_phase.md
Labels: Documentation

#12240 Align release date calculation with documentation
  utils/release_helper.py
Labels: enhancement, Documentation

#12244 Add package_rng-tools_installed to Fedora OSPP profile
  products/fedora/profiles/ospp.profile
Labels: Fedora, Update Rule, OSPP

#12243 Update service_rngd_enabled for RHEL 10
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
Labels: Update Rule, RHEL10

#12242 [master] Remove installed_OS_is_FIPS_certified from sshd_use_approved_ciphers
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/oval/shared.xml
Labels: bugfix

#12245 Minor update to output milestone information
  utils/release_helper.py
Labels: enhancement

#12246 [backport] Add package_rng-tools_installed to Fedora OSPP profile
  products/fedora/profiles/ospp.profile
Labels: Fedora, Update Profile

#12226 Generate a temp certificate for OCP4 Trusted CA remediation
  applications/openshift/networking/default_ingress_ca_replaced/tests/ocp4/e2e-remediation.sh
Labels: OpenShift
