Repository ComplianceAsCode/content, pull requests merged in 2024-02, with the labels that each got.

#11515 Fix RHEL 8 STIG version
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, RHEL8, STIG

#11514 Fix STIG Version for RHEL 8
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
Labels: backported-into-stabilization, RHEL8, STIG

#11518 Remove `BuildRequire /usr/bin/python3` from spec
  scap-security-guide.spec
Labels: dependencies

#11494 Fix Automatus in CI
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus.yaml
  .gitpod.launch.json
  tests/automatus.py
  tests/ssg_test_suite/xml_operations.py
Labels: Test Suite

#11522 Minor alignment in CIS test scenario for RHEL7
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/rhel7_correct_value_cis_l2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/rhel7_correct_value_cis_l2.pass.sh
Labels: productization-issue, RHEL7, CIS

#11523 Stabilization - Minor alignment in CIS test scenario for RHEL7
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/rhel7_correct_value_cis_l2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/rhel7_correct_value_cis_l2.pass.sh
Labels: productization-issue, backported-into-stabilization, RHEL7, CIS

#11527 Remove restrictions in sshd_use_approved_ciphers remediation
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/bash/shared.sh
Labels: Ansible, Bash, RHEL8, CIS

#11489 Fix Ubuntu remediation for smartcard_pam_enabled
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/bash/shared.sh
Labels: SLES, Ubuntu, ok-to-test

#11525 [Stabilization] fix regex used in Ansible remediation of configure_ssh_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/ansible/shared.yml
Labels: bugfix, Ansible, backported-into-stabilization

#11526 fix regex in Ansible remediation of configure_ssh_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/ansible/shared.yml
Labels: bugfix, Ansible

#11528 Stabilization - Remove restrictions in sshd_use_approved_ciphers remediation
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/bash/shared.sh
Labels: backported-into-stabilization, RHEL8, CIS

#11461 update sles oval feed url
  products/sle12/product.yml
  products/sle15/product.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
Labels: SLES, needs-ok-to-test

#11532 Fix ubuntu remediation for pam_faildelay
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/bash/ubuntu.sh
Labels: ok-to-test

#11534 [Stabilization] remove /dev/shm partition definitions from kickstarts
  products/rhel7/kickstart/ssg-rhel7-cis-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_server_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_advanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_basic-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
Labels: bugfix, backported-into-stabilization, RHEL9, RHEL7, CIS, CCN

#11535 remove /dev/shm partition definitions from kickstarts
  products/rhel7/kickstart/ssg-rhel7-cis-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_server_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l1-ks.cfg
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_advanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_basic-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
Labels: bugfix, RHEL9, RHEL7, CIS, CCN

#11520 Stablization: Update audit_ospp_general
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: Update Profile, OSPP

#11538 Stabilization - Fix Ansible compatibility with sysctl module
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/ansible/shared.yml
Labels: Ansible, backported-into-stabilization, RHEL7, RHEL8

#11537 Fix Ansible compatibility with sysctl module
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/ansible/shared.yml
Labels: RHEL7, RHEL8

#11541 Update entities/common.py to use CDumper
  ssg/entities/common.py
Labels: Infrastructure

#11543 CMP-2365: Fix check for rotating kubelet server certificates
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
Labels: OpenShift

#11519 Update audit_ospp_general
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: backported-into-stabilization, Update Rule, OSPP

#11550 Remove `disabling_ipv6_autoconfig` rule
  components/kernel.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/disabling_ipv6_autoconfig/rule.yml
Labels: Update Rule

#11555 Prevent conflicts in references
  ssg/controls.py
Labels: Infrastructure

#11561 put exec back to configure_bashrc_exec_tmux
  controls/stig_rhel9.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value_d_directory.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/duplicate_value_multiple_files.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_tmux/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL9, Update Rule, STIG

#11560 ANSSI R31 updates
  components/pam.yml
  controls/anssi.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_root/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_root/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_root/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_root/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/var_accounts_maximum_age_root.var
  shared/references/cce-redhat-avail.txt
Labels: New Rule, Update Profile, ANSSI

#11563 Update ANSSI R40
  controls/anssi.yml
Labels: ANSSI

#11448 Fix configure_bashrc_exec_tmux missing parenthesis
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value_d_directory.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/duplicate_value_multiple_files.pass.sh
Labels: needs-ok-to-test, needs-rebase

#11572 Set status for ANSSI R79 to partial
  controls/anssi.yml
Labels: ANSSI

#11571 Add a note to ANSSI R23
  controls/anssi.yml
Labels: ANSSI

#11570 Update ANSSI R32
  controls/anssi.yml
  products/rhel7/profiles/anssi_nt28_enhanced.profile
  products/rhel7/profiles/anssi_nt28_high.profile
  products/rhel7/profiles/anssi_nt28_intermediary.profile
  products/rhel7/profiles/anssi_nt28_minimal.profile
Labels: Update Profile, ANSSI

#11579 Fix rule audit_rules_networkconfig_modification for Ubuntu
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/oval/ubuntu.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/auditctl_correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/auditctl_correct_rules_watch_rules_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/augen_correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/augen_correct_rules_watch_rules_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/partial_rules.fail.sh
Labels: Ubuntu, ok-to-test, CIS

#11578 Update ANSSI R71
  controls/anssi.yml
Labels: Update Profile, ANSSI

#11505 Refactoring: Remove all references to prodtype (code/tests/docs)
  README.md
  controls/pcidss_4.yml
  docs/manual/developer/01_introduction.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/05_tools_and_utilities.md
  docs/manual/developer/06_contributing_with_content.md
  docs/modules/utils.rst
  docs/workshop/data/accounts_tmout/rule_yml
  docs/workshop/lab3_profiles.adoc
  linux_os/guide/services/ftp/ftp_configure_vsftpd/ftp_configure_firewall/rule.yml
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/services/ntp/service_ntpd_enabled/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/system/auditing/package_audit-audispd-plugins_installed/rule.yml
  linux_os/guide/system/software/sudo/sudoers_no_root_target/rule.yml
  shared/macros/10-oval.jinja
  shared/schemas/rule.json
  ssg/build_ovals.py
  ssg/build_sce.py
  ssg/build_yaml.py
  ssg/entities/profile.py
  ssg/fixes.py
  ssg/jinja.py
  ssg/rule_dir_stats.py
  ssg/rule_yaml.py
  ssg/utils.py
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
  tests/unit/ssg-module/data/accounts_tmout.yml
  tests/unit/ssg-module/data/accounts_tmout_without_ocil.yml
  tests/unit/ssg-module/data/file_owner_grub2_cfg.yml
  tests/unit/ssg-module/data/selinux.yml
  tests/unit/ssg-module/data/sshd_disable_root_login.yml
  tests/unit/ssg-module/test_playbook_builder_data/guide/configure_crypto_policy/rule.yml
  tests/unit/ssg-module/test_playbook_builder_data/guide/package_abrt_removed/rule.yml
  tests/unit/ssg-module/test_playbook_builder_data/rules/selinux_state.yml
  tests/unit/ssg-module/test_rule_dir_stats.py
  tests/unit/ssg_test_suite/data/rule_reference_fail/rule_1/rule.yml
  tests/unit/ssg_test_suite/data/rule_reference_fail/rule_2/rule.yml
  tests/unit/ssg_test_suite/data/rule_reference_pass/rule_1/rule.yml
  tests/unit/ssg_test_suite/data/rule_reference_pass/rule_2/rule.yml
  tests/unit/utils/oscal/data/test_root/applications/test_application/rule_1/rule.yml
  tests/unit/utils/oscal/data/test_root/applications/test_application/rule_2/rule.yml
  utils/autoprodtyper.py
  utils/convert_prodtype_ds_check.py
  utils/convert_prodtype_into_default_profile_entry.py
  utils/convert_prodtype_remove_prodtype.sh
  utils/fix_rules.py
  utils/gen_srg_table.py
  utils/generate_profile.py
  utils/mod_checks.py
  utils/mod_fixes.py
  utils/mod_prodtype.py
  utils/rule_dir_json.py
Labels: Infrastructure, refactoring

#11580 Update ANSSI R68
  controls/anssi.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/var_password_pam_unix_rounds.var
Labels: Update Profile, ANSSI

#11581 Fix spacing in ANSSI Control File
  controls/anssi.yml
Labels: bugfix, ANSSI

#11577 Reduce OCIL size
  ssg/build_yaml.py
Labels: Infrastructure

#11544 CMP-2372: Remove info override for virtual syscall rules
  products/rhcos4/profiles/stig-v1r1.profile
Labels: OpenShift

#11504 release_helper script updates
  docs/release_process.md
  utils/release_helper.py
Labels: enhancement, Documentation

#11574 sysctl template: allow skipping of runtime checks
  docs/templates/template_reference.md
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_net_core_bpf_jit_harden/rule.yml
  shared/templates/sysctl/oval.template
  shared/templates/sysctl/template.py
Labels: OpenShift, CoreOS, do-not-merge/hold, Update Rule

#11583 Align chrony server value with STIG
  controls/srg_gpos/SRG-OS-000355-GPOS-00143.yml
  controls/stig_rhel9.yml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/var_multiple_time_servers.var
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL9, RHEL8, STIG

#11547 Red Hat product security is on the path of deprecating the OVAL CVE feed
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
Labels: RHEL, OVAL

#11542 Add RHEL 9 support for playbook to role conversion utility
  utils/ansible_playbook_to_role.py
Labels: Infrastructure, needs-ok-to-test

#11582 HIPAA profile for SLE 15 - update
  linux_os/guide/system/auditing/package_audit-audispd-plugins_installed/rule.yml
  linux_os/guide/system/auditing/package_audit_installed/rule.yml
  products/sle15/profiles/hipaa.profile
Labels: needs-ok-to-test

#11423 OCPBUGS-26193: Fix missing OCP4 STIG selections
  applications/openshift/authentication/oauth_or_oauthclient_token_maxage/rule.yml
  applications/openshift/authentication/oauth_token_maxage/rule.yml
  applications/openshift/authentication/oauthclient_token_maxage/rule.yml
  applications/openshift/authentication/var_oauth_token_maxage.var
  controls/srg_ctr/SRG-APP-000092-CTR-000165.yml
  controls/srg_ctr/SRG-APP-000141-CTR-000315.yml
  controls/srg_ctr/SRG-APP-000400-CTR-000960.yml
  controls/srg_ctr/SRG-APP-000499-CTR-001255.yml
  controls/srg_ctr/SRG-APP-000501-CTR-001265.yml
  controls/srg_ctr/SRG-APP-000502-CTR-001270.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/rule.yml
  linux_os/guide/services/usbguard/service_usbguard_enabled/rule.yml
  linux_os/guide/services/usbguard/usbguard_allow_hid_and_hub/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_unlink/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_unlinkat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pt_chown/rule.yml
  linux_os/guide/system/auditing/coreos_audit_backlog_limit_kernel_argument/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/kubernetes/shared.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/rule.yml
  products/ocp4/profiles/stig-v1r1.profile
Labels: OpenShift, STIG

#11545 OCP: Fix e2e remediation for container_security_operator_exists
  applications/openshift/risk-assessment/container_security_operator_exists/tests/ocp4/e2e-remediation.sh
  ocp-resources/e2e/container-security-operator-install.yaml
Labels: OpenShift

#11586 Update sudo_dedicated_group
  linux_os/guide/system/software/sudo/sudo_dedicated_group/oval/shared.xml
  linux_os/guide/system/software/sudo/sudo_dedicated_group/tests/no_group.fail.sh
  linux_os/guide/system/software/sudo/sudo_dedicated_group/tests/other_group.pass.sh
  linux_os/guide/system/software/sudo/sudo_dedicated_group/tests/root_default.fail.sh
Labels: Update Rule, ANSSI

#11585 Fix description for auditd_max_log_file_action
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/rule.yml
Labels: needs-ok-to-test, Update Rule

#11393 Defined notes and rules for control BSI APP4.4.A10
  controls/bsi_app_4_4.yml
Labels: OpenShift, needs-ok-to-test, BSI

#11459 k8s image content from PRs: fix execution and add instruction how to use the image
  .github/workflows/k8s-content-pr.yaml
  utils/build_ds_container.py
Labels: OpenShift

#11591 Add stigrefs after references from controls
  build-scripts/compile_all.py
  ssg/build_yaml.py
Labels: Infrastructure

#11595 Hide profiles not in good shape for RHEL
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/rht-ccp.profile
  products/rhel8/profiles/standard.profile
Labels: RHEL8

#11599 Update SLE12 STIG to V2R13
  products/sle12/profiles/stig.profile
  shared/references/disa-stig-sle12-v2r13-xccdf-manual.xml
Labels: needs-ok-to-test

#11598 Update SLE15 STIG to V1R12
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle15-v1r12-xccdf-manual.xml
Labels: needs-ok-to-test

#11590 Add new test to ensure that CCEs are removed from the avail file
  tests/CMakeLists.txt
  tests/cces-removed.py
Labels: Infrastructure

#11604 k8s image content from PRs: Fix `id` in job step
  .github/workflows/k8s-content-pr.yaml
Labels: OpenShift

#11605 Flush automatus test logs before outputting results
  tests/ssg_test_suite/test_env.py
Labels: Test Suite

#11596 Fix TypeError in get_implemented_stigs
  utils/build_stig_control.py
Labels: Infrastructure, needs-ok-to-test

#11603 oauth_or_oauthclient_token_maxage: Use variable for remediation of rule
  applications/openshift/authentication/oauth_or_oauthclient_token_maxage/kubernetes/shared.yml
Labels: OpenShift

#11588 Update ANSSI R50
  components/chrony.yml
  components/filesystem.yml
  components/iptables.yml
  components/kernel.yml
  components/libreswan.yml
  components/nftables.yml
  components/ntp.yml
  components/selinux.yml
  components/sudo.yml
  components/systemd.yml
  controls/anssi.yml
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/rule.yml
  linux_os/guide/services/ntp/file_owner_etc_chrony_keys/rule.yml
  linux_os/guide/services/ntp/file_permissions_etc_chrony_keys/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/rule.yml
  linux_os/guide/system/network/network-ipsec/directory_groupowner_etc_ipsecd/rule.yml
  linux_os/guide/system/network/network-ipsec/directory_owner_etc_ipsecd/rule.yml
  linux_os/guide/system/network/network-ipsec/directory_permissions_etc_ipsecd/rule.yml
  linux_os/guide/system/network/network-ipsec/file_groupowner_etc_ipsec_conf/rule.yml
  linux_os/guide/system/network/network-ipsec/file_groupowner_etc_ipsec_secrets/rule.yml
  linux_os/guide/system/network/network-ipsec/file_owner_etc_ipsec_conf/rule.yml
  linux_os/guide/system/network/network-ipsec/file_owner_etc_ipsec_secrets/rule.yml
  linux_os/guide/system/network/network-ipsec/file_permissions_etc_ipsec_conf/rule.yml
  linux_os/guide/system/network/network-ipsec/file_permissions_etc_ipsec_secrets/rule.yml
  linux_os/guide/system/network/network-iptables/directory_groupowner_etc_iptables/rule.yml
  linux_os/guide/system/network/network-iptables/directory_owner_etc_iptables/rule.yml
  linux_os/guide/system/network/network-iptables/directory_permissions_etc_iptables/rule.yml
  linux_os/guide/system/network/network-nftables/directory_groupowner_etc_nftables/rule.yml
  linux_os/guide/system/network/network-nftables/directory_owner_etc_nftables/rule.yml
  linux_os/guide/system/network/network-nftables/directory_permissions_etc_nftables/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/rule.yml
  linux_os/guide/system/permissions/files/file_groupowner_etc_crypttab/rule.yml
  linux_os/guide/system/permissions/files/file_owner_etc_crypttab/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_etc_crypttab/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/directory_groupowner_etc_sysctld/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/directory_owner_etc_sysctld/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/directory_permissions_etc_sysctld/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/rule.yml
  linux_os/guide/system/selinux/directory_groupowner_etc_selinux/rule.yml
  linux_os/guide/system/selinux/directory_owner_etc_selinux/rule.yml
  linux_os/guide/system/selinux/directory_permissions_etc_selinux/rule.yml
  linux_os/guide/system/selinux/file_groupowner_etc_sestatus_conf/rule.yml
  linux_os/guide/system/selinux/file_owner_etc_sestatus_conf/rule.yml
  linux_os/guide/system/selinux/file_permissions_etc_sestatus_conf/rule.yml
  linux_os/guide/system/software/sudo/directory_groupowner_etc_sudoersd/rule.yml
  linux_os/guide/system/software/sudo/directory_owner_etc_sudoersd/rule.yml
  linux_os/guide/system/software/sudo/directory_permissions_etc_sudoersd/rule.yml
  linux_os/guide/system/software/sudo/file_groupowner_etc_sudoers/rule.yml
  linux_os/guide/system/software/sudo/file_owner_etc_sudoers/rule.yml
  linux_os/guide/system/software/sudo/file_permissions_etc_sudoers/rule.yml
  shared/applicability/package.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, Update Profile, ANSSI

#11589 Fix macro for extracting local interactive users
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/tests/interactive_user_nologin_ignored.pass.sh
  shared/macros/10-oval.jinja
  tests/shared/accounts_common.sh
Labels: OVAL, ok-to-test

#11584 Add new rule file_permissions_sudo
  components/sudo.yml
  controls/anssi.yml
  linux_os/guide/system/software/sudo/file_permissions_sudo/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, ANSSI

#11614 OCP4: use utf-8 as default xml encoding
  build-scripts/build_xccdf.py
  build-scripts/compose_ds.py
  ssg/build_yaml.py
Labels: OpenShift

#11617 Extend the stable-profiles test
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  tests/data/profile_stability/rhel7/cis.profile
  tests/data/profile_stability/rhel7/cis_server_l1.profile
  tests/data/profile_stability/rhel7/cis_workstation_l1.profile
  tests/data/profile_stability/rhel7/cis_workstation_l2.profile
  tests/data/profile_stability/rhel7/pci-dss.profile
  tests/data/profile_stability/rhel7/stig.profile
  tests/data/profile_stability/rhel7/stig_gui.profile
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: Infrastructure

#11622 Add platform machine to systctl.d rules
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/directory_groupowner_etc_sysctld/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/directory_owner_etc_sysctld/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/directory_permissions_etc_sysctld/rule.yml
Labels: Update Rule

#11612 Fix grub2_bootloader_argument to check /etc/default/grub.d on Ubuntu
  shared/checks/oval/bootloader_disable_recovery_set_to_true.xml
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/tests/arg_not_there_etcdefaultgrub.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_configdir.pass.sh
Labels: Ubuntu, ok-to-test

#11602 Fix rule for accounts_authorized_local_users in SLE15
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
Labels: SLES

#11607 Improve ANSSI references
  docs/workshop/data/accounts_tmout/rule_yml
  shared/transforms/shared_constants.xslt
  ssg/build_yaml.py
  ssg/constants.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian10.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/uos20.yml
  tests/unit/ssg-module/data/accounts_tmout.xml
  tests/unit/ssg-module/data/accounts_tmout.yml
  tests/unit/ssg-module/data/accounts_tmout_without_ocil.yml
  tests/unit/ssg-module/test_playbook_builder_data/guide/selinux_state/rule.yml
Labels: ANSSI

#11624 Add RHEL 9 to Ansible Gating
  .github/workflows/gate-lint-ansible-roles.yaml
Labels: Infrastructure

#11601 Disable remediation for accounts_umask_interactive_users on Ubuntu
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/bash/shared.sh
Labels: Ubuntu, ok-to-test, CIS

#11470 OCPBUGS-20015: Add remediation for RHCOS banners
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/kubernetes/shared.yml
Labels: OpenShift

#11629 extend the explanation why ANSSI R52 requirement is manual
  controls/anssi.yml
Labels: ANSSI

#11618 Speed up build of thin data streams
  build-scripts/build_xccdf.py
  ssg/build_renumber.py
  ssg/build_yaml.py
Labels: Infrastructure

#11611 Add Script to Import DISA STIG to Policy Specific Content
  docs/manual/developer/05_tools_and_utilities.md
  ssg/controls.py
  tests/CMakeLists.txt
  utils/import_disa_stig.py
  utils/import_srg_spreadsheet.py
  utils/srg_diff.py
  utils/srg_utils/__init__.py
  utils/srg_utils/worksheet_utils.py
  utils/srg_utils/yaml.py
Labels: Infrastructure, STIG

#11633 Update ANSSI R29 requirement
  controls/anssi.yml
  products/rhel9/profiles/anssi_bp28_enhanced.profile
Labels: ANSSI

#11632 Update ANSSI R36 requirement
  controls/anssi.yml
Labels: ANSSI

#11439 Tool for identifying the most used rules
  build-scripts/profile_tool.py
  docs/manual/developer/05_tools_and_utilities.md
  ssg/build_profile.py
  tests/unit/utils/test_generate_most_used_rules.py
  utils/profile_tool/__init__.py
  utils/profile_tool/most_used_rules.py
  utils/profile_tool/profile.py
Labels: Infrastructure
