Repository ComplianceAsCode/content, pull requests merged in 2024-01, with the labels that each got.

#11408 Use correct HTML element for inline code
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
Labels: Update Rule

#11406 Building on Windows
  build-scripts/generate_guides.py
  cmake/FindOpenSCAP.cmake
  utils/gen_stig_table.py
Labels: needs-ok-to-test

#11411 Update GitHub Artifacts Action Steps to v4
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sanity.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/srg-mapping-table.yaml
Labels: Infrastructure

#11412 Add Windows CI
  .github/workflows/gate.yaml
Labels: Infrastructure

#11414 We should raise NotImplementedError
  utils/generate_profile.py
Labels: Infrastructure

#11410 fix: service_timesyncd_configured
  linux_os/guide/services/ntp/service_timesyncd_configured/bash/shared.sh
Labels: needs-ok-to-test

#11418 Update Install VM to use Fedora 39
  tests/install_vm.py
Labels: Infrastructure

#11239 Fix Secure Boot Automatus VM Installs
  tests/install_vm.py
Labels: bugfix, Test Suite

#11417 Control Files' `level` key must be an array
  controls/cis_ocp_1_4_0/section-1.yml
  controls/cis_ocp_1_4_0/section-2.yml
  controls/cis_ocp_1_4_0/section-3.yml
  controls/cis_ocp_1_4_0/section-4.yml
  controls/cis_ocp_1_4_0/section-5.yml
  ssg/controls.py
  tests/unit/ssg-module/test_controls.py
  utils/render_all_policies.py
Labels: bugfix, Infrastructure

#11413 Fix Ansible in rule ensure_redhat_gpgkey_installed
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/ansible/shared.yml
Labels: Ansible, productization-issue

#11342 Control for BSI APP.4.4
  controls/bsi_app_4_4.yml
  products/ocp4/profiles/bsi-node.profile
  products/ocp4/profiles/bsi.profile
  products/rhcos4/profiles/bsi.profile
Labels: OpenShift, Highlight, ok-to-test, New Profile, Kubernetes, BSI

#11424 Add reference title mapping
  cmake/SSGCommon.cmake
  ssg/build_yaml.py
  tests/test_reference_titles_in_benchmark.py
Labels: enhancement, usability

#11421 Fix a duplication of the code ID 3.5.2.1
  controls/cis_sle15.yml
Labels: needs-ok-to-test

#11426 Fix Debian 10 CI
  .github/workflows/gate.yaml
Labels: Infrastructure, Debian

#11428 Add support to disable wifi interfaces via wicked
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/ansible/shared.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/shared.sh
Labels: Ansible, Bash, SLES

#11432 Move install_mcafee_hbss shared OVAL to the install_hids rule
  linux_os/guide/system/software/integrity/endpoint_security_software/install_hids/oval/shared.xml
  shared/checks/oval/install_mcafee_hbss.xml
Labels: Infrastructure, OVAL

#11430 Do not check for yum on dnf systems
  components/dnf.yml
  linux_os/guide/system/software/updating/clean_components_post_updating/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_repo_metadata/rule.yml
  shared/applicability/package.yml
Labels: bugfix, RHEL9

#11433 Allow spaces in rule sudo_custom_logfile
  linux_os/guide/system/software/sudo/sudo_custom_logfile/rule.yml
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_enabled_spaces.pass.sh
Labels: bugfix, Update Rule

#11436 Add ocp platforms to some eks shared OVALs
  shared/applicability/oval/installed_app_is_eks.xml
  shared/applicability/oval/installed_app_is_eks_node.xml
Labels: refactoring, OVAL, OpenShift, CPE-AL

#11427 Validate levels in controls
  controls/cis_alinux2.yml
  ssg/controls.py
  tests/unit/ssg-module/data/policy_with_different_than_implicit_default_level.yml
  tests/unit/ssg-module/data/policy_with_invalid_level.yml
  tests/unit/ssg-module/test_controls.py
Labels: Infrastructure

#11263 Sle15 fix ansible pci-dss remediations in check mode
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/ansible/shared.yml
  shared/macros/10-ansible.jinja
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
Labels: Ansible

#11434 Do not change comments by remediations
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/bash/shared.sh
Labels: bugfix, Bash

#11243 Remove warning from kubelet rule
  applications/openshift/kubelet/kubelet_configure_tls_min_version/rule.yml
Labels: OpenShift, ok-to-test

#11444 add explaining comment to mount_option bash template
  shared/templates/mount_option/bash.template
Labels: Bash

#11443 align description of audit_rules_kernel_module_loading
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/rule.yml
Labels: bugfix, RHEL, Update Rule

#11292 Adds utilities for OSCAL Component Definitions from policies
  .github/workflows/gate.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/release.yaml
  CMakeLists.txt
  docs/manual/developer/05_tools_and_utilities.md
  requirements.txt
  test-requirements.txt
  tests/CMakeLists.txt
  tests/unit/utils/oscal/data/build-config.yml
  tests/unit/utils/oscal/data/rule_dirs.json
  tests/unit/utils/oscal/data/simplified_nist_catalog.json
  tests/unit/utils/oscal/data/simplified_nist_profile.json
  tests/unit/utils/oscal/data/test_root/applications/test_application/rule_1/rule.yml
  tests/unit/utils/oscal/data/test_root/applications/test_application/rule_2/rule.yml
  tests/unit/utils/oscal/data/test_root/applications/test_application/var_test.var
  tests/unit/utils/oscal/data/test_root/controls/test_policy.yml
  tests/unit/utils/oscal/data/test_root/products/test_product/product.yml
  tests/unit/utils/oscal/test_cd_generator.py
  tests/unit/utils/oscal/test_control_selector.py
  tests/unit/utils/oscal/test_rules_transformer.py
  utils/oscal/__init__.py
  utils/oscal/build_cd_from_policy.py
  utils/oscal/cd_generator.py
  utils/oscal/control_selector.py
  utils/oscal/params_extractor.py
  utils/oscal/rules_transformer.py
Labels: needs-ok-to-test

#11311 remove calls to exit from Bash remediations
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/bash/shared.sh
Labels: bugfix, Bash

#11438 Rework `profile_tool.py`
  build-scripts/profile_tool.py
  utils/profile_tool/__init__.py
  utils/profile_tool/stats.py
  utils/profile_tool/sub.py
Labels: Infrastructure, refactoring

#11451 Update OL8 STIG id references
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_enabled/rule.yml
Labels: Oracle Linux, needs-ok-to-test, STIG

#11446 Align RHEL 7 CIS control file with CIS v4.0.0 - Section 3
  controls/cis_rhel7.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
  linux_os/guide/system/network/network-firewalld/set_firewalld_appropriate_zone/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/service_ip6tables_enabled/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/service_iptables_enabled/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ip6tables_default_rule/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/iptables_rules_for_open_ports/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/rule.yml
  linux_os/guide/system/network/network-iptables/package_iptables-services_removed/rule.yml
  linux_os/guide/system/network/network-iptables/package_iptables_installed/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_log_martians/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_secure_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_log_martians/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_secure_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_echo_ignore_broadcasts/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_ignore_bogus_error_responses/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_syncookies/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_all_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_default_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/rule.yml
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_rds_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_sctp_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_tipc_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/service_bluetooth_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL7, CIS

#11384 OCP4: Update k8s action to build image on new PR
  .github/workflows/k8s-content-pr.yaml
Labels: Infrastructure, OpenShift

#11453 RHEL7 CIS: align section 2 with the final version
  controls/cis_rhel7.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi-autoipd_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi_removed/rule.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_dhcp_removed/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/service_named_disabled/rule.yml
  linux_os/guide/services/dns/package_dnsmasq_removed/rule.yml
  linux_os/guide/services/ftp/disabling_vsftpd/package_vsftpd_removed/rule.yml
  linux_os/guide/services/ftp/disabling_vsftpd/service_vsftpd_disabled/rule.yml
  linux_os/guide/services/ftp/package_ftp_removed/rule.yml
  linux_os/guide/services/http/disabling_httpd/package_httpd_removed/rule.yml
  linux_os/guide/services/http/disabling_httpd/service_httpd_disabled/rule.yml
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
  linux_os/guide/services/imap/disabling_cyrus-imapd/package_cyrus-imapd_removed/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/package_dovecot_removed/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/service_dovecot_disabled/rule.yml
  linux_os/guide/services/ldap/openldap_client/package_openldap-clients_removed/rule.yml
  linux_os/guide/services/ldap/openldap_server/package_openldap-servers_removed/rule.yml
  linux_os/guide/services/mail/has_nonlocal_mta/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/package_rpcbind_removed/rule.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/service_rpcbind_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_nfs_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/rule.yml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/rule.yml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/ntpd_configure_restrictions/rule.yml
  linux_os/guide/services/ntp/ntpd_run_as_ntp_user/rule.yml
  linux_os/guide/services/ntp/ntpd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/package_chrony_installed/rule.yml
  linux_os/guide/services/ntp/service_ntpd_enabled/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_xinetd_removed/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/service_xinetd_disabled/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypbind_removed/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypserv_removed/rule.yml
  linux_os/guide/services/obsolete/nis/service_ypserv_disabled/rule.yml
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/package_rsh_removed/rule.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/services/obsolete/talk/package_talk_removed/rule.yml
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp-server_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/service_tftp_disabled/rule.yml
  linux_os/guide/services/printing/package_cups_removed/rule.yml
  linux_os/guide/services/printing/service_cups_disabled/rule.yml
  linux_os/guide/services/proxy/disabling_squid/package_squid_removed/rule.yml
  linux_os/guide/services/proxy/disabling_squid/service_squid_disabled/rule.yml
  linux_os/guide/services/smb/disabling_samba/package_samba_removed/rule.yml
  linux_os/guide/services/smb/disabling_samba/service_smb_disabled/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/package_net-snmp_removed/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL7, CIS

#11440 Support drop-in config in journald rules on RHEL
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
  products/fedora/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  products/sle15/product.yml
  shared/templates/systemd_dropin_configuration/ansible.template
  shared/templates/systemd_dropin_configuration/bash.template
  shared/templates/systemd_dropin_configuration/tests/correct_dir.pass.sh
  shared/templates/systemd_dropin_configuration/tests/correct_master.pass.sh
  shared/templates/systemd_dropin_configuration/tests/multiple_vals.fail.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_dir.fail.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_master.fail.sh
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/sle15.yml
Labels: bugfix, Ansible, OVAL, Bash, RHEL9, Update Rule, RHEL8

#11464 Allow tests/test_product_stability.py to be executed
  tests/test_product_stability.py
Labels: Infrastructure

#11466 RHEL 7: change how xwindows is disabled in CIS profile
  controls/cis_rhel7.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
Labels: Update Profile, RHEL7, CIS

#11462 Align RHEL 8 CIS control file with CIS v3.0.0 - Section 6
  controls/cis_rhel8.yml
  linux_os/guide/services/obsolete/r_services/no_rsh_trust_files/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/gid_passwd_group_same/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_no_uid_except_zero/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/accounts_root_path_dirs_no_write/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_sgid/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_suid/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL8, CIS

#11465 Ansible: change the sysctl module fqcn for rhel7 product
  linux_os/guide/system/network/network-nftables/set_nftables_loopback_traffic/ansible/shared.yml
Labels: bugfix, Ansible, RHEL7

#11467 Add rules for /etc/shells
  components/filesystem.yml
  controls/cis_rhel8.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shells/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, Update Profile, CIS

#11457 RHEL 8: align with CIS 3, section 2
  controls/cis_rhel8.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi-autoipd_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/service_avahi-daemon_disabled/rule.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_dhcp_removed/rule.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/service_dhcpd_disabled/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/service_named_disabled/rule.yml
  linux_os/guide/services/dns/package_dnsmasq_removed/rule.yml
  linux_os/guide/services/ftp/disabling_vsftpd/package_vsftpd_removed/rule.yml
  linux_os/guide/services/ftp/package_ftp_removed/rule.yml
  linux_os/guide/services/http/disabling_httpd/package_httpd_removed/rule.yml
  linux_os/guide/services/http/disabling_httpd/service_httpd_disabled/rule.yml
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
  linux_os/guide/services/imap/disabling_cyrus-imapd/package_cyrus-imapd_removed/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/package_dovecot_removed/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/service_dovecot_disabled/rule.yml
  linux_os/guide/services/ldap/openldap_client/package_openldap-clients_removed/rule.yml
  linux_os/guide/services/mail/has_nonlocal_mta/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/package_rpcbind_removed/rule.yml
  linux_os/guide/services/nfs_and_rpc/disabling_nfs/disabling_nfs_services/service_rpcbind_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_nfs_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/rule.yml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_xinetd_removed/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/service_xinetd_disabled/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypbind_removed/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypserv_removed/rule.yml
  linux_os/guide/services/obsolete/nis/service_ypserv_disabled/rule.yml
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/package_rsh_removed/rule.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/services/obsolete/talk/package_talk_removed/rule.yml
  linux_os/guide/services/obsolete/telnet/package_telnet-server_removed/rule.yml
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp-server_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/service_tftp_disabled/rule.yml
  linux_os/guide/services/printing/package_cups_removed/rule.yml
  linux_os/guide/services/printing/service_cups_disabled/rule.yml
  linux_os/guide/services/proxy/disabling_squid/package_squid_removed/rule.yml
  linux_os/guide/services/proxy/disabling_squid/service_squid_disabled/rule.yml
  linux_os/guide/services/smb/disabling_samba/package_samba_removed/rule.yml
  linux_os/guide/services/smb/disabling_samba/service_smb_disabled/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/service_snmpd_disabled/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
  linux_os/guide/system/permissions/mounting/service_autofs_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: Update Profile, RHEL8, CIS

#11452 Align RHEL 7 CIS control file with CIS v4.0.0 - Section 6
  controls/cis_rhel7.yml
  linux_os/guide/services/obsolete/r_services/no_rsh_trust_files/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_netrc_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_netrc_file_permissions/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/accounts_root_path_dirs_no_write/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/rule.yml
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shells/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shells/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: RHEL7, CIS

#11478 Update RHEL 8 STIG to V1R13
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/oval/shared.xml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_dropin.pass.sh
  shared/references/disa-stig-rhel8-v1r12-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v1r13-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Rule, Update Profile, RHEL8, STIG

#11475 Move to /bin/false for disabling kernel modules
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/kernel_module_disabled/bash.template
Labels: Ansible, Bash, Update Rule

#11477 Update RHEL 7 STIG to V3R14
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
  shared/references/disa-stig-rhel7-v3r14-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r14-xccdf-scap.xml
Labels: Update Profile, RHEL7, STIG

#11483 Update contributors list for v0.1.72 release
  Contributors.md
  Contributors.xml
Labels: Documentation, Highlight

#11472 Update OL stig references
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol7-v2r14-xccdf-manual.xml
  shared/references/disa-stig-ol8-v1r9-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, STIG

#11469 Review CIS RHEL8 v3.0.0 Section 3
  controls/cis_rhel8.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/rule.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/set_firewalld_default_zone/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_log_martians/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_secure_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_log_martians/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_secure_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_echo_ignore_broadcasts/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_ignore_bogus_error_responses/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_syncookies/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_all_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_default_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/rule.yml
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_new_connections/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_rds_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_sctp_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_tipc_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/service_bluetooth_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/pci-dss.profile
Labels: Update Profile, RHEL8, CIS

#11479 Update RHEL 9 STIG to V1R2
  controls/stig_rhel9.yml
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value_d_directory.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/duplicate_value_multiple_files.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/policy/stig/shared.yml
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  shared/macros/01-general.jinja
  shared/references/disa-stig-rhel9-v1r0-xccdf-scap.xml
  shared/references/disa-stig-rhel9-v1r2-xccdf-manual.xml
Labels: RHEL9, Update Rule, Update Profile, STIG

#11487 various small fixes to RHEL 7 and RHEL 8 CIS
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_groupowner_at_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_at_allow/rule.yml
  linux_os/guide/services/dns/package_dnsmasq_removed/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_setfacl/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_action/ansible/shared.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_action/bash/shared.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_action/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_action/tests/admin_space_left_action_email_cis.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_admin_space_left_action.var
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_disk_error_action.var
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_disk_full_action.var
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_space_left_action.var
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_delay/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/rule.yml
  linux_os/guide/system/software/gnome/package_gdm_removed/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: Update Profile, RHEL7, RHEL8, CIS

#11491 Update CIS profiles descriptions
  products/rhel7/profiles/cis.profile
  products/rhel7/profiles/cis_server_l1.profile
  products/rhel7/profiles/cis_workstation_l1.profile
  products/rhel7/profiles/cis_workstation_l2.profile
  products/rhel8/profiles/cis.profile
  products/rhel8/profiles/cis_server_l1.profile
  products/rhel8/profiles/cis_workstation_l1.profile
  products/rhel8/profiles/cis_workstation_l2.profile
Labels: Update Profile, RHEL7, RHEL8, CIS

#11420 add new product openeuler supporting
  CMakeLists.txt
  build_product
  controls/std_openeuler2203.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/services/ssh/sshd_strong_kex.var
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/oval/openeuler.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/oval/openeuler.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/var_accounts_passwords_pam_faillock_unlock_time.var
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_randomize_va_space/rule.yml
  products/openeuler2203/CMakeLists.txt
  products/openeuler2203/product.yml
  products/openeuler2203/profiles/standard.profile
  products/openeuler2203/transforms/constants.xslt
  shared/applicability/package.yml
  shared/checks/oval/installed_OS_is_openeuler2203.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Labels: needs-ok-to-test, New Product

#11493 Remove prodtype from rule schema
  shared/schemas/rule.json
Labels: Documentation

#11496 Bump master branch version to 0.1.73
  CMakeLists.txt
Labels: Documentation

#11488 Fix Ubuntu remediation for pam_faillock rules
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/ubuntu_commented_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/ubuntu_missing_pamd.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/tests/ubuntu_commented_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/tests/ubuntu_missing_pamd.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/tests/ubuntu_commented_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/tests/ubuntu_missing_pamd.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_commented_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_missing_pamd.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/tests/ubuntu_commented_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/tests/ubuntu_missing_pamd.fail.sh
  shared/macros/10-bash.jinja
Labels: Bash, Ubuntu, ok-to-test

#11490 Move to /bin/false in Ubuntu remediation for wireless_disable_interface
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/ubuntu.sh
Labels: Ubuntu, ok-to-test, Update Rule

#11458 Add automation to enable faillock rules
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/no_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/tests/no_value.fail.sh
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, Update Rule

#11502 Update CIS RHEL7 requirement 3.4.4.3.4
  controls/cis_rhel7.yml
Labels: RHEL7, CIS

#11500 remove prodtype from add_kubernetes_rule
  utils/add_kubernetes_rule.py
Labels: needs-ok-to-test, Kubernetes

#11492 Improve github workflow for building OCP PR image
  .github/workflows/k8s-content-pr-trigger.yaml
  .github/workflows/k8s-content-pr.yaml
Labels: OpenShift

#11508 Additional updates in kernel_module_disabled template
  shared/templates/kernel_module_disabled/bash.template
  shared/templates/kernel_module_disabled/kubernetes.template
  shared/templates/kernel_module_disabled/tests/correct_value_modprobe_d.pass.sh
Labels: Bash, Kubernetes, Update Rule

#11507 Add a warning to sshd_limit_user_access
  linux_os/guide/services/ssh/ssh_server/sshd_limit_user_access/rule.yml
Labels: Update Rule, RHEL7, CIS

#11506 Update CIS RHEL8 requirements related to crypto
  controls/cis_rhel8.yml
Labels: RHEL8, CIS

#11474 Update sssd ldap related rules to check /etc/sssd/conf.d/*.conf files
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_ca_dir/oval/shared.xml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_ca_dir/tests/ldap_tls_cacertdir_bad_value_conf_d.fail.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_ca_dir/tests/ldap_tls_cacertdir_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_reqcert/oval/shared.xml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_reqcert/tests/correct_value_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_reqcert/tests/ldap_id_provider_and_reqcert_never_conf_d.fail.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/oval/shared.xml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/rule.yml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/tests/correct_value_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/tests/ldap_id_provider_and_tls_false_conf_d.fail.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: Ansible, Bash, needs-ok-to-test, Update Rule

#11510 Make additional check if selinux is enabled and operational
  shared/applicability/oval/selinux_is_enabled.xml
Labels: CPE-AL

#11512 Stabilization - Align logind_session_timeout value with STIG
  controls/stig_rhel9.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: productization-issue, RHEL9, RHEL8, STIG

#11513 Update crypto_policy test scenario for CIS RHEL8
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/cis_l2.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_default_cis_l1.pass.sh
Labels: Test Suite, RHEL8, CIS
