Repository ComplianceAsCode/content, pull requests merged in 2024-05, with the labels that each got.

#11916 Add script to Create a Control file from references
  docs/manual/developer/05_tools_and_utilities.md
  tests/CMakeLists.txt
  utils/build_control_from_reference.py
Labels: Documentation

#11921 Update SLE15 STIG version to V1R13
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle15-v1r13-xccdf-manual.xml
Labels: SLES, needs-ok-to-test, STIG

#11906 OCP Update variable filter to consider go_template
  build-scripts/build_xccdf.py
Labels: Infrastructure

#11928 Override few variables for Ubuntu 22.04
  linux_os/guide/services/ssh/service_sshd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_opensc_installed/rule.yml
  linux_os/guide/system/apparmor/apparmor_configured/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log/rule.yml
  linux_os/guide/system/software/gnome/package_gdm_removed/rule.yml
  shared/templates/service_enabled/tests/service_disabled.fail.sh
Labels: Ubuntu, ok-to-test

#11932 Fix Ubuntu faillock
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/nothing.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/tests/substring.fail.sh
  shared/macros/10-bash.jinja
Labels: Ubuntu, ok-to-test

#11838 Add rule dir_groupowner_system_journal
  components/systemd.yml
  linux_os/guide/system/logging/journald/dir_groupowner_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test, STIG

#11920 Add new rule audit_rules_var_log_journal
  components/audit.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_var_log_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test

#11943 Populate _rule_id virtual template parameter in Automatus
  tests/ssg_test_suite/common.py
Labels: Test Suite, productization-issue

#11941 Recollect facts in mount_option_nodev_nonroot_local_partitions
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
Labels: bugfix, productization-issue

#11946 Fix accounts_umask_etc_bashrc
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_mangled_and_not_at_the_begining_of_line.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_not_at_the_begining_of_line.fail.sh
Labels: bugfix

#11935 [stabilization] do not restrict Ansible remediation of zipl_bootmap_is_up_to_date to RHEL 8 only
  linux_os/guide/system/bootloader-zipl/zipl_bootmap_is_up_to_date/ansible/shared.yml
Labels: Ansible, OSPP, CUI

#11874 Enable dconf profiles in Ubuntu CIS/STIG profiles
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/bash/shared.sh
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/bash/ubuntu.sh
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/oval/shared.xml
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/oval/ubuntu.xml
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/rule.yml
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/tests/commented.fail.sh
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/tests/correct.pass.sh
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/tests/correct_messy.pass.sh
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/tests/missing.fail.sh
  linux_os/guide/system/software/gnome/enable_dconf_user_profile/tests/wrong.fail.sh
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, ok-to-test

#11950 Include test scenario for multiple partitions
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_multiple_partitions.fail.sh
Labels: Test Suite

#11831 Add new rules package_ntp_removed, package_timesyncd_removed
  components/ntp.yml
  components/systemd.yml
  linux_os/guide/services/ntp/package_ntp_removed/rule.yml
  linux_os/guide/services/ntp/package_timesyncd_removed/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test, STIG

#11835 Add rule file_owner_journalctl
  components/systemd.yml
  linux_os/guide/system/logging/journald/file_owner_journalctl/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test, STIG

#11834 Add rule file_permissions_journalctl
  components/systemd.yml
  linux_os/guide/system/logging/journald/file_permissions_journalctl/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test, STIG

#11953 Fix tests for sssd_offline_cred_expiration for Ubuntu
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/cache_credentials_false.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/comment.fail.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/common.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_dropin.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_value.fail.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_value_conf_d.fail.sh
Labels: Test Suite, Ubuntu, needs-ok-to-test

#11837 Modify rule file_owner_system_journal
  linux_os/guide/system/logging/journald/file_owner_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, ok-to-test, STIG

#11836 Modify rule file_groupowner_system_journal
  linux_os/guide/system/logging/journald/file_groupowner_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, ok-to-test, STIG

#11938 [Stabilization]: add rule configure_firewalld_ports to the rhel9 default profile
  products/rhel9/profiles/default.profile
Labels: bugfix

#11959 Add rule file_permissions_etc_audit_rules
  components/audit.yml
  components/filesystem.yml
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rules/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rules/tests/lenient_permissions.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rules/tests/stricter_permissions.pass.sh
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, needs-ok-to-test

#11832 Fix rule dconf_gnome_banner_enabled on Ubuntu
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/oval/shared.xml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/empty.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/wrong_value.fail.sh
Labels: Ubuntu, ok-to-test, STIG

#11966 Add new rule file_permissions_var_log_audit_stig
  components/audit.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/common.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/correct_value.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/correct_value_default_file.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/incorrect_value.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/incorrect_value2.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/incorrect_value_default_file.fail.sh
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, needs-ok-to-test

#11968 Add missing rule package_pam_pwquality_installed to Ubuntu 22.04 CIS profile
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, needs-ok-to-test, Update Profile

#11969 Disable check for 'auditd_audispd_configure_sufficiently_large_partition' on Ubuntu 22.04
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/oval/shared.xml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/rule.yml
Labels: OVAL, Ubuntu, needs-ok-to-test

#11970 Add new rule install_endpoint_security_software
  components/operating-system.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/group.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/install_endpoint_security_software/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, needs-ok-to-test

#11973 Fix missing variable for Ubuntu 22.04
  products/ubuntu2204/product.yml
  tests/data/product_stability/ubuntu2204.yml
Labels: Ubuntu, needs-ok-to-test

#11971 Fix rule name in Ubuntu 22.04 STIG profile
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test, Update Profile

#11960 Fix rule chronyd_or_ntpd_set_maxpoll
  ssg/build_yaml.py
Labels: productization-issue

#11961 OCP4: Fix e2e ci assertions
  tests/assertions/ocp4/ocp4-cis-node-4.13.yml
  tests/assertions/ocp4/ocp4-cis-node-4.14.yml
  tests/assertions/ocp4/ocp4-cis-node-4.15.yml
  tests/assertions/ocp4/ocp4-cis-node-4.16.yml
  tests/assertions/ocp4/ocp4-high-node-4.13.yml
  tests/assertions/ocp4/ocp4-high-node-4.14.yml
  tests/assertions/ocp4/ocp4-high-node-4.15.yml
  tests/assertions/ocp4/ocp4-high-node-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.16.yml
  tests/assertions/ocp4/ocp4-stig-node-4.16.yml
Labels: OpenShift

#11978 Add rule configure_firewalld_ports to the rhel9 default profile
  products/rhel9/profiles/default.profile
Labels: RHEL9

#11979 [Stabilization]: add when conditional to Ansible remediation of sssd_enable_pam_services
  linux_os/guide/services/sssd/sssd_enable_pam_services/ansible/shared.yml
Labels: bugfix, Ansible, RHEL7

#11981 add accounts_password_set_max_life_root to unselect_rules_list
  tests/unselect_rules_list
Labels: Test Suite

#11962 Improve error handling when loading yaml stream
  ssg/yaml.py
Labels: Infrastructure

#11942 Update control schema
  .editorconfig
  shared/schemas/control.json
Labels: Documentation

#11977 [stabilization] Fix rule chronyd_or_ntpd_set_maxpoll
  ssg/build_yaml.py
Labels: bugfix, backported-into-stabilization

#11948 Macro clean-up
  shared/macros/10-oval.jinja
  shared/templates/platform_service_disabled/template.py
Labels: Update Template

#11980 Fix zipl_bootmap_is_up_to_date
  linux_os/guide/system/bootloader-zipl/zipl_bootmap_is_up_to_date/ansible/shared.yml
  ssg/build_yaml.py
Labels: productization-issue

#11915 Initial HIPAA RHEL 10 Profile
  controls/hipaa.yml
  products/rhel10/profiles/hipaa.profile
Labels: New Profile, RHEL10

#11974 Achieve consistent file and directory permissions for systemd journals
  linux_os/guide/system/logging/journald/dir_groupowner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/dir_owner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/dir_permissions_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/file_groupowner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/file_owner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/file_permissions_system_journal/bash/ubuntu.sh
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test

#11853 Align sshd_use_approved_macs_ordered_stig with Ubuntu STIG
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_value_config_dir.pass.sh
  linux_os/guide/services/ssh/sshd_approved_macs.var
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, ok-to-test

#11982 Add when conditional to Ansible remediation of sssd_enable_pam_services
  linux_os/guide/services/sssd/sssd_enable_pam_services/ansible/shared.yml
Labels: bugfix, Ansible, RHEL7

#11983 Align sshd_use_approved_ciphers_ordered_stig with Ubuntu STIG
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test, STIG

#11975 Align audit_xattr rules with Ubuntu 22.04 STIG
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_setxattr/rule.yml
  shared/templates/audit_rules_dac_modification/tests/correct_rules.pass.sh
  shared/templates/audit_rules_dac_modification/tests/rules_not_there.fail.sh
  shared/templates/audit_rules_dac_modification/tests/wrong_list_action.fail.sh
  shared/templates/audit_rules_dac_modification/tests/wrong_syscall.fail.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#11987 Align sshd_use_approved_kex_ordered_stig with Ubuntu STIG
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/common.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/conflict_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_value_configdir.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#11951 CMP-2455: PCI-DSS v4 Requirement 3
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#11986 [stabilization] Fix zipl_bootmap_is_up_to_date
  linux_os/guide/system/bootloader-zipl/zipl_bootmap_is_up_to_date/ansible/shared.yml
  ssg/build_yaml.py
Labels: backported-into-stabilization

#11989 Disable RHEL 10 content for 0.1.73 release
  CMakeLists.txt
Labels: RHEL10

#11927 Fix #11910
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/oval/shared.xml
Labels: Ubuntu, needs-ok-to-test

#11976 Initial RHEL 10 e8 Profile
  controls/e8.yml
  products/rhel10/profiles/e8.profile
Labels: New Profile, RHEL10

#11988 Disable remediation for smartcard_pam_enabled on Ubuntu 22.04
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/bash/shared.sh
Labels: Ubuntu, needs-ok-to-test

#11963 Fix typos in notes for ocp4 controls
  controls/nist_ocp4.yml
Labels: OpenShift, needs-ok-to-test

#11984 Check ufw is active
  components/ufw.yml
  linux_os/guide/system/network/network-ufw/check_ufw_active/rule.yml
  linux_os/guide/system/network/network-ufw/check_ufw_active/sce/shared.sh
  linux_os/guide/system/network/network-ufw/check_ufw_active/tests/correct.pass.sh
  linux_os/guide/system/network/network-ufw/check_ufw_active/tests/incorrect.fail.sh
  linux_os/guide/system/network/network-ufw/service_ufw_enabled/rule.yml
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, needs-ok-to-test, STIG

#11993 [Stabilization]: Ensure that security_patches_up_to_date is not built with remediations
  linux_os/guide/system/software/updating/security_patches_up_to_date/ansible/shared.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/bash/shared.sh
Labels: RHEL, Ansible, Bash, Update Rule

#11615 OCP4: Add workflow to test ocp content
  .github/workflows/k8s-content-pr-test.yaml
Labels: Test Suite, OpenShift

#11995 Ensure that security_patches_up_to_date is not built with remediations
  linux_os/guide/system/software/updating/security_patches_up_to_date/ansible/shared.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/bash/shared.sh
Labels: RHEL, Ansible, Bash, Update Rule

#11991 Better description and test scenarios for set_nftables_table
  linux_os/guide/system/network/network-nftables/set_nftables_table/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_table/rule.yml
  linux_os/guide/system/network/network-nftables/set_nftables_table/tests/nftables_incorrect_family.fail.sh
  linux_os/guide/system/network/network-nftables/set_nftables_table/tests/nftables_no_tables.fail.sh
  linux_os/guide/system/network/network-nftables/set_nftables_table/tests/nftables_table_present.pass.sh
Labels: Test Suite, Update Rule

#11952 CMP-2543: Implement whitelist for configure-network-policies-namespaces
  applications/openshift/networking/configure_network_policies_namespaces/oval/shared.xml
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
  applications/openshift/networking/configure_network_policies_namespaces/tests/ocp4/e2e.yml
  applications/openshift/networking/var_network_policies_namespaces_exempt_regex.var
  tests/assertions/ocp4/ocp4-cis-4.13.yml
  tests/assertions/ocp4/ocp4-cis-4.14.yml
  tests/assertions/ocp4/ocp4-cis-4.15.yml
  tests/assertions/ocp4/ocp4-cis-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-stig-4.13.yml
  tests/assertions/ocp4/ocp4-stig-4.14.yml
  tests/assertions/ocp4/ocp4-stig-4.15.yml
  tests/assertions/ocp4/ocp4-stig-4.16.yml
Labels: OpenShift

#11998 Add SCE check for ufw_rate_limit for Ubuntu
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/rule.yml
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/sce/shared.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/allow.fail.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/common.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/correct.pass.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/default_allow.fail.sh
  linux_os/guide/system/network/network-ufw/ufw_rate_limit/tests/disabled.fail.sh
Labels: Ubuntu, needs-ok-to-test

#12004 Add subscription file for ROSA installs
  ocp-resources/compliance-operator-rosa-subscription.yaml
Labels: OpenShift

#12005 Update Ubuntu 22.04 STIG references and profile titles
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchown/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchownat/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test

#12013 OCP4: Increase retry wait time for OCP parsing action
  .github/workflows/k8s-content-pr-test.yaml
Labels: OpenShift

#12017 Fix a typo
  docs/release_process.md
Labels: Documentation

#12001 Show most used rules of component
  build-scripts/profile_tool.py
  docs/manual/developer/05_tools_and_utilities.md
  utils/profile_tool/common.py
  utils/profile_tool/most_used_components.py
  utils/profile_tool/most_used_rules.py
  utils/profile_tool/profile.py
Labels: enhancement

#12019 Extend the Profile class in profile_tool
  utils/profile_tool/profile.py
Labels: enhancement, usability

#12020 Ensure default value in variables
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  linux_os/guide/system/permissions/partitions/var_removable_partition.var
Labels: bugfix

#12033 Fix Nightly Build - Debian 12
  build-scripts/verify_references.py
  tests/data/product_stability/debian12.yml
Labels: Infrastructure

#12021 Update the profile STIG for OL9
  controls/stig_ol9.yml
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/oval/shared.xml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/oval/shared.xml
  products/ol9/product.yml
  products/ol9/profiles/stig.profile
  products/ol9/profiles/stig_gui.profile
Labels: Oracle Linux, needs-ok-to-test, RHEL9, STIG

#11882 Initial OSPP Control File
  controls/ospp.yml
  products/rhel10/profiles/ospp.profile
Labels: New Profile, OSPP

#12032 Fix banner_etc_issue_net in Ubuntu 20.04 STIG
  products/ubuntu2004/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test

#12014 Github Action Ansible `shell` module changes check
  .github/workflows/compare-ds.yaml
  utils/ansible_shell_diff.py
Labels: enhancement, Test Suite

#11717 Defined notes and rules for control BSI APP.4.4.A5
  applications/openshift/etcd/etcd_backup/rule.yml
  applications/openshift/etcd/etcd_backup/tests/ocp4/e2e.yml
  applications/openshift/general/general_backup_solution_installed/rule.yml
  applications/openshift/general/general_backup_solution_installed/tests/ocp4/e2e.yml
  applications/openshift/general/var_backup_solution_crds_regex.var
  controls/bsi_app_4_4.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test, do-not-merge/hold, BSI

#12000 Review and reorganize CMakeLists.txt file
  CMakeLists.txt
Labels: refactoring

#12023 Add not used platforms and rules to `most-used-components` command
  build-scripts/profile_tool.py
  docs/manual/developer/05_tools_and_utilities.md
  utils/profile_tool/common.py
  utils/profile_tool/most_used_components.py
Labels: enhancement

#12029 Fix regex in file_ownership_audit_configuration
  linux_os/guide/auditing/auditd_configure_rules/file_groupownership_audit_configuration/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/file_ownership_audit_configuration/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_audit_configuration/rule.yml
  shared/templates/file_groupowner/ansible.template
  shared/templates/file_groupowner/bash.template
  shared/templates/file_owner/ansible.template
  shared/templates/file_owner/bash.template
  shared/templates/file_permissions/ansible.template
  shared/templates/file_permissions/bash.template
Labels: bugfix, Test Suite, Update Template

#11994 Initial ISM O RHEL 10 Profile
  controls/ism_o.yml
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
Labels: New Profile, RHEL10

#12038 Improve remediation for enable_authselect
  linux_os/guide/system/accounts/enable_authselect/ansible/shared.yml
  linux_os/guide/system/accounts/enable_authselect/bash/shared.sh
Labels: bugfix, Ansible, Bash

#12040 Fix dconf_gdm_dir on OL9
  tests/data/product_stability/ol9.yml
Labels: bugfix, Oracle Linux

#12036 Fix banner_etc_issue_net in Ubuntu 22.04
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test

#12039 Make the behavior of chronyd_sync_clock rule more consistent
  linux_os/guide/services/ntp/chronyd_sync_clock/rule.yml
  linux_os/guide/services/ntp/chronyd_sync_clock/tests/correct_value.pass.sh
Labels: needs-ok-to-test

#12026 more OE variants
  products/openembedded/product.yml
  products/openembedded/transforms/constants.xslt
  products/openembedded/transforms/table-style.xslt
  products/openembedded/transforms/xccdf-apply-overlay-stig.xslt
  products/openembedded/transforms/xccdf2table-cce.xslt
  products/openembedded/transforms/xccdf2table-profileccirefs.xslt
  shared/checks/oval/installed_OS_is_oeharden.xml
  shared/checks/oval/installed_OS_is_petalinux.xml
Labels: needs-ok-to-test, CPE-AL, OpenEmbedded
