Repository ComplianceAsCode/content, pull requests merged in 2024-12, with the labels that each got.

#12657 Use env to fix the ubuntu2404 workflow
  .github/workflows/automatus-ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test

#12645 Update ensure_logrotate_activated for image mode
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/bash/shared.sh
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/oval/shared.xml
Labels: OVAL, Bash, Image Mode

#12658 Document possibility of installing ssg module with pip
  docs/manual/developer/05_tools_and_utilities.md
Labels: Documentation

#12661 Remove OL7 from CI
  .github/workflows/gate_ol7.yml
Labels: Infrastructure, Oracle Linux

#12616 Add ubuntu2404 to GitHub Actions
  .github/workflows/gate.yaml
Labels: Infrastructure, Ubuntu

#12664 Change applicability of RPM verification rules
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/group.yml
Labels: Image Mode

#12662 Add rule for ubuntu2404 CIS control 4.4.3.2
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/sce/ubuntu.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/tests/correct.pass.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/tests/ipv6_disabled.pass.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/tests/wrong.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12636 U2404 5414
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/tests/default_multivalue.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/tests/default_multivalue.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/tests/default_multivalue2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/tests/default_partial.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/tests/default_yescrypt.pass.sh
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm.var
Labels: Ubuntu, needs-ok-to-test, CIS

#12667 Add rules and vars to ubuntu2404 CIS control 5.1.16
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_max_auth_tries/tests/correct_value_equals.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_max_auth_tries/tests/wrong_value_less_than_0.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_max_auth_tries/tests/wrong_value_more_than.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12666 Fix rule ip6tables_rules_for_open_ports and add to ubuntu2404 controls
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/sce/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/tests/correct.pass.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/tests/correct_multiport.pass.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/tests/missing.fail.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/tests/missing_multiport.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12669 Fix CentOS Stream 10 applicability check
  shared/checks/oval/installed_OS_is_centos10.xml
Labels: RHEL10, Image Mode

#12670 Fix audit access rules in ISM_O
  products/rhel9/profiles/e8.profile
Labels: RHEL9, Update Profile, Image Mode

#12673 Improve regex in sudo_defaults_option oval
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_disabled.fail.sh
  shared/templates/sudo_defaults_option/oval.template
Labels: OVAL, Ubuntu, needs-ok-to-test

#12678 restore petalinux detection
  shared/checks/oval/installed_OS_is_petalinux.xml
Labels: needs-ok-to-test

#12529 Defined notes for BSI SYS.1.6.A16
  controls/bsi_sys_1_6.yml
Labels: OpenShift, ok-to-test

#12683 ensure_logrotate_activated: Check timers.target.wants as well
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/oval/shared.xml
Labels: OpenShift, RHEL9, RHEL10

#12688 Ubuntu 24.04 1.1.1.2 Ensure freevxfs kernel module is not available
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12689 Ubuntu 24.04 1.1.1.3 Ensure hfs kernel module is not available
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12690 Ubuntu 24.04 1.1.1.4 Ensure hfsplus kernel module is not available
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12675 Add rules to several ubuntu2404 CIS controls
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
Labels: Ubuntu, needs-ok-to-test, Update Rule, Update Profile

#12691 Ubuntu 24.04 1.1.1.5 Ensure jffs2 kernel module is not available
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12694 Add rules to several ubuntu2404 CIS controls
  controls/cis_ubuntu2404.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_error_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_full_action.var
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12693 Implement rules for /etc/security/opasswd permissions
  components/filesystem.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_security_opasswd_old/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_security_opasswd_old/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_security_opasswd_old/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12652 Improve rule file_permssions_crontab
  controls/cis_rhel10.yml
  controls/cis_rhel9.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  controls/stig_rhel9.yml
  linux_os/guide/services/cron_and_at/package_cron_installed/rule.yml
  products/rhel9/profiles/hipaa.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: CIS, STIG, Image Mode

#12676 audit_immutable_login_uids: remove stig-specific content
  controls/srg_gpos/SRG-OS-000057-GPOS-00027.yml
  controls/srg_gpos/SRG-OS-000058-GPOS-00028.yml
  controls/srg_gpos/SRG-OS-000059-GPOS-00029.yml
  controls/srg_gpos/SRG-OS-000462-GPOS-00206.yml
  linux_os/guide/auditing/policy_rules/audit_immutable_login_uids/policy/stig/shared.yml
  linux_os/guide/auditing/policy_rules/audit_immutable_login_uids/rule.yml
Labels: Update Rule

#12684 Update create_scap_delta_tailoring and apply it to OL8 build
  cmake/SSGCommon.cmake
  shared/references/disa-stig-ol8-v2r2-xccdf-scap.xml
  utils/create_scap_delta_tailoring.py
Labels: Infrastructure, Oracle Linux

#12680 Ubuntu 24.04 CIS section 6.1.2.1.3 Ensure systemd-journal-upload is enabled and active
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12697 Remove old rules from RHEL 10 profiles
  controls/cis_rhel10.yml
  controls/hipaa.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
Labels: Update Profile, RHEL10

#12699 New rule package_unbound_removed
  components/bind.yml
  components/unbound.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/dns/package_unbound_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule

#12700 Ubuntu 24.04 1.1.2.2.1 Ensure /dev/shm is a separate partition
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12702 Ubuntu 24.04 2.1.1 Ensure autofs services are not in use
  components/autofs.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/permissions/mounting/package_autofs_removed/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12703 Ubuntu 24.04 2.2.6 Ensure ftp client is not installed
  components/ftp.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ftp/package_tnftp_removed/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12692 Ubuntu 24.04 1.1.1.6 Ensure overlayfs kernel module is not available
  components/kernel.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/permissions/mounting/kernel_module_overlayfs_disabled/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12685 Enable bash remediation template for slmicro platforms
  shared/templates/service_disabled/bash.template
Labels: SLES, Update Template

#12705 Change platform in Mail Server Software group
  linux_os/guide/services/mail/group.yml
Labels: Image Mode

#12712 RHEL 10 Kernel Config and Module Clean Up
  components/kernel.yml
  controls/cis_rhel10.yml
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/pci-dss.profile
Labels: Update Profile, RHEL10

#12710 Add kernel-uek for OL in system_with_kernel CPE
  shared/applicability/oval/system_with_kernel.xml
  shared/applicability/system_with_kernel.yml
Labels: Oracle Linux, CPE-AL

#12709 Fix permissions on ocp test workflow
  .github/workflows/ocp-test-profiles.yaml
Labels: OpenShift

#12715 Remove unused parameter missing_file_pass from rules and docs
  applications/openshift/master/file_owner_ovs_conf_db_lock/rule.yml
  docs/templates/template_reference.md
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_groupowner_at_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_groupowner_cron_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_owner_at_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_owner_cron_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_at_allow/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_cron_allow/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/file_groupowner_etc_hosts_allow/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/file_groupowner_etc_hosts_deny/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/file_owner_etc_hosts_allow/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/file_owner_etc_hosts_deny/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/file_permissions_etc_hosts_allow/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/file_permissions_etc_hosts_deny/rule.yml
  linux_os/guide/services/ssh/file_groupownership_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/file_ownership_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_pub_key/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_groupowner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_groupowner_etc_motd/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_owner_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_owner_etc_motd/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_permissions_etc_issue_net/rule.yml
  linux_os/guide/system/accounts/accounts-banners/file_permissions_etc_motd/rule.yml
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/rule.yml
  linux_os/guide/system/permissions/files/file_owner_systemmap/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_systemmap/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_security_opasswd_old/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_security_opasswd_old/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_security_opasswd_old/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/file_audit_tools_group_ownership/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/file_audit_tools_ownership/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/file_audit_tools_permissions/rule.yml
  shared/templates/file_groupowner/template.py
  shared/templates/file_groupowner/tests/missing_file_test.pass.sh
  shared/templates/file_owner/template.py
  shared/templates/file_owner/tests/missing_file_test.pass.sh
  shared/templates/file_permissions/template.py
Labels: needs-ok-to-test

#12716 Add rules to ubuntu2404 CIS control 7.2.10
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/all_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/common.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/correct_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/different_home_correct_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/different_home_wrong_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/lenient_permissions.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/lenient_permissions2.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/tests/stricter_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/tests/different_home_correct_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/tests/different_home_wrong_permissions.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12714 Ubuntu 24.04 5.1.8 Ensure sshd DisableForwarding is enabled
  components/openssh.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_forwarding/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12672 Ubuntu 24.04 5.4.2.4 Ensure root account access is controlled
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/tests/empty.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/tests/locked.pass.sh
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12719 Ubuntu 24.04 5.1.9 Ensure sshd GSSAPIAuthentication is disabled
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12721 Implement rule accounts_umask_root
  components/bash.yml
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/commented.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/correct_bashrc.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/correct_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/lenient.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/lenient2.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/lenient_bashrc_correct_profile.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/lenient_threedigit.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/missing.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_root/tests/strict.pass.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12728 Fix to prevent oscap crashing on ubuntu
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner_net/rule.yml
Labels: bugfix, Ubuntu, needs-ok-to-test, CIS

#12720 Implement rule groups_no_zero_gid_except_root
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/groups_no_zero_gid_except_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/groups_no_zero_gid_except_root/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/groups_no_zero_gid_except_root/tests/only_root.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/groups_no_zero_gid_except_root/tests/other_user_uid_0.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12722 Refactor ubuntu oval for audit_rules_networkconfig_modification
  controls/cis_ubuntu2404.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/oval/ubuntu.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/auditctl_correct_rules.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/auditctl_correct_rules_watch_rules_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/augen_correct_rules.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/augen_correct_rules_watch_rules_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/tests/partial_rules.fail.sh
Labels: OVAL, Ubuntu, needs-ok-to-test, Update Profile, CIS

#12731 Ubuntu 24.04 5.1.12 Ensure sshd KexAlgorithms is configured
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/tests/good_kex_sle.pass.sh
  linux_os/guide/services/ssh/sshd_strong_kex.var
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12660 Ubuntu enable unix
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/ubuntu_arg_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/ubuntu_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/ubuntu_wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/commented_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/wrong_value_concat.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/bash/shared.sh
  shared/macros/10-bash.jinja
Labels: Ubuntu, needs-ok-to-test

#12733 Add ubuntu specific check and remediation for aide_periodic_checking_systemd_timer
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/ansible/ubuntu.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/bash/ubuntu.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/oval/ubuntu.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/aide_timer_weekly.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/ubuntu_aide_service_masked.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/ubuntu_aide_timer_daily.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/tests/ubuntu_aide_timer_disabled.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Rule, Update Profile, CIS

#12701 Ubuntu 24.04 1.3.1.1 Ensure AppArmor is installed
  components/apparmor-utils.yml
  components/apparmor.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/apparmor/package_apparmor-utils_installed/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12713 Ubuntu 24.04 3.1.3 Ensure bluetooth services are not in use
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12696 fix two reproducible build issues
  ssg/build_yaml.py
  utils/create_scap_delta_tailoring.py
Labels: needs-ok-to-test

#12741 Fix mistake done in PR #12714
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, Update Profile, CIS

#12738 Clean Up Opensc Rules in RHEL 10
  components/opensc.yml
  components/pcsc-lite.yml
  controls/ism_o.yml
  controls/srg_gpos/SRG-OS-000375-GPOS-00160.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_pcsc-lite-ccid_installed/rule.yml
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  shared/references/cce-redhat-avail.txt
Labels: New Rule, Update Profile, RHEL10

#12739 Adjust wording in kerberos_disable_no_keytab
  linux_os/guide/services/kerberos/kerberos_disable_no_keytab/rule.yml
Labels: Update Rule

#12742 Adjust to regex for building scap delta tailoring files
  cmake/SSGCommon.cmake
Labels: Infrastructure

#12725 Update package_gssproxy_removed based on feedback
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/rule.yml
Labels: Update Rule

#12723 Ubuntu 24.04: Implement 5.3.2.3 Ensure pam_pwquality module is enabled
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/ubuntu.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/missing.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12706 Ubuntu 24.04 5.3.2.1 Ensure pam_unix module is enabled
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/rule.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12727 Ubuntu 24.04: Implement 5.3.3.2.5 Ensure password maximum sequential characters is configured
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxsequence/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/var_password_pam_maxsequence.var
  shared/macros/10-ansible.jinja
  shared/templates/accounts_password/ansible.template
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/tests/correct_value.pass.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/duplicated_values.pass.sh
  shared/templates/accounts_password/tests/multiple_correct_value.pass.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12735 Ubuntu 24.04 5.1.15 Ensure sshd MACs are configured
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/tests/good_mac.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/tests/no_macs.fail.sh
  linux_os/guide/services/ssh/sshd_strong_macs.var
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12726 Ubuntu 24.04: Implement 5.3.2.4 Ensure pam_pwhistory module is enabled
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/tests/missing.fail.sh
  shared/macros/10-bash.jinja
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12736 Exclude autrace and audispd on RHEL 10
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_audit_binaries/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_audit_binaries/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_audit_binaries/rule.yml
Labels: Update Rule, RHEL10

#12748 Ubuntu 24.04: Implement rule 5.3.3.2.2 Ensure minimum password length is configured
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12750 Ubuntu 24.04: Implement rule 5.3.3.2.1 Ensure password number of changed characters is configured
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12751 Ubuntu 24.04: Implement rule 5.3.3.2.6 Ensure password dictionary check is enabled
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12753 Ubuntu 24.04: Implement rule 5.3.3.2.3 Ensure password complexity is configured
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12756 Remove service_chronyd_or_ntpd_enabled from RHEL 10
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
Labels: Update Profile

#12755 SSH host keys don't exist at bootable container build time
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/rule.yml
  linux_os/guide/services/ssh/file_groupownership_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/file_ownership_sshd_private_key/rule.yml
  linux_os/guide/services/ssh/file_ownership_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_pub_key/rule.yml
Labels: Image Mode

#12743 Use yescrypt in RHEL 10
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000120-GPOS-00061.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/var_password_pam_unix_rounds.var
Labels: Update Profile

#12737 Adjust two filesystem permission rules to 600
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_system_shutdown/ansible/shared.yml
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rulesd/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log_messages/rule.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/templates/audit_file_contents/ansible.template
Labels: RHEL, Update Rule

#12754 Adjust journald rules for RHEL 10
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
Labels: Update Rule, RHEL10

#12752 Ubuntu 24.04: Implement 5.3.3.2.7 Ensure password quality checking is enforced
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforcing/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforcing/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/var_password_pam_enforcing.var
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12747 Ubuntu 24.04: Implement rule 5.3.3.2.4 Ensure password same consecutive characters is configured
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxrepeat/rule.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12759 Add ccn profile to OL9
  controls/ccn_ol9.yml
  products/ol9/product.yml
  products/ol9/profiles/ccn_advanced.profile
  products/ol9/profiles/ccn_basic.profile
  products/ol9/profiles/ccn_intermediate.profile
  tests/data/product_stability/ol9.yml
Labels: Oracle Linux, needs-ok-to-test, New Profile
