Repository ComplianceAsCode/content, pull requests merged in 2024-08, with the labels that each got.

#12249 Consolidate ASCS RHEL profiles lastlog via sshd
  controls/ism_o.yml
  products/rhel8/profiles/ism_o.profile
  products/rhel9/profiles/ism_o.profile
Labels: RHEL, Update Profile

#12250 Fix missing OL platform clauses
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
Labels: Oracle Linux

#12188 Fix Automatus Sanity
  .github/workflows/automatus-sanity.yaml
Labels: Test Suite

#12248 Remove uos20
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  CMakeLists.txt
  build_product
  linux_os/guide/system/software/updating/security_patches_up_to_date/ansible/shared.yml
  products/uos20/CMakeLists.txt
  products/uos20/overlays/.gitkeep
  products/uos20/product.yml
  products/uos20/profiles/default.profile
  products/uos20/profiles/standard.profile
  products/uos20/transforms/constants.xslt
  products/uos20/transforms/shorthand2xccdf.xslt
  products/uos20/transforms/table-srgmap.xslt
  products/uos20/transforms/table-style.xslt
  products/uos20/transforms/xccdf-apply-overlay-stig.xslt
  products/uos20/transforms/xccdf2table-cce.xslt
  products/uos20/transforms/xccdf2table-profileccirefs.xslt
  shared/applicability/oval/installed_OS_is_uos20.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
  tests/data/product_stability/uos20.yml
  tests/unit/ssg-module/test_utils.py
Labels: product-removal

#12134 Update bash remediation to fix bug into account_disable_inactivity*
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/bash/shared.sh
Labels: Bash, Oracle Linux, needs-ok-to-test

#12258 Fix title of var_networkmanager_dns_mode
  linux_os/guide/system/network/networkmanager/var_networkmanager_dns_mode.var
Labels: bugfix

#12253 Review CIS requirements and rules for RHEL 10
  controls/cis_rhel10.yml
Labels: CIS, RHEL10

#12259 Fix network mode nm stable
  linux_os/guide/system/network/networkmanager/var_networkmanager_dns_mode.var
Labels: backported-into-stabilization

#12255 Add to slmicro5 STIG pam pwhistory remember rule
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, Update Rule

#12256 `firewalld_sshd_port_enabled` add zone to all connections
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/customized_zone_configured.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/customized_zone_without_ssh.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/new_zone_configured.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/new_zone_without_ssh.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/only_nics_configured.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/only_zones_configured.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/zones_and_nics_configured.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/zones_and_nics_ok_no_custom_files.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/zones_and_nics_ok_port_changed.pass.sh
Labels: bugfix

#12260 [stabilization] `firewalld_sshd_port_enabled` add zone to all connections
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/customized_zone_configured.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/customized_zone_without_ssh.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/new_zone_configured.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/new_zone_without_ssh.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/only_nics_configured.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/only_zones_configured.fail.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/zones_and_nics_configured.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/zones_and_nics_ok_no_custom_files.pass.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/zones_and_nics_ok_port_changed.pass.sh
Labels: bugfix

#12254 Review and update install_vm.py script
  tests/install_vm.py
  tests/kickstarts/test_suite.cfg
Labels: enhancement, Test Suite, refactoring

#12262 Build empty OVAL
  cmake/SSGCommon.cmake
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ip6tables_default_rule/sce/shared.sh
  ssg/build_renumber.py
  ssg/oval_object_model/oval_document.py
Labels: Infrastructure

#12084 Fixes debian
  linux_os/guide/services/ntp/chronyd_specify_remote_server/oval/shared.xml
  products/debian12/product.yml
  products/debian12/profiles/anssi_bp28_enhanced.profile
  products/debian12/profiles/anssi_bp28_high.profile
  products/debian12/profiles/anssi_bp28_intermediary.profile
  shared/templates/sysctl/oval.template
  tests/data/product_stability/debian12.yml
Labels: Debian, needs-ok-to-test

#12252 Add STIG rules for slmicro5 covering lib dirs root ownership
  controls/stig_slmicro5.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_group_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, Update Rule

#12217 fix xccdf_value substitution with dotnotation
  applications/openshift/api-server/api_server_request_timeout/rule.yml
  applications/openshift/authentication/oauth_inactivity_timeout/rule.yml
  applications/openshift/kubelet/kubelet_configure_event_creation/rule.yml
  applications/openshift/kubelet/kubelet_enable_streaming_connections_deprecated/rule.yml
Labels: OpenShift, needs-ok-to-test

#12275 Fix a typo
  linux_os/guide/system/software/disk_partitioning/systemd_tmp_mount_enabled/rule.yml
Labels: Update Rule

#12280 pci dss requirement 12
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12095 Update status for CIS 1.2.31
  controls/cis_ocp_1_4_0/section-1.yml
Labels: OpenShift, CIS

#12272 CMP-2462: PCI-DSS v4 Requirement 10
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12284 Remove old and broken tldp.org link
  linux_os/guide/system/software/disk_partitioning/group.yml
Labels: Documentation, backported-into-stabilization

#12265 Slmicro5 add sysctl based rules support for STIG profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_forwarding/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_syncookies/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_all_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_default_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_randomize_va_space/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/tests/correct_value_usr_local_lib.pass.sh
  shared/templates/sysctl/tests/wrong_value_usr_local_lib.fail.sh
Labels: needs-ok-to-test

#12251 Add support for XCCDF variables into sshd_lineinfile template
  docs/templates/template_reference.md
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_password_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_tcp_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_user_known_hosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner_net/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value_dot_dir.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/param_conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/param_conflict_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value_dot_dir.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_rng/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_x11_use_localhost/rule.yml
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
  shared/templates/sshd_lineinfile/ansible.template
  shared/templates/sshd_lineinfile/bash.template
  shared/templates/sshd_lineinfile/oval.template
  shared/templates/sshd_lineinfile/template.py
  shared/templates/sshd_lineinfile/tests/common.sh
  shared/templates/sshd_lineinfile/tests/correct_value.pass.sh
  shared/templates/sshd_lineinfile/tests/correct_value_directory.pass.sh
  shared/templates/sshd_lineinfile/tests/correct_value_including_relative_path.pass.sh
  shared/templates/sshd_lineinfile/tests/correct_value_multiple_includes.pass.sh
  shared/templates/sshd_lineinfile/tests/duplicated_param.pass.sh
  shared/templates/sshd_lineinfile/tests/duplicated_param_directory.pass.sh
  shared/templates/sshd_lineinfile/tests/param_conflict.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_file_with_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_including_relative_path.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_multiple_includes.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_different_includings.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_including_relative_path.fail.sh
Labels: Ansible, OVAL, Bash, Update Rule, Update Template

#12230 Fix automatus podman
  .github/workflows/automatus-ubuntu2204.yaml
  Dockerfiles/test_suite-ubuntu2204
Labels: Test Suite, Ubuntu, needs-ok-to-test

#12290 Create OL10 product
  CMakeLists.txt
  build_product
  products/ol10/CMakeLists.txt
  products/ol10/product.yml
  products/ol10/profiles/anssi_bp28_enhanced.profile
  products/ol10/profiles/anssi_bp28_high.profile
  products/ol10/profiles/anssi_bp28_intermediary.profile
  products/ol10/profiles/anssi_bp28_minimal.profile
  products/ol10/transforms/constants.xslt
  products/ol10/transforms/table-style.xslt
  products/ol10/transforms/xccdf-apply-overlay-stig.xslt
  products/ol10/transforms/xccdf2table-cce.xslt
  products/ol10/transforms/xccdf2table-profileccirefs.xslt
  shared/checks/oval/installed_OS_is_ol10.xml
  ssg/constants.py
Labels: Oracle Linux, New Product

#12286 Slmicro5 stig add permissions audit rules support
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_rename/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_lastlog/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_pub_key/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_max_concurrent_login_sessions/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_max_concurrent_login_sessions/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_max_concurrent_login_sessions/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/oval/shared.xml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/audit_rules_login_events/ansible.template
  shared/templates/audit_rules_login_events/bash.template
  shared/templates/audit_rules_unsuccessful_file_modification/ansible.template
  shared/templates/audit_rules_unsuccessful_file_modification/bash.template
Labels: needs-ok-to-test

#12218 Avoid tmpfiles override
  linux_os/guide/system/logging/journald/dir_groupowner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/dir_owner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/dir_permissions_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/file_groupowner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/file_owner_system_journal/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/file_permissions_system_journal/bash/ubuntu.sh
Labels: Bash, Ubuntu, needs-ok-to-test

#12294 OCPBUGS-38314: Update OCIL permissions to be consistent with check
  applications/openshift/master/file_permissions_kube_controller_manager/rule.yml
Labels: OpenShift, CIS

#12270 Extend mount_option_nodev_nonroot_local_partitions
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/shared.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/oval/shared.xml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/tests/complex.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/tests/no_nodev_in_fstab.fail.sh
Labels: bugfix

#12303 Fix validation with OpenSCAP 1.4
  cmake/SSGCommon.cmake
Labels: Infrastructure

#12304 Fix Windows for OpenSCAP 1.4.0 release
  .github/workflows/gate.yaml
Labels: Infrastructure

#12266 Add OCP and RHCOS assertion files for 4.17
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-cis-node-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-node-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-stig-4.17.yml
  tests/assertions/ocp4/ocp4-stig-node-4.17.yml
  tests/assertions/ocp4/rhcos4-e8-4.17.yml
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
  tests/assertions/ocp4/rhcos4-stig-4.17.yml
Labels: Test Suite, OpenShift

#11758 OCP4: deprecating two api_server rules
  applications/openshift/api-server/api_server_api_priority_gate_enabled/rule.yml
  applications/openshift/api-server/api_server_insecure_port/rule.yml
  controls/cis_ocp_1_4_0/section-1.yml
  controls/nist_ocp4.yml
  controls/pcidss_4_ocp4.yml
  controls/pcidss_ocp4.yml
Labels: OpenShift, do-not-merge/hold

#12306 Add forgoten rules from PCI-DSS V3.2.1 to V4.0
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#12122 OCP4 STIG: deduplicate audit rules
  controls/stig_ocp4.yml
Labels: OpenShift

#12305 Fix "unknown predicate `-L'"
  shared/templates/file_owner/bash.template
Labels: Bash, needs-ok-to-test

#12310 Slmicro5 stig add audit services rules rules support
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_action/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_action/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_action/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_percentage/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/comment.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value_true.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value_yes.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/line_not_there.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value_false.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value_no.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value_off.fail.sh
  shared/references/cce-slmicro5-avail.txt
Labels: needs-ok-to-test

#12295 Slmicro5 stig add accounts and auditing rules support
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/ansible/shared.yml
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/bash/shared.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/ansible/slmicro5.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/slmicro5.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_ca/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_ca/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_ca/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12302 Slmicro5 stig add permissions rules support
  controls/stig_slmicro5.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/ansible/shared.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/rule.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/rule.yml
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/ansible/shared.yml
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/bash/shared.sh
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/rule.yml
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/tests/audit_correct_permissions.pass.sh
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/tests/audit_incorrect_permissions.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/tests/db_not_present.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/tests/new_db_not_present.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12313 Slmicro5 stig add software and services rules support
  controls/stig_slmicro5.yml
  linux_os/guide/services/sssd/sssd_memcache_timeout/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_memcache_timeout/bash/shared.sh
  linux_os/guide/services/sssd/sssd_memcache_timeout/rule.yml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/rule.yml
  linux_os/guide/system/software/sudo/sudo_remove_no_authenticate/rule.yml
  linux_os/guide/system/software/sudo/sudo_remove_nopasswd/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_authentication/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
  linux_os/guide/system/software/updating/clean_components_post_updating/ansible/shared.yml
  linux_os/guide/system/software/updating/clean_components_post_updating/bash/shared.sh
  linux_os/guide/system/software/updating/clean_components_post_updating/oval/slmicro5.xml
  linux_os/guide/system/software/updating/clean_components_post_updating/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12298 Ubuntu 22.04 STIG V2R1 changes
  controls/srg_gpos/SRG-OS-000356-GPOS-00144.yml
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  linux_os/guide/auditing/package_audit_installed/rule.yml
  linux_os/guide/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  linux_os/guide/services/ntp/chronyd_sync_clock/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_difok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_crl/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/policy_temp_passwords_immediate_change/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/install_endpoint_security_software/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_authentication/rule.yml
  products/ubuntu2204/profiles/stig.profile
  shared/references/disa-stig-ubuntu2204-v2r1-xccdf-manual.xml
Labels: Ubuntu, needs-ok-to-test, Update Profile, STIG

#12297 Slmicro5 stig add accounts and services rules support
  controls/stig_slmicro5.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/common.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/no_parameters.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/tests/wrong_value.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_reduced_list.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_post_pw_expiration/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_post_pw_expiration/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_post_pw_expiration/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/ansible/shared.yml
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/bash/shared.sh
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/rule.yml
  shared/macros/10-oval.jinja
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12293 Fix ansible remediation for audispd plugin UBTU-20-010216
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/ansible/shared.yml
Labels: Ansible, Ubuntu, ok-to-test, STIG

#12315 Fix manual remediation for SPO rule
  applications/openshift/confinement/security_profiles_operator_exists/tests/ocp4/e2e-remediation.sh
  ocp-resources/e2e/spo-install.yaml
Labels: OpenShift

#12320 OCPBUGS-35854: etcd_unique_ca bundle path for OCP 4.17
  applications/openshift/etcd/etcd_unique_ca/oval/shared.xml
Labels: OpenShift, CIS

#12318 fix for issue 11909
  products/debian12/profiles/standard.profile
Labels: Debian, needs-ok-to-test, Update Profile

#12327 Add ansible remediation for aide_use_fips_hashes rule
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_use_fips_hashes/ansible/shared.yml
Labels: needs-ok-to-test

#12329 Slmicro5 stig add integrity and auditing rules support
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_btmp/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_btmp/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_btmp/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_utmp/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_utmp/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_utmp/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/rule.yml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/rule.yml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/commented_line.fail.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/no_silent_all.pass.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/no_space_before_showfailed.fail.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/no_space_before_silent.pass.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/silent_present.fail.sh
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_no_uid_except_zero/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/rule.yml
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_d_duplicate.pass.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd.pass.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd_conflicting_values.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd_duplicates.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd_duplicates.pass.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_passwd_multiple_files.pass.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_rootpw.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_runaspw.fail.sh
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/tests/sudoers_validate_targetpw.fail.sh
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test, STIG

#12330 Updated 10 rules to support SLE Micro
  controls/stig_slmicro5.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/rule.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/rule.yml
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12314 Add insensitive option to ansible_lineinfile macro
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/ansible/shared.yml
  linux_os/guide/services/ntp/ntpd_configure_restrictions/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/ansible/shared.yml
  linux_os/guide/services/usbguard/usbguard_allow_hid/ansible/shared.yml
  linux_os/guide/services/usbguard/usbguard_allow_hub/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/enable_pam_namespace/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_var_tmp/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/shared.yml
  linux_os/guide/system/permissions/permissions_local/file_permissions_local_var_log_messages/ansible/shared.yml
  linux_os/guide/system/permissions/permissions_local/permissions_local_audit_binaries/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/ansible/shared.yml
  shared/macros/10-ansible.jinja
Labels: Ansible, needs-ok-to-test

#12333 Add OL9 into installed_OS_is_vendor_supported
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
Labels: OVAL, Oracle Linux, needs-ok-to-test

#12340 etcd_unique_ca: updated assertion results on OCP 4.17
  tests/assertions/ocp4/ocp4-cis-node-4.17.yml
  tests/assertions/ocp4/ocp4-high-node-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-stig-node-4.17.yml
Labels: OpenShift

#12128 add debian12 automatus workflow
  .github/workflows/automatus-debian12.yaml
  Dockerfiles/test_suite-debian12
  tests/ssg_test_suite/common.py
Labels: Test Suite, needs-ok-to-test

#12341 Remove template option
  README.md
  tests/ssg_test_suite/oscap.py
Labels: Infrastructure, Test Suite

#12332 Slmicro5 stig add accounts and integrity rules support
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/package_audit_installed/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/ansible/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/bash/shared.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/oval/shared.xml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/rule.yml
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
  linux_os/guide/system/network/network_sniffer_disabled/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/bash/shared.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/package_installed/bash.template
Labels: needs-ok-to-test

#12278 Slmicro5 stig add audit rules dac/usergroup modification based rules support
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount2/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_media_export/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/audit_rules_dac_modification/ansible.template
  shared/templates/audit_rules_dac_modification/bash.template
Labels: SLES, needs-ok-to-test

#12326 Add ansible remediaton for rsyslog_cron_logging rule
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/oval/shared.xml
Labels: Ansible, needs-ok-to-test

#12311 Add PCI-DSS v4.0 assertion files
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
Labels: OpenShift

#12336 Updated rules based on template service_enabled to support SLEM
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test

#12323 Add ansible remediation to ensure_oracle_gpgkey_installed rule
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/tests/key_installed.pass.sh
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/tests/missing_key.fail.sh
Labels: Ansible, needs-ok-to-test

#12342 chronyd_or_ntpd_specify_remote_server: update assertion results
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
Labels: OpenShift

#12347 Review PCI-DSS requirements and rules for RHEL 10
  controls/pcidss_4.yml
  products/rhel10/profiles/pci-dss.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Labels: Update Profile, pci-dss, RHEL10

#12345 RHEL 10 HIPAA Profile Updates
  controls/hipaa.yml
  products/rhel10/profiles/hipaa.profile
Labels: Update Profile, RHEL10

#12337 Updated rules based on template service_disabled to support slem
  controls/stig_slmicro5.yml
  linux_os/guide/services/base/service_kdump_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/service_autofs_disabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: needs-ok-to-test, Update Profile

#12338 Updated packages related to openssh to support slem
  controls/stig_slmicro5.yml
  linux_os/guide/services/ssh/package_openssh-server_installed/rule.yml
  linux_os/guide/services/ssh/service_sshd_enabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test, Update Rule

#12343 Update of the rule encrypt_partitions to support SLEM
  controls/stig_slmicro5.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, needs-ok-to-test, Update Rule

#12309 Add ocp4 pci dss references
  controls/cis_ocp_1_4_0/section-4.yml
  controls/pcidss_4.yml
  controls/pcidss_4_ocp4.yml
  docs/manual/developer/03_creating_content.md
  products/ocp4/profiles/cis-1-4.profile
  products/ocp4/profiles/cis-1-5.profile
  products/ocp4/profiles/pci-dss-3-2.profile
  products/ocp4/profiles/pci-dss-4-0.profile
  products/ocp4/profiles/pci-dss-node-4-0.profile
  products/ocp4/profiles/pci-dss-node.profile
  products/ocp4/profiles/pci-dss.profile
  ssg/controls.py
  tests/unit/ssg-module/test_controls.py
Labels: Infrastructure, OpenShift, do-not-merge/hold, pci-dss

#12339 Slmicro5 stig add accounts and permissions rules support
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/missing_pam_tally2.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_big_deny.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_configured.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_empty_deny.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_zero_deny.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_admin/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log_audit/rule.yml
  linux_os/guide/system/software/integrity/fips/is_fips_mode_enabled/rule.yml
  linux_os/guide/system/software/sudo/sudo_restrict_privilege_elevation_to_authorized/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/kernel_module_disabled/bash.template
  shared/templates/kernel_module_disabled/oval.template
Labels: needs-ok-to-test

#12350 Update Regex for sudoers_explicit_command_args
  linux_os/guide/system/software/sudo/sudoers_explicit_command_args/oval/shared.xml
  linux_os/guide/system/software/sudo/sudoers_explicit_command_args/tests/defaults_entries.pass.sh
Labels: bugfix, needs-ok-to-test

#12354 add rule sysctl_kernel_modules_disabled to unselect_rules_list
  tests/unselect_rules_list
Labels: Test Suite

#12220 CMP 2196 update ingress operator ciphers
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_ingresscontroller/kubernetes/shared.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_ingresscontroller/rule.yml
  controls/cis_ocp_1_4_0/section-4.yml
  tests/assertions/ocp4/ocp4-cis-4.12.yml
  tests/assertions/ocp4/ocp4-cis-4.13.yml
  tests/assertions/ocp4/ocp4-cis-4.14.yml
  tests/assertions/ocp4/ocp4-cis-4.15.yml
  tests/assertions/ocp4/ocp4-cis-4.16.yml
Labels: OpenShift
