Repository ComplianceAsCode/content, pull requests merged in 2024-04, with the labels that each got.

#11775 Fix ansible_ini_file_set
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/ansible/shared.yml
  shared/macros/10-ansible.jinja
Labels: bugfix

#11777 remove Bash and Ansible conditionals from the nfs_mount_defined CPE
  shared/applicability/nfs_mount_defined.yml
Labels: bugfix, CPE-AL

#11768 Fix regression in grub2_bootloader_argument
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/tests/correct_value_etcdefault_dir.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_etcdefault_dir_noupdate.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_noupdate.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefault.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefault_dir.fail.sh
Labels: ok-to-test

#11792 update cryptopolicy used in CUI profile to fips
  products/rhel8/profiles/cui.profile
  products/rhel9/profiles/cui.profile
Labels: RHEL9, Update Profile, RHEL8

#11788 Update ANSSI R38 Status
  controls/anssi.yml
Labels: bugfix

#11765 update links and unify documentation in kickstart files
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_minimal-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_server_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l2-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-e8-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-hipaa-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ism_o-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ospp-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-pci-dss-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_enhanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_high-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_minimal-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_advanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_basic-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-e8-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-hipaa-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ism_o-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ospp-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-pci-dss-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig_gui-ks.cfg
Labels: bugfix, RHEL9, RHEL8, Kickstart

#11797 Add RHEL 10 Install Command to Automatus
  tests/ssg_test_suite/common.py
Labels: Test Suite, RHEL10

#11799 Replace dead HTML links for the chronyd project
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/rule.yml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/rule.yml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
Labels: Update Rule

#11791 Fix ANSSI Ansible fmf test plan
  tests/fmf-plans/ansible-anssi.fmf
Labels: Test Suite

#11747 Improve playbook script and documention
  CMakeLists.txt
  docs/manual/developer/05_tools_and_utilities.md
  test-requirements.txt
  tests/CMakeLists.txt
  utils/ansible_playbook_to_role.py
Labels: Infrastructure, Documentation

#11248 fix ansible SLES stig remediations in check mode
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/sle12.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/sle15.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rtc_utc_configuration/ansible/shared.yml
  linux_os/guide/system/network/network_sniffer_disabled/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_ext_attributes/ansible/shared.yml
  products/sle12/product.yml
  products/sle12/profiles/pci-dss-4.profile
  products/sle15/product.yml
  products/sle15/profiles/pci-dss-4.profile
  shared/templates/pam_options/ansible.template
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
Labels: Ansible, SLES, STIG, pci-dss

#11798 Drop retired PCI-DSS 3.2.1 for sle15
  products/sle15/profiles/pci-dss.profile
Labels: SLES, Update Profile

#11800 Reduce XCCDF
  ssg/build_yaml.py
Labels: Infrastructure

#11811 Ensure that components not in datastream are not mentioned by profiles
  ssg/build_yaml.py
  ssg/entities/profile_base.py
Labels: bugfix, Infrastructure

#11808 Improve Rsyslog Rainer regex to find log files
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
  shared/templates/rsyslog_logfiles_attributes_modify/bash.template
  shared/templates/rsyslog_logfiles_attributes_modify/oval.template
  shared/templates/rsyslog_logfiles_attributes_modify/tests/rainer_correct_attr_exceptions.pass.sh
Labels: bugfix, Update Rule

#11796 Add Ansible remediation to sssd_enable_pam_services
  linux_os/guide/services/sssd/sssd_enable_pam_services/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/services_pam_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_pam_services_conf_d.pass.sh
Labels: bugfix, Ansible

#11821 Fix dconf package name for Ubuntu
  shared/templates/extra_ovals.yml
Labels: Ubuntu, ok-to-test

#11813 Improve unnecessarily over-complicated regex
  linux_os/guide/system/software/sudo/sudo_custom_logfile/rule.yml
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_enabled_quoted.pass.sh
Labels: bugfix, enhancement

#11827 Fix rule mount_option_nodev_nonroot_local_partitions Bash remediation
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/shared.sh
Labels: Bash, STIG, osbuild

#11816 Remove OVAL version restrictions from auditd_audispd_configure_sufficiently_large_partition
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/oval/shared.xml
Labels: bugfix, OVAL

#11793 Inital RHEL 10 STIG
  controls/srg_gpos.yml
  controls/srg_gpos/SRG-OS-000002-GPOS-00002.yml
  controls/srg_gpos/SRG-OS-000030-GPOS-00011.yml
  controls/srg_gpos/SRG-OS-000037-GPOS-00015.yml
  controls/srg_gpos/SRG-OS-000042-GPOS-00020.yml
  controls/srg_gpos/SRG-OS-000064-GPOS-00033.yml
  controls/srg_gpos/SRG-OS-000074-GPOS-00042.yml
  controls/srg_gpos/SRG-OS-000080-GPOS-00048.yml
  controls/srg_gpos/SRG-OS-000095-GPOS-00049.yml
  controls/srg_gpos/SRG-OS-000096-GPOS-00050.yml
  controls/srg_gpos/SRG-OS-000104-GPOS-00051.yml
  controls/srg_gpos/SRG-OS-000106-GPOS-00053.yml
  controls/srg_gpos/SRG-OS-000112-GPOS-00057.yml
  controls/srg_gpos/SRG-OS-000113-GPOS-00058.yml
  controls/srg_gpos/SRG-OS-000121-GPOS-00062.yml
  controls/srg_gpos/SRG-OS-000123-GPOS-00064.yml
  controls/srg_gpos/SRG-OS-000163-GPOS-00072.yml
  controls/srg_gpos/SRG-OS-000191-GPOS-00080.yml
  controls/srg_gpos/SRG-OS-000228-GPOS-00088.yml
  controls/srg_gpos/SRG-OS-000276-GPOS-00106.yml
  controls/srg_gpos/SRG-OS-000279-GPOS-00109.yml
  controls/srg_gpos/SRG-OS-000343-GPOS-00134.yml
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  controls/srg_gpos/SRG-OS-000445-GPOS-00199.yml
  controls/srg_gpos/SRG-OS-000471-GPOS-00216.yml
  controls/srg_gpos/SRG-OS-000477-GPOS-00222.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00230.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/policy/stig/shared.yml
  products/rhel10/profiles/stig.profile
  products/rhel10/profiles/stig_gui.profile
Labels: New Profile, STIG, RHEL10

#11815 Set the `requires` to `sshd_set_keepalive` on `sshd_set_idle_timeout`
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/rule.yml
Labels: Update Rule

#11842 Fix broken exception message
  ssg/build_yaml.py
Labels: Infrastructure

#11829 Update ol8 profiles
  products/ol8/profiles/anssi_bp28_high.profile
  products/ol8/profiles/cjis.profile
  products/ol8/profiles/e8.profile
  products/ol8/profiles/hipaa.profile
Labels: Oracle Linux, needs-ok-to-test

#11822 accounts_umask_etc_bashrc: extend handled cases of umask
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_not_at_the_begining_of_line.fail.sh
Labels: Update Rule, STIG

#11809 Re-organize `tests/fmf-plans` into a more concise format
  .packit.yaml
  tests/fmf-plans/ansible-anssi.fmf
  tests/fmf-plans/ansible-cis.fmf
  tests/fmf-plans/ansible-ospp.fmf
  tests/fmf-plans/ansible-pcidss.fmf
  tests/fmf-plans/ansible-stig.fmf
  tests/fmf-plans/base.fmf
  tests/fmf-plans/bash-anssi.fmf
  tests/fmf-plans/bash-cis.fmf
  tests/fmf-plans/bash-ospp.fmf
  tests/fmf-plans/bash-pcidss.fmf
  tests/fmf-plans/bash-stig.fmf
  tests/fmf-plans/main.fmf
  tests/tmt-plans/.fmf/version
  tests/tmt-plans/main.fmf
Labels: Infrastructure

#11846 Update ol9 profiles
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
  products/ol9/profiles/anssi_bp28_minimal.profile
  products/ol9/profiles/e8.profile
  products/ol9/profiles/hipaa.profile
  products/ol9/profiles/ospp.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile, STIG

#11823 Rule had incorrect CRD reference rule.yml
  applications/openshift/general/classification_banner/rule.yml
Labels: OpenShift, needs-ok-to-test

#11850 Fix SCE checks for iptables_loopback_traffic
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/sce/ubuntu.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/sce/ubuntu.sh
Labels: Ubuntu, ok-to-test

#11843 Align var_accounts_tmout to Ubuntu 22.04 STIG V1R1
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, ok-to-test

#11849 Fix SCE check for ip6tables_rules_for_open_ports
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/sce/shared.sh
Labels: Ubuntu, ok-to-test

#11852 Improve title of CCN profiles for RHEL9
  products/rhel9/profiles/ccn_advanced.profile
  products/rhel9/profiles/ccn_basic.profile
  products/rhel9/profiles/ccn_intermediate.profile
Labels: RHEL9, Update Profile, CCN

#11851 ensure that var_sshd_set_keepalive is not set to 0 in rhel8 and rhel9 profiles
  controls/ccn_rhel9.yml
  controls/cis_rhel9.yml
  controls/pcidss_4.yml
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/hipaa.profile
  products/rhel8/profiles/ospp.profile
  products/rhel8/profiles/rht-ccp.profile
  products/rhel9/profiles/hipaa.profile
  tests/data/profile_stability/rhel7/pci-dss.profile
  tests/data/profile_stability/rhel8/ospp.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Labels: RHEL9, Update Profile, RHEL8

#11530 set indent to 4
  utils/add_kubernetes_rule.py
Labels: needs-ok-to-test, Kubernetes

#11861 Fix OCP node OVN check
  applications/openshift/master/file_groupowner_ovn_cni_server_sock/tests/ocp4/4.12.yml
  applications/openshift/master/file_groupowner_ovn_cni_server_sock/tests/ocp4/4.13.yml
  applications/openshift/master/file_groupowner_ovn_cni_server_sock/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovn_db_files/tests/ocp4/4.12.yml
  applications/openshift/master/file_groupowner_ovn_db_files/tests/ocp4/4.13.yml
  applications/openshift/master/file_groupowner_ovn_db_files/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovn_cni_server_sock/tests/ocp4/4.12.yml
  applications/openshift/master/file_owner_ovn_cni_server_sock/tests/ocp4/4.13.yml
  applications/openshift/master/file_owner_ovn_cni_server_sock/tests/ocp4/4.14.yml
  applications/openshift/master/file_owner_ovn_cni_server_sock/tests/ocp4/4.15.yml
  applications/openshift/master/file_owner_ovn_cni_server_sock/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovn_db_files/tests/ocp4/4.12.yml
  applications/openshift/master/file_owner_ovn_db_files/tests/ocp4/4.13.yml
  applications/openshift/master/file_owner_ovn_db_files/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovn_cni_server_sock/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_ovn_cni_server_sock/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_ovn_cni_server_sock/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovn_db_files/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_ovn_db_files/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_ovn_db_files/tests/ocp4/e2e.yml
  shared/applicability/oval/installed_app_is_ocp4_node.xml
Labels: OpenShift

#11866 Add assertion file for RHCOS4 E8 profile tests on 4.13
  tests/assertions/ocp4/rhcos4-e8-4.13.yml
Labels: OpenShift

#11825 CMP-2454: PCI-DSS v4 Requirement 2
  controls/pcidss_4_ocp4.yml
Labels: OpenShift, pci-dss

#11868 Fix Bash remediation of firewalld-based rules for offline mode
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/bash/shared.sh
Labels: Bash, offline, osbuild

#11860 Split out TMT plans to separate Packit jobs
  .packit.yaml
  tests/tmt-plans/main.fmf
Labels: Test Suite

#11880 exclude /static-checks/diff TMT tests
  tests/tmt-plans/main.fmf
Labels: bugfix

#11890 RHEL-09-232045: align with STIG
  controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL9, Update Profile, STIG

#11888 update list of contributors before releasing 0.1.73
  Contributors.md
  Contributors.xml
Labels: Documentation

#11884 Update ol8 stig reference
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v1r10-xccdf-manual.xml
Labels: Oracle Linux, STIG

#11878 Update RHEL 8 STIG to V1R14
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r14-xccdf-manual.xml
Labels: Update Profile, RHEL8, STIG

#11877 Update RHEL9 STIG to V1R3
  controls/stig_rhel9.yml
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  shared/references/disa-stig-rhel9-v1r3-xccdf-manual.xml
Labels: RHEL9, Update Profile, STIG

#11776 OCP4: Add container_security_operator_exists to PCIDSS profile
  controls/pcidss_4_ocp4.yml
Labels: OpenShift

#11889 Align rule encrypt_partitions with Ubuntu 22.04 STIG
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
Labels: Ubuntu, needs-ok-to-test

#11887 OCPBUGS-32794: Add back rules that were once shipped in RHCOS4
  products/rhcos4/profiles/default.profile
Labels: OpenShift, CoreOS, do-not-merge/hold

#11805 Try 4110 for file_permissions_sudo
  controls/anssi.yml
  linux_os/guide/system/software/sudo/file_permissions_sudo/rule.yml
  linux_os/guide/system/software/sudo/sudo_dedicated_group/rule.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  shared/references/cce-redhat-avail.txt
  shared/templates/file_permissions/tests/stricter_permisions.pass.sh
Labels: RHEL9, Update Rule, ANSSI, RHEL10

#11896 Restrict the list of accepted shells in no_shelllogin_for_systemaccounts
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/oval/shared.xml
Labels: OVAL, STIG

#11881 Add RHEL 10 to SRG Mapping Table Action
  .github/workflows/srg-mapping-table.yaml
Labels: Documentation

#11894 Return condition to test firewalld service state in firewalld_loopback_traffic rules
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/tests/service_stopped.fail.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/tests/service_stopped.fail.sh
Labels: Bash

#11900 Add docs how to build thin ds
  docs/manual/developer/02_building_complianceascode.md
Labels: Documentation

#11886 Align wireless_disable_interfaces with Ubuntu 22.04 STIG
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/ubuntu.sh
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/oval/ubuntu.xml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
Labels: Ubuntu, ok-to-test

#11883 Align chronyd_sync_clock to Ubuntu 22.04 STIG
  linux_os/guide/services/ntp/chronyd_sync_clock/rule.yml
  linux_os/guide/services/ntp/chronyd_sync_clock/tests/commented.fail.sh
  linux_os/guide/services/ntp/chronyd_sync_clock/tests/correct_value.pass.sh
Labels: Ubuntu, ok-to-test, STIG

#11867 Update ol8 pcidss
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/oval/shared.xml
  products/ol8/profiles/pci-dss.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile, pci-dss

#11873 Update ol9 pcidss
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/empty.pass.sh
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/tests/empty_options.pass.sh
  linux_os/guide/system/logging/log_rotation/timer_logrotate_enabled/rule.yml
  linux_os/guide/system/network/network_nmcli_permissions/ansible/shared.yml
  linux_os/guide/system/network/network_nmcli_permissions/tests/correct_value.pass.sh
  linux_os/guide/system/network/network_nmcli_permissions/tests/wrong_resultactive.fail.sh
  products/ol9/profiles/pci-dss.profile
Labels: Oracle Linux, Update Profile, pci-dss

#11864 Add rule set_password_hashing_algorithm_systemauth to Ubuntu STIG profile
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/commented_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/wrong_value_concat.fail.sh
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, ok-to-test, STIG

#11899 Fix #11898 issue
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_groupowner_cron_allow/rule.yml
Labels: Ubuntu, ok-to-test, CIS

#11905 Fix #11902 issue
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillog/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
  products/ubuntu2204/profiles/cis_level2_server.profile
  products/ubuntu2204/profiles/cis_level2_workstation.profile
Labels: Ubuntu, ok-to-test

#11840 Add and modify rules file/dir_permissions_system_journal
  components/systemd.yml
  linux_os/guide/system/logging/journald/dir_permissions_system_journal/rule.yml
  linux_os/guide/system/logging/journald/file_permissions_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test

#11855 Fix content_diff when a rule is removed
  ssg/content_diff.py
Labels: Infrastructure

#11911 Fix ansible lint for SLE platforms
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_unlock_time/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/ansible/shared.yml
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
Labels: Ansible, SLES

#11917 Revert PR 11816
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/oval/shared.xml
Labels: bugfix, OVAL

#11914 Fix kdump service name on Ubuntu 22.04
  linux_os/guide/services/base/service_kdump_disabled/rule.yml
Labels: Ubuntu, ok-to-test

#11913 Fix value syntax for rule dconf_gnome_disable_ctrlaltdel_reboot
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/bash/shared.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/oval/shared.xml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/rule.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/tests/comment.fail.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/tests/correct_value_unlocked.fail.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/tests/correct_value_wrong_db.fail.sh
Labels: Ubuntu, ok-to-test

#11869 Enhancements for template audit_rules_watch
  shared/templates/audit_rules_watch/ansible.template
  shared/templates/audit_rules_watch/bash.template
  shared/templates/audit_rules_watch/oval.template
  shared/templates/audit_rules_watch/template.py
Labels: ok-to-test, Update Template

#11863 Fix OVAL for rule apt_conf_disallow_unauthenticated
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/oval/shared.xml
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/rule.yml
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_commented.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_missing.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_value.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/correct_value_dir.pass.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value.fail.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value2.fail.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value_dir.fail.sh
  linux_os/guide/services/apt/apt_conf_disallow_unauthenticated/tests/wrong_value_double.fail.sh
Labels: Debian, Ubuntu, ok-to-test, STIG

#11919 Fix pwquality package name for Ubuntu 22.04
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
Labels: Ubuntu, ok-to-test

#11857 Fix config paths and regex for auditd_audispd_configure_remote_server
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/oval/shared.xml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/tests/ubuntu_commented.fail.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/tests/ubuntu_correct.pass.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/tests/ubuntu_missing.fail.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/tests/ubuntu_wrong.fail.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_remote_server/tests/ubuntu_wrong2.fail.sh
  linux_os/guide/auditing/package_audit-audispd-plugins_installed/rule.yml
  products/ubuntu2004/product.yml
  products/ubuntu2204/product.yml
  tests/data/product_stability/ubuntu2004.yml
Labels: Ubuntu, ok-to-test, STIG

#11862 Fix dirs in sysctl template for Ubuntu 20.04/22.04
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/oval.template
Labels: Ubuntu, ok-to-test

#11918 Revert changes to no_empty_passwords for Ubuntu
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
Labels: Ubuntu, ok-to-test

#11839 Add rule dir_owner_system_journal
  components/systemd.yml
  linux_os/guide/system/logging/journald/dir_owner_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, New Rule, ok-to-test, STIG
