Repository ComplianceAsCode/content, pull requests merged in 2024-11, with the labels that each got.

#12486 Update select rules for RHEL not to modify systemd units in /usr
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/tests/correct_value_dropin.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/tests/wrong_value_dropin.fail.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_dropin.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/wrong_dropin.fail.sh
Labels: Ansible, Bash

#12565 Add setuptools python package to Fedora
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  .github/workflows/gate_thin_ds.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/srg-mapping-table.yaml
  .github/workflows/stabilize.yaml
Labels: Infrastructure

#12542 Add workflow to trigger OCP tests
  .github/workflows/ocp-test-profiles.yaml
Labels: OpenShift

#12566 Add setuptools to ocp4 build
  .github/workflows/automatus-sanity.yaml
  Dockerfiles/ocp4_content
  docs/manual/developer/02_building_complianceascode.md
Labels: Infrastructure

#12567 Update Fedora in `install_vm.py` to F41
  tests/install_vm.py
Labels: Infrastructure

#12563 Change platform in xwindows_runlevel_target
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
Labels: Image Mode

#12564 Update sebool template for bootable containers
  docs/templates/template_reference.md
  shared/templates/sebool/bash.template
  shared/templates/sebool/sce-bash.template
  shared/templates/sebool/template.yml
  tests/test_xccdf_values_in_ds.sh
Labels: Image Mode

#12554 Improve Benchmark detection in Automatus
  tests/ssg_test_suite/xml_operations.py
Labels: Test Suite

#12549 Update audit_rules_suid_privilege_function to use ExecStart instead of ExecStartPost
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_auid_privilege_function/ansible/shared.yml
Labels: bugfix, CIS, RHEL10

#12562 Change platform for rules related to partitions
  linux_os/guide/system/permissions/partitions/group.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noauto/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_grpquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_usrquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_removable_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_noexec_removable_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nosuid_removable_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_opt_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_srv_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_bind/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
  linux_os/guide/system/software/disk_partitioning/group.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_boot/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_dev_shm/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_home/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_opt/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_srv/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_tmp/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_usr/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log_audit/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_tmp/rule.yml
  linux_os/guide/system/software/disk_partitioning/systemd_tmp_mount_enabled/rule.yml
  shared/applicability/bootc.yml
Labels: Image Mode

#12559 Update RHEL 8 STIG due to rule removal
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_after_time/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_command/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_keybinding/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_tmux_installed/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#12551 Update RHEL 9 STIG to V2R2
  components/openssh.yml
  controls/stig_rhel9.yml
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/rule.yml
  linux_os/guide/services/ssh/file_sshd_50_redhat_exists/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/default_pass.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_crypto.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_drop_in.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_includes.fail.sh
  shared/references/cce-redhat-avail.txt
  shared/references/disa-stig-rhel9-v2r1-xccdf-scap.xml
  shared/references/disa-stig-rhel9-v2r2-xccdf-manual.xml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: New Rule, RHEL9, Update Profile, STIG

#12557 Move data stream component references
  build-scripts/compose_ds.py
  tests/test_ds_sce.py
Labels: Infrastructure

#12570 Update SLE15 STIG version to V2R2
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/bash/shared.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/oval/shared.xml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_encrypt_sent_records/rule.yml
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle15-v2r2-xccdf-manual.xml
Labels: Ansible, OVAL, Bash, SLES, Update Rule, Update Profile

#12527 Skip users with ID above UID MAX on accounts_user_interactive_home_directory_defined
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/ansible/shared.yml
  product_properties/10-ids.yml
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
Labels: Ansible

#12574 Update networkmanager_dns_mode for bootable containers
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/bash/shared.sh
Labels: Image Mode

#12576 Update contributors for 0.1.75
  Contributors.md
  Contributors.xml
Labels: Documentation

#12546 Add ansible remediation to mount_option_home template
  shared/templates/mount_option_home/ansible.template
  shared/templates/mount_option_home/template.yml
  shared/templates/mount_option_home/tests/fstab_multiple_users_template.fail.sh
Labels: Ansible, needs-ok-to-test, Update Template

#12575 Update rsyslog_cron_logging for bootable containers
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/bash/shared.sh
Labels: Image Mode

#12577 Update file_permissions_etc_chrony_keys to 640
  linux_os/guide/services/ntp/file_permissions_etc_chrony_keys/rule.yml
Labels: Update Rule

#12552 Adapt sysctl template for bootable containers
  docs/templates/template_reference.md
  shared/templates/sysctl/bash.template
  shared/templates/sysctl/oval.template
  shared/templates/sysctl/sce-bash.template
  shared/templates/sysctl/template.py
  shared/templates/sysctl/template.yml
Labels: Image Mode

#12578 Bump to 0.1.76
  CMakeLists.txt
Labels: Documentation

#12583 Fix comparing timezone and non-timezone timestamps
  utils/release_helper.py
Labels: Documentation

#12582 Update chronyd rules for bootable containers
  components/chrony.yml
  linux_os/guide/services/ntp/chronyd_client_only/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_client_only/rule.yml
  linux_os/guide/services/ntp/chronyd_no_chronyc_network/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_no_chronyc_network/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/bash/shared.sh
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_remote_server/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_sync_clock/rule.yml
Labels: Image Mode

#12586 Change platform in dnf-automatic rules
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/rule.yml
  linux_os/guide/system/software/updating/dnf-automatic_security_updates_only/rule.yml
  linux_os/guide/system/software/updating/package_dnf-automatic_installed/rule.yml
  linux_os/guide/system/software/updating/timer_dnf-automatic_enabled/rule.yml
Labels: Image Mode

#12585 Fix/debian20241107
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/oval/shared.xml
  shared/applicability/oval/system_with_kernel.xml
  shared/applicability/system_with_kernel.yml
  shared/macros/10-bash.jinja
Labels: Ansible, OVAL, Bash, Debian, Ubuntu, needs-ok-to-test, CPE-AL

#12591 remove sshd_use_priv_separation from hipaa control file
  controls/hipaa.yml
Labels: Update Profile, RHEL10

#12579 update audit_ospp_general with the latest content
  linux_os/guide/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: bugfix, RHEL9, Update Rule, RHEL8, RHEL10

#12558 Remove not applicable rules for OL8 & OL9
  products/ol8/profiles/anssi_bp28_enhanced.profile
  products/ol8/profiles/anssi_bp28_high.profile
  products/ol8/profiles/default.profile
  products/ol8/profiles/hipaa.profile
  products/ol8/profiles/standard.profile
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/default.profile
  products/ol9/profiles/standard.profile
Labels: Oracle Linux, Update Profile

#12592 Stabilization: update audit_ospp_general with the latest content
  linux_os/guide/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: RHEL9, Update Rule, RHEL8, OSPP

#12589 Remove package_quagga_removed from RHEL 10 profiles
  controls/e8.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Labels: Update Profile, RHEL10

#12482 Load all the profile if not loaded for Ubuntu
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/sce/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/correct_apparmor_profiles_enforced.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles.fail.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles_enforced.fail.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_complain.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_enforce.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/incorrect_all_apparmor_profiles.fail.sh
Labels: Ubuntu, needs-ok-to-test

#12590 Make Automatus Sanity Pass
  .github/workflows/automatus-sanity.yaml
  shared/templates/file_owner/tests/incorrect_owner.fail.sh
Labels: Test Suite

#12602 Fix file_permissions_unauthorized_sgid
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_sgid/oval/shared.xml
Labels: OVAL, Image Mode

#12600 Fix sssd_enable_smartcards
  linux_os/guide/services/sssd/sssd_enable_smartcards/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_missing_remove_authselect.fail.sh
  shared/macros/10-bash.jinja
  ssg/utils.py
Labels: Bash, Image Mode

#12603 Fix display_login_attempts
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
Labels: Bash

#12608 Update firewalld_sshd_port_enabled for bootable containers
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/tests/only_zones_configured.pass.sh
Labels: Image Mode

#12606 Documentation for ssg library
  ssg/ansible.py
  ssg/boolean_expression.py
  ssg/cce.py
  ssg/checks.py
  ssg/components.py
  ssg/contributors.py
  ssg/controls.py
  ssg/environment.py
  ssg/fixes.py
  ssg/id_translate.py
  ssg/jinja.py
  ssg/oval.py
  ssg/parse_oval.py
  ssg/products.py
  ssg/requirement_specs.py
  ssg/rule_dir_stats.py
  ssg/rule_yaml.py
  ssg/rules.py
  ssg/shims.py
  ssg/templates.py
  ssg/utils.py
  ssg/xccdf.py
  ssg/xml.py
  ssg/yaml.py
Labels: Documentation, Highlight

#12617 Update oval_feed_url for Ubuntu
  build-scripts/verify_references.py
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
  products/ubuntu2204/product.yml
  products/ubuntu2404/product.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test

#12620 Remove rule disable_ctrlaltdel_burstaction from Ubuntu STIG profiles
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/stig.profile
Labels: bugfix, Ubuntu, needs-ok-to-test

#12629 Add new rule service_nginx_disabled
  components/nginx.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/http/disabling_httpd/package_httpd_removed/rule.yml
  linux_os/guide/services/http/disabling_httpd/service_httpd_disabled/rule.yml
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
  linux_os/guide/services/http/disabling_nginx/service_nginx_disabled/rule.yml
Labels: ok-to-test

#12630 Add Ubuntu Maintainers as CODEOWNERS for 24.04 CIS
  CODEOWNERS
Labels: Documentation, Ubuntu

#12631 Adjust OVAL for directory_permissions_var_log_audit
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/oval/shared.xml
Labels: OVAL

#12628 Add new rule service_dnsmasq_disabled
  components/bind.yml
  components/dnsmasq.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/dns/service_dnsmasq_disabled/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test

#12609 Include Docstrings for ssg/build_yaml.py
  ssg/build_yaml.py
Labels: Documentation

#12624 Update several controls and variables for Ubuntu 24.04 CIS
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/avahi/disable_avahi_group/package_avahi_removed/rule.yml
  linux_os/guide/services/avahi/disable_avahi_group/service_avahi-daemon_disabled/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/rule.yml
  linux_os/guide/services/dns/disabling_dns_server/service_named_disabled/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/package_dovecot_removed/rule.yml
  linux_os/guide/services/imap/disabling_dovecot/service_dovecot_disabled/rule.yml
  linux_os/guide/services/ldap/openldap_server/package_openldap-servers_removed/rule.yml
  linux_os/guide/services/ldap/openldap_server/service_slapd_disabled/rule.yml
  linux_os/guide/services/nfs_and_rpc/nfs_configuring_clients/disabling_nfsd/service_nfs_disabled/rule.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp-server_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/service_tftp_disabled/rule.yml
  linux_os/guide/services/smb/disabling_samba/service_smb_disabled/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/package_net-snmp_removed/rule.yml
  linux_os/guide/services/snmp/disabling_snmp_service/service_snmpd_disabled/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/package_xorg-x11-server-common_removed/rule.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12627 Add new rule service_dhcpd6_disabled
  components/dhcp.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_dhcp_removed/rule.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/service_dhcpd6_disabled/rule.yml
  linux_os/guide/services/dhcp/disabling_dhcp_server/service_dhcpd_disabled/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test

#12618 Add rule sysctl_kernel_yama_ptrace_scope to Ubuntu 24.04 CIS
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope_value.var
Labels: Ubuntu, needs-ok-to-test, Update Rule, Update Profile, CIS

#12621 Add dockerfile for Ubuntu 24.04
  Dockerfiles/test_suite-ubuntu2404
Labels: Ubuntu, needs-ok-to-test

#12626 Update firewalld rules for bootable containers
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/bash/shared.sh
Labels: Image Mode

#12584 Improve rule file_permissions_ungroupowned for use in bootable containers
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/oval/shared.xml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/tests/group_in_usr_lib.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/tests/unowned_in_sysroot.pass.sh
Labels: OVAL, Update Rule, Image Mode

#12638 Add github workflows for ubuntu2404
  .github/workflows/automatus-ubuntu2404.yml
  .github/workflows/gate.yaml
Labels: Ubuntu, needs-ok-to-test

#12637 Update ubuntu2404 CIS control 2.3.2.1
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/dropin_config.pass.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/empty_config.fail.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/no_fallback.fail.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/timesyncd_config.pass.sh
  linux_os/guide/services/ntp/var_multiple_time_pools.var
  linux_os/guide/services/ntp/var_multiple_time_servers.var
Labels: Ubuntu, needs-ok-to-test, Update Profile

#12640 Ubuntu 24.04 5.4.1.5 account_disable_post_pw_expiration 45 days
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, CIS

#12471 Defined notes for BSI SYS.1.6.A24 and A25
  controls/bsi_sys_1_6.yml
Labels: OpenShift, ok-to-test

#12634 Add OCP/RHCOS assertion files for 4.18
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-cis-node-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-high-node-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
  tests/assertions/ocp4/ocp4-stig-node-4.18.yml
  tests/assertions/ocp4/rhcos4-e8-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.18.yml
  tests/assertions/ocp4/rhcos4-moderate-4.18.yml
  tests/assertions/ocp4/rhcos4-stig-4.18.yml
Labels: OpenShift

#12154 Defined notes and rules for BSI APP.4.4.A18
  applications/openshift/networking/configure_appropriate_network_policies/ocp4/e2e.yml
  applications/openshift/networking/configure_appropriate_network_policies/rule.yml
  applications/openshift/networking/project_template_network_policy/rule.yml
  controls/bsi_app_4_4.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, needs-ok-to-test, BSI

#12650 Add rsyslog package applicability to ensure_rsyslog_log_file_configuration group
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/group.yml
  shared/applicability/package.yml
Labels: Image Mode

#12649 Revert "Remove Ubuntu oval and remediation for nftables_rules_permanent"
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/bash/ubuntu.sh
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/oval/ubuntu.xml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/rule.yml
Labels: Ubuntu, needs-ok-to-test

#12528 Defined notes for BSI SYS.1.6.A15
  applications/openshift/networking/configure_network_bandwidth/rule.yml
  controls/bsi_sys_1_6.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test

#12370 Add new version of conntrols file for SYS.1.6.A12 and SYS.1.6.A13- no…
  controls/bsi_sys_1_6.yml
Labels: OpenShift, ok-to-test
