Repository ComplianceAsCode/content, pull requests merged in 2025-09, with the labels that each got.

#13838 Update account_password_* behavior for OL to support only new releases
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
  products/ol8/profiles/stig.profile
  shared/templates/pam_account_password_faillock/oval.template
Labels: Ansible, OVAL, Bash, Oracle Linux, Update Template

#13822 [Ubuntu] Reorder 2.4.1.2 for cis_ubuntu2404
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, CIS

#13845 Auditd_lineinfile: allow specifying data type of XCCDF variable
  docs/templates/template_reference.md
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_freq/rule.yml
  shared/macros/10-oval.jinja
  shared/templates/auditd_lineinfile/oval.template
  shared/templates/auditd_lineinfile/template.py
  shared/templates/auditd_lineinfile/tests/commented.fail.sh
  shared/templates/auditd_lineinfile/tests/correct_value.pass.sh
  shared/templates/auditd_lineinfile/tests/double_assignment.fail.sh
  shared/templates/auditd_lineinfile/tests/wrong_value.fail.sh
  shared/templates/auditd_lineinfile/tests/wrong_value_capital.fail.sh
Labels: Update Template

#13849 Remove OCP STIG V2R1
  Dockerfiles/compliance-operator-content-konflux.Containerfile
  products/ocp4/profiles/stig-node-v2r1.profile
  products/ocp4/profiles/stig-v2r1.profile
  products/rhcos4/profiles/stig-v2r1.profile
Labels: OpenShift, Highlight, STIG

#13872 Add SRG to SSSD package and service rules
  linux_os/guide/services/sssd/package_sssd_installed/rule.yml
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
Labels: Update Rule

#13853 CMP-3539: Configure sast-snyk-check to upload reports to our org
  .tekton/compliance-operator-content-dev-pull-request.yaml
  .tekton/compliance-operator-content-dev-push.yaml
Labels: OpenShift

#13834 Update STIG for RHEL 9 to allow for FIPS:STIG
  controls/stig_rhel9.yml
  linux_os/guide/system/software/integrity/crypto/var_system_crypto_policy.var
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: backported-into-stabilization, RHEL9, Update Profile, STIG

#13884 [Ubuntu2404] Fix root_unlock_time value
  controls/cis_debian12.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_root_unlock_time/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/var_accounts_passwords_pam_faillock_root_unlock_time.var
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#13903 Add a `fedora-cis` sanity test using Packit / Testing Farm
  .packit.yaml
  tests/tmt/.fmf/version
  tests/tmt/plans/contest.fmf
  tests/tmt/plans/fedora-cis.fmf
  tests/tmt/tests/fedora-cis/main.fmf
  tests/tmt/tests/fedora-cis/test.sh
Labels: Fedora, Test Suite, CIS

#13910 Removing duplicated words in /shared/applicability/
  shared/applicability/oval/installed_app_is_eks.xml
  shared/applicability/oval/installed_app_is_eks_node.xml
  shared/applicability/oval/installed_app_is_ocp4.xml
  shared/applicability/oval/installed_app_is_ocp4_node.xml
  shared/applicability/oval/installed_app_is_rhv4.xml
Labels: needs-ok-to-test

#13909 Clarification in describe_module_disable macro
  shared/macros/01-general.jinja
Labels: needs-ok-to-test

#13925 [Ubuntu] Additional fix for rule ensure_root_access_controlled
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/tests/empty.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_root_access_controlled/tests/locked.pass.sh
Labels: Ubuntu, needs-ok-to-test

#13935 Postfix: Use systemd to restart
  linux_os/guide/services/mail/has_nonlocal_mta/tests/correct.pass.sh
  linux_os/guide/services/mail/has_nonlocal_mta/tests/wrong.fail.sh
Labels: needs-ok-to-test

#13937 [Ubuntu] Override tftp name for Ubuntu release
  linux_os/guide/services/obsolete/tftp/package_tftp-server_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/service_tftp_disabled/rule.yml
Labels: needs-ok-to-test

#13938 [Ubuntu] Enable nouser sce for Ubuntu 22.04
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/oval/shared.xml
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/sce/shared.sh
Labels: Ubuntu, needs-ok-to-test

#13947 [Ubuntu] Use correct value for sshd kex and macs
  controls/cis_ubuntu2204.yml
Labels: Ubuntu, needs-ok-to-test

#13948 [Ubuntu] Add new value for variables var_auditd_disk*
  controls/cis_ubuntu2204.yml
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_error_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_full_action.var
Labels: Ubuntu, needs-ok-to-test

#13941 Rewrite Ansible remediation in accounts_user_dot_user_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/ansible/shared.yml
Labels: Ansible

#13943 Rewrite Ansible remediation in accounts_user_dot_group_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/ansible/shared.yml
Labels: Ansible

#13944 Make Ansible in aide_build_database idempotent
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/ansible/shared.yml
Labels: Ansible

#13955 Prevent Ansible errors in accounts_user_dot_user_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/ansible/shared.yml
Labels: BLOCKER, Ansible
