Repository ComplianceAsCode/content, pull requests merged in 2025-02, with the labels that each got.

#12943 Update SRG GPOS to V3R2
  .github/workflows/srg-mapping-table.yaml
  cmake/SSGCommon.cmake
  controls/srg_gpos/SRG-OS-000047-GPOS-00023.yml
  controls/srg_gpos/SRG-OS-000076-GPOS-00044.yml
  controls/srg_gpos/SRG-OS-000355-GPOS-00143.yml
  controls/srg_gpos/SRG-OS-000373-GPOS-00157.yml
  controls/srg_gpos/SRG-OS-000373-GPOS-00158.yml
  controls/srg_gpos/SRG-OS-000805-GPOS-00260.yml
  docs/manual/developer/03_creating_content.md
  shared/references/disa-os-srg-v3r2.xml
  shared/transforms/shared_xccdf2table-profileccirefs.xslt
  utils/create_srg_export.py
Labels: Update Profile

#12949 RHEL8 STIG: update SSH algorithms
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  linux_os/guide/services/ssh/sshd_approved_macs.var
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#12931 Fix ssh include cryptopolicy
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/default_pass.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_crypto.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_drop_in.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_includes.fail.sh
  ssg/build_yaml.py
Labels: RHEL9, STIG

#12886 Fix audit_rules_privileged_commands_unix2_chkpwd
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix2_chkpwd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix2_chkpwd/tests/only_chkpwd_rule.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/tests/only_chkpwd_rule.fail.sh
Labels: bugfix, RHEL10

#12923 Add new variable to set_password_hashing_min_rounds_logindefs rule
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/bash/shared.sh
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, needs-ok-to-test, Update Rule, Update Profile, STIG

#12961 Fix processing platform key in SCE
  ssg/build_sce.py
  tests/unit/ssg-module/test_build_sce_data/selinux_state/sce/shared.sh
Labels: Infrastructure

#12958 Rule: mount_option_boot_efi_nosuid, remove "uefi" platform
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
Labels: productization-issue, CPE-AL, osbuild

#12959 Implement workaround for broken file-traversing rules on Ubuntu 24.04
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/sce/ubuntu.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/auditctl_default.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/auditctl_missing_rule.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/auditctl_one_rule.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/auditctl_rules_configured.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/auditctl_rules_without_perm_x.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_default.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_duplicated.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_extra_rules_configured.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_missing_rule.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_one_rule.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_configured.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_configured_mixed_keys.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_multiple_partitions.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_without_perm_x.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_two_rules_mixed_keys.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_two_rules_sep_files.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/rules_with_own_key.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/oval/shared.xml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/sce/ubuntu.sh
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/tests/world_writable_tmp.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/oval/shared.xml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/sce/ubuntu.sh
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/tests/group_in_usr_lib.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/tests/unowned_file_tmp.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/tests/unowned_in_sysroot.pass.sh
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/oval/shared.xml
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/sce/ubuntu.sh
  linux_os/guide/system/permissions/files/no_files_unowned_by_user/tests/unowned_file_tmp.fail.sh
Labels: needs-ok-to-test

#12962 Fix tests for root_path_no_dot on Ubuntu
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/tests/absolute_path.fail.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/tests/colon_on_path.fail.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/tests/doublecolon_on_path.fail.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/tests/doubleperiod_on_path.fail.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/tests/no_risky_path.pass.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_no_dot/tests/period_on_path.fail.sh
Labels: Test Suite, Ubuntu, needs-ok-to-test

#12967 Remove mentions of /usr/share/auditd/sample-rules
  linux_os/guide/auditing/policy_rules/audit_ospp_general/kubernetes/shared.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_aarch64/kubernetes/shared.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_ppc64le/kubernetes/shared.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: productization-issue

#12966 RHEL8: add back removed rules to keep datastream consistent
  products/rhel8/profiles/default.profile
Labels: bugfix, RHEL8

#12965 add new stig rule accounts_password_pam_pwquality_retry
  components/pam.yml
  controls/srg_gpos/SRG-OS-000069-GPOS-00037.yml
  controls/stig_rhel9.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_retry/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_retry/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: New Rule, RHEL9, Update Profile, STIG

#12940 [Ubuntu2404] Fix rule 5.3.3.4.1
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/nullok_present.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Rule, CIS

#12953 [Ubuntu2404] Only enforce valid profile to avoid apparmor issue
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/correct_apparmor_profiles_enforced.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles_enforced.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#12971 [Ubuntu2404] Fix rule 5.3.3.4.1
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/nullok_present.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#12979 Fix Automatus tests
  shared/templates/rsyslog_logfiles_attributes_modify/tests/legacy_correct_attr_include.pass.sh
Labels: backported-into-stabilization

#12964 CMP-3121: Build ocp4 content for arm64
  .github/workflows/k8s-content-pr.yaml
  Dockerfiles/ocp4_content
Labels: OpenShift

#12963 Adapt audit_rules_suid_privilege_function for Ubuntu 24.04 CIS
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#12974 Adapt audit_rules_suid_privilege_function for Ubuntu 24.04 CIS
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Rule, CIS

#12975 [Ubuntu2404] Only enforce valid profile to avoid apparmor issue
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/correct_apparmor_profiles_enforced.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles_enforced.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#12985 Add templated tests to `tests/validate_automatus_metadata.py`
  tests/validate_automatus_metadata.py
Labels: Test Suite

#12983 Remove the second enable_dracut_fips_module in enable_fips_mode
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
Labels: bugfix, backported-into-stabilization

#12981 Fix variable name in Ubuntu 22.04 CIS profiles
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, needs-ok-to-test, backported-into-stabilization, Update Profile, CIS

#12982 Fix variable name in Ubuntu 22.04 CIS profiles
  products/ubuntu2204/profiles/cis_level1_server.profile
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12998 [Stabilization]: fix set_password_hashing_min_rounds_logindefs
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/ansible/shared.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, Ansible, backported-into-stabilization, RHEL8, STIG

#12995 Update SLE15 STIG version to V2R3
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle15-v2r3-xccdf-manual.xml
Labels: needs-ok-to-test

#13004 Fix set_password_hashing_min_rounds_logindefs
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/ansible/shared.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: bugfix, Ansible, Update Rule, RHEL8, STIG

#13008 Rule: sshd_include_crypto_policy, platform: not osbuild
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/rule.yml
Labels: Ansible, Bash, productization-issue, RHEL9, osbuild

#12996 [Ubuntu2404] Fix the pwquality enable rule
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/missing.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#12997 [Ubuntu2404] Fix the pwquality enable rule
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/tests/missing.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13005 [Ubuntu2404] Fix tests of rule has_nonlocal_mta
  linux_os/guide/services/mail/has_nonlocal_mta/tests/correct.pass.sh
  linux_os/guide/services/mail/has_nonlocal_mta/tests/wrong.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13015 Remove RHEL 8 STIG reference from `file_permission_user_init_files`
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/rule.yml
Labels: backported-into-stabilization

#13016 [stabilization] Remove RHEL 8 STIG reference from `file_permission_user_init_files` - stable
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/rule.yml
Labels: bugfix

#13013 [Ubuntu2404] Fix tests of rule has_nonlocal_mta
  linux_os/guide/services/mail/has_nonlocal_mta/tests/correct.pass.sh
  linux_os/guide/services/mail/has_nonlocal_mta/tests/wrong.fail.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13018 Change link to NTP documentation
  linux_os/guide/services/ntp/group.yml
Labels: Fedora, usability, productization-issue, RHEL10

#13032 Remove stray end if
  shared/templates/sysctl/tests/correct_value_usr_local_lib.pass.sh
Labels: productization-issue

#13024 [Ubuntu2404] Fix tests of no_shelllogin_for_systemaccounts
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/tests/first_sys_uid_max.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/tests/first_sys_uid_min.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/tests/last_sys_uid_max.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_shelllogin_for_systemaccounts/tests/last_sys_uid_min.pass.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13022 Add a default profile for Ubuntu2404 to add all rules to the datastream
  products/ubuntu2404/profiles/default.profile
Labels: Ubuntu, needs-ok-to-test, New Profile

#13023 Add a default profile for Ubuntu2404 to add all rules to the datastream
  products/ubuntu2404/profiles/default.profile
Labels: Ubuntu, needs-ok-to-test, New Profile

#12988 OPENSCAP-5220 Change macro bash_bootc_build
  shared/macros/10-bash.jinja
Labels: Image Mode

#12990 Update RHEL 10 Profiles Titles
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/e8.profile
  products/rhel10/profiles/hipaa.profile
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  products/rhel10/profiles/pci-dss.profile
  products/rhel10/profiles/stig.profile
  products/rhel10/profiles/stig_gui.profile
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
Labels: backported-into-stabilization, Update Profile

#12494 Defined notes and rules for BSI SYS.1.6.A26
  applications/openshift/general/sandboxed_containers_operator_configured/rule.yml
  applications/openshift/general/sandboxed_containers_operator_configured/tests/ocp4/e2e-remediation.sh
  applications/openshift/general/sandboxed_containers_operator_configured/tests/ocp4/e2e.yml
  applications/openshift/general/sandboxed_containers_operator_exists/rule.yml
  applications/openshift/general/sandboxed_containers_operator_exists/tests/ocp4/e2e-remediation.sh
  applications/openshift/general/sandboxed_containers_operator_exists/tests/ocp4/e2e.yml
  controls/bsi_sys_1_6.yml
  ocp-resources/e2e/sandboxed-containers-install.yaml
  ocp-resources/e2e/sandboxed-containers-instance.yaml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test, BSI

#13042 Fixes related to STIG and SSH cryptopolicy
  controls/stig_rhel9.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/oval/shared.xml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel9_stig_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel9_stig_incorrect_policy.fail.sh
Labels: bugfix, OVAL, RHEL9, Update Profile, RHEL8, STIG

#13044 Align file_groupownership_system_commands_dirs with Ubuntu STIGs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/ubuntu.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/oval/ubuntu.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/correct_groupownership_sgid.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/system_account_groupownership.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13043 Align file_groupownership_system_commands_dirs with Ubuntu STIGs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/ubuntu.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/oval/ubuntu.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/correct_groupownership_sgid.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/system_account_groupownership.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13007 [Ubuntu2404] Fix tests of rule grub2_password
  tests/shared/grub2.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13046 Ubuntu: Make stig not applicable for Ubuntu2404
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/tests/commented_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/tests/correct_stig.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/tests/correct_stig_double.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/tests/incorrect_stig.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/tests/incorrect_stig_double.fail.sh
Labels: Test Suite, Ubuntu, needs-ok-to-test

#13026 [Ubuntu2404] Fix remediation of rule accounts_user_dot_user_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/bash/shared.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13027 [Ubuntu2404] Fix remediation of rule accounts_user_dot_group_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/bash/shared.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13031 Update scripts in the creating content doc
  docs/manual/developer/03_creating_content.md
Labels: Documentation, needs-ok-to-test

#13048 Fix rule package_iptables-persistent_installed on Ubuntu 2404
  linux_os/guide/system/network/network-iptables/package_iptables-persistent_installed/rule.yml
Labels: Ubuntu, needs-ok-to-test

#13050 Fix oval and remediations for journald-upload rules
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/oval/shared.xml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/bash/ubuntu.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/oval/shared.xml
Labels: OVAL, Bash, Ubuntu, needs-ok-to-test

#13065 Add missing newline at end of chrony.conf
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#13067 Remove newlines from dpkg-query showformat
  shared/applicability/system_with_kernel.yml
  shared/macros/10-bash.jinja
Labels: Ubuntu, needs-ok-to-test

#13066 Update SLE12 stig version to V3R2
  products/sle12/profiles/stig.profile
  shared/references/disa-stig-sle12-v3r2-xccdf-manual.xml
Labels: needs-ok-to-test

#13074 Fix jinja conditionals in sysctl test
  shared/templates/sysctl/tests/correct_value_usr_local_lib.pass.sh
Labels: needs-ok-to-test

#12945 MULTIARCH-4655: add rhcos4/ocp4 for disa-stig to build
  Dockerfiles/compliance-operator-content-konflux.Containerfile
Labels: OpenShift, ok-to-test

#13082 Remove firewalld from required platforms on ubuntu
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
Labels: Ubuntu, needs-ok-to-test, CIS

#13083 Remove workaround for nfs-utils
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/bash/rhel10.sh
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/rule.yml
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/bash/rhel10.sh
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/rule.yml
Labels: Image Mode

#13092 Fix permissions for shadow files on Ubuntu 24.04
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_gshadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
Labels: bugfix, Ubuntu, needs-ok-to-test

#13072 Release Ubuntu 24.04 CIS v1.0.0 profiles
  controls/cis_ubuntu2404.yml
  products/ubuntu2404/profiles/cis_level1_server.profile
  products/ubuntu2404/profiles/cis_level1_workstation.profile
  products/ubuntu2404/profiles/cis_level2_server.profile
  products/ubuntu2404/profiles/cis_level2_workstation.profile
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#13091 Add rhel10 stability test data
  tests/data/product_stability/rhel10.yml
  tests/data/profile_stability/rhel10/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel10/anssi_bp28_high.profile
  tests/data/profile_stability/rhel10/anssi_bp28_intermediary.profile
  tests/data/profile_stability/rhel10/anssi_bp28_minimal.profile
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel10/e8.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
  tests/data/profile_stability/rhel10/ospp.profile
  tests/data/profile_stability/rhel10/pci-dss.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: Test Suite, RHEL10

#13097 [ubuntu2404] Fix rule 6.2.3.19 Ensure kernel module loading unloading and modification is collected
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, CIS

#13096 [ubuntu2404] Add ubuntu specific configuration path
  linux_os/guide/services/ntp/service_timesyncd_configured/ansible/shared.yml
  linux_os/guide/services/ntp/service_timesyncd_configured/bash/shared.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/oval/shared.xml
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/common.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/dropin_config.pass.sh
Labels: Ubuntu, needs-ok-to-test, Update Rule, CIS

#13019 Introduce Architecture Decisions Records
  docs/adr/0000_architecture_decisions_records.md
  docs/manual/developer/01_introduction.md
Labels: Infrastructure, Documentation, Highlight, governance

#13103 Apply 1.1.1.8 to server_l1 to match the benchmark on RHEL 8
  controls/cis_rhel8.yml
  tests/data/profile_stability/rhel8/cis_server_l1.profile
Labels: needs-ok-to-test, Update Profile, RHEL8, CIS

#13095 [ubuntu2404] New rule: remove pkg inetutils-telnet
  components/inetutils-telnet.yml
  components/telnet.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/obsolete/telnet/package_inetutils-telnet_removed/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, CIS

#13106 Disable remediation for all_apparmor_profiles_in_enforce_complain_mode on Ubuntu
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
  linux_os/guide/system/apparmor/var_apparmor_mode.var
Labels: Ubuntu, needs-ok-to-test, CIS

#13098 [ubuntu2404] Fix 6.2.3.2 Ensure actions as another user are always logged
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
Labels: Ubuntu, needs-ok-to-test, CIS

#13068 Correct the CIS reference for rule ocp4-api-server-api-priority-flowschema-catch-all
  applications/openshift/api-server/api_server_api_priority_flowschema_catch_all/rule.yml
Labels: OpenShift

#13112 Fix dconf key for idle-delay lock on Ubuntu
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/bash/shared.sh
Labels: Bash, Ubuntu, needs-ok-to-test, CIS

#13111 Fix typos and exclude symlinks in file_(group)ownerships_var_log rules
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log/tests/symlink.pass.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_ownerships_var_log/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_ownerships_var_log/tests/symlink.pass.sh
Labels: OVAL, needs-ok-to-test

#13118 Bug fix - version number changed from 1.5.0 to 1.7.0
  products/ocp4/profiles/cis-node.profile
Labels: OpenShift, ok-to-test, CIS

#13089 Stop using deprecated CMake code
  .github/workflows/gate.yaml
  CMakeLists.txt
  cmake/FindPythonModule.cmake
  cmake/SSGCommon.cmake
  tests/CMakeLists.txt
Labels: Infrastructure

#13101 Update OL9 profiles
  controls/ccn_ol9.yml
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
  products/ol9/profiles/anssi_bp28_minimal.profile
  products/ol9/profiles/cui.profile
  products/ol9/profiles/ism_o.profile
  products/ol9/profiles/ospp.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile

#12155 Defined notes and rules for BSI APP.4.4.A19
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/rule.yml
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/tests/deployments_anti_affinity.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/tests/deployments_excluded.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/tests/deployments_no_rules.fail.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/tests/deployments_single_replica.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/tests/deployments_topology_spread_constraints.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/tests/no_deployments.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_deployment/var_deployments_without_high_availability.var
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/rule.yml
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/tests/no_statefulsets.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/tests/statefulsets_anti_affinity.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/tests/statefulsets_excluded.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/tests/statefulsets_no_rules.fail.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/tests/statefulsets_single_replica.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/tests/statefulsets_topology_spread_constraints.pass.sh
  applications/openshift/high-availability/anti_affinity_or_topology_spread_constraints_in_statefulset/var_statefulsets_without_high_availability.var
  applications/openshift/high-availability/control_plane_nodes_in_three_zones/rule.yml
  applications/openshift/high-availability/control_plane_nodes_in_three_zones/tests/no_zones.fail.sh
  applications/openshift/high-availability/control_plane_nodes_in_three_zones/tests/ocp4/e2e.yml
  applications/openshift/high-availability/control_plane_nodes_in_three_zones/tests/three_zones.pass.sh
  applications/openshift/high-availability/control_plane_nodes_in_three_zones/tests/two_nodes.fail.sh
  applications/openshift/high-availability/control_plane_nodes_in_three_zones/tests/two_zones.fail.sh
  applications/openshift/high-availability/group.yml
  applications/openshift/high-availability/infra_nodes_in_two_zones_or_more/rule.yml
  applications/openshift/high-availability/infra_nodes_in_two_zones_or_more/tests/no_infra_nodes.pass.sh
  applications/openshift/high-availability/infra_nodes_in_two_zones_or_more/tests/ocp4/e2e.yml
  applications/openshift/high-availability/infra_nodes_in_two_zones_or_more/tests/one_zone.fail.sh
  applications/openshift/high-availability/infra_nodes_in_two_zones_or_more/tests/three_zones.pass.sh
  applications/openshift/high-availability/multiple_nodes_in_every_mcp/rule.yml
  applications/openshift/high-availability/multiple_nodes_in_every_mcp/tests/master_infra_three_nodes.pass.sh
  applications/openshift/high-availability/multiple_nodes_in_every_mcp/tests/ocp4/e2e.yml
  applications/openshift/high-availability/multiple_nodes_in_every_mcp/tests/single_worker.fail.sh
  applications/openshift/high-availability/three_control_plane_nodes/rule.yml
  applications/openshift/high-availability/three_control_plane_nodes/tests/ocp4/e2e.yml
  applications/openshift/high-availability/three_control_plane_nodes/tests/three_masters.pass.sh
  applications/openshift/high-availability/three_control_plane_nodes/tests/two_masters.fail.sh
  applications/openshift/high-availability/worker_nodes_in_two_zones_or_more/rule.yml
  applications/openshift/high-availability/worker_nodes_in_two_zones_or_more/tests/four_zones.pass.sh
  applications/openshift/high-availability/worker_nodes_in_two_zones_or_more/tests/no_zone.fail.sh
  applications/openshift/high-availability/worker_nodes_in_two_zones_or_more/tests/ocp4/e2e.yml
  applications/openshift/high-availability/worker_nodes_in_two_zones_or_more/tests/one_zone.fail.sh
  applications/openshift/high-availability/worker_nodes_in_two_zones_or_more/tests/three_zones.pass.sh
  controls/bsi_app_4_4.yml
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test, BSI

#13120 Make Delta tailoring for RHEL 8 only
  cmake/SSGCommon.cmake
Labels: Infrastructure

#13094 add a check for secure boot enabled
  components/secureboot.yml
  controls/ism_o.yml
  linux_os/guide/system/secureboot/group.yml
  linux_os/guide/system/secureboot/secure_boot_enabled/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
Labels: New Rule, needs-ok-to-test
