Repository ComplianceAsCode/content, pull requests merged in 2025-05, with the labels that each got.

#13406 [Ubuntu]: Implement stig rule UBTU-24-700400
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/policy/stig/ubuntu2404.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/rule.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13403 [Ubuntu]: Implement rule UBTU-24-400370
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/sssd/sssd_enable_user_cert/oval/shared.xml
  linux_os/guide/services/sssd/sssd_enable_user_cert/rule.yml
  linux_os/guide/services/sssd/sssd_enable_user_cert/tests/commented.fail.sh
  linux_os/guide/services/sssd/sssd_enable_user_cert/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_enable_user_cert/tests/multiple_in_section_and_correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_enable_user_cert/tests/nonexistent_file.fail.sh
  linux_os/guide/services/sssd/sssd_enable_user_cert/tests/wrong_value.fail.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13417 Assorted Updates for SRG GPOS
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  controls/srg_gpos/SRG-OS-000590-GPOS-00110.yml
  controls/srg_gpos/SRG-OS-000780-GPOS-00240.yml
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/policy/stig/shared.yml
Labels: STIG, RHEL10

#13423 Add no remediation tag
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/rule.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/tests/ad_support.fail.sh
Labels: RHEL10

#13424 Remove obsolete rules from RHEL 8 profiles
  products/rhel8/profiles/default.profile
  products/rhel8/profiles/e8.profile
  products/rhel8/profiles/hipaa.profile
  tests/data/profile_stability/rhel8/e8.profile
Labels: RHEL8

#13427 Fix platform in test for grub2_password
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/tests/invalid_username.fail.sh
Labels: RHEL8

#13419 [Ubuntu]: Implement stig rule UBTU-24-700010
  components/filesystem.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/excluded_files.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/excluded_files_similar.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/group_writable_logfile.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/var_logfile_correct_mode.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/world_readable_logfile.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/world_writable_dir.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_var_log_stig/tests/world_writable_logfile.fail.sh
Labels: needs-ok-to-test

#13430 Update TSs for no_nis_in_nsswitch
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/tests/nis_is_one_of_several_dbs.fail.sh
  linux_os/guide/services/obsolete/nis/no_nis_in_nsswitch/tests/nis_is_only_db.fail.sh
Labels: RHEL8

#13431 Fix template sudo_defaults_option
  shared/templates/sudo_defaults_option/bash.template
  shared/templates/sudo_defaults_option/oval.template
Labels: RHEL8

#13428 Add rules to RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000080-GPOS-00048.yml
  controls/srg_gpos/SRG-OS-000163-GPOS-00072.yml
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000368-GPOS-00154.yml
  controls/srg_gpos/SRG-OS-000420-GPOS-00186.yml
  controls/srg_gpos/SRG-OS-000445-GPOS-00199.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
  linux_os/guide/services/ssh/directory_groupowner_sshd_config_d/rule.yml
  linux_os/guide/services/ssh/directory_permissions_sshd_config_d/rule.yml
  linux_os/guide/services/ssh/file_sshd_50_redhat_exists/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld-backend/rule.yml
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG, RHEL10

#13364 Fix ocsp spelling error
  controls/nist_ocp4.yml
  docs/workshop/data/ospp-fedora.profile
  docs/workshop/data/ospp-rhel8.profile
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/missing_ocsp.fail.sh
Labels: needs-ok-to-test

#13418 [Ubuntu]: Implement stig rule UBTU-24-200090
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/bash/ubuntu.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/tests/priority_at_the_end.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13435 Add Ol09-00-002151 to OL9 STIG
  controls/stig_ol9.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value_stig.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value_stig_wrong_db.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/missing_value_stig.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/wrong_value.fail.sh
Labels: Oracle Linux, Update Profile, STIG

#13433 audit_ospp_general_ppc64le: architecture cannot contain 32 bit rules
  linux_os/guide/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: RHEL9, Update Rule, OSPP, RHEL10

#13436 Update version in ol9 stig profile
  products/ol9/profiles/stig.profile
  products/ol9/profiles/stig_gui.profile
Labels: Oracle Linux, STIG

#13434 rhel10 ospp: remove package_scap-security-guide_installed
  products/rhel10/profiles/default.profile
  products/rhel10/profiles/ospp.profile
  tests/data/profile_stability/rhel10/ospp.profile
Labels: Update Profile, OSPP, RHEL10

#13359 Ubuntu 24.04 STIG rule UBTU-24-400360
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/bash/shared.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/oval/shared.xml
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/rule.yml
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/not_configured.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/partial_config.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/partial_config2.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/partial_config3.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_false.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_missing_file.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_true.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13446 Avoid deleting all the conf under /etc/rsyslog.d
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0600.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0601.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0640.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0755.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_duplicate.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_missing.fail.sh
Labels: needs-ok-to-test

#13451 Mark test scenario with remediation header
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/tests/wrong_value.fail.sh
Labels: RHEL8

#13454 [Ubuntu]: Implement stig rule UBTU-24-300024
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13448 Implement OL09-00-900140 in OL9 stig
  controls/stig_ol9.yml
Labels: Oracle Linux, STIG

#13447 Add OL09-00-000285 & OL09-00-000286 STIG ids
  controls/stig_ol9.yml
Labels: needs-ok-to-test

#13453 Stop adding list of contributors to thin data streams
  ssg/build_yaml.py
Labels: Infrastructure

#13460 Remove package_rsh-server_removed from RHEL 8
  products/rhel8/profiles/default.profile
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: RHEL8

#13458 RHEL 10 Ansible fixes
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/tests/lenient_permissions.fail.sh
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/tests/stricter_permissions.pass.sh
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled_accept_default/rule.yml
Labels: Ansible

#13313 Ubuntu 24.04 STIG rule UBTU-24-200680
  components/pam.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_profiled_ssh_confirm/bash/shared.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_profiled_ssh_confirm/oval/shared.xml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_profiled_ssh_confirm/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_profiled_ssh_confirm/tests/banner_etc_profiled_ssh_confirm.fail.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_profiled_ssh_confirm/tests/banner_etc_profiled_ssh_confirm.pass.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_profiled_ssh_confirm/tests/banner_etc_profiled_ssh_confirm_absent_file.fail.sh
  linux_os/guide/system/accounts/accounts-banners/var_ssh_confirm_text.var
Labels: Ubuntu, needs-ok-to-test, STIG

#13445 Speed up build by using JSON for interim atifacts
  build-scripts/build_tests.py
  build-scripts/collect_remediations.py
  build-scripts/compile_all.py
  build-scripts/generate_manifest.py
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/controls.py
  ssg/entities/common.py
  ssg/playbook_builder.py
  ssg/templates.py
  tests/test_components.py
  tests/unit/ssg-module/test_controls.py
  tests/unit/ssg-module/test_playbook_builder_data/profiles/ospp.profile
  tests/unit/ssg-module/test_playbook_builder_data/rules/selinux_state.json
  tests/unit/ssg-module/test_playbook_builder_data/rules/selinux_state.yml
  utils/create_srg_export.py
  utils/gen_profile_table.py
  utils/gen_reference_table.py
  utils/gen_srg_table.py
  utils/render_all_policies.py
  utils/tables/table_renderer.py
  utils/template_renderer.py
Labels: Infrastructure

#13443 Add more rules for RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000396-GPOS-00176.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/ssh/directory_owner_sshd_config_d/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: RHEL10

#13468 Update select rules STIG PSC from RHEL 9 V2R4
  controls/srg_gpos/SRG-OS-000134-GPOS-00068.yml
  controls/srg_gpos/SRG-OS-000433-GPOS-00192.yml
  controls/stig_rhel9.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/gid_passwd_group_same/policy/stig/shared.yml
  linux_os/guide/system/bootloader-grub2/grub2_init_on_free/policy/stig/shared.yml
  linux_os/guide/system/bootloader-grub2/grub2_init_on_free/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_messages/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/policy/stig/shared.yml
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/policy/stig/shared.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL, STIG

#13471 Stop processing templated remediations by Jinja
  ssg/build_remediations.py
  tests/unit/ssg-module/test_build_remediations.py
Labels: Infrastructure

#13464 Implement STIG id Ol09-00-000242
  components/crypto-policies.yml
  components/fips.yml
  controls/stig_ol9.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_policy_symlinks/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/fips_crypto_policy_symlinks/rule.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_policy_symlinks/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/fips/fips_crypto_policy_symlinks/tests/wrong.fail.sh
Labels: Oracle Linux, New Rule, STIG

#13472 Remove deprecated rule from draft RHEL10 STIG
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/policy/stig/shared.yml
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG

#13475 Drop irrelevant rules for SLE platform
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/standard.profile
Labels: SLES, Update Profile, ANSSI

#13473 Import More PSC for RHEL 9/10 STIG
  controls/stig_rhel9.yml
  linux_os/guide/services/cron_and_at/file_groupowner_cron_d/policy/stig/shared.yml
  linux_os/guide/services/cron_and_at/file_owner_cron_d/policy/stig/shared.yml
  linux_os/guide/services/cron_and_at/file_permissions_cron_d/policy/stig/shared.yml
  linux_os/guide/services/cron_and_at/file_permissions_crontab/policy/stig/shared.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/policy/stig/shared.yml
  linux_os/guide/services/ntp/chronyd_server_directive/policy/stig/shared.yml
  linux_os/guide/services/ssh/directory_groupowner_sshd_config_d/policy/stig/shared.yml
  linux_os/guide/services/ssh/directory_owner_sshd_config_d/policy/stig/shared.yml
  linux_os/guide/services/ssh/directory_permissions_sshd_config_d/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_groupowner_sshd_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_groupowner_sshd_drop_in_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_owner_sshd_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_drop_in_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/policy/stig/shared.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/policy/stig/rhel10.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/policy/stig/shared.yml
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/fips/sysctl_crypto_fips_enabled/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/policy/stig/shared.yml
Labels: RHEL, STIG

#13480 [workflow] Fix ansible for Ubuntu workflow
  .github/workflows/automatus.yaml
  Dockerfiles/test_suite-fedora
Labels: Infrastructure, needs-ok-to-test

#13482 Move RHEL 9 E8 profile to use the e8 control file
  products/rhel9/profiles/e8.profile
  tests/data/profile_stability/rhel9/e8.profile
Labels: Infrastructure, RHEL9

#13492 Remove authselect selections from RHEL 10 OSPP
  controls/ospp.yml
  products/rhel10/profiles/ospp.profile
  tests/data/profile_stability/rhel10/ospp.profile
Labels: Oracle Linux, OSPP, RHEL10

#13438 Fix priority of configuation for rule rsyslog_filecreatemode
  linux_os/guide/system/logging/rsyslog_filecreatemode/ansible/shared.yml
  linux_os/guide/system/logging/rsyslog_filecreatemode/bash/shared.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0600.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0601.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0640.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0755.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_duplicate.fail.sh
Labels: needs-ok-to-test

#13504 Update rule selection for OL09-00-000222
  controls/stig_ol9.yml
Labels: Oracle Linux, STIG

#13506 Add OL9 to platform in ssh ciphers rule's bash
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/bash/shared.sh
Labels: Bash, Oracle Linux

#13505 Update rule selection for OL09-00-000262
  controls/stig_ol9.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_correct_followed_by_incorrect_commented.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_empty_file.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_empty_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_incorrect_followed_by_correct_commented.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_incorrect_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/tests/stig_missing_file.fail.sh
Labels: Oracle Linux, STIG

#13511 Move RHEL 9 ISM O Profile to Control File
  products/rhel9/profiles/ism_o.profile
  tests/data/profile_stability/rhel9/ism_o.profile
Labels: RHEL9, Update Profile

#13501 Remove ubuntu2404 from conditionals in unused rules
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/rule.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_ownership/rule.yml
Labels: needs-ok-to-test

#13495 Update mount_option_home_nodev template for OL
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
Labels: needs-ok-to-test

#13514 OPENSCAP-5551: Use control file in RHEL 9 HIPAA
  products/rhel9/profiles/hipaa.profile
  tests/data/profile_stability/rhel9/hipaa.profile
Labels: RHEL9

#13518 Add OL9 to accounts_password_pam_enforce_root oval file
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/oval/shared.xml
Labels: Oracle Linux, needs-ok-to-test

#13520 add debian13 support
  CMakeLists.txt
  build_product
  products/debian13/CMakeLists.txt
  products/debian13/product.yml
  products/debian13/profiles/standard.profile
  products/debian13/transforms/constants.xslt
  products/debian13/transforms/table-style.xslt
  products/debian13/transforms/xccdf-apply-overlay-stig.xslt
  products/debian13/transforms/xccdf2table-cce.xslt
  products/debian13/transforms/xccdf2table-profileccirefs.xslt
  shared/applicability/oval/installed_OS_is_debian13.xml
  ssg/constants.py
Labels: needs-ok-to-test
