Repository ComplianceAsCode/content, pull requests merged in 2025-01, with the labels that each got.

#12758 Update set_password_hashing_algorithm_passwordauth for RHEL 10 STIG
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/policy/stig/rhel10.yml
Labels: Update Rule, STIG, RHEL10

#12607 Improve audit_rules_privileged_commands
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/oval/shared.xml
Labels: Image Mode

#12767 Fix ensure_redhat_gpgkey_installed on RHEL 10
  products/rhel10/product.yml
Labels: productization-issue, RHEL10

#12776 Enable OSPP profile in RHEL 10
  controls/ospp.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_flush/rule.yml
  linux_os/guide/services/fapolicyd/package_fapolicyd_installed/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/rule.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_page_alloc_shuffle_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_bls_entries_only/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_bootmap_is_up_to_date/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_page_alloc_shuffle_argument/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_sctp_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_bluetooth_disabled/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_kexec_load_disabled/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  linux_os/guide/system/selinux/selinux_state/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/rule.yml
  linux_os/guide/system/software/updating/package_dnf-automatic_installed/rule.yml
  products/rhel10/profiles/ospp.profile
  shared/references/cce-redhat-avail.txt
Labels: OSPP, RHEL10

#12778 Fix the _rule_id and var access in template.py of pam_account_password_faillock
  shared/templates/pam_account_password_faillock/template.py
Labels: needs-ok-to-test

#12773 Ubuntu 24.04: Implement rule 5.3.3.2.8 Ensure password quality is enforced for the root user
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12774 Ubuntu 24.04: Implement rule 5.3.3.4.3 Ensure pam_unix includes a strong password hashing algorithm
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12771 Ubuntu 24.04: Implement rule 5.3.3.1.1 Ensure password failed attempts lockout is configured
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12791 Update file_permissions_unauthorized_world_writable
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/bash/shared.sh
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/oval/shared.xml
Labels: Image Mode

#12789 Use nss-altfiles in file_groupowner_etc_chrony_keys
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/oval/shared.xml
  linux_os/guide/system/permissions/files/file_permissions_ungroupowned/oval/shared.xml
  shared/macros/10-oval.jinja
Labels: OVAL, Image Mode

#12796 Fix the ctest of python-unit-utils/oscal
  .github/workflows/gate.yaml
  requirements.txt
Labels: needs-ok-to-test

#12798 Bump OpenSCAP Version for Windows Tests
  .github/workflows/gate.yaml
Labels: Infrastructure

#12805 Remove RHEL-08-020220 and RHEL-08-020221 from the RHEL 8 STIG
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#12797 Extend SSG library to more easily collect profile selections
  ssg/profiles.py
  ssg/variables.py
  tests/unit/ssg-module/test_profiles.py
  tests/unit/ssg-module/test_variables.py
Labels: Infrastructure

#12782 Adjust `set_password_hashing_algorithm_*` for RHEL 10
  controls/ism_o.yml
  controls/srg_gpos/SRG-OS-000730-GPOS-00190.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/authselect_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/authselect_incorrect_option.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/authselect_missing_option.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/authselect_multiple_options.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/tests/authselect_wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/authselect_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/authselect_incorrect_option.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/authselect_missing_option.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/authselect_multiple_options.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/authselect_wrong_control.fail.sh
Labels: Bash, RHEL10

#12793 Fix architecture applicability checks
  shared/applicability/aarch64_arch.yml
  shared/applicability/not_aarch64_arch.yml
  shared/applicability/not_s390x_arch.yml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_aarch64.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_ppc64le.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_s390x.xml
  shared/applicability/oval/proc_sys_kernel_osrelease_arch_x86_64.xml
  shared/applicability/ppc64le_arch.yml
  shared/applicability/s390x_arch.yml
  shared/applicability/x86_64_arch.yml
  shared/macros/10-oval.jinja
Labels: needs-ok-to-test

#12635 Adjust 4.12 pci-dss-node assertion
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.13.yml
Labels: OpenShift

#12770 Ubuntu 24.04: Implement 5.3.3.4.1 Ensure pam_unix does not include nullok
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present_password_auth.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Rule, Update Profile, CIS

#12772 Ubuntu 24.04: Implement rule 5.3.3.1.2 Ensure password unlock time is configured
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12780 Ubuntu 24.04: Implement rule 5.3.3.4.2 Ensure pam_unix does not include remember
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/tests/no_remember.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/tests/remember_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/tests/remember_present.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12777 Ubuntu 24.04: Implement rule 5.4.2.2 Ensure root is the only GID 0 account
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/tests/other_user_uid_0.fail.sh
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12785 Minor typo fix
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/rhel7_correct_value_cis_l2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/rhel7_correct_value_cis_l2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/wrong_value.fail.sh
  tests/unit/ssg-module/data/controls_dir/abcd-levels.yml
  tests/unit/ssg-module/data/minimal_oval_of_oval_ssg-sshd_rekey_limit_def.xml
Labels: enhancement, ok-to-test

#12786 Adjust ansible_audit_augenrules_add_syscall_rule to 600
  shared/macros/10-ansible.jinja
Labels: Ansible

#12825 Update enable_fips_mode for bootable containers
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/bash/shared.sh
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/rule.yml
  shared/checks/oval/installed_env_is_a_container.xml
Labels: Image Mode

#12819 Create a minimalist reproduction of content directory for unit tests
  tests/unit/ssg-module/data/content_dir/controls/abcd-levels.yml
  tests/unit/ssg-module/data/content_dir/linux_os/guide/benchmark.yml
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/configure_crypto_policy/rule.yml
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/file_groupownership_sshd_private_key/rule.yml
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/group.yml
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/sshd_set_keepalive/rule.yml
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/var_password_pam_minlen.var
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/var_sshd_set_keepalive.var
  tests/unit/ssg-module/data/content_dir/linux_os/guide/test/var_system_crypto_policy.var
  tests/unit/ssg-module/data/content_dir/products/rhel8/product.yml
  tests/unit/ssg-module/data/content_dir/products/rhel8/profiles/example.profile
  tests/unit/ssg-module/test_profiles.py
Labels: Test Suite

#12816 Make it flexible to load macros in SSG
  ssg/jinja.py
  ssg/variables.py
  ssg/yaml.py
  tests/unit/ssg-module/test_jinja.py
  tests/unit/ssg-module/test_variables.py
  tests/unit/ssg-module/test_yaml.py
Labels: enhancement, Infrastructure

#12807 Fix failing file_permissions_crontab
  controls/pcidss_4.yml
  linux_os/guide/services/cron_and_at/package_cron_installed/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Labels: pci-dss, Image Mode

#12790 Fix auditd rule to watch apparmor instead of selinux on Ubuntu
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/bash/ubuntu.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/oval/ubuntu.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/auditctl_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/augen_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/augen_correct_without_key.pass.sh
Labels: Ubuntu, ok-to-test

#12836 Fix RHEL 10 ISM profile fails in Image Mode
  controls/ism_o.yml
Labels: Update Profile, RHEL10, Image Mode

#12824 RHEL 9 STIG: make sysctl_user_max_user_namespaces not scored and informational
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: bugfix, RHEL9, Update Profile, STIG

#12818 Ubuntu 24.04: Implement 2.1.21 Ensure mail transfer agent is configured for local-only mode
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/mail/has_nonlocal_mta/oval/shared.xml
  linux_os/guide/services/mail/has_nonlocal_mta/tests/correct.pass.sh
  linux_os/guide/services/mail/has_nonlocal_mta/tests/wrong.fail.sh
Labels: OVAL, Ubuntu, needs-ok-to-test, Update Profile, CIS

#12822 Implement new rule firewall_single_service_active
  components/nftables.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/network/firewall_single_service_active/oval/shared.xml
  linux_os/guide/system/network/firewall_single_service_active/rule.yml
  linux_os/guide/system/network/firewall_single_service_active/tests/multiple.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/tests/none.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/tests/single.pass.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12835 Add new rule no_nologin_in_shells
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/tests/commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/tests/exists.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/tests/missing.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/tests/multiple.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/no_nologin_in_shells/tests/similar.pass.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12841 disable_ctrlaltdel_burstaction: make sure config file exists
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/tests/line_not_there.fail.sh
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_burstaction/tests/wrong_value.fail.sh
Labels: bugfix

#12760 Ubuntu 24.04 5.3.3.4.4 Ensure pam_unix includes use_authtok
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_conflicting_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_conflicting_values2.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value_initial.pass.sh
  shared/macros/10-bash.jinja
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12815 Fix the bash conditional for checking system architecture
  shared/applicability/aarch64_arch.yml
  shared/applicability/not_aarch64_arch.yml
  shared/applicability/not_s390x_arch.yml
  shared/applicability/ppc64le_arch.yml
  shared/applicability/s390x_arch.yml
  shared/applicability/x86_64_arch.yml
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
Labels: needs-ok-to-test, Update Rule

#12828 Add new rules to replace audit_rules_mac_modification on Ubuntu
  components/audit.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_etc_apparmor/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_etc_apparmor_d/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12839 Add custom test scenario dconf_gnome_lock_screen_on_smartcard_removal
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_lock_screen_on_smartcard_removal/tests/wrong_value.fail.sh
Labels: bugfix, Test Suite

#12844 Add a script to ensure coredump configuration file exists
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/tests/common.sh
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/tests/coredumps_processsizemax_0.pass.sh
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/tests/coredumps_processsizemax_default.fail.sh
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/tests/coredumps_processsizemax_nonzero.fail.sh
Labels: bugfix, RHEL10

#12845 Enable correct OVAL criteria for RHEL9/RHEL10 in file_ownership_var_log_audit_stig
  linux_os/guide/auditing/auditd_configure_rules/file_ownership_var_log_audit_stig/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/file_ownership_var_log_audit_stig/tests/correct_value_default_file.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_ownership_var_log_audit_stig/tests/wrong_value_default_file.fail.sh
Labels: bugfix, RHEL10

#12817 Create Public Cloud Hardening profile for SLE Micro5
  products/slmicro5/profiles/pcs-hardening.profile
Labels: SLES, needs-ok-to-test, New Profile

#12855 Fix file_permissions_etc_audit_rulesd in Image Mode
  shared/macros/10-bash.jinja
Labels: Bash, Image Mode

#12842 Fix broken links in CO rules
  applications/openshift/risk-assessment/scansetting_has_autoapplyremediations/rule.yml
  applications/openshift/risk-assessment/scansettingbinding_exists/rule.yml
  applications/openshift/risk-assessment/scansettings_have_schedule/rule.yml
Labels: OpenShift

#12850 Fix CIS reference URI for AlmaLinux 9
  products/almalinux9/product.yml
Labels: bugfix, needs-ok-to-test

#12847 Fix RHEL 8 CIS reference on Ensure noexec option set on /var/tmp
  controls/cis_rhel8.yml
Labels: bugfix, RHEL8, CIS

#12826 rhel10: use new rule for auditing of changes to selinux configuration
  components/audit.yml
  controls/anssi.yml
  controls/cis_rhel10.yml
  controls/hipaa.yml
  controls/pcidss_4.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_etc_selinux/rule.yml
  shared/references/cce-redhat-avail.txt
Labels: New Rule, CIS, ANSSI, pci-dss, RHEL10

#12837 Remove GitPod comment from CTF workflow
  .github/workflows/ctf.yaml
  README.md
Labels: Infrastructure

#12846 Authselect profile minimal is now called local in RHEL10
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/common.sh
  linux_os/guide/system/accounts/enable_authselect/tests/not_remediable.fail.sh
  linux_os/guide/system/accounts/enable_authselect/tests/profile.pass.sh
  linux_os/guide/system/accounts/enable_authselect/tests/remediable.fail.sh
  linux_os/guide/system/accounts/var_authselect_profile.var
Labels: bugfix, RHEL10

#12851 Add AlmaLinux 9 to CI
  .github/workflows/gate_fedora.yml
Labels: Infrastructure

#12856 Add kickstart remediation to service_kdump_disabled
  linux_os/guide/services/base/service_kdump_disabled/kickstart/shared.cfg
Labels: RHEL10

#12860 Use `dedicated_ssh_keyowner` variable in test scenarios
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/tests/altcorrect_permissions.pass.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/tests/altlenient_permissions.fail.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/tests/supercompliance.pass.sh
Labels: bugfix

#12861 require_singleuser_auth: rewrite rule to use systemd override mechanism
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_dropin.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/wrong_dropin.fail.sh
  shared/macros/10-bash.jinja
Labels: bugfix, Ansible, Bash, RHEL9, Update Rule, RHEL8

#12862 Fix sssd service enabled test scenarios
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
  linux_os/guide/services/sssd/service_sssd_enabled/tests/common.sh
Labels: bugfix, RHEL10

#12843 Add -Initial line without use_authtok for pwhistory configuration
  shared/macros/10-bash.jinja
Labels: enhancement, Ubuntu, needs-ok-to-test

#12838 Ubuntu 24.04: Implement rule 5.4.2.5 Ensure root path integrity
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/no_dirs_unowned_by_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/root_paths/no_dirs_unowned_by_root/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/no_dirs_unowned_by_root/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/no_dirs_unowned_by_root/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/tests/wrong.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12784 Ubuntu 24.04: Implement rule 5.3.3.3.1 Ensure password history remember is configured
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/tests/ubuntu_argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/tests/ubuntu_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/tests/ubuntu_wrong_value.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12848 Change shellcheck tests
  cmake/SSGCommon.cmake
Labels: Infrastructure

#11818 Firewall technology related rules per service and package change logic according to interactive profile variable
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_deactivation/package_firewalld_removed/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_deactivation/service_firewalld_disabled/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/service_ip6tables_enabled/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/service_iptables_enabled/rule.yml
  linux_os/guide/system/network/network-iptables/package_iptables_installed/rule.yml
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  linux_os/guide/system/network/var_network_filtering_service.var
  products/sle12/profiles/default.profile
  products/sle15/profiles/cis.profile
  products/sle15/profiles/default.profile
  shared/macros/10-oval.jinja
  shared/templates/package_installed_guard_var/ansible.template
  shared/templates/package_installed_guard_var/bash.template
  shared/templates/package_installed_guard_var/oval.template
  shared/templates/package_installed_guard_var/template.py
  shared/templates/package_installed_guard_var/template.yml
  shared/templates/package_removed_guard_var/ansible.template
  shared/templates/package_removed_guard_var/bash.template
  shared/templates/package_removed_guard_var/oval.template
  shared/templates/package_removed_guard_var/template.yml
  shared/templates/service_disabled_guard_var/ansible.template
  shared/templates/service_disabled_guard_var/bash.template
  shared/templates/service_disabled_guard_var/oval.template
  shared/templates/service_disabled_guard_var/template.py
  shared/templates/service_disabled_guard_var/template.yml
  shared/templates/service_enabled_guard_var/ansible.template
  shared/templates/service_enabled_guard_var/bash.template
  shared/templates/service_enabled_guard_var/oval.template
  shared/templates/service_enabled_guard_var/template.py
  shared/templates/service_enabled_guard_var/template.yml
Labels: Ansible, OVAL, Bash, SLES, New Template

#12864 require_singleuser_auth:update prose
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
Labels: Update Rule, STIG

#12799 Ubuntu 24.04: Implement rule 5.3.3.3.2 Ensure password history is enforced for the root user
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_root/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_root/tests/ubuntu_argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_root/tests/ubuntu_commented_argument.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_root/tests/ubuntu_correct_value.pass.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12800 Ubuntu 24.04: Implement rule 5.3.3.3.3 Ensure pam_pwhistory includes use_authtok
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/ubuntu_argument_missing_first_line.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/ubuntu_argument_missing_second_line.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/ubuntu_commented_argument.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/ubuntu_commented_argument_first_line.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/ubuntu_correct_first_line.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/ubuntu_null.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12823 Ubuntu 24.04: Implement 2.3.1.1 Ensure a single time synchronization daemon is in use
  components/chrony.yml
  components/ntp.yml
  components/systemd.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ntp/ntp_single_service_active/oval/shared.xml
  linux_os/guide/services/ntp/ntp_single_service_active/rule.yml
  linux_os/guide/services/ntp/ntp_single_service_active/tests/multiple.fail.sh
  linux_os/guide/services/ntp/ntp_single_service_active/tests/none.fail.sh
  linux_os/guide/services/ntp/ntp_single_service_active/tests/single.pass.sh
  linux_os/guide/services/ntp/service_chronyd_disabled/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_disabled/rule.yml
  shared/applicability/package.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12881 Remove package_xinetd_removed from RHEL 10
  controls/cis_rhel10.yml
Labels: bugfix, RHEL10

#12868 Improve OVAL and tests for accounts_password_pam_unix_authtok
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_commented_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_pam_unix.fail.sh
Labels: Test Suite, OVAL, needs-ok-to-test

#12885 Make `coredump_disable_storage/coredumps_storage_none.pass` work on RHEL 10
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/tests/coredumps_storage_none.pass.sh
Labels: Test Suite, RHEL10

#12884 Update `logind_session_timeout/not_configured.fail` to handle if the systemd config is not there
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/not_configured.fail.sh
Labels: Test Suite, RHEL10

#12867 Process files in tests/shared by Jinja
  shared/checks/oval/audit_rules_augenrules.xml
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Labels: Test Suite, RHEL10

#12857 Add new rule logging_services_active
  components/rsyslog.yml
  components/systemd.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/logging/logging_services_active/oval/shared.xml
  linux_os/guide/system/logging/logging_services_active/rule.yml
  linux_os/guide/system/logging/logging_services_active/tests/journald.pass.sh
  linux_os/guide/system/logging/logging_services_active/tests/multiple.pass.sh
  linux_os/guide/system/logging/logging_services_active/tests/none.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/oval/shared.xml
  linux_os/guide/system/network/firewall_single_service_active/tests/multiple.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/tests/none.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/tests/single.pass.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12889 Ubuntu 24.04: Implement rule 5.4.2.8 Ensure accounts without a valid login shell are locked
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/tests/asterisks.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/tests/invalid_shell.fail.sh
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12871 Workaround package_nfs-utils_removed issue on bootable containers
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/bash/rhel10.sh
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/rule.yml
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/bash/rhel10.sh
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/rule.yml
Labels: RHEL10, Image Mode

#12891 RHEL now checks no other users have primary group ID 0
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/tests/other_user_uid_0.fail.sh
Labels: bugfix

#12882 Update `sssd_enable_smartcards` for RHEL 10
  linux_os/guide/services/sssd/sssd_enable_smartcards/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/oval/shared.xml
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_modified_pam.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_disabled.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_enabled.pass.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_enabled_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_enabled_lower.pass.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_false.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_false_conf_d.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_missing_file.fail.sh
Labels: Update Rule, RHEL10

#12892 Fix NERC CIP Link
  shared/transforms/shared_constants.xslt
  ssg/constants.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
  tests/unit/ssg-module/data/accounts_tmout.xml
Labels: bugfix

#12899 Move to `enable_fips_mode` from `grub2_enable_fips_mode` in RHEL 10
  controls/ism_o.yml
  controls/srg_gpos/SRG-OS-000396-GPOS-00176.yml
  controls/srg_gpos/SRG-OS-000478-GPOS-00223.yml
Labels: bugfix

#12896 Update tests for file_groupownership_sshd_private_key
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/correct_groupowner.pass.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/multiple_keys.fail.sh
Labels: bugfix

#12897 Update X Servers Rules for Wayland
  controls/cis_rhel10.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
Labels: bugfix, Update Rule

#12902 Switch to _guard_var templates for firewall rules on Ubuntu 24.04
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/network/network-iptables/package_iptables_installed/rule.yml
  linux_os/guide/system/network/network-iptables/package_iptables_installed/tests/rhel8.fail.sh
  linux_os/guide/system/network/network-iptables/package_iptables_installed/tests/rhel9.2.notapplicable.sh
  linux_os/guide/system/network/network-iptables/package_iptables_installed/tests/rhel9.notapplicable.sh
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  linux_os/guide/system/network/network-ufw/package_ufw_installed/rule.yml
  linux_os/guide/system/network/network-ufw/package_ufw_removed/rule.yml
  linux_os/guide/system/network/network-ufw/service_ufw_enabled/rule.yml
  linux_os/guide/system/network/var_network_filtering_service.var
  shared/templates/package_installed_guard_var/ansible.template
  shared/templates/package_installed_guard_var/bash.template
  shared/templates/package_installed_guard_var/oval.template
  shared/templates/package_installed_guard_var/tests/package-installed-removed.fail.sh
  shared/templates/package_installed_guard_var/tests/package-installed.pass.sh
  shared/templates/package_installed_guard_var/tests/package-removed-wrong-var.pass.sh
  shared/templates/package_installed_guard_var/tests/package-removed.fail.sh
  shared/templates/package_removed_guard_var/ansible.template
  shared/templates/package_removed_guard_var/bash.template
  shared/templates/package_removed_guard_var/oval.template
  shared/templates/package_removed_guard_var/tests/package-installed-correct-var.pass.sh
  shared/templates/package_removed_guard_var/tests/package-installed-removed.pass.sh
  shared/templates/package_removed_guard_var/tests/package-installed.fail.sh
  shared/templates/package_removed_guard_var/tests/package-removed.pass.sh
  shared/templates/service_disabled_guard_var/oval.template
  shared/templates/service_disabled_guard_var/tests/service_disabled.pass.sh
  shared/templates/service_disabled_guard_var/tests/service_enabled-var_is_value.pass.sh
  shared/templates/service_disabled_guard_var/tests/service_enabled-var_not_value.fail.sh
  shared/templates/service_enabled_guard_var/ansible.template
  shared/templates/service_enabled_guard_var/bash.template
  shared/templates/service_enabled_guard_var/tests/service_disabled-var_not_value.pass.sh
  shared/templates/service_enabled_guard_var/tests/service_disabled.fail.sh
  shared/templates/service_enabled_guard_var/tests/service_enabled.pass.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#12906 Ubuntu 24.04: Implement rule 5.3.3.1.3 Ensure password failed attempts lockout includes root account
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_root_unlock_time/rule.yml
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12910 add negative check to exclude openshift from bootc check
  shared/applicability/bootc.yml
  shared/applicability/oval/bootc.xml
  shared/checks/oval/bootc.xml
Labels: OpenShift, needs-ok-to-test, CPE-AL, Image Mode

#12909 Remove DISA-STIG OL9-214030 requirement
  controls/stig_ol9.yml
Labels: needs-ok-to-test

#12858 install_vm: Add default osinfo for RHEL distro
  tests/install_vm.py
Labels: RHEL, Test Suite

#12915 gdm package cannot be removed in stig_gui profile
  products/rhel10/profiles/stig_gui.profile
Labels: Update Profile, STIG, RHEL10

#12914 Fix rule firewalld_sshd_port_enabled OVAL check
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
Labels: OVAL, Update Rule

#12919 Fix path to timesyncd.conf for sle15
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/ansible/shared.yml
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/bash/shared.sh
  linux_os/guide/services/ntp/service_timesyncd_root_distance_configured/oval/shared.xml
Labels: Ansible, OVAL, Bash, SLES

#12890 Update profiles ol8
  products/ol8/profiles/anssi_bp28_enhanced.profile
  products/ol8/profiles/anssi_bp28_high.profile
  products/ol8/profiles/anssi_bp28_intermediary.profile
  products/ol8/profiles/anssi_bp28_minimal.profile
  products/ol8/profiles/cui.profile
  products/ol8/profiles/ism_o.profile
  products/ol8/profiles/ospp.profile
  products/ol8/profiles/pci-dss.profile
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  products/ol9/profiles/pci-dss.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile

#12924 Update RHEL 8 STIG to V2R1
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v2r2-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#12912 Update several controls for Ubuntu 24.04 CIS
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12903 Switch to _guard_var templates for timesync rules on Ubuntu 24.04
  controls/cis_ubuntu2404.yml
  linux_os/guide/services/ntp/package_chrony_installed/rule.yml
  linux_os/guide/services/ntp/package_timesyncd_installed/rule.yml
  linux_os/guide/services/ntp/package_timesyncd_removed/rule.yml
  linux_os/guide/services/ntp/service_chronyd_disabled/rule.yml
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_disabled/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_enabled/rule.yml
  linux_os/guide/services/ntp/var_timesync_service.var
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12913 Fix package and service name overrides for Ubuntu 24.04
  linux_os/guide/auditing/package_audit-audispd-plugins_installed/rule.yml
  linux_os/guide/auditing/package_audit_installed/rule.yml
  linux_os/guide/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/services/ldap/openldap_client/package_openldap-clients_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/package_rsh_removed/rule.yml
  linux_os/guide/services/ssh/service_sshd_enabled/rule.yml
  linux_os/guide/system/apparmor/apparmor_configured/rule.yml
  linux_os/guide/system/software/gnome/package_gdm_removed/rule.yml
Labels: Ubuntu, needs-ok-to-test, Update Rule, CIS

#12918 Add systemd check if it is running for systemctl start commands
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_checking_systemd_timer/bash/shared.sh
  shared/macros/10-bash.jinja
  shared/templates/service_disabled/bash.template
  shared/templates/service_enabled/bash.template
  shared/templates/socket_disabled/bash.template
  shared/templates/systemd_mount_enabled/bash.template
  shared/templates/timer_enabled/bash.template
Labels: Bash, Update Template

#12927 Add ubuntu platform to grub2_bootloader_argument template
  shared/templates/grub2_bootloader_argument/bash.template
Labels: Ubuntu, needs-ok-to-test

#12928 Add ubuntu platforms to auditd_data_disk_error_action remediation
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/bash/shared.sh
Labels: Bash, Ubuntu, needs-ok-to-test

#12930 add rule fapolicy_default_deny to rhel9 stig
  controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL9, STIG

#12921 Some small patches for SLE15 CIS related remediations
  linux_os/guide/services/ntp/chronyd_run_as_chrony_user/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_deny_root/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2_deny_root/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/ansible/shared.yml
Labels: Ansible, Bash, SLES

#12929 Umask interactive users limit depth
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/tests/deeper_than_two_levels_ignored.pass.sh
Labels: RHEL9, STIG

#12917 Update mount_option_proc_hidepid to include OL9 product
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_and_runtime.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_only.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/missing_option.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/runtime_only.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/wrong_value.fail.sh
  linux_os/guide/system/permissions/partitions/var_mount_option_proc_hidepid.var
Labels: needs-ok-to-test, Update Rule

#12932 Update OL8 V2R3
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
  shared/references/disa-stig-ol8-v2r3-xccdf-manual.xml
Labels: Oracle Linux, needs-ok-to-test, STIG

#12933 Remove xwindows_remove_packages from RHEL 10
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Labels: RHEL10

#12922 Update RHEL 9 STIG to V2R3
  components/openssh.yml
  controls/stig_rhel9.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_audit_configuration/rule.yml
  linux_os/guide/services/ssh/file_groupowner_sshd_drop_in_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_groupowner_sshd_drop_in_config/rule.yml
  linux_os/guide/services/ssh/file_groupowner_sshd_drop_in_config/tests/ocp4/e2e.yml
  linux_os/guide/services/ssh/file_owner_sshd_drop_in_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_owner_sshd_drop_in_config/rule.yml
  linux_os/guide/services/ssh/file_owner_sshd_drop_in_config/tests/ocp4/e2e.yml
  linux_os/guide/services/ssh/file_permissions_sshd_drop_in_config/policy/stig/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_drop_in_config/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_drop_in_config/tests/ocp4/e2e.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/rule.yml
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
  linux_os/guide/services/ssh/sshd_strong_macs.var
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/commented_out.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/correct_config.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/correct_drop_in.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/not_there.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/var_password_pam_unix_rounds.var
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log_audit/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  shared/references/cce-redhat-avail.txt
  shared/references/disa-stig-rhel9-v2r2-xccdf-manual.xml
  shared/references/disa-stig-rhel9-v2r3-xccdf-manual.xml
  shared/templates/accounts_password/ansible.template
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/tests/conflicting_values_directory.fail.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/wrong_value_directory.fail.sh
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL9, Update Profile

#12852 Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/oval/shared.xml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/empty-conf-file.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-d.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-mixed.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey-missing.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/oval/shared.xml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/empty-conf-file-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-d-url.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-mixed-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.pass.sh
  linux_os/guide/system/logging/journald/var_journal_upload_server_certificate_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_server_key_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_server_trusted_certificate_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_url.var
Labels: Ubuntu, New Rule, needs-ok-to-test, Update Profile, CIS

#12934 Add missing rule to Ubuntu 24.04 CIS control 2.4.1.8
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12936 Add missing rule to Ubuntu 24.04 CIS control 6.2.4.5
  controls/cis_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, Update Profile, CIS

#12937 Disable bootc applicability checks on Ubuntu
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_grub2_cfg/rule.yml
  linux_os/guide/system/permissions/partitions/group.yml
  linux_os/guide/system/software/disk_partitioning/group.yml
Labels: Ubuntu, needs-ok-to-test

#12926 Update audit_rules_sudoers_d to accept missing trailing slash
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers_d/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers_d/tests/missing_slash.pass.sh
Labels: RHEL, STIG

#12944 Fix RHEL 10 DISA and SRG References
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pkexec/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_permissions_cron_allow/rule.yml
  linux_os/guide/services/ntp/chrony_set_nts/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/rule.yml
  linux_os/guide/system/software/gnome/package_gdm_removed/rule.yml
Labels: Update Rule, RHEL10

#12938 Remove non-compliant MACs on Ubuntu
  linux_os/guide/services/ssh/sshd_strong_macs.var
Labels: Ubuntu, needs-ok-to-test, CIS

#12957 Add package_ypbind_removed to e8 profile to OL8
  products/ol8/profiles/e8.profile
Labels: needs-ok-to-test
