Repository ComplianceAsCode/content, pull requests merged in 2025-03, with the labels that each got.

#12853 Specify platform specific packages for xwindows_remove_packages rule
  controls/cis_slmicro5.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/anaconda/shared.anaconda
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/ansible/shared.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/bash/shared.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/oval/shared.xml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/tests/packages_installed.fail.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/tests/packages_installed_removed.pass.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/tests/packages_removed.pass.sh
  products/ol7/product.yml
  products/sle12/product.yml
  products/sle15/product.yml
  shared/references/cce-slmicro5-avail.txt
  ssg/constants.py
  ssg/products.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel10.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Labels: Ansible, OVAL, Bash, SLES, Update Rule

#13122 Update bash_sudo_remove_config macro
  linux_os/guide/system/software/sudo/sudo_remove_nopasswd/tests/wrong_value_specific_commands.fail.sh
  shared/macros/10-bash.jinja
Labels: Bash, needs-ok-to-test

#13131 Update enable_authselect remediation on bootable containers
  linux_os/guide/system/accounts/enable_authselect/bash/shared.sh
Labels: Bash, Image Mode

#13136 Add required to controlseval.py --product switch
  utils/controleval.py
Labels: Infrastructure

#13132 Add Ubuntu 22.04 to the list of FIPS certified OS
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/oval/shared.xml
  shared/checks/oval/installed_OS_is_ubuntu2204.xml
  shared/checks/oval/installed_OS_is_ubuntu2404.xml
Labels: OVAL, Ubuntu, needs-ok-to-test

#13063 Add dconf rules dependencies sle
  controls/pcidss_4.yml
  products/rhel10/profiles/pci-dss.profile
  products/rhel8/profiles/pci-dss.profile
  products/sle15/profiles/hipaa.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Labels: SLES, Update Profile, pci-dss

#13135 Fix dconf key for idle-delay lock on Ubuntu
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/oval/shared.xml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/comment.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/missing_profiles.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/setting_not_there.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/wrong_value.fail.sh
Labels: Ubuntu, needs-ok-to-test

#13119 Move stablization to the third Monday of the second month
  docs/manual/developer/10_stabilization_phase.md
Labels: Documentation, Highlight

#13139 Disable remediations for set_iptables_default_rule and set_ip6tables_default_rule on Ubuntu products
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ip6tables_default_rule/bash/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ip6tables_default_rule/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/bash/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/tests/correct.pass.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/tests/wrong.fail.sh
Labels: Ubuntu, needs-ok-to-test

#13061 Add new product tencentos4 supporting
  CMakeLists.txt
  build_product
  controls/std_tencentos4.yml
  products/tencentos4/CMakeLists.txt
  products/tencentos4/overlays/.gitkeep
  products/tencentos4/product.yml
  products/tencentos4/profiles/basic.profile
  products/tencentos4/profiles/standard.profile
  products/tencentos4/transforms/constants.xslt
  products/tencentos4/transforms/table-style.xslt
  products/tencentos4/transforms/xccdf2table-cce.xslt
  products/tencentos4/transforms/xccdf2table-profileccirefs.xslt
  shared/checks/oval/installed_OS_is_tencentos4.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Labels: needs-ok-to-test, New Product

#13145 Fix ansible platform in `network_nmcli_permissions` for RHEL 9
  linux_os/guide/system/network/network_nmcli_permissions/ansible/shared.yml
Labels: bugfix

#13147 CMP-3146,CMP-3147,CMP-3148: Deprecate old OCP STIG profiles and OCP CIS 1.5
  products/ocp4/profiles/cis-1-5.profile
  products/ocp4/profiles/cis-node-1-5.profile
  products/ocp4/profiles/stig-node-v1r1.profile
  products/ocp4/profiles/stig-node-v2r1.profile
  products/ocp4/profiles/stig-v1r1.profile
  products/ocp4/profiles/stig-v2r1.profile
  products/rhcos4/profiles/stig-v1r1.profile
  products/rhcos4/profiles/stig-v2r1.profile
Labels: OpenShift, CIS, STIG

#13144 Fix accounts_password_pam_retry
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
Labels: OVAL, productization-issue

#13140 Update release script based on new stabilization date
  utils/release_helper.py
Labels: Infrastructure

#13134 Add new rule for rootfiles package
  components/rootfiles.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  controls/stig_rhel9.yml
  linux_os/guide/system/permissions/files/rootfiles/group.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/ansible/shared.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/bash/shared.sh
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/oval/shared.xml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/rule.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/tests/configured_wrong.fail.sh
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/tests/conflicting.fail.sh
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/tests/file_not_there.fail.sh
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/tests/missing_some.fail.sh
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/tests/valid.pass.sh
  products/rhel8/profiles/stig.profile
  shared/applicability/package.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL, New Rule, Update Profile, STIG

#13154 SLE15 Use socket disable template for telnet
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
Labels: SLES, Update Rule

#13149 OPENSCAP-5464: Use more fine granular audit rules for E8 and ISM profiles in RHEL
  controls/e8.yml
  controls/ism_o.yml
  products/rhel10/profiles/e8.profile
  products/rhel8/profiles/e8.profile
  products/rhel8/profiles/ism_o.profile
  products/rhel9/profiles/default.profile
  products/rhel9/profiles/e8.profile
  products/rhel9/profiles/ism_o.profile
  tests/data/profile_stability/rhel10/e8.profile
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
  tests/data/profile_stability/rhel8/e8.profile
Labels: bugfix

#13029 OPENSCAP-4118 - Add script to build tests
  CMakeLists.txt
  build-scripts/build_tests.py
  cmake/SSGCommon.cmake
  docs/manual/developer/02_building_complianceascode.md
  tests/automatus.py
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/oscap.py
  tests/ssg_test_suite/rule.py
  tests/ssg_test_suite/test_env.py
  tests/unit/ssg_test_suite/test_rule.py
Labels: Infrastructure

#13113 Update owner macros to allow | between owners
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_security_opasswd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_etc_security_opasswd_old/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log/tests/ubuntu_correct.pass.sh
  shared/macros/01-general.jinja
  shared/macros/10-ocil.jinja
Labels: needs-ok-to-test

#13142 OCPBUGS-52295: Update testing assertions for partition-for-var-log-audit
  tests/assertions/ocp4/rhcos4-high-4.12.yml
  tests/assertions/ocp4/rhcos4-high-4.13.yml
  tests/assertions/ocp4/rhcos4-high-4.14.yml
  tests/assertions/ocp4/rhcos4-high-4.16.yml
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-high-4.18.yml
  tests/assertions/ocp4/rhcos4-moderate-4.12.yml
  tests/assertions/ocp4/rhcos4-moderate-4.16.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.18.yml
  tests/assertions/ocp4/rhcos4-stig-4.16.yml
  tests/assertions/ocp4/rhcos4-stig-4.17.yml
  tests/assertions/ocp4/rhcos4-stig-4.18.yml
Labels: OpenShift

#13156 Introduce rule enable_gpgcheck_for_all_repositories
  components/dnf.yml
  components/rpm.yml
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/ansible/shared.yml
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/bash/shared.sh
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/oval/shared.xml
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/rule.yml
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/gpgcheck_disabled.fail.sh
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/gpgcheck_disabled_in_multiple_files.fail.sh
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/gpgcheck_enabled.pass.sh
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/gpgcheck_missing_everywhere.fail.sh
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/gpgcheck_missing_in_multiple_files.fail.sh
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/gpgcheck_missing_somewhere.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: New Rule, RHEL8, STIG

#13161 Add missing RHEL8 stig id to rootfiles_configured
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/rule.yml
Labels: bugfix, STIG

#13169 Revert the uid back to rsyslog for the rule file_owner_var_log_syslog
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log_syslog/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log_syslog/tests/correct_owner.pass.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log_syslog/tests/incorrect_owner.fail.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log_syslog/tests/owned_by_syslog.pass.sh
Labels: Ubuntu, needs-ok-to-test, Update Rule

#13164 OCPBUGS-52884: Exclude file integrity operator checks from ARM clusters
  applications/openshift/integrity/file_integrity_exists/rule.yml
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.12.yml
  tests/assertions/ocp4/ocp4-stig-4.13.yml
  tests/assertions/ocp4/ocp4-stig-4.14.yml
  tests/assertions/ocp4/ocp4-stig-4.15.yml
  tests/assertions/ocp4/ocp4-stig-4.16.yml
  tests/assertions/ocp4/ocp4-stig-4.17.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Labels: OpenShift

#13173 Change the way in which applicability of selinux platform is determined
  linux_os/guide/system/selinux/selinux-booleans/group.yml
  shared/applicability/selinux.yml
  shared/templates/sebool/ansible.template
  shared/templates/sebool/bash.template
Labels: bugfix, Ansible, Bash, osbuild, Update Template, Image Mode

#13174 fix accounts_password_pan_rety oval check for Debian
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
Labels: Debian, needs-ok-to-test, Update Rule

#13178 Fix accounts_user_dot_user/group_ownership to only remediate regular files
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/bash/shared.sh
Labels: Ansible, Bash, needs-ok-to-test

#12863 CI adjustments for OCP 4.18
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_quota/tests/ocp4/4.18.yml
  applications/openshift/general/resource_requests_quota_cluster/tests/ocp4/4.18.yml
  applications/openshift/general/resource_requests_quota_per_project/tests/ocp4/4.18.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/e2e.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/e2e.yml
  controls/cis_ocp_1_4_0/section-1.yml
  controls/nist_ocp4.yml
  controls/pcidss_ocp4.yml
  controls/srg_ctr/SRG-APP-000441-CTR-001090.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001325.yml
  ocp-resources/e2e/cluster-logging-install-observability.yaml
  products/ocp4/profiles/stig-v1r1.profile
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Labels: OpenShift

#13191 Revert argument name for file_existence template
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_at_allow_exists/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_cron_allow_exists/rule.yml
Labels: needs-ok-to-test

#13181 Remove audit_rules_kernel_module_loading_create from RHEL 10
  controls/cis_rhel10.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
Labels: RHEL10

#13184 Use fully qualified collection name for community.general.ini_file
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_enable_pam_services/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_memcache_timeout/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/ansible/shared.yml
  linux_os/guide/system/network/network_nmcli_permissions/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_automatic_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_guest_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_thumbnailers/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_network_settings/dconf_gnome_disable_wifi_create/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_network_settings/dconf_gnome_disable_wifi_notification/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_remote_access_settings/dconf_gnome_remote_access_credential_prompt/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_remote_access_settings/dconf_gnome_remote_access_encryption/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_delay/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_enabled/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_user_info/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_geolocation/ansible/shared.yml
  linux_os/guide/system/software/updating/clean_components_post_updating/ansible/shared.yml
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/ansible/shared.yml
  linux_os/guide/system/software/updating/dnf-automatic_security_updates_only/ansible/shared.yml
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/ansible/shared.yml
  shared/templates/dconf_ini_file/ansible.template
  shared/templates/systemd_dropin_configuration/ansible.template
Labels: Ansible, needs-ok-to-test

#13195 Move governance to its own section
  docs/manual/developer/01_introduction.md
  docs/manual/developer/11_governance.md
Labels: Documentation

#13212 We don't care about Windows
  .github/workflows/gate.yaml
Labels: Infrastructure

#13199 [Ubuntu] Exclude system accounts in check and remediation
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/tests/right_owner.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/tests/wrong_owner.fail.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13202 OPENSCAP-4816: Remove grub2_nousb_argument from RHEL10 HIPAA profile
  controls/hipaa.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/hipaa.profile
Labels: RHEL10

#13196 CMP-3264: Update OCP assertions for TLS rules
  tests/assertions/ocp4/ocp4-cis-4.12.yml
  tests/assertions/ocp4/ocp4-cis-4.13.yml
  tests/assertions/ocp4/ocp4-cis-4.14.yml
  tests/assertions/ocp4/ocp4-cis-4.15.yml
  tests/assertions/ocp4/ocp4-cis-4.16.yml
Labels: OpenShift, CIS

#13209 Fix applicability for file_permissions_var_log on Ubuntu
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log/rule.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13176 OPENSCAP-4808: Remove deprecated specific UEFI rules from RHEL9/RHEL10 profiles
  controls/cis_rhel10.yml
  controls/ospp.yml
  controls/srg_gpos/SRG-OS-000080-GPOS-00048.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/default.profile
  products/rhel10/profiles/hipaa.profile
  products/rhel9/profiles/default.profile
  products/rhel9/profiles/hipaa.profile
  products/rhel9/profiles/ospp.profile
  tests/data/profile_stability/rhel10/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel10/anssi_bp28_high.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/ospp.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: RHEL9, RHEL10

#13210 build: use a formatting construct that can use an older python3
  ssg/jinja.py
Labels: needs-ok-to-test

#13216 [Ubuntu]: Override the /etc/dpkg path-exclude option
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/ubuntu.sh
Labels: Ubuntu, needs-ok-to-test

#13219 change rpm -q to dnf list for vsftp check
  linux_os/guide/services/ftp/disabling_vsftpd/package_vsftpd_removed/policy/stig/shared.yml
Labels: needs-ok-to-test, STIG

#13190 Update SLE15 and SLE12 ANSSI profiles
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
Labels: SLES, ok-to-test, Update Profile, ANSSI

#13223 Add product_properties to open_environment for build tests
  build-scripts/build_tests.py
Labels: Infrastructure

#13221 Add ADR to docs and platform clean up
  docs/adr/0000_architecture_decisions_records.md
  docs/index.rst
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/06_contributing_with_content.md
  docs/manual/developer/11_governance.md
Labels: Documentation

#13206 OPENSCAP-4927 - Update audit_rules_media_export
  docs/templates/template_reference.md
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_media_export/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_media_export/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_media_export/tests/correct_rules.pass.sh
  shared/templates/audit_rules_dac_modification/ansible.template
  shared/templates/audit_rules_dac_modification/bash.template
  shared/templates/audit_rules_dac_modification/kubernetes.template
  shared/templates/audit_rules_dac_modification/template.py
  shared/templates/audit_rules_dac_modification/tests/correct_rules.pass.sh
  shared/templates/audit_rules_dac_modification/tests/wrong_list_action.fail.sh
  shared/templates/audit_rules_dac_modification/tests/wrong_syscall.fail.sh
Labels: Update Rule, RHEL10

#13229 Fix double `mknod`, expect `PATH` entries not existing in tests
  linux_os/guide/system/accounts/accounts-session/root_paths/accounts_root_path_dirs_no_write/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/accounts_root_path_dirs_no_write/tests/wrong.fail.sh
  linux_os/guide/system/selinux/selinux_all_devicefiles_labeled/tests/char_device_unlabeled_t.fail.sh
Labels: Test Suite

#13051 Handle XCCDF variable in key_value_pair_in_file template
  docs/templates/template_reference.md
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/ansible/shared.yml
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/bash/shared.sh
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/oval/shared.xml
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_policytype/bash/shared.sh
  linux_os/guide/system/selinux/selinux_policytype/oval/shared.xml
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
  linux_os/guide/system/selinux/selinux_policytype/tests/test_config.yml
  shared/macros/10-oval.jinja
  shared/templates/key_value_pair_in_file/ansible.template
  shared/templates/key_value_pair_in_file/bash.template
  shared/templates/key_value_pair_in_file/oval.template
  shared/templates/key_value_pair_in_file/template.py
  shared/templates/key_value_pair_in_file/tests/commented_value.fail.sh
  shared/templates/key_value_pair_in_file/tests/conflicting_values.fail.sh
  shared/templates/key_value_pair_in_file/tests/correct_value.pass.sh
  shared/templates/key_value_pair_in_file/tests/duplicate_values.pass.sh
  shared/templates/key_value_pair_in_file/tests/wrong_value.fail.sh
Labels: Update Rule, Update Template

#13237 Add missing references
  linux_os/guide/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat2/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
Labels: productization-issue

#13233 Remove tmux rules from RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000028-GPOS-00009.yml
  controls/srg_gpos/SRG-OS-000029-GPOS-00010.yml
  controls/srg_gpos/SRG-OS-000030-GPOS-00011.yml
  controls/srg_gpos/SRG-OS-000031-GPOS-00012.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG, RHEL10

#13197 Fix sshd oval check for SLE15, SLEM5 and opensuse
  shared/macros/10-oval.jinja
Labels: OVAL, SLES, ok-to-test

#13239 Remove erroneous line in description
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/rule.yml
Labels: needs-ok-to-test

#13241 Fix typo
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
Labels: needs-ok-to-test

#13172 Update regex to support RainerScript in rsyslog_cron_logging
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/tests/cron_set_rainer_rsyslog_conf_multiline.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/tests/wrong_log_rainer_rsyslog_conf_multiline.fail.sh
Labels: Ansible, OVAL, Bash, needs-ok-to-test

#13247 Remove Napoleon as is no longer needed
  docs/requirements.txt
Labels: Documentation

#13246 Remove from OL8 STIG not STIG related rules
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, Update Profile, STIG

#13249 OPENSCAP-4954, OPENSCAP-4955, OPENSCAP-4956, OPENSCAP-4957: Use audit_rules_watch template instead of audit_rules_usergroup_modification
  docs/templates/template_reference.md
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_gshadow/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_nsswitch_conf/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_pam_conf/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_pamd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/rule.yml
  shared/templates/audit_rules_usergroup_modification/ansible.template
  shared/templates/audit_rules_usergroup_modification/bash.template
  shared/templates/audit_rules_usergroup_modification/kubernetes.template
  shared/templates/audit_rules_usergroup_modification/oval.template
  shared/templates/audit_rules_usergroup_modification/template.py
  shared/templates/audit_rules_usergroup_modification/template.yml
  shared/templates/audit_rules_usergroup_modification/tests/auditctl_correct.pass.sh
  shared/templates/audit_rules_usergroup_modification/tests/auditctl_correct_extra_permission.pass.sh
  shared/templates/audit_rules_usergroup_modification/tests/auditctl_correct_without_key.pass.sh
  shared/templates/audit_rules_usergroup_modification/tests/auditctl_remove_all_rules.fail.sh
  shared/templates/audit_rules_usergroup_modification/tests/auditctl_wrong_rule.fail.sh
  shared/templates/audit_rules_usergroup_modification/tests/auditctl_wrong_rule_without_key.fail.sh
  shared/templates/audit_rules_usergroup_modification/tests/augenrules_correct.pass.sh
  shared/templates/audit_rules_usergroup_modification/tests/augenrules_correct_extra_permission.pass.sh
  shared/templates/audit_rules_usergroup_modification/tests/augenrules_correct_without_key.pass.sh
  shared/templates/audit_rules_usergroup_modification/tests/augenrules_remove_all_rules.fail.sh
  shared/templates/audit_rules_usergroup_modification/tests/augenrules_wrong_rule.fail.sh
  shared/templates/audit_rules_usergroup_modification/tests/augenrules_wrong_rule_without_key.fail.sh
Labels: Update Rule, RHEL10

#13242 OPENSCAP-4951: Support modern watches in audit_rules_sysadmin_actions
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/tests/correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/tests/correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sysadmin_actions/tests/missing_slash.fail.sh
Labels: Ansible, Bash, Update Rule, RHEL10

#13250 remove scapval test from gating
  tests/tmt-plans/main.fmf
Labels: Test Suite

#13244 OPENSCAP-4952: Use template in audit_rules_time_watch_localtime
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/kubernetes/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/tests/correct_rules.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/tests/correct_rules_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/tests/missing_permission.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_watch_localtime/tests/rules_not_there.fail.sh
Labels: Update Rule, RHEL10

#13256 OPENSCAP-4815: Remove grub2_uefi_password from ANSSI intermediary in RHEL10
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  tests/data/profile_stability/rhel10/anssi_bp28_intermediary.profile
Labels: ANSSI, RHEL10

#13253 Update OL9 hipaa profile
  products/ol9/profiles/hipaa.profile
Labels: Oracle Linux, needs-ok-to-test, Update Profile
