Repository ComplianceAsCode/content, pull requests merged in 2025-10, with the labels that each got.

#13961 Fix aide_build_database
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/oval/shared.xml
Labels: BLOCKER

#13954 Update OCP4 and RHCOS4 STIG reference files
  shared/references/disa-stig-ocp4-v2r3-xccdf-manual.xml
  shared/references/disa-stig-rhcos4-v2r2-xccdf-manual.xml
  shared/references/disa-stig-rhcos4-v2r3-xccdf-manual.xml
Labels: OpenShift, STIG

#13956 Fixing add-cce option in fix_rules.py, while "identifiers" section in rule.yml is missing
  utils/fix_rules.py
Labels: Infrastructure, needs-ok-to-test

#13929 Fix grub2_uefi_password tests and shared/grub2
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/tests/invalid_username.fail.sh
  tests/shared/grub2.sh
Labels: needs-ok-to-test

#13958 Make Ansible in file_etc_security_opasswd idempotent
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_etc_security_opasswd/ansible/shared.yml
Labels: Ansible

#13962 Fix macro 'create_interactive_users_list_object' to also ignore users having /usr/sbin/nologin shell
  shared/macros/10-oval.jinja
Labels: OVAL, needs-ok-to-test

#13973 Update OL9 profiles
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
  products/ol9/profiles/anssi_bp28_minimal.profile
  products/ol9/profiles/e8.profile
  products/ol9/profiles/hipaa.profile
  products/ol9/profiles/ospp.profile
Labels: Oracle Linux, Update Profile

#13976 Make Ansible in grub2_argument_absent template idempotent
  shared/macros/10-ansible.jinja
Labels: Ansible

#13972 Removing aide_periodic_cron_checking rule from RHEL-09-651015
  controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: needs-ok-to-test

#13978 Make Ansible in dconf_ini_file idempotent
  shared/templates/dconf_ini_file/ansible.template
Labels: Ansible, do-not-merge/work-in-progress

#13141 CMP-3182: Remove unnecessary 4.2.yml assertion files
  tests/assertions/ocp4/rhcos4-high-4.2.yml
Labels: OpenShift

#13985 CMP-3540: Remove API server insecure port and gateway assertions
  tests/assertions/ocp4/ocp4-cis-4.12.yml
  tests/assertions/ocp4/ocp4-cis-4.13.yml
  tests/assertions/ocp4/ocp4-cis-4.14.yml
  tests/assertions/ocp4/ocp4-cis-4.15.yml
  tests/assertions/ocp4/ocp4-cis-4.16.yml
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.12.yml
  tests/assertions/ocp4/ocp4-stig-4.13.yml
  tests/assertions/ocp4/ocp4-stig-4.14.yml
  tests/assertions/ocp4/ocp4-stig-4.15.yml
  tests/assertions/ocp4/ocp4-stig-4.16.yml
  tests/assertions/ocp4/ocp4-stig-4.17.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Labels: OpenShift

#13980 CMP-3540: Remove OCP pre 4.9 tls and kubelet rule assertions
  tests/assertions/ocp4/ocp4-cis-4.12.yml
  tests/assertions/ocp4/ocp4-cis-4.13.yml
  tests/assertions/ocp4/ocp4-cis-4.14.yml
  tests/assertions/ocp4/ocp4-cis-4.15.yml
  tests/assertions/ocp4/ocp4-cis-4.16.yml
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
Labels: OpenShift

#13919 Debian 12 CIS: Fix expected PAM version
  controls/cis_debian12.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_modules_installed/rule.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_runtime_installed/rule.yml
Labels: Debian, needs-ok-to-test

#13991 Detect non-existent PATH directories in RHEL 9 CIS
  controls/cis_rhel9.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/no_dirs_unowned_by_root/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/rule.yml
  linux_os/guide/system/accounts/accounts-session/root_paths/root_path_all_dirs/tests/nonexistent_directory.fail.sh
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: bugfix, CIS

#13981 Fixing idempotency of require_singleuser_auth bash remediation script
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#13994 Add test scenario to cover case where user has nologin defined in usr
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/tests/interactive_user_usr_nologin_ignored.pass.sh
Labels: OVAL

#13992 Make rule enable_authselect notapplicable in containers
  linux_os/guide/system/accounts/enable_authselect/rule.yml
Labels: bugfix, RHEL8

#13993 Remove Jinja from when statement
  shared/macros/10-ansible.jinja
  shared/templates/grub2_bootloader_argument/ansible.template
Labels: Ansible

#13999 Fix tests for no_dirs_unowned_by_root
  linux_os/guide/system/accounts/accounts-session/root_paths/no_dirs_unowned_by_root/tests/wrong.fail.sh
Labels: Test Suite
