Repository ComplianceAsCode/content, pull requests merged in 2025-08, with the labels that each got.

#13757 Remove remaining dependencies on installed_OS_is_FIPS_certified
  linux_os/guide/system/software/integrity/fips/grub2_enable_fips_mode/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/package_dracut-fips-aesni_installed/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/package_dracut-fips_installed/oval/shared.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_use_fips_hashes/oval/shared.xml
Labels: bugfix

#13768 Remove ubuntu2004 product_stability test
  tests/data/product_stability/ubuntu2004.yml
Labels: Ubuntu

#13760 Update OL8 releases in account_password_pam_faillock_system/password
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_system_auth/rule.yml
Labels: Oracle Linux

#13775 Enable multi_platform_sle platforms for encrypt_partition oval check
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/oval/shared.xml
Labels: OVAL, SLES

#13779 SLE fixes for gid-related rules
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/tests/expected_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/tests/home_dirs_one_absent_group_ok.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/tests/warning_swapped_groupowners.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/tests/expected_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/expected_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/home_dirs_with_same_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/warning_home_dirs_swapped_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permission_user_bash_history/bash/shared.sh
Labels: Ansible, OVAL, Bash, SLES

#13762 OCPBUGS-60143: Add stigref file for RHCOS4
  shared/references/disa-stig-rhcos4-v2r2-xccdf-manual.xml
Labels: OpenShift, STIG

#13807 Update Contributors for 0.1.78
  .mailmap
  Contributors.md
  Contributors.xml
  ssg/contributors.py
Labels: Documentation

#13808 [template] Remove leftover args
  shared/templates/file_groupowner/bash.template
  shared/templates/file_groupowner/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner/tests/correct_owner.pass.sh
  shared/templates/file_owner/tests/incorrect_owner.fail.sh
  shared/templates/file_permissions/ansible.template
  shared/templates/file_permissions/bash.template
  shared/templates/file_permissions/tests/correct_permissions.pass.sh
  shared/templates/file_permissions/tests/lenient_permissions.fail.sh
  shared/templates/file_permissions/tests/stricter_permisions.pass.sh
Labels: ok-to-test

#13804 Add support for file_group_ownership_var_log_audit in SLE platform
  linux_os/guide/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/oval/sle15.xml
  linux_os/guide/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value_non-root_group.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value_non-root_group.fail.sh
  products/sle15/profiles/standard.profile
Labels: Ansible, OVAL, SLES

#13820 [Debian] Fix the delimiter of debian time source
  linux_os/guide/services/ntp/var_multiple_time_pools.var
  linux_os/guide/services/ntp/var_multiple_time_servers.var
Labels: Debian, needs-ok-to-test

#12749 Retire old TLS Cipher Checks and homogenize the active ones
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_kubeapiserver_operator/kubernetes/shared.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_kubeapiserver_operator/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_kubeapiserver_operator/tests/ocp4/e2e.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_openshiftapiserver_operator/kubernetes/shared.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_openshiftapiserver_operator/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_openshiftapiserver_operator/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_cipher_suites/kubernetes/shared.yml
  applications/openshift/networking/ingress_controller_tls_cipher_suites/rule.yml
  applications/openshift/networking/ingress_controller_tls_cipher_suites/tests/ocp4/e2e.yml
  controls/cis_ocp_1_4_0/section-4.yml
  products/ocp4/profiles/default.profile
Labels: OpenShift, needs-ok-to-test

#13121 Add rhcos4 Profile for BSI Grundschutz
  controls/bsi_sys_1_1_rhcos4.yml
  controls/bsi_sys_1_3_rhcos4.yml
  linux_os/guide/system/network/network_ssl/only_allow_specific_certs/rule.yml
  linux_os/guide/system/network/network_ssl/only_allow_specific_certs/tests/ocp4/e2e.yml
  products/rhcos4/profiles/bsi-2022.profile
  shared/references/cce-redhat-avail.txt
Labels: OpenShift, ok-to-test, BSI

#13824 Update Install VM Script
  tests/install_vm.py
  tests/kickstarts/test_suite.cfg
Labels: Infrastructure

#13821 [Ubuntu] Pass rule if IPv6 is disabled on kernel
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/sce/shared.sh
Labels: needs-ok-to-test

#13811 Update accounts_password_pam_pwquality_retry for OL STIG
  controls/stig_ol9.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_retry/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_conflicting_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_correct_with_space.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_duplicate_values.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_overriden.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/pwquality_conf_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/tests/wrong_value.fail.sh
  products/ol8/profiles/stig.profile
  shared/templates/accounts_password/ansible.template
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/tests/correct_value.pass.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/duplicated_values.pass.sh
  shared/templates/accounts_password/tests/multiple_correct_value.pass.sh
  shared/templates/accounts_password/tests/password_auth_overwritten.fail.sh
Labels: Ansible, Bash, Oracle Linux, Update Template
