Repository ComplianceAsCode/content, pull requests merged in 2025-06, with the labels that each got.

#13489 Update permissions in file_permissions_var_log_messages for OL
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_permissions_var_log_messages/rule.yml
Labels: needs-ok-to-test

#13478 Add OL9 to accounts_password template
  shared/templates/accounts_password/ansible.template
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/tests/conflicting_values_directory.fail.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/multiple_correct_value.pass.sh
Labels: Oracle Linux, needs-ok-to-test

#13441 [Ubuntu]: Implement stig rule UBTU-24-100120
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/bash/ubuntu.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/oval/ubuntu.xml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/aide_not_installed.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/cron_daily.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/cron_daily_complex.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_daily.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_daily_shortcut.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_monthly.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_two_days_week.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_weekly_on_exact_day.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_weekly_shortcut.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_weekly_word.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/crontab_yearly.fail.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/tests/not_in_cron.fail.sh
  products/ubuntu2004/product.yml
  products/ubuntu2204/product.yml
  products/ubuntu2404/product.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13530 Exclude remote mounted filesystems from local partition nodev tasks
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/shared.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/oval/shared.xml
Labels: Ansible, OVAL, Bash, needs-ok-to-test

#12895 CMP-2859: Resolve failing Image-stream-sets-schedule
  applications/openshift/registry/imagestream_sets_schedule/rule.yml
  applications/openshift/registry/imagestream_sets_schedule/tests/ocp4/e2e.yml
  tests/assertions/ocp4/ocp4-stig-4.12.yml
  tests/assertions/ocp4/ocp4-stig-4.13.yml
  tests/assertions/ocp4/ocp4-stig-4.14.yml
  tests/assertions/ocp4/ocp4-stig-4.15.yml
  tests/assertions/ocp4/ocp4-stig-4.16.yml
  tests/assertions/ocp4/ocp4-stig-4.17.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Labels: OpenShift, ok-to-test

#13533 Fix smartcard package name on Ubuntu 24.04
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
Labels: needs-ok-to-test

#13540 Debian13 ANSSI BP28 (minimal)
  linux_os/guide/auditing/package_audit_installed/rule.yml
  linux_os/guide/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/services/ntp/package_ntp_installed/rule.yml
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/rule.yml
  products/debian13/profiles/anssi_bp28_minimal.profile
  shared/applicability/package.yml
  shared/templates/accounts_password/bash.template
Labels: Debian, ok-to-test, New Profile, ANSSI

#13541 Remove duplicate STIG id OL09-00-001105
  controls/stig_ol9.yml
Labels: Oracle Linux, needs-ok-to-test, STIG

#13539 Add OVAL for encrypt_partitions rule
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/oval/shared.xml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
Labels: OVAL

#13557 Fix Debian 13 in CI
  .github/workflows/gate.yaml
  build-scripts/verify_references.py
Labels: Infrastructure, Debian

#13555 [Ubuntu]: Implement stig rule UBTU-24-600010
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test

#13553 [Ubuntu]: Implement stig rule UBTU-24-400030
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13554 [Ubuntu]: Implement stig rule UBTU-24-600000
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13558 Move to using sha512 on RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000730-GPOS-00190.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG, RHEL10

#13556 Debian13: add BP28 intermediary profile
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/bash/debian13.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/bash/debian.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/oval/debian.xml
  products/debian13/profiles/anssi_bp28_intermediary.profile
  shared/checks/oval/audit_rules_augenrules.xml
  shared/templates/audit_rules_privileged_commands/ansible.template
  shared/templates/audit_rules_privileged_commands/bash.template
  shared/templates/audit_rules_privileged_commands/kubernetes.template
  shared/templates/audit_rules_privileged_commands/oval.template
Labels: Debian, needs-ok-to-test, New Profile, ANSSI

#13363 Enable ansible macro for faillock
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/oval/ubuntu.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_commented_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_correct_pamd.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_missing_pamd.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_silent/tests/ubuntu_multiple_pam_unix.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/tests/common.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/tests/common.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#13566 [Ubuntu]: Implement stig rule UBTU-200610
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13562 Move RHEL 8 ISM O Profile to Control File
  products/rhel8/profiles/ism_o.profile
  tests/data/profile_stability/rhel8/ism_o.profile
Labels: RHEL8

#13574 [Ubuntu]: Implement stig rule UBTU-24-900950
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13580 OPENSCAP-5557: Use control file to define RHEL 8 HIPAA profile
  products/rhel8/profiles/hipaa.profile
  tests/data/profile_stability/rhel8/hipaa.profile
Labels: RHEL8

#13582 [Ubuntu 24.04]: Add vlock_installed pkg override
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
Labels: Ubuntu, needs-ok-to-test, Update Rule

#13581 [Ubuntu]: Implement stig rule UBTU-24-100850
  components/openssh.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/common.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/correct_scrambled_n_coorect.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/extra_prm.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/no_parameters.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/tests/wrong_value.fail.sh
Labels: Ubuntu, needs-ok-to-test

#13595 Remove uefi/non-uefi platform from grub2 rules in case they do not need
  linux_os/guide/system/bootloader-grub2/non-uefi/group.yml
  linux_os/guide/system/bootloader-grub2/uefi/group.yml
Labels: RHEL

#13598 Fix GRUB 2 UEFI selections in RHEL 9 ANSSI profiles
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_intermediary.profile
Labels: RHEL9, Update Profile, ANSSI

#13597 Update the suffix for rules used when generating components gh pages
  utils/render_components.py
Labels: bugfix

#13590 Implement rule UBTU-24-100860
  components/openssh.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/ssh/ssh_approved_macs.var
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/common.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/correct_value_config_dir.pass.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/no_parameters.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/tests/wrong_value.fail.sh
  shared/macros/10-ansible.jinja
Labels: needs-ok-to-test

#13594 Delete installed_OS_is_FIPS_certified or ssh(d) related rules
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/oval/ubuntu.xml
Labels: needs-ok-to-test

#13596 [Ubuntu] Fix rule encrypt_partitions
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/oval/shared.xml
Labels: OVAL, Ubuntu, needs-ok-to-test

#13605 Fix stig rule UBTU-24-700100
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log/rule.yml
Labels: needs-ok-to-test

#13490 Create SLE Micro 5 General profile
  controls/general_slmicro5.yml
  products/slmicro5/product.yml
  products/slmicro5/profiles/general.profile
Labels: SLES, ok-to-test, New Profile

#13607 [Ubuntu] Remove non-ascii character
  controls/stig_ubuntu2404.yml
Labels: bugfix, needs-ok-to-test

#13603 add anssi BP28 high profile to debian13 product
  products/debian13/profiles/anssi_bp28_high.profile
Labels: Debian, needs-ok-to-test, New Profile, ANSSI

#13610 Update permissions for OL9 to 0640 in sshd_private_key
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/ansible/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/bash/shared.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/oval/shared.xml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/rule.yml
Labels: Oracle Linux

#13615 Add oval check for prevent_direct_root_logins
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/tests/asterisk.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/tests/empty.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/tests/locked.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/tests/multiple_root.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/prevent_direct_root_logins/tests/passwd.fail.sh
Labels: OVAL, needs-ok-to-test

#13576 [Ubuntu]: Mark UBTU-24-200610 as automated
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test

#13625 [Ubuntu] Chrony related rule fix
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/ntp/chronyd_server_directive/oval/shared.xml
  linux_os/guide/services/ntp/chronyd_server_directive/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/line_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/multiple_servers.pass.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/only_pool.fail.sh
  linux_os/guide/services/ntp/chronyd_server_directive/tests/only_server.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13627 Fix several issues in file_owner template remediation
  shared/templates/file_owner/bash.template
Labels: needs-ok-to-test

#13635 Disable symlink deference in file_owner ansible
  shared/templates/file_owner/ansible.template
Labels: needs-ok-to-test

#13637 Format fedora related yaml file
  controls/cusp_fedora.yml
  products/fedora/profiles/cusp_fedora.profile
  products/fedora/profiles/default.profile
  products/fedora/profiles/ospp.profile
  products/fedora/profiles/pci-dss.profile
  products/fedora/profiles/standard.profile
  products/fedora/profiles/test.profile
Labels: Fedora

#13622 fix: Update some DoD verbiage in rules.yml to make it more organization agnostic
  linux_os/guide/services/http/securing_httpd/httpd_configure_os_protect_web_server/httpd_configure_firewall/rule.yml
  linux_os/guide/services/http/securing_httpd/httpd_modules_improve_security/httpd_deploy_mod_ssl/httpd_require_client_certs/rule.yml
  linux_os/guide/services/http/securing_httpd/httpd_public_resources_not_shared/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/rule.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/rule.yml
  linux_os/guide/services/usbguard/configure_usbguard_auditbackend/rule.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_difok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pamcracklib/cracklib_accounts_password_pam_ucredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_retry/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_opensc_installed/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/service_pcscd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_ca/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_pam_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  linux_os/guide/system/network/network-ufw/check_ufw_active/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/install_mcafee_antivirus/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_hbss_software/package_MFEhiplsm_installed/rule.yml
  products/firefox/guide/firefox/firefox_policy-disable_pocket/rule.yml
  products/firefox/guide/firefox/firefox_policy-disable_studies/rule.yml
  products/firefox/guide/firefox/firefox_policy-password_manager/rule.yml
  products/firefox/guide/firefox/firefox_policy-verification/rule.yml
Labels: needs-ok-to-test

#13640 replace instances of grub-mkconfig with correct grub2-mkconfig
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/rule.yml
Labels: bugfix

#13634 fix conditional check bash_bootc_build
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
  linux_os/guide/system/accounts/accounts-physical/disable_ctrlaltdel_reboot/rule.yml
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test, Image Mode
