Repository ComplianceAsCode/content, pull requests merged in 2025-07, with the labels that each got.

#13647 [Ubuntu] Fix rule account_disable_post_pw_expiration
  controls/cis_ubuntu2404.yml
Labels: needs-ok-to-test

#13643 doc: default_ingress_ca_replaced link to docs.openshift.com is out-of-date
  applications/openshift/networking/default_ingress_ca_replaced/rule.yml
Labels: OpenShift, needs-ok-to-test

#13523 Add CCE for rsyncd disabled rule to slmicro5
  controls/general_slmicro5.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Labels: SLES, Update Rule

#13645 Workaround OpenSCAP issue for Image Mode
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/ensure_pam_wheel_group_empty/bash/shared.sh
  shared/templates/sebool/bash.template
Labels: Bash, Image Mode

#13650 Update ansible for auditd_data_retention_action_mail_acct
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/ansible/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/oval/shared.xml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/tests/action_mail_acct_alias.fail.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/tests/action_mail_acct_email.fail.sh
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_action_mail_acct/tests/action_mail_acct_not_there.fail.sh
Labels: Ansible

#13651 Update ansible in require_singleuser_auth for OL
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_dropin.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/wrong_dropin.fail.sh
Labels: Ansible, Oracle Linux

#13662 Move RHEL8 OSPP/CUI to control files
  products/rhel8/profiles/ospp.profile
  tests/data/profile_stability/rhel8/cui.profile
  tests/data/profile_stability/rhel8/ospp.profile
Labels: RHEL8, OSPP, CUI

#13658 Enable check_root_user on Ubuntu 24.04
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_setxattr/rule.yml
Labels: Ubuntu, needs-ok-to-test

#13660 Adapt chronyd_specify_remote_server for Ubuntu 24.04 STIG
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/oval/ubuntu.xml
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/correct.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/line_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/multiple_incorrect.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/multiple_servers.pass.sh
Labels: Ubuntu, needs-ok-to-test

#13641 [test suite] Stop test and return if initial scan result is non applicable
  tests/ssg_test_suite/rule.py
Labels: needs-ok-to-test

#13653 Add distributed config support
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/tests/dist_good_cipher.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/tests/dist_no_ciphers.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/tests/good_cipher.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_ciphers/tests/no_ciphers.fail.sh
Labels: needs-ok-to-test, Update Rule

#13659 Remove 2 functions
  build-scripts/build_tests.py
  ssg/build_ovals.py
  ssg/build_remediations.py
  ssg/build_sce.py
  ssg/build_yaml.py
  ssg/entities/common.py
  ssg/jinja.py
  ssg/oval.py
  ssg/templates.py
  ssg/yaml.py
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
  utils/build_control_from_reference.py
  utils/fix_rules.py
Labels: Infrastructure

#13665 Support drop-in files in coredump rules
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/bash/shared.sh
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/oval/shared.xml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/bash/shared.sh
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/oval/shared.xml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
  shared/templates/systemd_dropin_configuration/oval.template
Labels: bugfix, Update Rule

#13666 Fix level inheritance when processing profiles
  ssg/profiles.py
  tests/unit/ssg-module/data/content_dir/controls/abcd-levels.yml
  tests/unit/ssg-module/data/content_dir/products/rhel8/profiles/example.profile
  tests/unit/ssg-module/test_profiles.py
  tests/unit/ssg-module/test_variables.py
Labels: Infrastructure

#13672 Set var_screensaver_lock_delay for OL9
  controls/stig_ol9.yml
Labels: Oracle Linux, Update Profile, STIG

#13685 Adjust description of file_permissions_sudo
  linux_os/guide/system/software/sudo/file_permissions_sudo/rule.yml
Labels: bugfix

#13675 file_groupownership_system_commands_dirs fix test scenario
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/symlink.pass.sh
Labels: bugfix, Test Suite

#13681 [Ubuntu] Extra tests for #13668
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/shared.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/bash/ubuntu.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/oval/ubuntu.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/correct_groupowner.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/correct_groupowner_no_sgid.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/correct_groupowner_sgid.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/correct_large_gid_groupownership.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/incorrect_groupownership.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/non_exec_groupowner.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/symlink.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/system_account_groupownership.pass.sh
Labels: Ubuntu, needs-ok-to-test

#13691 Allow spaces around equal sign
  shared/templates/systemd_dropin_configuration/oval.template
  shared/templates/systemd_dropin_configuration/tests/correct_dir_spaces.pass.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_dir_spaces.fail.sh
Labels: bugfix, OVAL

#13671 Disable value of zero in dconf_gnome_screensaver_idle_delay
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/oval/shared.xml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/zero_value.fail.sh
Labels: OVAL

#13684 fix: change typo in mapped NIST control
  applications/openshift/integrity/file_integrity_exists/rule.yml
Labels: needs-ok-to-test

#13656 [Ubuntu] Regard all gid <= gid_min as system account and whitelist them
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/bash/ubuntu.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/oval/ubuntu.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/tests/excluded_groupowner.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/tests/incorrect_symlink.pass.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/tests/no_file.pass.sh
Labels: needs-ok-to-test

#13705 make service_rngd_enabled applicable in case FIPS mode is not enabled
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
Labels: bugfix, RHEL8

#13714 Fix architecture dependent path
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/bash/ubuntu.sh
Labels: Bash, Ubuntu, needs-ok-to-test

#13717 Remove configure_crypto_policy
  controls/stig_rhel9.yml
Labels: RHEL9, STIG

#13703 Prevent fails in check mode
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_passwordauth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/ansible/shared.yml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/ansible/shared.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/ansible/shared.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_use_fips_hashes/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/ansible/shared.yml
  shared/macros/10-ansible.jinja
  shared/templates/audit_file_contents/ansible.template
Labels: Ansible

#13700 New Profile for RHEL9: BSI
  components/openssl.yml
  controls/bsi_sys_1_1_rhel9.yml
  controls/bsi_sys_1_3_rhel9.yml
  linux_os/guide/services/mask_nonessential_services/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_password_login/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/rule.yml
  linux_os/guide/system/network/network-firewalld/set_firewalld_appropriate_zone/rule.yml
  linux_os/guide/system/network/network-firewalld/unnecessary_firewalld_services_ports_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_cfg80211_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_iwlmvm_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_iwlwifi_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_mac80211_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_in_bios/rule.yml
  linux_os/guide/system/network/network_ssl/only_allow_specific_certs/rule.yml
  linux_os/guide/system/permissions/mounting/bios_disable_usb_boot/rule.yml
  linux_os/guide/system/permissions/mounting/grub2_nousb_argument/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_opt/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_usr/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/install_antivirus/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/install_endpoint_security_software/rule.yml
  products/rhel9/profiles/bsi-2022.profile
  products/rhel9/profiles/bsi.profile
  shared/references/cce-redhat-avail.txt
Labels: needs-ok-to-test

#13718 Fix rule auditd_freq
  docs/templates/template_reference.md
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_freq/rule.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_freq/tests/correct_exact_stig.pass.sh
  shared/macros/10-oval.jinja
  shared/templates/auditd_lineinfile/ansible.template
  shared/templates/auditd_lineinfile/bash.template
  shared/templates/auditd_lineinfile/oval.template
  shared/templates/auditd_lineinfile/template.py
  shared/templates/auditd_lineinfile/tests/commented.fail.sh
  shared/templates/auditd_lineinfile/tests/correct_value.pass.sh
  shared/templates/auditd_lineinfile/tests/correct_value_capital.pass.sh
  shared/templates/auditd_lineinfile/tests/double_assignment.fail.sh
  shared/templates/auditd_lineinfile/tests/wrong_value.fail.sh
  shared/templates/auditd_lineinfile/tests/wrong_value_capital.fail.sh
Labels: bugfix

#13713 Support banner with single quote
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/bash/shared.sh
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/tests/banner_etc_issue_disa_dod_short.fail.sh
  shared/macros/10-bash.jinja
Labels: Bash

#13724 Change TS in networkmanager_dns_mode from fail to pass
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/tests/space.pass.sh
Labels: Test Suite, productization-issue

#13730 Fix sshd_rekey_limit test scenarios
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_size_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_time_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/correct_main_file_wrong_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/correct_value_directory.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/no_line_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/param_conflict_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/wrong_main_file_correct_directory.pass.sh
Labels: productization-issue

#13735 CI: fedora gating - collapse the multiline command
  .github/workflows/gate.yaml
Labels: Test Suite

#13738 stop using fixfiles relabel in remediations
  linux_os/guide/system/selinux/selinux_not_disabled/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_not_disabled/bash/shared.sh
  linux_os/guide/system/selinux/selinux_not_disabled/rule.yml
  linux_os/guide/system/selinux/selinux_state/ansible/shared.yml
  linux_os/guide/system/selinux/selinux_state/bash/shared.sh
  linux_os/guide/system/selinux/selinux_state/rule.yml
Labels: bugfix, Ansible, Bash, Update Rule

#13729 Install package polkit-pkla-compat
  linux_os/guide/system/network/network_nmcli_permissions/ansible/shared.yml
  linux_os/guide/system/network/network_nmcli_permissions/bash/shared.sh
  linux_os/guide/system/network/network_nmcli_permissions/tests/missing_compat_package.fail.sh
Labels: bugfix

#13742 Prevent problems with single quotes
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/bash/shared.sh
Labels: Bash

#13739 Reduce gathering facts in profile Ansible Playbooks
  build-scripts/generate_profile_remediations.py
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/ansible/shared.yml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/ansible/shared.yml
  shared/templates/service_disabled/ansible.template
  shared/templates/service_enabled/ansible.template
  ssg/ansible.py
  tests/unit/ssg-module/test_ansible.py
Labels: Ansible

#13748 SLE kernel package may be called kernel-default-base
  shared/applicability/oval/system_with_kernel.xml
  shared/applicability/system_with_kernel.yml
Labels: OVAL, SLES, CPE-AL

#13525 Enable audit configure rules for slmicro5
  controls/general_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events/bash/shared.sh
Labels: Bash, SLES
