Repository ComplianceAsCode/content, pull requests merged in 2025-04, with the labels that each got.

#13248 Fix file_groupowner_etc_chrony_keys OVAL check
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/oval/shared.xml
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/tests/correct_chrony_keys_groupowner.pass.sh
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/tests/correct_chrony_keys_locked_groupowner.pass.sh
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/tests/incorrect_chrony_keys_groupowner.fail.sh
  linux_os/guide/services/ntp/file_groupowner_etc_chrony_keys/tests/test_config.yml
  shared/templates/file_groupowner/oval.template
Labels: OVAL, needs-ok-to-test

#13260 Fix Docs Build
  docs/conf.py
  docs/requirements.txt
Labels: Documentation

#13235 OCPBUGS-42350: Update instruction for rule ocp4-etcd-unique-ca
  applications/openshift/etcd/etcd_unique_ca/rule.yml
Labels: OpenShift

#13232 OCPBUGS-54212: Update kubelet tls cipher rule to support new ciphers
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/rule.yml
  applications/openshift/kubelet/var_kubelet_tls_cipher_suites.var
  applications/openshift/kubelet/var_kubelet_tls_cipher_suites_regex.var
Labels: OpenShift

#13264 Fix SLE15 CIS Ensure AppArmor is installed
  controls/cis_sle15.yml
  linux_os/guide/system/apparmor/package_apparmor_installed/rule.yml
Labels: SLES, needs-ok-to-test, Update Rule, Update Profile

#13268 Update audit policy STIG Content
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount2/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_chacl/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_setfacl/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_chcon/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_semanage/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setfiles/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setsebool/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_init/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_poweroff/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_reboot/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_shutdown/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chage/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chsh/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_crontab/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_gpasswd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgrp/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passwd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postdrop/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postqueue/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_agent/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_su/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudoedit/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_umount/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_update/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_userhelper/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_usermod/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers_d/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers_d/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_gshadow/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/policy/stig/shared.yml
Labels: STIG, RHEL10

#13273 OPENSCAP-4926 - Use template in audit_rules_mac_modification_usr_share
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_missing.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_wrong_value.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_missing.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_wrong_value.fail.sh
  shared/templates/audit_rules_watch/oval.template
Labels: Update Rule, RHEL10

#13274 rsyslog_remote_loghost: support Rainer Script in OVAL
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/oval/shared.xml
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/rule.yml
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/tests/remote_configured_rainer.pass.sh
Labels: bugfix, OVAL, Update Rule

#13263 CMP-3277: Use consistent YAML formatting in OCP assertion files
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-cis-node-4.17.yml
  tests/assertions/ocp4/ocp4-cis-node-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-high-node-4.17.yml
  tests/assertions/ocp4/ocp4-high-node-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.18.yml
  tests/assertions/ocp4/ocp4-stig-node-4.17.yml
  tests/assertions/ocp4/ocp4-stig-node-4.18.yml
  tests/assertions/ocp4/rhcos4-e8-4.13.yml
  tests/assertions/ocp4/rhcos4-e8-4.17.yml
  tests/assertions/ocp4/rhcos4-e8-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-high-4.18.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.18.yml
  tests/assertions/ocp4/rhcos4-stig-4.17.yml
  tests/assertions/ocp4/rhcos4-stig-4.18.yml
Labels: OpenShift, do-not-merge/hold

#13257 [template] Fix ansible for file_(group)owner and file_permission
  shared/templates/file_groupowner/ansible.template
  shared/templates/file_owner/ansible.template
  shared/templates/file_permissions/ansible.template
Labels: needs-ok-to-test

#13165 OCPBUGS-52885: Exclude FIO notification check on ARM64
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  applications/openshift/integrity/file_integrity_exists/rule.yml
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
Labels: OpenShift

#13258 Update k8s remediation for ARPC
  shared/templates/audit_rules_privileged_commands/kubernetes.template
Labels: OpenShift

#13276 CMP-3264: Update TLS assertions in moderate, high, pci-dss
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
Labels: OpenShift

#13277 OCPBUGS-53041: Add missing assertions for OVS rules
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.18.yml
Labels: OpenShift

#13227 Update audit rules assertions for aarch64
  tests/assertions/ocp4/rhcos4-e8-4.12.yml
  tests/assertions/ocp4/rhcos4-e8-4.13.yml
  tests/assertions/ocp4/rhcos4-e8-4.14.yml
  tests/assertions/ocp4/rhcos4-e8-4.15.yml
  tests/assertions/ocp4/rhcos4-e8-4.16.yml
  tests/assertions/ocp4/rhcos4-e8-4.17.yml
  tests/assertions/ocp4/rhcos4-e8-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.12.yml
  tests/assertions/ocp4/rhcos4-high-4.13.yml
  tests/assertions/ocp4/rhcos4-high-4.14.yml
  tests/assertions/ocp4/rhcos4-high-4.15.yml
  tests/assertions/ocp4/rhcos4-high-4.16.yml
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-high-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.2.yml
  tests/assertions/ocp4/rhcos4-moderate-4.12.yml
  tests/assertions/ocp4/rhcos4-moderate-4.13.yml
  tests/assertions/ocp4/rhcos4-moderate-4.14.yml
  tests/assertions/ocp4/rhcos4-moderate-4.15.yml
  tests/assertions/ocp4/rhcos4-moderate-4.16.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.18.yml
  tests/assertions/ocp4/rhcos4-stig-4.12.yml
  tests/assertions/ocp4/rhcos4-stig-4.13.yml
  tests/assertions/ocp4/rhcos4-stig-4.14.yml
  tests/assertions/ocp4/rhcos4-stig-4.15.yml
  tests/assertions/ocp4/rhcos4-stig-4.16.yml
  tests/assertions/ocp4/rhcos4-stig-4.17.yml
  tests/assertions/ocp4/rhcos4-stig-4.18.yml
Labels: OpenShift

#13283 OCPBUGS-54212: Adjust api-server-tls-cipher-suite to include 4.18 suites
  applications/openshift/api-server/api_server_tls_cipher_suites/rule.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Labels: OpenShift

#13282 OCPBUGS-54605: Set architecture in directory-access-var-log-audit remediation
  linux_os/guide/auditing/auditd_configure_rules/directory_access_var_log_audit/kubernetes/shared.yml
Labels: OpenShift

#13281 Add audit_rules_mac_modification_etc_selinux to the PCI DSS 4 control file
  controls/pcidss_4.yml
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/pci-dss.profile
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/pci-dss-4.profile
Labels: bugfix

#13279 SRG GPOS Updates
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/policy/stig/shared.yml
  linux_os/guide/auditing/package_audispd-plugins_installed/policy/stig/rhel10.yml
  linux_os/guide/auditing/package_audit_installed/policy/stig/rhel10.yml
  linux_os/guide/services/fapolicyd/package_fapolicyd_installed/policy/stig/rhel10.yml
  linux_os/guide/services/mail/package_s-nail_installed/policy/stig/rhel10.yml
  linux_os/guide/services/ntp/package_chrony_installed/policy/stig/rhel10.yml
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/policy/stig/shared.yml
  linux_os/guide/services/ssh/package_openssh-clients_installed/policy/stig/rhel10.yml
  linux_os/guide/services/ssh/package_openssh-server_installed/policy/stig/rhel10.yml
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/policy/stig/shared.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/policy/stig/rhel10.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_opensc_installed/policy/stig/rhel10.yml
  linux_os/guide/system/logging/package_rsyslog-gnutls_installed/policy/stig/rhel10.yml
  linux_os/guide/system/logging/package_rsyslog_installed/policy/stig/rhel10.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/policy/stig/rhel10.yml
  linux_os/guide/system/network/network-ipsec/package_libreswan_installed/policy/stig/rhel10.yml
  linux_os/guide/system/selinux/package_policycoreutils-python-utils_installed/policy/stig/rhel10.yml
  linux_os/guide/system/selinux/package_policycoreutils_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/crypto/package_crypto-policies_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/fips/system_booted_in_fips_mode/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/sudo/package_sudo_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/system-tools/package_gnutls-utils_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/system-tools/package_nss-tools_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/system-tools/package_subscription-manager_installed/policy/stig/rhel10.yml
Labels: STIG, RHEL10

#13280 Clean Up CMake and build_product Product List
  CMakeLists.txt
  build_product
Labels: Infrastructure

#13284 Fix Automatus Issues for RHEL - OPENSCAP-5515
  controls/cis_rhel9.yml
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
  products/rhel8/profiles/anssi_bp28_enhanced.profile
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/anssi_bp28_intermediary.profile
  products/rhel8/profiles/anssi_bp28_minimal.profile
  products/rhel8/profiles/default.profile
  products/rhel8/profiles/e8.profile
  products/rhel8/profiles/hipaa.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_intermediary.profile
  products/rhel9/profiles/anssi_bp28_minimal.profile
  products/rhel9/profiles/e8.profile
  tests/data/profile_stability/rhel8/e8.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Labels: bugfix

#13269 Update Logic and Data for IA Control on SRG Export
  utils/create_srg_export.py
  utils/srg_export/data.py
Labels: Infrastructure

#13286 Replace OR with lowercase or in test assertions
  tests/assertions/ocp4/rhcos4-moderate-4.13.yml
Labels: OpenShift

#13292 Update ol10 profiles
  products/ol10/profiles/anssi_bp28_enhanced.profile
  products/ol10/profiles/anssi_bp28_high.profile
  products/ol10/profiles/anssi_bp28_intermediary.profile
  products/ol10/profiles/hipaa.profile
  products/ol10/profiles/ospp.profile
  products/ol10/profiles/pci-dss.profile
  products/ol10/profiles/stig_gui.profile
Labels: Oracle Linux, Update Profile

#13188 [template] file_(group)owner file_permission improvement
  shared/templates/file_groupowner/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner/tests/correct_owner.pass.sh
  shared/templates/file_owner/tests/incorrect_owner.fail.sh
  shared/templates/file_permissions/tests/correct_permissions.pass.sh
  shared/templates/file_permissions/tests/lenient_permissions.fail.sh
  shared/templates/file_permissions/tests/stricter_permisions.pass.sh
Labels: needs-ok-to-test

#13289 [Ubuntu] Remove UBTU-22-412015 in align with ubuntu 22.04 stig v2r3
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/rule.yml
  products/ubuntu2204/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test, STIG

#13290 [Ubuntu] Insert to beginning of file in Ubuntu
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
Labels: Bash, Ubuntu, needs-ok-to-test, STIG

#13288 Add draft profile and control file for Ubuntu 24.04 STIG
  controls/stig_ubuntu2404.yml
  products/ubuntu2404/profiles/stig.profile
Labels: Ubuntu, needs-ok-to-test, New Profile, STIG

#13294 Remove Ubuntu 20.04 from Gating
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus-ubi8.yaml
  .github/workflows/automatus.yaml
  .github/workflows/gate.yaml
Labels: Infrastructure

#13295 Align audit OSPP rules with audit upstream
  linux_os/guide/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_aarch64/rule.yml
  linux_os/guide/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
Labels: Update Rule, RHEL10

#13298 dir_system_commands_* remediation fixes and applicability for all products
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/bash/shared.sh
Labels: RHEL, Ansible, Bash

#13299 package_libselinux_installed: enhance test scenarios
  linux_os/guide/system/selinux/package_libselinux_installed/tests/custom-package-removed.fail.sh
  linux_os/guide/system/selinux/package_libselinux_installed/tests/test_config.yml
Labels: Test Suite

#13301 sebool_deny_execmem: add custom test scenario
  linux_os/guide/system/selinux/selinux-booleans/sebool_deny_execmem/tests/wrong_value.fail.sh
Labels: Test Suite

#13304 gid_passwd_group_same: test scenario does not expect remediation
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/gid_passwd_group_same/tests/user_with_nonexistent_group.fail.sh
Labels: Test Suite

#13308 Fix rule accounts_passwords_pam_tally2
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/bash/shared.sh
Labels: Ansible, Bash, needs-ok-to-test

#13303 enable_dracut_fips_module: test scenario does not expect remediation on rhel
  linux_os/guide/system/software/integrity/fips/enable_dracut_fips_module/tests/fips_dracut_module_missing.fail.sh
Labels: Test Suite

#13307 Switch to using hardcoded sshd algorithms in Ubuntu STIGs
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/bash/ubuntu.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/bash/ubuntu.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_scrambled.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/correct_value_config_dir.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/tests/wrong_value.fail.sh
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/stig.profile
Labels: needs-ok-to-test, STIG

#13317 sssd_enable_certmap: notify test scenario that there is no remediation
  linux_os/guide/services/sssd/sssd_enable_certmap/tests/default.fail.sh
Labels: Test Suite

#13318 accounts_authorized_local_users: align test scenario with remediation
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/tests/bad_user.fail.sh
Labels: Test Suite

#13302 sysctl template: add new option no_remediation
  docs/templates/template_reference.md
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_modules_disabled/rule.yml
  shared/templates/sysctl/tests/comment.fail.sh
  shared/templates/sysctl/tests/correct_etc_ufw_wrong_rt.fail.sh
  shared/templates/sysctl/tests/line_not_there.fail.sh
  shared/templates/sysctl/tests/one_sysctl_conf_one_sysctl_d_conflicting.fail.sh
  shared/templates/sysctl/tests/symlink_conflicting.fail.sh
  shared/templates/sysctl/tests/symlink_root_duplicate_conflicting.fail.sh
  shared/templates/sysctl/tests/symlink_root_incompliant.fail.sh
  shared/templates/sysctl/tests/two_sysctls_on_d_conflicting.fail.sh
  shared/templates/sysctl/tests/two_sysctls_on_same_file_name_conflicting.fail.sh
  shared/templates/sysctl/tests/wrong_etc_ufw_correct_rt.fail.sh
  shared/templates/sysctl/tests/wrong_runtime.fail.sh
  shared/templates/sysctl/tests/wrong_usr_lib_wrong_etc.fail.sh
  shared/templates/sysctl/tests/wrong_value.fail.sh
  shared/templates/sysctl/tests/wrong_value_d_directory.fail.sh
  shared/templates/sysctl/tests/wrong_value_usr_local_lib.fail.sh
Labels: Test Suite, Update Template

#13306 Fix Memory Usage for file_(group)owner
  shared/templates/file_groupowner/oval.template
  shared/templates/file_owner/oval.template
Labels: Infrastructure, OVAL

#13321 Add tar.gz file of the build data streams
  .github/workflows/release.yaml
  cmake/SSGCommon.cmake
Labels: Infrastructure

#13324 network_configure_name_resolution: test scenarios know there is no remediation
  linux_os/guide/system/network/network_configure_name_resolution/tests/commented_nameservers.fail.sh
  linux_os/guide/system/network/network_configure_name_resolution/tests/dns_not_in_nsswitch_and_resolv_isnt_empty.fail.sh
  linux_os/guide/system/network/network_configure_name_resolution/tests/one_nameserver.fail.sh
Labels: Test Suite

#13327 RHEL: remove talk related rules
  controls/anssi.yml
  controls/e8.yml
  controls/hipaa.yml
  products/rhel8/profiles/e8.profile
  products/rhel8/profiles/hipaa.profile
  products/rhel9/profiles/e8.profile
  products/rhel9/profiles/hipaa.profile
  tests/data/profile_stability/rhel8/e8.profile
Labels: RHEL, Update Profile, ANSSI

#13325 sudo_restrict_privilege_elevation_to_authorized: test scenario update
  linux_os/guide/system/software/sudo/sudo_restrict_privilege_elevation_to_authorized/tests/simple.fail.sh
Labels: Test Suite

#13326 package_pam_pwquality_installed: add custom test scenarios
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/tests/custom-package-removed.fail.sh
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/tests/test_config.yml
Labels: Test Suite

#13320 Update shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/ansible/shared.yml
Labels: Ansible, needs-ok-to-test

#13331 Update SLE15 STIG version to V2R4
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle15-v2r4-xccdf-manual.xml
Labels: needs-ok-to-test

#13312 [template]: Capture exact options
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/wrong_value_concat.fail.sh
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#13330 Make overrding tests work in built tests
  build-scripts/build_tests.py
Labels: Infrastructure

#13329 Fix not-applicable tests in template pam_account_password_faillock
  shared/macros/20-test-scenarios.jinja
  shared/templates/pam_account_password_faillock/tests/pam_faillock_lenient_high_faillock_conf.fail.sh
  shared/templates/pam_account_password_faillock/tests/pam_faillock_lenient_high_pam_files.fail.sh
  shared/templates/pam_account_password_faillock/tests/pam_faillock_lenient_low_faillock_conf.fail.sh
  shared/templates/pam_account_password_faillock/tests/pam_faillock_lenient_low_pam_files.fail.sh
  shared/templates/pam_account_password_faillock/tests/ubuntu_lenient_high.fail.sh
  shared/templates/pam_account_password_faillock/tests/ubuntu_lenient_low.fail.sh
Labels: needs-ok-to-test

#13309 build_product: add --render-test-scenarios option
  build_product
  docs/manual/developer/02_building_complianceascode.md
Labels: Infrastructure

#13334 postfix_client_configure_mail_alias: adjust test scenario
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/correct.pass.sh
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/tests/wrong.fail.sh
Labels: Test Suite

#13341 Remove rule enable_authselect from RHEL10
  controls/cis_rhel10.yml
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/default.profile
  products/rhel10/profiles/e8.profile
  products/rhel10/profiles/hipaa.profile
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  products/rhel10/profiles/ospp.profile
  products/rhel10/profiles/pci-dss.profile
  products/rhel10/profiles/stig.profile
  products/rhel10/profiles/stig_gui.profile
  tests/data/profile_stability/rhel10/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel10/anssi_bp28_high.profile
  tests/data/profile_stability/rhel10/anssi_bp28_intermediary.profile
  tests/data/profile_stability/rhel10/anssi_bp28_minimal.profile
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel10/e8.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
  tests/data/profile_stability/rhel10/ospp.profile
  tests/data/profile_stability/rhel10/pci-dss.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: Update Profile, RHEL10

#13322 Mark wireless_disable_interfaces as notapplicable to containers
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
Labels: Image Mode

#13340 systemd_mount_enabled template: enable mount in passing test scenario
  shared/templates/systemd_mount_enabled/tests/mount_enabled.pass.sh
Labels: Test Suite

#13344 Move rules from pam component
  components/bash.yml
  components/coreutils.yml
  components/libpwquality.yml
  components/pam.yml
  components/shadow-utils.yml
  components/systemd.yml
  components/tmux.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_difok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_local/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforcing/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxrepeat/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxsequence/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minclass/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_minlen/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ocredit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_ucredit/rule.yml
  shared/applicability/package.yml
Labels: RHEL10

#13316 Align template audit_rules_privileged_commands with DISA
  shared/macros/01-general.jinja
  shared/templates/audit_rules_privileged_commands/ansible.template
  shared/templates/audit_rules_privileged_commands/bash.template
  shared/templates/audit_rules_privileged_commands/kubernetes.template
  shared/templates/audit_rules_privileged_commands/oval.template
  shared/templates/audit_rules_privileged_commands/tests/auditctl_correct_value.pass.sh
  shared/templates/audit_rules_privileged_commands/tests/auditctl_missing_arch.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/auditctl_missing_perm_x.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_comented_value.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_correct_value.pass.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_missing_arch.fail.sh
  shared/templates/audit_rules_privileged_commands/tests/augenrules_missing_auid.fail.sh
Labels: productization-issue, Update Template

#13343 Make accounts password pam pwhistory remember rule use template for SLE etc
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/ubuntu2404.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/rule.yml
Labels: OVAL, Ubuntu, Update Rule

#13348 Improve description in accounts_passwords_pam_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
Labels: Update Rule

#13352 [ubuntu2404] Install the pacakge libpam-sss
  components/pam.yml
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_sss_installed/rule.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13347 Update RHEL 9 STIG to V2R4
  controls/stig_rhel9.yml
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  products/rhel9/profiles/default.profile
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  shared/references/cce-redhat-avail.txt
  shared/references/disa-stig-rhel9-v2r4-xccdf-manual.xml
  shared/references/disa-stig-rhel9-v2r4-xccdf-scap.xml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL9, STIG

#13336 [Ubuntu]: Ensure single line of pam_unix exist during testing
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/ubuntu_arg_missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/ubuntu_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/tests/ubuntu_wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/commented_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_systemauth/tests/wrong_value_concat.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/tests/no_remember.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/tests/remember_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/tests/remember_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/tests/nullok_present.fail.sh
Labels: Ubuntu, needs-ok-to-test

#13311 [Ubuntu 24.04]: Implement rule UBTU-24-400220
  components/pam.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/tests/commented_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/tests/wrong_control.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_auth_stig/tests/wrong_value_concat.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/tests/pamupdate_argument_missing.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/tests/pamupdate_commented.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/tests/pamupdate_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/tests/pamupdate_less_rounds.fail.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13353 [Ubuntu] Enable sssd service
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
  shared/applicability/package.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13354 [Ubuntu] Install the pacakge libnss-sss
  components/pam.yml
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/package_nss_sss_installed/rule.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13323 Add several rules and vars to Ubuntu 24.04 STIG
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/comment_profile.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/conflicting_values_diff_file.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/conflicting_values_same_file.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_profile_d.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_profile_declare.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/duplicate_correct_value_diff_files.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/duplicate_correct_value_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/duplicate_correct_value_profile_d.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/multiline.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/multiline_profile.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/multiline_profile_d.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/multiline_profile_d.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/supercompliance_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/supercompliance_profile_d.pass.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13356 Add recommendation about authselect
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
Labels: Update Rule

#13049 Fix bash_instantiate_variables jinja macro
  shared/macros/10-bash.jinja
Labels: needs-ok-to-test

#13362 [Ubuntu] Drop pam config for faillock audit tests
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_audit/tests/ubuntu_correct_pamd.pass.sh
Labels: Test Suite, Ubuntu, needs-ok-to-test

#13375 Revert #13049
  shared/macros/10-bash.jinja
Labels: bugfix

#13361 Update SRG-OS-000095-GPOS-00049
  controls/srg_gpos/SRG-OS-000095-GPOS-00049.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG, RHEL10

#13380 package_sudo_installed: limit test scenarios
  linux_os/guide/system/software/sudo/package_sudo_installed/tests/custom-package-removed.fail.sh
  linux_os/guide/system/software/sudo/package_sudo_installed/tests/test_config.yml
Labels: Test Suite

#13328 Update CA file path
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls_cacert/rule.yml
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls_cacert/tests/cacert_configured.pass.sh
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls_cacert/tests/syntax_error.fail.sh
  products/fedora/product.yml
  products/ol10/product.yml
  products/rhel10/product.yml
  ssg/constants.py
  ssg/products.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel10.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Labels: Update Rule, RHEL10

#13379 [Ubuntu] Switch rule 6.2.3.2 to audit_rules_suid_auid_privilege_function
  controls/cis_ubuntu2404.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_auid_privilege_function/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_auid_privilege_function/bash/shared.sh
Labels: Ubuntu, needs-ok-to-test, CIS

#13335 Introduce new rule audit_rules_dac_modification_fchmodat2
  components/audit.yml
  controls/anssi.yml
  controls/cis_rhel10.yml
  controls/hipaa.yml
  controls/pcidss_4.yml
  controls/srg_gpos/SRG-OS-000037-GPOS-00015.yml
  controls/srg_gpos/SRG-OS-000042-GPOS-00020.yml
  controls/srg_gpos/SRG-OS-000062-GPOS-00031.yml
  controls/srg_gpos/SRG-OS-000064-GPOS-00033.yml
  controls/srg_gpos/SRG-OS-000392-GPOS-00172.yml
  controls/srg_gpos/SRG-OS-000462-GPOS-00206.yml
  controls/srg_gpos/SRG-OS-000466-GPOS-00210.yml
  controls/srg_gpos/SRG-OS-000471-GPOS-00215.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat2/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat2/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat2/tests/ocp4/e2e.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/group.yml
  products/alinux2/profiles/pci-dss.profile
  products/alinux3/profiles/pci-dss.profile
  products/almalinux9/profiles/anssi_bp28_enhanced.profile
  products/almalinux9/profiles/anssi_bp28_high.profile
  products/almalinux9/profiles/pci-dss.profile
  products/anolis23/profiles/pci-dss.profile
  products/anolis8/profiles/pci-dss.profile
  products/debian12/profiles/anssi_bp28_enhanced.profile
  products/debian12/profiles/anssi_bp28_high.profile
  products/ol7/profiles/anssi_nt28_enhanced.profile
  products/ol7/profiles/anssi_nt28_high.profile
  products/ol8/profiles/anssi_bp28_enhanced.profile
  products/ol8/profiles/anssi_bp28_high.profile
  products/ol8/profiles/pci-dss.profile
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/pci-dss.profile
  products/rhcos4/profiles/anssi_bp28_enhanced.profile
  products/rhcos4/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/anssi_bp28_enhanced.profile
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/pci-dss.profile
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/pci-dss-4.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel10/anssi_bp28_high.profile
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/pci-dss.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: New Rule, RHEL10

#13381 [Ubuntu] Fix audit_rules_suid_privilege_function for UBTU-24-200580
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.fail.sh
Labels: Ubuntu, needs-ok-to-test, STIG

#13387 Various Small Fixes in the Style Guide
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/08_content_tests.md
Labels: Documentation

#13370 Add Missing Data for RHEL 10 SRG GPOS
  controls/srg_gpos/SRG-OS-000042-GPOS-00020.yml
  controls/srg_gpos/SRG-OS-000392-GPOS-00172.yml
  controls/srg_gpos/SRG-OS-000471-GPOS-00215.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/policy/stig/shared.yml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_retention_admin_space_left_percentage/rule.yml
  linux_os/guide/services/cron_and_at/package_cron_installed/policy/stig/rhel10.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_pcsc-lite-ccid_installed/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_messages/policy/stig/shared.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/policy/stig/shared.yml
  linux_os/guide/system/selinux/package_policycoreutils_installed/policy/stig/rhel10.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG, RHEL10

#13377 Add OL08-00-010423 to OL8 STIG profile
  linux_os/guide/system/bootloader-grub2/grub2_init_on_free/rule.yml
  products/ol8/profiles/stig.profile
Labels: Oracle Linux, Update Profile, STIG

#13367 Fix stabilization job
  .github/workflows/stabilize.yaml
Labels: Infrastructure

#13392 package_bind_removed: unify test scenarios
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/tests/one_of_packages_installed.fail.sh
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/tests/package-installed-removed.pass.sh
  linux_os/guide/services/dns/disabling_dns_server/package_bind_removed/tests/package-installed.fail.sh
Labels: Test Suite

#13372 dir_group_ownership_library_dirs: exclude test scenario
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_group_ownership_library_dirs/tests/test_config.yml
Labels: Test Suite

#13386 Update Ansible find task to report on broken symbolic links, matching STIG vulnerability scanning behavior
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/ansible/shared.yml
Labels: Ansible, needs-ok-to-test

#13390 Replace pam_unix_remember with pam_pwhistory_remember
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/pci-dss-4.profile
Labels: SLES, Update Profile

#13396 Change platform of GNOME rules
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_lock_screen_on_smartcard_removal/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_automatic_login/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_guest_login/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_xdmcp/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_thumbnailers/rule.yml
  linux_os/guide/system/software/gnome/gnome_network_settings/dconf_gnome_disable_wifi_create/rule.yml
  linux_os/guide/system/software/gnome/gnome_network_settings/dconf_gnome_disable_wifi_notification/rule.yml
  linux_os/guide/system/software/gnome/gnome_remote_access_settings/dconf_gnome_remote_access_credential_prompt/rule.yml
  linux_os/guide/system/software/gnome/gnome_remote_access_settings/dconf_gnome_remote_access_encryption/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_delay/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_enabled/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_user_info/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_user_locks/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/rule.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/rule.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_geolocation/rule.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_power_settings/rule.yml
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_user_admin/rule.yml
Labels: Image Mode

#13373 [Ubuntu]: UBTU-24-300016
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/bash/ubuntu.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/oval/shared.xml
  shared/applicability/package.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13388 [Ubuntu] Enable rule UBTU-24-900960
  controls/stig_ubuntu2404.yml
Labels: Ubuntu, needs-ok-to-test, STIG

#13402 Add RHEL 10 to the list of supported systems
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
Labels: RHEL10

#13393 Add Rule for STIG Sub-Crypto Policies
  components/crypto-policies.yml
  controls/stig_rhel9.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/oval/shared.xml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/rule.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/tests/ad_support.fail.sh
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/tests/correct_fips.pass.sh
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/tests/correct_fips_ospp.pass.sh
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Labels: RHEL, New Rule, Update Profile, STIG

#13404 Update STIG IDs for SSH Client MAC and Ciphers rules on RHEL 8
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Labels: Update Profile, RHEL8, STIG

#13374 Update harden_sshd_ciphers/macs_opensshserver_conf_crypto_policy
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/oval/shared.xml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel8_stig_multi_crypto_correct.pass.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/tests/rhel8_stig_multi_crypto_missing_ciphers.fail.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/oval/shared.xml
Labels: Ansible, OVAL, Bash, needs-ok-to-test, Update Rule

#13401 Adjust some rules for latest tencentos4
  controls/std_tencentos4.yml
  linux_os/guide/services/ssh/sshd_strong_macs.var
Labels: needs-ok-to-test

#13407 Remove service_rlogin_disabled and service_rsh_disabled from RHEL 10 HIPAA
  products/rhel10/profiles/default.profile
  products/rhel10/profiles/hipaa.profile
  tests/data/profile_stability/rhel10/hipaa.profile
Labels: RHEL10

#13408 Disable wrong_runtime.fail.sh
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_ip_local_port_range/tests/test_config.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_kexec_load_disabled/tests/test_config.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_modules_disabled/tests/test_config.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_max_sample_rate/tests/test_config.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_pid_max/tests/test_config.yml
Labels: RHEL10

#13413 Ol9 stig v1r1
  controls/stig_ol9.yml
  linux_os/guide/services/ssh/sshd_strong_macs.var
  products/ol9/CMakeLists.txt
  products/ol9/transforms/xccdf2table-cce.xslt
  products/ol9/transforms/xccdf2table-profileccirefs.xslt
  shared/references/disa-stig-ol9-v1r1-xccdf-manual.xml
Labels: Oracle Linux, Update Profile, STIG

#13409 Improve AlmaLinux OS support
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  linux_os/guide/system/software/gnome/group.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_hashes/ansible/shared.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/rule.yml
  product_properties/10-grub.yml
Labels: needs-ok-to-test, Update Rule

#13398 Corrected ansible task which adds "nodev" to local /etc/fstab entries other than root
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
Labels: needs-ok-to-test

#13411 Fix sshd_set_idle_timeout for RHEL 10
  linux_os/guide/services/ssh/ssh_server/sshd_set_idle_timeout/oval/shared.xml
Labels: Test Suite

#13414 RHEL 10 SRG GPOS Updates
  controls/srg_gpos/SRG-OS-000705-GPOS-00150.yml
  linux_os/guide/services/dns/package_unbound_removed/policy/stig/shared.yml
  linux_os/guide/services/ftp/disabling_vsftpd/package_vsftpd_removed/policy/stig/shared.yml
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Labels: STIG, RHEL10

#13416 Format thin data streams
  build-scripts/compose_ds.py
Labels: Infrastructure
